<div class="govuk-beta-label">
  <p>
    <strong class="phase-tag">Beta</strong>
    <span>This part of GOV.UK is being rebuilt &ndash; <a href="/help/beta">find out what this means</a></span>
  </p>
</div>
