<%
  breadcrumbs ||= []
%>
<div class="govuk-breadcrumbs">
  <ol>
  <% breadcrumbs.each_with_index do |crumb, index| %>
    <li>
      <% if crumb[:url] %>
        <%= link_to(
          crumb[:title],
          crumb[:url],
          data: {
            track_category: 'breadcrumbClicked',
            track_action: index + 1,
            track_label: crumb[:url],
            track_dimension: crumb[:title],
            track_custom_dimension: 29,
            module: 'track-link-click'
          }
        ) %>
      <% else %>
        <%= crumb[:title] %>
      <% end %>
    </li>
  <% end %>
  </ol>
</div>
