<%
  breadcrumbs ||= []
%>
<div class="govuk-breadcrumbs">
  <ol>
  <% breadcrumbs.each do |crumb| %>
    <li>
      <% if crumb[:url] %>
        <a href="<%= crumb[:url] %>"><%= crumb[:title] %></a>
      <% else %>
        <%= crumb[:title] %>
      <% end %>
    </li>
  <% end %>
  </ol>
</div>
