<%
  average_title_length ||= false
  context ||= false
%>
<div class="pub-c-title">
  <% if context %>
    <p class="pub-c-title__context"><%= context %></p>
  <% end %>
  <h1 class="pub-c-title__text <% if average_title_length %>pub-c-title__text--<%= average_title_length %><% end %>">
    <%= title %>
  </h1>
</div>
