.govuk-beta-label {
  @include phase-banner($state: beta);

  // Enlarge clickable area on mobile & tablet
  a {
    padding: 0.5em;
    margin: -0.5em;

    @include media(desktop) {
      padding: 0;
      margin: 0;
    }
  }
}
