.govuk-breadcrumbs {
  padding-top: 0.75em;
  padding-bottom: 0.75em;

  ol {
    @extend %contain-floats;

    li {
      @include core-16;
      background-image: image-url("separator.png");
      background-position: 100% 50%;
      background-repeat: no-repeat;
      float: left;
      list-style: none;
      margin-left: 0;
      margin-right: 0.5em;
      margin-bottom: 0.4em;
      padding-right: 1em;

      @include device-pixel-ratio() {
        background-image: image-url("separator-2x.png");
        background-size: 6px 11px;
      }

      a {
        color: $text-colour;
      }

      &:last-child {
        background-image: none;
        margin-right: 0
      }
    }
  }
}
