// Container file for all govuk-component specific styling

// Component specific govuk_frontend_toolkit includes
@import "design-patterns/alpha-beta";

// Component mixins
@import "mixins/margins";

// Components styles
@import "alpha-label";
@import "beta-label";
@import "document-footer";
@import "govspeak";
@import "govspeak-html-publication";
@import "metadata";
@import "title";
@import "option-select";
@import "previous-and-next-navigation";
@import "breadcrumbs";
@import "related-items";
