// Container file for all govuk-component specific styling

// Component specifc govuk_frontend_toolkit includes
@import "design-patterns/alpha-beta";

// Components styles
@import "beta-label";
@import "metadata";
