.govuk-document-footer {
  @extend %grid-row;
  @include core-16;
  margin-top: $gutter * 1.5;
  margin-bottom: $gutter * 1.5;

  &.direction-rtl {
    direction: rtl;
    text-align: start;
  }

  .history-information {
    min-height: 1em;
    @include grid-column( 1 / 3 );
  }
  &.direction-rtl .history-information {
    @include grid-column( 1 / 3, $float: right );
  }
  .related-information {
    @include grid-column( 2 / 3 );
  }
  &.direction-rtl .related-information {
    @include grid-column( 2 / 3, $float: right );
  }

  p, ol {
    margin-bottom: $gutter-one-third;

    @include media(tablet){
      margin-bottom: $gutter-two-thirds;
    }
  }


  .definition {
    @include bold-24;
    margin-top: 5px;
    display: block;
    a {
      text-decoration: none;
    }
  }

  .change-notes {
    .timestamp {
      display: block;
      font-weight: bold;
    }
    li {
      list-style: none;
      margin-bottom: 5px;
      @include media(tablet){
        margin-bottom: $gutter-one-third;
      }
    }
  }

}
