// Video player styles from frontend toolkit
@import "design-patterns/media-player";
@import "govspeak-magna-charta";

.govuk-govspeak {
  @include direction-rtl;

  &.rich-govspeak {
    strong {
      font-weight: bold;
    }
  }

  h2:first-child,
  h3:first-child,
  h4:first-child,
  p:first-child {
    margin-top: 0;
  }

  h2 {
    @include bold-27;
    margin-top: $gutter;

    @include media(desktop) {
      margin-top: $gutter * 1.5;
    }
  }

  h3 {
    @include bold-19;
    margin-top: $gutter + 5px;
  }

  h4 {
    @include bold-19;
    margin-top: $gutter + 5px;
  }

  ol,
  ul,
  p {
    @include core-19;
    margin-top: $gutter-half;
    margin-bottom: $gutter-half;

    @include media(tablet) {
      margin-top: $gutter-two-thirds;
      margin-bottom: $gutter-two-thirds;
    }
  }

  h4,
  h5,
  h6 {
    @include bold-19;

    + p {
      margin-top: 5px;
    }
  }

  a {
    text-decoration: underline;
  }

  ol,
  ul {
    list-style: decimal;
    list-style-position: outside;
    margin-left: $gutter-two-thirds;

    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
    }

    @include ie(7) {
      li {
        margin-left: $gutter;
      }
    }
  }

  ul {
    list-style: disc;
    list-style-position: outside;
  }

  &.direction-rtl ol,
  &.direction-rtl ul {
    margin-left: 0;
    margin-right: $gutter-two-thirds;

    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .legislative-list {
    list-style: none;
    margin: 5px 0;

    li {
      margin: 5px 0;
    }

    p {
      margin: 20px 0;
    }

    ol {
      margin: 10px 0 10px $gutter;
      list-style: none;
    }
  }

  em,
  i {
    font-style: normal;
    font-weight: inherit;
  }

  li {
    margin-bottom: 5px;

    p {
      margin: 0;
      padding: 0;
    }

    p + p,
    p + ul,
    p + ol,
    ul + p,
    ul + ol,
    ol + p,
    ol + ul {
      margin-top: 5px;
    }
  }

  abbr {
    cursor: help;
  }

  blockquote {
    padding: 0 0 0 $gutter-two-thirds;
    margin: 0;
    border: 0;

    @include media(desktop) {
      margin: 0 0 0 (-$gutter);
    }

    p {
      padding-left: $gutter-half;

      @include media(tablet) {
        padding-left: $gutter;
      }

      &:before {
        content: "\201C";
        float: left;
        clear: both;
        margin-left: -$gutter-half;
      }

      &:last-child:after {
        content: "\201D";
      }
    }
  }

  &.direction-rtl blockquote {
    padding: 0 $gutter-two-thirds 0 0;

    @include media(desktop) {
      margin: 0 (-$gutter) 0 0;
    }

    p {
      padding-right: $gutter-half;
      padding-left: 0;

      @include media(tablet) {
        padding-right: $gutter;
        padding-left: 0;
      }

      &:before {
        content: "\201D";
        float: right;
        margin-right: -$gutter-half;
        margin-left: 0;
      }

      &:last-child:after {
        content: "\201C";
      }
    }
  }

  hr {
    margin-top: $gutter - 1px;
    margin-bottom: $gutter;
    border-top: 1px solid $border-colour;
  }

  figure {
    width: $full-width;
    clear: both;
    overflow: hidden;
    padding: $gutter-one-third 0 0;

    img {
      display: inline;
      text-align: center;
      width: auto;
      height: auto;
      max-width: $full-width;
    }

    figcaption {
      @include core-14;
    }
  }

  img {
    width: auto;
    height: auto;
    max-width: $full-width;
  }

  sup {
    font-size: 0.8em;
    line-height: 0.7em;
    vertical-align: super;
  }

  .information-block,
  .call-to-action {
    margin-top: $gutter;
    margin-bottom: $gutter;
    background-color: $panel-colour;
    padding: $gutter-half;
    position: relative;

    &:first-child {
      margin-top: 0;
    }

    p:last-child,
    ul:last-child,
    ol:last-child {
      margin-bottom: 0;
    }

    ol {
      @include media(desktop) {
        list-style-position: outside;
      }
    }
  }

  .information-block {
    padding-right: $gutter * 2;
  }

  .information-block:after {
    content: "info";
    text-indent: -9999px;
    background-color: $govuk-blue;
    background-image: image-url('govuk-component/govspeak-information-icon.png');
    background-position: center;
    height: $gutter;
    width: $gutter;
    position: absolute;
    overflow: hidden;
    top: $gutter-two-thirds;
    right: $gutter-two-thirds;
    @include border-radius($gutter);
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: $gutter 0;
    width: $full-width;
    @include core-14;

    caption {
      text-align: left;
      margin-bottom: 0.5em;
    }

    th,
    td {
      vertical-align: top;
      padding: $gutter-one-third $gutter-one-third $gutter-one-third 0;
      border-bottom: solid 1px $border-colour;
    }

    th {
      text-align: left;
      color: $black;
      @include bold-14;
    }

    td small {
      font-size: 1em;
    }
  }

  .fraction {
    sup,
    sub {
      @include core-14;
    }

    img {
      display: inline-block;
      width: auto;
      margin: 0 0 -5px;
    }
  }

  .stat-headline {
    margin-bottom: $gutter-half;
    margin-top: $gutter-half;

    @include media(tablet) {
      margin-bottom: $gutter-two-thirds;
      margin-top: $gutter-two-thirds;
    }

    p {
      @include bold-19;
      margin: 0;
    }

    em {
      display: block;
      @include bold-80;
      margin: 3px 0 -5px;
    }
  }

  .address,
  .contact {
    border-left: 1px solid $border-colour;
    padding-left: $gutter-half;
  }

  .contact {
    @extend %contain-floats;
    margin-bottom: $gutter;
    margin-top: $gutter;
    position: relative;

    .content {
      float: none;
      width: $full-width;

      h3 {
        @include bold-19;
        margin-bottom: 5px;
      }

      .adr,
      .email-url-number,
      .comments {
        @include media(tablet) {
          width: $half;
          float: left;
        }
      }

      .email-url-number {
        p {
          margin: 0;
        }

        .email {
          word-wrap: break-word;
        }

        span {
          display: block;
        }
      }

      .comments {
        @include core-16;
        @include media(tablet) {
          margin-bottom: 0;
        }
      }
    }
  }

  .footnotes {
    border-top: 1px solid $border-colour;
    margin-top: $gutter;
    padding-top: $gutter-one-third;

    ol {
      margin-top: 0;
      padding-top: 0;

      li p {
        margin: 10px 0;
      }
    }
  }

  .media-player {
    @include media-player;
  }

  // This block is duplicated from Whitehall as a transitional step, see the
  // commit adding this warning before making changes, original version:
  // https://github.com/alphagov/whitehall/blob/master/app/assets/stylesheets/frontend/helpers/_attachment.scss
  $thumbnail-width: 99px;

  .attachment {
    position: relative;
    margin: $gutter 0;
    padding: $gutter-half 0 0 ($thumbnail-width + $gutter);
    @extend %contain-floats;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }

    .attachment-thumb {
      $thumb-border-width: $gutter-one-third / 2;

      position: relative;
      float: left;
      margin-top: $thumb-border-width;
      margin-left: -($thumbnail-width + $gutter - $thumb-border-width);
      padding-bottom: $gutter-half;

      img {
        display: block;
        width: $thumbnail-width;
        height: 140px;
        background: $white;
        outline: $thumb-border-width solid transparentize($black, 0.9);

        @include ie-lte(8) {
          // IE8 incorrectly asserts the "max-width: 100%" rule to be 0
          // because of the collapsed width on its floating container
          // Reset the max-width so that thumbnails render at the specified
          // width above.
          // http://www.456bereastreet.com/archive/201202/using_max-width_on_images_can_make_them_disappear_in_ie8/
          max-width: none;
          border: $thumb-border-width solid $grey-3;
        }

        @include box-shadow(0 2px 2px rgba($black, .4));
      }
    }

    .attachment-details {
      h2 {
        @include core-27;
        margin: 0;
      }

      p {
        margin: $gutter-one-third 0;
      }

      .metadata {
        @include core-14;
      }

      .changed,
      .references,
      .unnumbered-paper {
        display: block;
      }

      .preview,
      .download {
        @include core-19;

        strong {
          font-weight: bold;
        }
      }

      .preview {
        padding-right: $gutter-half;
      }

      .opendocument-help {
        @include core-14;
      }

      .accessibility-warning {
        h2 {
          @include core-14;
          margin: 0;
        }
      }
    }
  }

  &.direction-rtl .attachment {
    padding: $gutter-half ($thumbnail-width + $gutter) 0 0;

    .attachment-thumb {
      float: right;
      margin-left: 0;
      margin-right: (($thumbnail-width * -1) - $gutter-half);
    }
  }

  .example {
    border-left: 10px solid $panel-colour;
    padding-left: 1.5em;
    margin: 2.5em 0;

    strong {
      display: block;
    }
  }
}
