
@import "govspeak-magna-charta";

.govuk-govspeak {

  @import "govspeak/attachment";
  @import "govspeak/example";
  @import "govspeak/fraction";
  @import "govspeak/images";
  @import "govspeak/information-block";
  @import "govspeak/legislative-list";
  @import "govspeak/media-player";
  @import "govspeak/stat-headline";
  @import "govspeak/tables";
  @import "govspeak/typography";

  &.direction-rtl {
    direction: rtl;
    text-align: start;
  }

  &.rich-govspeak {
    strong {
      font-weight: bold;
    }
  }

  .address,
  .contact {
    border-left: 1px solid $border-colour;
    padding-left: $gutter-half;
  }

  .contact {
    @extend %contain-floats;
    margin-bottom: $gutter;
    margin-top: $gutter;
    position: relative;

    .content {
      float: none;
      width: $full-width;

      h3 {
        @include bold-19;
        margin-bottom: 5px;
      }

      .adr,
      .email-url-number,
      .comments {
        @include media(tablet) {
          width: $half;
          float: left;
        }
      }

      .email-url-number {
        p {
          margin: 0;
        }

        .email {
          word-wrap: break-word;
        }

        span {
          display: block;
        }
      }

      .comments {
        @include core-16;
        @include media(tablet) {
          margin-bottom: 0;
        }
      }
    }
  }

  .footnotes {
    border-top: 1px solid $border-colour;
    margin-top: $gutter;
    padding-top: $gutter-one-third;

    ol {
      margin-top: 0;
      padding-top: 0;

      li p {
        margin: 10px 0;
      }
    }
  }
}
