.govuk-metadata {
  @include core-14;
  @extend %contain-floats;

  dt {
    float: left;
    clear: left;
    width: auto;
    min-width: 120px;

    @include media(tablet){
      padding-right: $gutter-one-third;
    }
  }
  dd {
    float: left;
    width: 55%;

    @include media(tablet){
      width: 70%;
    }
  }
}
