.govuk-metadata {
  @include core-16($line-height: normal, $line-height-640: normal);
  text-decoration: none;
  list-style: none;
  margin-bottom: $gutter-half;
}

.govuk-metadata.direction-rtl {
  direction: rtl;
  text-align: start;
}

.govuk-metadata-key {
  display: block;
}

.govuk-metadata-row {
  margin-bottom: .75em;
}

.govuk-metadata-row:last-child {
  margin-bottom: 0;
}

@include media(tablet) {
  .govuk-metadata {
    display: table;
    width: 100%;
    margin-bottom: $gutter + $gutter-half;
  }

  .govuk-metadata-row {
    display: table-row;
  }

  .govuk-metadata-key,
  .govuk-metadata-value {
    display: table-cell;
  }

  .govuk-metadata-key {
    padding-right: 2.5em;
    .direction-rtl & {
      padding-right: 0;
      padding-left: 2.5em;
    }
    width: 1%;
    white-space: nowrap;
  }

  .govuk-metadata-value {
    width: 100%;
  }
}
