.govuk-metadata {
  @include core-14;
  @include responsive-bottom-margin;
  @extend %contain-floats;

  &.direction-rtl {
    direction: rtl;
    text-align: start;
  }

  dt {
    float: left;
    clear: left;
    width: auto;
    min-width: 120px;

    @include media(tablet) {
      padding-right: $gutter-one-third;
    }
  }

  &.direction-rtl dt {
    float: right;
    clear: right;

    @include media(tablet) {
      padding-left: $gutter-one-third;
      padding-right: 0;
    }
  }

  dd {
    float: left;
    width: 55%;

    @include media(tablet) {
      width: 70%;
    }
  }

  &.direction-rtl dd {
    float: right;
  }
}
