// Default logo corresponds with the "medium stacked" Whitehall equivalent
.govuk-organisation-logo {
  // Variable defined in frontend toolkit
  // scss-lint:disable NameFormat
  font-family: $Helvetica-Regular;
  // scss-lint:enable NameFormat
  font-size: 13px;
  line-height: (15 / 13);
  font-weight: 400;

  @include media(tablet) {
    font-size: 18px;
    line-height: 20px;
  }

  .logo-container {
    text-transform: none;
    text-decoration: none;
    display: block;
    color: $black;
    height: auto;
    width: auto;

    // Logo direction never changes, even for rtl content.
    direction: ltr;
  }

  .logo-with-crest {
    // Default brand colour
    border-left: 2px solid $black;
    padding-top: 25px;
    padding-left: 7px;

    span {
      position: relative;
      top: 3px;
    }
  }

  // Use brand colours defined in toolkit to set logo border colour
  @each $organisation in $all-organisation-brand-colours {
    &.#{nth($organisation, 1)} .logo-with-crest {
      border-color: nth($organisation, 2);
    }
  }

  .logo-link:link,
  .logo-link:visited {
    color: $black;
  }

  .logo-link:hover,
  .logo-link:focus {
    text-decoration: underline;
  }

  @mixin crest($crest, $mobile-background-size, $tablet-background-size) {
    background: image-url('crests/#{$crest}_13px.png') no-repeat 8px 0;

    @include device-pixel-ratio() {
      background-image: image-url('crests/#{$crest}_13px_x2.png');
      background-size: $mobile-background-size;
    }

    @include media(tablet) {
      background-image: image-url('crests/#{$crest}_18px.png');

      @include device-pixel-ratio() {
        background-image: image-url('crests/#{$crest}_18px_x2.png');
        background-size: $tablet-background-size;
      }
    }
  }

  .crest-bis {
    @include crest('bis_crest', 18px 20px, 25px 26px);
  }

  .crest-coastguard {
    padding-top: 38px;
    @include crest('coastguard', 16px 25px, 22px 34px);
  }

  .crest-hmrc {
    @include crest('hmrc_crest', 20px 20px, 26px 26px);
  }

  .crest-ho {
    padding-top: 38px;
    @include crest('ho_crest', 14px 25px, 19px 34px);
  }

  .crest-mod {
    padding-top: 38px;
    @include crest('mod_crest', 18px 25px, 24px 34px);
  }

  .crest-single-identity,
  .crest-org {
    @include crest('org_crest', 24px 20px, 31px 26px);
  }

  .crest-portcullis {
    @include crest('portcullis', 18px 20px, 23px 26px);
  }

  .crest-so {
    @include crest('so_crest', 25px 20px, 32px 26px);
  }

  .crest-ukaea {
    @include crest('ukaea_crest', 22px 20px, 29px 26px);
  }

  .crest-ukho {
    padding-top: 38px;
    @include crest('ukho', 18px 25px, 25px 34px);
  }

  .crest-wales {
    padding-top: 38px;
    @include crest('wales_crest', 16px 25px, 22px 34px);
  }
}
