.govuk-previous-and-next-navigation {
  display: block;
  margin-top: $gutter;
  margin-bottom: $gutter;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    @include core-16($line-height: (20 / 16));
    float: left;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 49%;

    a {
      display: block;
      color: $link-colour;
      text-decoration: none;

      @include ie-lte(7) {
        height: 4.5em;
      }

      &:hover,
      &:active {
        background-color: $canvas-colour;
      }

      .pagination-part-title {
        @include core-27($line-height: (33.75 / 27));
        margin-bottom: 0.1em;
        display: block;
      }

    }

    &.next-page a:before,
    &.previous-page a:before {
      margin-top: -4px;
      display: block;
      width: 30px;
      height: 38px;
      content: " ";
    }

    &.next-page a:before {
      background: transparent image-url("govuk-component/arrow-right.svg") no-repeat 50% 50%;
      margin-right: -32px;
      float: right;
    }

    &.previous-page a:before {
      background: transparent image-url("govuk-component/arrow-left.svg") no-repeat 50% 50%;
      margin-left: -32px;
      float: left;
    }

    &.previous-page {
      float: left;
      text-align: left;
    }

    &.previous-page a {
      padding: 0.75em 0 0.75em 3em;
    }

    &.next-page {
      float: right;
      text-align: right;
    }

    &.next-page a {
      padding: 0.75em 3em 0.75em 0;
    }

    @include media-down(mobile) {
      &.previous-page,
      &.next-page {
        float: none;
        width: 100%;
      }

      &.next-page a {
        text-align: right;
      }
    }
  }

}
