.govuk-related-items {
  border-top: 10px solid $mainstream-brand;
  padding-top: 5px;

  h2 {
    @include core-24;
    font-weight: 600;
    color: $text-colour;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  ul {
    @include core-16;
    list-style: none;
    margin: 0 0 1.25em 0;
    padding: 0;
    overflow: hidden;

    li {
      margin-bottom: 0.75em;

      &.section {
        font-weight: bold;
      }

      a {
        orphans: 2;
      }
    }
  }
}
