// scss-lint:disable SelectorFormat

.pub-c-tasklist__controls,
.pub-c-tasklist__number {
  display: none;
}

.pub-c-tasklist__button--title {
  @include bold-19;

  padding: 0;
  border: 0;
  background: none;
}

.pub-c-tasklist__panel-link--active {
  font-weight: bold;
}

// scss-lint:enable SelectorFormat
