$stroke-width: 2px;
$stroke-width-large: 3px;
$number-circle-size: 26px;
$number-circle-size-large: 35px;
$dot-size: 16px;

@mixin task-list-vertical-line ($line-style: solid) {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0;
  height: 100%;
  border-left: $line-style $stroke-width $grey-2;
  background: $white;
}

@mixin task-list-line-position {
  left: -($gutter + $gutter-half);
  margin-left: ($number-circle-size / 2) - ($stroke-width / 2);
}

@mixin task-list-line-position-large {
  left: -($gutter * 2);
  margin-left: ($number-circle-size-large / 2) - ($stroke-width-large / 2);
  border-width: $stroke-width-large;
}

@mixin task-list-top-border {
  border-top: solid 2px $grey-3;
}

.pub-c-task-list {
  margin-bottom: $gutter-half;
}

.pub-c-task-list__controls {
  text-align: right;
}

.pub-c-task-list__button {
  color: $link-colour;
  cursor: pointer;
  background: none;
  border: 0;

  // removes extra dotted outline from buttons in Firefox
  // on focus (standard yellow outline unaffected)
  &::-moz-focus-inner {
    border: 0;
  }

  &--title {
    @include bold-24;
    display: inline-block;
    padding: 0;
    text-align: left;
    color: $black;

    .pub-c-task-list--large & {
      @include media(tablet) {
        @include bold-24;
      }
    }
  }

  &--controls {
    @include core-16;
    position: relative;
    z-index: 1; // this and relative position stops focus outline underlap with border of accordion
    padding: 0.5em 0;
  }
}

.pub-c-task-list__groups {
  padding: 0;
  margin: 0;
}

.pub-c-task-list__group {
  position: relative;
  padding-left: $gutter + $gutter-half;
  list-style: none;

  .pub-c-task-list--large & {
    @include media(tablet) {
      padding-left: $gutter * 2;
    }
  }

  &:last-child {
    // little dash at the bottom of the line
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      margin-left: $number-circle-size / 4;
      width: $number-circle-size / 2;
      height: 0;
      border-bottom: solid $stroke-width $grey-2;
    }

    .pub-c-task-list__step:last-child {
      &:after {
        height: calc(100% - #{$gutter-half});
      }

      .pub-c-task-list__help:after {
        height: 100%;
      }
    }

    .pub-c-task-list--large & {
      @include media(tablet) {
        &:before {
          margin-left: $number-circle-size-large / 4;
          width: $number-circle-size-large / 2;
          border-width: $stroke-width-large;
        }

        .pub-c-task-list__step:last-child {
          &:after {
            height: calc(100% - #{$gutter});
          }
        }
      }
    }
  }
}

.pub-c-task-list__group--active {
  &:last-child:before,
  .pub-c-task-list__number,
  .pub-c-task-list__step:after,
  .pub-c-task-list__substep:after,
  .pub-c-task-list__help:after {
    border-color: $black;
  }
}

.pub-c-task-list__step {
  position: relative;

  // line down the side of a step
  &:after {
    @include task-list-vertical-line;
    @include task-list-line-position;
    top: $gutter-half;
  }

  .pub-c-task-list--large & {
    @include media(tablet) {
      &:after {
        @include task-list-line-position-large;
        top: $gutter;
      }
    }
  }

  &.pub-c-task-list__step--optional {
    // broken line down the side of a step
    &:after {
      border-left-style: dotted;
    }

    .pub-c-task-list--large & {
      @include media(tablet) {
        &:after {
          border-width: $stroke-width-large;
        }
      }
    }
  }
}

.pub-c-task-list__number {
  @include bold-19(23px, 23px);
  @include box-sizing(border-box);
  position: absolute;
  z-index: 5;
  top: $gutter-half;
  left: 0;
  width: $number-circle-size;
  height: $number-circle-size;
  color: $black;
  background: $white;
  border: solid $stroke-width $grey-2;
  border-radius: 100px;
  text-align: center;

  @include media(tablet) {
    @include bold-16(23px, 23px);
  }

  .pub-c-task-list--large & {
    @include media(tablet) {
      @include bold-19(30px, 30px);
      top: $gutter;
      width: $number-circle-size-large;
      height: $number-circle-size-large;
      border-width: $stroke-width-large;
    }
  }
}

.pub-c-task-list__logic {
  @include bold-19(23px, 23px);
  position: absolute;
  z-index: 4;
  top: $gutter-half;
  left: -($gutter + $gutter-half);
  background: $white;
  width: $number-circle-size;
  height: $number-circle-size;
  border-radius: 100px;
  text-align: center;

  @include media(tablet) {
    @include bold-16(23px, 23px);
  }

  .pub-c-task-list--large & {
    @include media(tablet) {
      @include bold-19(30px, 30px);
      top: $gutter;
      left: -$gutter * 2;
      width: $number-circle-size-large;
      height: $number-circle-size-large;
    }
  }
}

.pub-c-task-list__header {
  @include task-list-top-border;
  padding: $gutter-half 0;

  .pub-c-task-list--active & {
    cursor: pointer;
  }

  &:hover {
    .pub-c-task-list__button {
      color: $link-colour;
    }

    .pub-c-task-list__toggle-link {
      text-decoration: underline;
    }
  }

  .pub-c-task-list--large & {
    @include media(tablet) {
      padding: $gutter 0;
    }
  }
}

.pub-c-task-list__title {
  @include bold-24;

  .pub-c-task-list--large & {
    @include media(tablet) {
      @include bold-24;
    }
  }
}

.pub-c-task-list__toggle-link {
  @include core-16;
  display: block;
  color: $link-colour;

  @include media(tablet) {
    @include core-14;
  }

  .pub-c-task-list--large & {
    @include media(tablet) {
      @include core-16;
    }
  }
}

.pub-c-task-list__panel {
  @include core-19;

  @include media(tablet) {
    @include core-19;
  }

  .pub-c-task-list--large & {
    @include media(tablet) {
      @include core-19;
    }
  }
}

// contents of the task list, such as paragraphs and links

.pub-c-task-list__paragraph {
  padding-bottom: $gutter-half;

  + .pub-c-task-list__links {
    margin-top: -5px;

    .pub-c-task-list--large & {
      @include media(tablet) {
        margin-top: -$gutter-half;
      }
    }
  }

  .pub-c-task-list--large & {
    @include media(tablet) {
      padding-bottom: $gutter;
    }
  }
}

.pub-c-task-list__links {
  padding-bottom: 10px;

  .pub-c-task-list--large & {
    @include media(tablet) {
      padding-bottom: 20px;
    }
  }
}

.pub-c-task-list__links--required {
  font-weight: bold;
}

.pub-c-task-list__links--choice {
  margin-left: 20px;
  list-style: disc;
}

.pub-c-task-list__link {
  margin-bottom: 10px;
}

.pub-c-task-list__link-item {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pub-c-task-list__link--active {
  position: relative;

  &:before {
    @include box-sizing(border-box);
    content: "";
    position: absolute;
    z-index: 5;
    top: 0.6em; // position the dot to align with the first row of text in the link
    left: -($gutter + $gutter-half);
    margin-left: ($number-circle-size / 2) - ($dot-size / 2);
    width: $dot-size;
    height: $dot-size;
    margin-top: -($dot-size / 2);
    background: $black;
    border: solid 2px $white;
    border-radius: 100px;
  }

  .pub-c-task-list--large & {
    @include media(tablet) {
      &:before {
        left: -($gutter * 2);
        margin-left: ($number-circle-size-large / 2) - ($dot-size / 2);
      }
    }
  }

  .pub-c-task-list__link-item {
    color: $black;
  }
}

.pub-c-task-list__cost {
  font-weight: normal;
  color: $grey-1; // passes colour contrast AA

  &:before {
    content: " \2013  ";
  }
}

.pub-c-task-list__help {
  @include task-list-top-border;
  position: relative;
  padding: $gutter-half 0;

  &:after {
    @include task-list-vertical-line(dotted);
    @include task-list-line-position;
    z-index: 3;
    top: 0;
    height: calc(100% + #{$gutter});
  }

  .pub-c-task-list__step--optional & {
    &:after {
      display: none;
    }
  }

  .pub-c-task-list--large & {
    @include media(tablet) {
      &:after {
        @include task-list-line-position-large;
        height: calc(100% + #{$gutter} + #{$gutter-half});
      }
    }
  }
}

.pub-c-task-list__help-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.pub-c-task-list__substep {
  @include task-list-top-border;
  position: relative;
  padding-top: $gutter-half;

  &:after {
    @include task-list-vertical-line;
    @include task-list-line-position;
    z-index: 3;
    top: 0;
  }

  .pub-c-task-list--large & {
    @include media(tablet) {
      padding-top: $gutter;

      &:after {
        @include task-list-line-position-large;
      }
    }
  }
}

.pub-c-task-list__substep--optional:after {
  border-left-style: dotted;
}
