.govuk-taxonomy-sidebar {
  border-top: 2px solid $govuk-blue;
  padding-top: $gutter-half;
  @include core-16;

  .govuk-taxonomy-sidebar__heading {
    margin-top: 0;
    margin-bottom: $gutter-one-third;
    @include bold-19;
  }

  .taxon-description {
    margin-top: 0;
    margin-bottom: $gutter-one-third;
  }

  a {
    text-decoration: none;
  }

  nav {
    margin-bottom: $gutter;
  }

  li {
    padding: 0;
    list-style-type: none;
    margin-bottom: $gutter-one-third;
  }

  ul {
    // reset the default browser styles
    padding: 0;
    margin: 0;
    margin-bottom: 1.25em;
 }
}
