// scss-lint:disable SelectorFormat
.pub-c-title__context {
  margin: 0;
}

.pub-c-title__text {
  margin-top: 0;
}
// scss-lint:enable SelectorFormat

// To Be Deleted: Old Styling
.govuk-title {
  .context {
    margin: 0;
  }

  h1 {
    margin-top: 0;
  }
}
