.govuk-title {
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;

  @include media(tablet) {
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  .context {
    @include core-24;
    color: $secondary-text-colour;
  }

  h1 {
    @include bold-48;
  }
  &.length-long h1 {
    @include bold-36;
  }
}
