#wrapper .ancillary {
  header {
    div h1 {
      padding: 0;
    }

    &.page-header div {
      background-color: transparent;
      margin: 0;
      padding-left: 5em;
      padding-right: 5em;
      padding-top: 3em;

      @include media-down(mobile) {
        padding:1em;
        
        h1 {
          min-height: 0;
        }
      }
    }
  }

  &.section-page {
    header {
      margin: 0;

      &.page-header div {
        padding-left: 2.5em;
        padding-right: 2.5em;
      }
    }

    h2 {
      @include ie-lte(8) {
        clear: both;
      }
    }
  }
}

/* static pages like platform and help */

.ancillary .menu {
  background-color: #E5E5E5;
  position:absolute;
  right:0;
  margin: -3em 0 0 0;
  padding: 1em;
  width: 13em;

  @include media-down(mobile) {
    position: static;
    margin: 0;
    width: auto;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0 0 0.5em 0;

    &.active {
      font-weight: bold;
    }
  }
}

.ancillary article {
  @include media-down(mobile) {
    padding-top: 1em; 
  }
  section {
    margin: 0 0 2.5em 0;
  }

  h1:first-child,
  h2:first-child {
    margin-top: 0;
  }

  dt {
    @include core-19;
  }

  dd {
    margin-left: 0;
  }
}

/* feedback page */

.ancillary.feedback {
  .pullout {
    background-color: #D9E0E0;
    margin: 1.5em 0;
    padding: 1em;
  }

  .image-in-text {
    float: right;
    margin-left: 2em;

    a[rel="external"]:after {
      content: none;
      margin: 0;
    }
  }
}

