.beta-label {
  clear: both;
  margin:0;
  @include copy-16;

  span.beta {
    display: inline-block;
    background: #f47738;
    color: #fff;
    @include bold-16;
    line-height:1;
    text-transform: uppercase;
    padding: 5px 5px 2px 6px;
    margin-right:10px;
  }
}
