// global button styles

/*
 * Old green: 28a198
 * New green: 008270
 */

/* buttons! */
.button{
  @include button;
}

.button,
.button.medium {
  padding: 0.3em 0.6em 0.2em 0.6em;
}

.button.medium {
  @include core-19($line-height: (26 / 19));
}





.get-started .button {
  @include bold-24($line-height: (16 / 24)); 
  padding: 0.45em 0.5em 0.45em 0.5em;
  display: inline-block;

  /* IE6 adds its own side padding so requires no extra */
  @include ie(6) {
    padding: 0.45em 0.5em 0.62em 0.5em;
  }
}

.transaction .get-started .button,
.local_transaction .get-started .button,
.business_support .get-started .button,
.licence .get-started .button,
.next-steps-promo .get-started .button {
  padding: 0.60em 1.7em 0.45em 0.67em;
  background-image: image-url("icon-pointer.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;

  @include media-down(mobile) {
    background-position: 110% 50%;
  }

  @include ie(7) {
    padding: 0.45em 1.7em 0.62em 0.67em;
  }

  @include ie(6) {
    background-image: image-url('icon-pointer-indexed.png');
  }

  @include device-pixel-ratio() {
    background-image: image-url("icon-pointer-2x.png");
    background-size: 30px 19px;
  }
}

/* IE6 adds its own side padding so requires no extra */
@include ie(6) {
  .transaction .get-started input.button,
  .local_transaction .get-started input.button,
  .business_support .get-started input.button,
  .licence .get-started input.button {
    padding: 0.45em 0.5em 0.62em 0em;
  }
}

/* get started buttons */
.get-started {
  margin:1.5em 0 0 0;
  
  .destination {
    @include core-14;
    color:$grey-2;
    display: block;
    margin-top: 0.5em;
    max-width: 13em;
  }
}


input{
  &[disabled="disabled"] {
    opacity: 0.5;
  }

  &[type="text"],
  &[type="search"]{
    @include core-16($line-height: (20 / 16));
    border: 1px solid #bbb;
    min-width: 8em;
    margin: 0 0.5em;
    padding: 0.25em;
  
    @include ie-lte(7) {
      width:8em;
    }
  }

  /* below fixes a bug where IE puts a nasty black border around these elements */
  @include ie-lte(8) {
    &[type="submit"],
    &[type="reset"],
    &[type="button"] {
      filter:chroma(color=#000000);
    }

    &[type=submit].button {
      filter: none;
    }
  }
}
