/*
 * Core global styles
 */
body {
  @include ie(8) {
    min-width:1024px;
  }
}

#wrapper {
  @extend %site-width-container;
}

// Needed for the positioning of the sidebar. Deprecated.
.related-container {
  @include grid-column(1/3, $full-width: desktop);
  margin-top: 40px;
}

p {
  @include core-19;
}

h2, h3, h4 {
  font-weight: 400;
}

h2 {
  @include core-24;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h3 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h4 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

/*
 * Page headers
 */

header.page-header div {
  @include media(tablet){
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h1 {
    @include heading-48;
    background-repeat: no-repeat;
    color: $text-colour;
    font-weight: 600;

    span {
      @include core-27($line-height: 1);
      display: block;
      margin-bottom: 0.25em;
      text-shadow: none;
      color: $secondary-text-colour ;

      @include ie-lte(8) {
        height: 1%;
      }
    }
  }
}

/* Licence Application */

.relevant-authority {
  margin: 0 0 20px 84px;

  h2 {
    margin: 0;
  }
}

.licence .intro form {
  ul {
    padding-left: 12px;
  }
  li { list-style: none;
    label {
      padding-left: 5px;
    }
  }
}

/*
  ============================== Stuff (mainly) used in publications =============================
*/

/* Meta-data */
.meta-data {
  @include core-16;
  color: $secondary-text-colour;

  p{
    text-align: left;

    a{
      color: $secondary-text-colour;
    }
    @include core-16
  }
}

/* Error messages */
.error-notification {
  border: 1px solid #ffc946;
  background-color: #fbedcd;
  padding: 0 1em;
  margin-bottom: 1em;

  p {
    @include core-16;
  }
}

.close {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;

  a {
    background-color: transparent;
    background-image: image-url("close.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    height: 2em;
    width: 2em;
    text-indent: -9999px;

    &:hover {
      background-color: rgba(0,0,0,0.25);
    }
  }
}

.sets-cookie {
  @include core-14;
}

.cookie-container {
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;

  @include ie-lte(8) {
    bottom: auto;
    right: auto;
    margin-top: 1em;
    position: relative;
  }
}

.find-location-for-service .cookie-container {
  bottom: 1em;
  right: 0.75em;

  @include media-down(mobile) {
    bottom: 20px;
    right: 16px;
  }
}
