// Core global styles
body {
  @include ie(8) {
    min-width: 1024px;
  }
}

p {
  @include govuk-font(19);
}

h2,
h3,
h4 {
  font-weight: 400;
}

h2 {
  @include govuk-font(24);
  margin-top: .5em;
  margin-bottom: .25em;
}

h3 {
  @include govuk-font(19);
  margin-top: .5em;
  margin-bottom: .25em;
}

h4 {
  @include govuk-font(19);
  margin-top: .5em;
  margin-bottom: .25em;
}

// Page headers
header.page-header div { // stylelint-disable-line selector-no-qualifying-type
  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(6);
    margin-bottom: govuk-spacing(6);
  }

  h1 {
    @extend %govuk-heading-xl;
    background-repeat: no-repeat;
    color: $text-colour;
    font-weight: 600;

    span {
      @include govuk-font($size: 27, $line-height: 1);
      display: block;
      margin-bottom: .25em;
      text-shadow: none;
      color: $secondary-text-colour;
    }
  }
}

// Licence Application
.relevant-authority {
  margin: 0 0 govuk-spacing(4) 84px;

  h2 {
    margin: 0;
  }
}

.licence .intro form {
  ul {
    padding-left: 12px;
  }

  li {
    list-style: none;

    label {
      padding-left: govuk-spacing(1);
    }
  }
}

// Stuff (mainly) used in publications

// Meta-data
.meta-data {
  @include govuk-font(16);
  color: $secondary-text-colour;

  p {
    text-align: left;

    a {
      color: $secondary-text-colour;
    }
    @include govuk-font(16);
  }
}

// Error messages
.error-notification {
  border: 1px solid #ffc946;
  background-color: #fbedcd;
  padding: 0 1em;
  margin-bottom: 1em;

  p {
    @include govuk-font(16);
  }
}

.close {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;

  a {
    background-color: transparent;
    background-image: image-url("close.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    height: 2em;
    width: 2em;
    text-indent: -9999px;

    &:hover {
      background-color: rgba(0, 0, 0, .25);
    }
  }
}

.sets-cookie {
  @include govuk-font(14);
}

.cookie-container {
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.find-location-for-service .cookie-container {
  bottom: 1em;
  right: .75em;

  @include media-down(mobile) {
    bottom: govuk-spacing(4);
    right: 16px;
  }
}
