/*
 * Core global styles
 */
body {
  @include ie(8) {
    min-width:1024px;
  }
}

#wrapper {
  @extend %site-width-container;
}
.grid-row {
  @extend %grid-row;

  main#content {
    @include grid-column( 2/3, $full-width: desktop );
  }
}


p {
  @include core-19;
}

h2, h3, h4 {
  font-weight: 400;
}

h2 {
  @include core-24;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h3 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h4 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}


/*
 * Related box
 * this related stuff needs re-examining - might be a bit over the top
 */
.related-container {
  @include grid-column(1/3, $full-width: desktop);
  margin-top: 40px;
}
.related {
  border-top: 10px solid $mainstream-brand;
  padding-top: 5px;

  nav {
    margin-bottom: 1.25em;
  }

  h2 {
    @include core-24;
    font-weight: 600;
    color: $text-colour;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    position: relative;

    @include media-down(mobile) {
      font-size: 17px;
      margin-bottom: 0.625em;
    }
  }

  ul {
    @include core-16;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    margin-bottom: 0.75em;
    padding-left: 0;

    &.related-topic {
      list-style: none outside none;

      a {
        display: inline;
        font-weight: bold;
      }
    }

    a {
      background-position: 0 -287px;
      background-repeat: no-repeat;
      display: block;
      line-height:1.25em;
      orphans: 2;

      &:hover {
        background-position: 0 10px;
      }

      @include ie-lte(8) {
        height: 1%;
      }
    }

    a[href*="#"] {
      /* grey out stub links */
      background: none;
      color: #888;
      cursor: default;
      text-decoration: none;
    }

    a.view-all {
      margin: 10px 0 10px;
    }

    a[rel="external"]:after {
      content: "\A0\A0\A0\A0\A0\A0";
      background-position: 5px 0px;
    }

    a[rel="external"]:hover:after {
      background-position: 5px -388px;
    }

  }
  .return-to-top {
    @include core-16;
    margin: 0.25em 0 0;
    padding: 0.75em 0;

    @include media(desktop){
      position: absolute;
      left: -9999em;
    }
  }
}

/*
 * Page headers
 */

header.page-header div {
  @include media(tablet){
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h1 {
    @include heading-48;
    background-repeat: no-repeat;
    color: $text-colour;
    font-weight: 600;

    span {
      @include core-27($line-height: 1);
      display: block;
      margin-bottom: 0.25em;
      text-shadow: none;
      color: $secondary-text-colour ;

      @include ie-lte(8) {
        height: 1%;
      }
    }
  }
}

/* Business support format */
.business_support article.tab-pane {
  width: auto;
}
.business_support .support-info {
  background: #E1E8E8;
  border-left: 1px solid #BBB;
}
.business_support section.support-info:last-child {
  border-bottom: 1px dotted #BBB;
}
.business_support .support-info h2 {
  @include core-16($line-height: 1.25);
  margin: 0;
  text-align: left;
  color: black;
  background-color: #E1E8E8;
  border-top: solid 1px #BBB;
  float: left;
  width: 30%;
  padding: 0.25em;
}
.business_support .long-description p,
.business_support .long-description li {
  @include core-16;
}

/* Licence Application */

.relevant-authority {
  margin: 0 0 20px 84px;

  h2 {
    margin: 0;
  }
}

.licence .intro form {
  ul {
    padding-left: 12px;
  }
  li { list-style: none;
    label {
      padding-left: 5px;
    }
  }
}

/*
  ============================== Stuff (mainly) used in publications =============================
*/

/* articles */
article {
  margin-right: 22.25em;
  min-height: 30em;
  position: relative;
  width: 100%;
  z-index: 1;

  @include ie-lte(8) {
    float: none;
  }

  @include ie-lte(7) {
  }

  &.group {
    @include ie-lte(7) {
      height: auto;
    }
  }
}

#wrapper.travel-advice p img {
  display: block;
  margin: 0 -1em;
  padding-left: 1em;

  @include media-down(tablet) {
    max-width: 100%;
  }
}

.article-container {
  /* Make webkit browsers contain the margin-bottom of report-a-problem */
  .travel-advice & {
    padding-bottom: 0.01em;
  }

  article {
    margin-right: 0;
  }

  @include media-down(tablet) {
    margin-right: 0;
    min-height: 0;
  }
}

.article-container.group .beta-label {
  margin: 0 0 20px;

  @include media(mobile) {
      margin: 0 0 10px;
    }
}

/* Meta-data */
.meta-data {
  @include core-16;
  color: $secondary-text-colour;

  @include ie-lte(7) {
    width: 60%;
  }

  @include ie(6) {
    zoom: 1;
  }

  p{
    text-align: left;

    @include ie-lte(7) {
      zoom: 1;
    }

    a{
      color: $secondary-text-colour;
    }
    @include core-16
  }
}

.print-link {
  text-align: left;
  margin: 2em 0 0 0;

  a, a:link, a:visited {
    background: image-url("icon-print.png") no-repeat 0% 50%;
    padding: 0.5em 0 0.5em 28px;

    @include device-pixel-ratio() {
      background-image: image-url("icon-print-2x.png");
      background-size: 16px 18px;
    }

    zoom: 1;
  }

  @include media-down(mobile) {
    width:60%;

    a, a:link, a:visited {
      padding-bottom:4px;
    }
  }
}

/* Error messages */
.error-notification {
  border: 1px solid #ffc946;
  background-color: #fbedcd;
  padding: 0 1em;
  margin-bottom: 1em;

  p {
    @include core-16;
  }
}

.close {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;

  a {
    background-color: transparent;
    background-image: image-url("close.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    height: 2em;
    width: 2em;
    text-indent: -9999px;

    &:hover {
      background-color: rgba(0,0,0,0.25);
    }
  }
}

.sets-cookie {
  @include core-14;
}

.cookie-container {
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;

  @include ie-lte(8) {
    bottom: auto;
    right: auto;
    margin-top: 1em;
    position: relative;
  }
}

.find-location-for-service .cookie-container {
  bottom: 1em;
  right: 0.75em;

  @include media-down(mobile) {
    bottom: 20px;
    right: 16px;
  }
}

/*  ============================================================================
    Tabs
    ========================================================================  */

.nav-tabs {
  zoom: 1;
  background: #fff;
  padding: 0;
  position: relative;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  ol,
  ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;

    @include ie-lte(7) {
      overflow: hidden;
      padding: 1px 1px 0 0;
    }

    @include media-down(mobile) {
      float: none;
      margin: 0 -16px;
    }
  }

  li {
    @include core-16;
    padding: 0;
    margin: 0;
    float: left;

    @include media-down(mobile) {
      float: none;
    }

    a {
      border: solid 1px #fff;
      border-bottom: none;
      float:left;
      height: 2.25em;
      line-height: 2.25em;
      margin-bottom: -1px;
      padding: 0 1em 0 1em;
      position: relative;
      text-align: center;
      top: 0;

      @include ie-lte(7) {
        background-image: none;
        padding: 0 0.5em;
      }

      @include media-down(mobile) {
        display: block;
        position: static;
        float: none;
        height: auto;
        line-height: 3.5em;
        padding: 0 16px;
        text-align: left;
        margin-bottom: 0;
        border-bottom: 1px solid $border-colour;
      }

      &:hover {
        background-color: $border-colour;
      }
    }

    &.active a {
      background-color: #fff;
      border: solid 1px $border-colour;
      border-bottom: solid 1px #fff;
      color: $text-colour;
      position: relative;
      text-decoration: none;
      z-index: 5;

      @include ie-lte(7) {
        bottom: -1px;
      }

      @include media-down(mobile) {
        border: none;
        border-bottom: 1px solid  $border-colour;
      }

      &:hover {
        color: inherit;
      }
    }

    &:first-child a {
      margin-left: 0;

      @include media-down(mobile) {
        border-left: none;
        border-top: 1px solid $border-colour;
      }
    }
  }
}

.tab-content {
  @include media-down(mobile) {
    margin: 0 -1em;
  }

  .tab-pane {
    padding: 1em 1em 0 1em;
    border-top: solid 1px $border-colour;
    clear: both;
    width:auto;

    @include media-down(mobile) {
      border-top: none;
      padding: 0;
    }
  }

  .inner {
    padding: 0em 2.5em 1em;

    @include media-down(mobile) {
      padding:0 1em 1em;
      border-bottom: solid 1px #C9D0D0;
    }
  }

  h1.visuallyhidden + h2 {
    margin-top: 2em;
  }

  p {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  nav {
    margin: 1em -1.375em 0;
  }
}

.js-tab-content {
  .programme-progression li,
  .js-heading-tab {
    border-bottom: solid 1px $border-colour;
    list-style: none;

    a,
    h1 {
      @include core-24($line-height: (45 / 24), $line-height-640: (45 / 17));
      background: #FFF image-url('accordian-arrow.png') no-repeat 100% -2px;
      display: block;
      padding: 0 16px;
      position: relative;
      text-align: left;
      text-decoration:underline;
      top: 0;

      @include device-pixel-ratio() {
        background-image: image-url("accordian-arrow-2x.png");
        background-size: 45px 90px;
      }

      &:hover {
        background-color: $grey-3;
      }
    }

    &.active {
      text-decoration: none;

      a, h1 {
        background-position: 100% -48px;
        background-color: $grey-3;
        color: $text-colour;
        text-decoration: none;
      }
    }
  }

  .js-heading-tab {
    margin:0;
    clear:both;

    h1 {
      padding:0;
    }
  }


  .tab-shiftlink {
    @include core-19();
    position: absolute;
    left: -9999em;

    @include media-down(mobile) {
      position: static;
      left: auto;
    }
  }

  @include media-down(mobile) {
    .js-tab-container {
      min-height:0;
    }

    .js-tab-pane {
      border-bottom:solid 1px $border-colour;
    }

    .js-tab-container:first-child {
      border-top: solid 1px $border-colour;
    }
  }
}

.transaction .js-tab-content {
  overflow: hidden;
}

/* bunting lol */
.epic-bunting {
  width: 100%;
  position: absolute;
  left: 0;
  top: 6.1em;
  overflow: visible;

  @include media-down(tablet) {
    display: none;
  }

  span {
    background-image: image-url("bunting.png");
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: center top;
    width: 99.9%;
    position: absolute;
    height: 107px;
  }
}
