#emergency-banner-notification {
  background-color: $panel-colour;
  border-top: 2px solid white;
  padding: 0.5em 1em;

  @include media(tablet) {
    padding: 0;
  }

  div {
    @include core-19;
    color: #fff;
    margin: 0 auto;
    padding:0.5em 0;
    max-width: 1020px;
    overflow: hidden;

    @include ie-lte(7) {
      width: 956px;
    }
  }

  p {
    padding: 0;
    margin: 0;

    @include media(tablet) {
      padding: 0 30px 0 30px;
    }
  }

  a {
    color: #fff;

    &.more-information {
      display: block;

      @include media(tablet) {
        padding: 0 30px;
      }
    }
  }

  &.green {
    background: #28a197;
  }

  &.red {
    background: #b10e1e;
  }

  &.black {
    background: #000000;
  }
}

@mixin campaign-styles($background, $foreground) {
  background: $background;

  h1,
  p,
  a {
    color: $foreground;
  }
}

#campaign {
  &.black {
    @include campaign-styles($black, $white);
  }

  &.red {
    @include campaign-styles($red, $white);
  }

  &.green {
    @include campaign-styles($turquoise, $white);
  }

  border: 5px solid $white;
  border-width: 5px 0;

  .campaign-inner {
    @extend %contain-floats;
    @extend %site-width-container;
    position: relative;
    padding: 15px 0;

    h1 {
      @include bold-48;
    }

    p {
      @include media(tablet) {
        width: 66.66%; // this is the same as .welcome-text
        float: left;
      }
    }

    a {
      // this is the same as .content-links
      @include media(tablet) {
        position: absolute;
        bottom: 1em;
        left: 66.66%;
        width: 33.33%;
        padding: 0 10px;
        display: block;
      }
      @include core-19;
    }
  }
}
