#banner-notification {
  background-color: $panel-colour;
  border-top: 2px solid white;
  padding: 0.5em 1em;

  @include media(tablet) {
    padding: 0;
  }

  div {
    @include core-19;
    color: #fff;
    margin: 0 auto;
    padding:0.5em 0;
    max-width: 1020px;
    overflow: hidden;

    @include ie-lte(7) {
      width: 956px;
    }
  }

  p {
    padding: 0;
    margin: 0;

    @include media(tablet) {
      padding: 0 30px 0 30px;
    }
  }

  a {
    color: #fff;

    &.more-information {
      display: block;

      @include media(tablet) {
        padding: 0 30px;
      }
    }
  }

  &.green {
    background: #28a197;
  }

  &.red {
    background: #b10e1e;
  }

  &.black {
    background: #000000;
  }
}
