/* Global footer */

#footer {
  // Replaces the 1px #a1acb2 border from govuk_template
  border-top: 10px solid $mainstream-brand;

  .footer-categories {
    @extend %contain-floats;

    @include media(tablet){
      padding: 0 $gutter-half $gutter;
    }

    .footer-explore,
    .footer-inside-government {
      @include media(tablet){
        float: left;
        width: 66.66%;
        padding-bottom: 60px;
      }

      h2 {
        margin: 0 15px;
        padding: 10px 0 0;

        @include media(tablet) {
          padding: 0 0 20px;
          border-bottom: 1px solid $border-colour;
        }
      }
    }

    hr {
      clear: both;
      margin: 0 15px 30px;
      border: 1px solid $border-colour;
      border-width: 1px 0 0 0;

      @include media(tablet){
        margin-bottom: 0;
      }
    }
  
    ul {
      @include core-16;
      list-style: none;
      padding: 0;
      margin: 0;

      @include media(tablet){
        float: left;
        margin: 15px 0 0 0;
        width: 50%;
      }

    
      li {
        display: block;
        margin-bottom: 5px;

        padding: 10px 0 0;
        margin: 0 15px 5px;

        @include media(tablet){
          padding: 20px 0 0;
          margin: 0 15px;
        }
      }
    }

    .footer-inside-government {
      @include media(tablet){
        float: left;
        width: 33.33%;

        ul {
          li {
            width: 100%;
          }
        }
      }
    }
  }
}
