/* Global footer */

#footer {
  // Replaces the 1px #a1acb2 border from govuk_template
  border-top: 10px solid $mainstream-brand;

  a:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    // Instead of using #fd0 as per GOV.UK Frontend 3, until we are using
    // govuk_publishing_components we'll stick to the legacy colours for now
    // to keep things consistent.
    background-color: #ffbf47;
    -webkit-box-shadow: 0 -2px #ffbf47,
    0 4px #0b0c0c;
    box-shadow: 0 -2px #ffbf47,
    0 4px #0b0c0c;
    text-decoration: none;
  }

  .footer-categories {
    @extend %contain-floats;
    @extend %grid-row;

    @include media(tablet) {
      padding-bottom: govuk-spacing(6);
    }


    .footer-explore,
    .footer-inside-government {
      @include media(tablet) {
        float: left;
        width: 66.66%;
        padding-bottom: govuk-spacing(9);
      }

      h2 {
        margin: 0 govuk-spacing(3);
        padding: govuk-spacing(2) 0 0;

        @include media(tablet) {
          padding: 0 0 govuk-spacing(4);
          border-bottom: 1px solid $border-colour;
        }
      }
    }

    hr {
      clear: both;
      margin: 0 govuk-spacing(3) govuk-spacing(6);
      border: 1px solid $border-colour;
      border-width: 1px 0 0 0;

      @include media(tablet) {
        margin-bottom: 0;
      }
    }

    ul {
      @include core-16;
      list-style: none;
      padding: 0;
      margin: 0;

      @include media(tablet) {
        float: left;
        margin: govuk-spacing(3) 0 0 0;
        width: 50%;
      }


      li {
        display: block;
        margin-bottom: govuk-spacing(1);

        padding: govuk-spacing(2) 0 0;
        margin: 0 govuk-spacing(3) govuk-spacing(1);

        @include media(tablet) {
          padding: govuk-spacing(4) 0 0;
          margin: 0 govuk-spacing(3);
        }
      }
    }

    .footer-inside-government {
      @include media(tablet) {
        float: left;
        width: 33.33%;

        ul {
          li {
            width: 100%;
          }
        }
      }
    }
  }
}
