// Global footer

// stylelint-disable selector-max-id, max-nesting-depth -- These should be
// removed in a refactoring with the underlying HTML.
#footer {
  background-color: govuk-colour("light-grey");
  border-top: 10px solid $govuk-brand-colour; // Replaces the 1px #a1acb2 border from govuk_template

  .govuk-link:focus {
    color: $govuk-focus-text-colour;
  }

  .footer-container {
    @include govuk-media-query($from: tablet) {
      padding-top: govuk-spacing(9);
    }
  }

  .footer-categories {
    @include govuk-media-query($from: tablet) {
      padding-bottom: govuk-spacing(6);
    }

    h2 {
      padding: govuk-spacing(2) 0 0;

      @include govuk-media-query($from: tablet) {
        margin: 0 0 govuk-spacing(3) 0;
        padding: 0 0 govuk-spacing(4);
        border-bottom: 1px solid $border-colour;
      }
    }

    hr {
      clear: both;
      margin: 0 govuk-spacing(3) govuk-spacing(6);
      border: 1px solid $govuk-border-colour;
      border-width: 1px 0 0;

      @include govuk-media-query($from: tablet) {
        margin-bottom: 0;
      }
    }

    ul {
      @include govuk-font(16);
      list-style: none;
      padding: 0;
      margin: 0;

      @include govuk-media-query($from: tablet) {
        padding-bottom: govuk-spacing(9);
      }

      li {
        padding: govuk-spacing(2) 0 0;
        margin-bottom: govuk-spacing(1);

        @include govuk-media-query($from: tablet) {
          padding: govuk-spacing(4) 0 0;
          margin-bottom: 0;
        }
      }
    }
  }

  // TODO (GOVUK_TEMPLATE) REFACTOR ONCE GOVUK_TEMPLATE HAS BEEN REMOVED
  // ---------------------------------------------------------------------------
  // This abyss of deeply nested selectors is to override another abyss of
  // deeply nested selectors from `govuk-template`. This makes sure that the
  // correct focus state is used on the Open Government Licence (OGL) link in
  // the footer.
  //
  // This should be refactored once govuk_template has been removed.
  .footer-meta {
    .footer-meta-inner {
      .open-government-licence {
        .logo {
          .open-government-licence__logo-link {
            background-position: 0 1px;
            padding-bottom: $govuk-focus-width;

            &:focus {
              background-color: $govuk-focus-colour;
            }
          }
        }
      }
    }

    .copyright {
      text-align: center;

      @include govuk-media-query($from: tablet) {
        text-align: right;
      }

      a {
        display: inline-block;
        min-width: 134px;
      }
    }
  }
}
