.govuk-emergency-banner {
  background-color: $panel-colour;
  color: $white;
  margin-top: 2px;
  padding: govuk-spacing(3) 0;

  @include govuk-media-query($from: tablet) {
    padding: govuk-spacing(6) 0;
  }

  div {
    @extend %site-width-container;
  }

  h2 {
    @include govuk-font(24, $weight: bold);
    margin: 0;
  }

  .homepage & h2 {
    @include govuk-font(48, $weight: bold);
    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(4);
    }
  }

  p {
    @include govuk-font(19);
    color: $white;
    margin-top: 0;
    margin-bottom: govuk-spacing(4);

    @include govuk-media-query($from: tablet) {
      width: percentage(2 / 3);
    }

    &:last-child {
      margin-bottom: 0;
    }

    .homepage & {
      margin: govuk-spacing(4) 0;
    }
  }

  a {
    &:link,
    &:visited {
      color: $white;
    }

    &:active,
    &:hover {
      color: darken($white, 20%);
    }

    &:focus {
      color: $black;
    }
  }

  .homepage & {
    margin-top: govuk-spacing(1);
    margin-bottom: govuk-spacing(1);
  }

  &.notable-death {
    background-color: $black;
  }

  &.national-emergency {
    background-color: $red;
  }

  &.local-emergency {
    background-color: $turquoise;
  }
}
