@import '_shims';

#global-header {
  $govuk-header-background: govuk-colour("black");
  $govuk-header-border-color: $govuk-brand-colour;
  $govuk-header-border-width: 10px;
  $govuk-header-text: govuk-colour("white");
  $govuk-header-link: govuk-colour("white");
  $govuk-header-link-hover: govuk-colour("white");
  $govuk-header-link-active: #1d8feb;
  $govuk-header-nav-item-border-color: #2e3133;

  #logo {
    background: none;
    padding-bottom: 4px;

    &:focus {
      background-color: $govuk-focus-colour;
      border-color: $govuk-focus-colour;
      box-shadow:
        0 -2px $govuk-focus-colour,
        0 4px $govuk-focus-text-colour;
      color: $govuk-focus-text-colour;
      outline: 3px solid transparent;
      text-decoration: none;
    }
  }

  .govuk-header__logotype {
    margin-right: 0;
  }

  .govuk-header__logotype-text {
    position: relative;
    top: 4px;
  }

  .govuk-header__logotype-crown {
    fill: currentColor;
    margin-right: 1px;
    position: relative;
    top: 0;
    vertical-align: top;
  }

  .govuk-header__logotype-crown-fallback-image {
    border: 0;
    height: 32px;
    vertical-align: middle;
    width: 36px;
  }

  .govuk-header__link--homepage {
    display: inline-block;
    font: bold 30px "GDS Transport", nta, Arial, sans-serif;
    line-height: 1;

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:active {
      margin-bottom: -1px;
      border-bottom: 1px solid;
    }

    &:focus {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  .govuk-header__logo,
  .govuk-header__content {
    box-sizing: border-box;
  }

  .header-wrapper .header-global .site-search {
    @extend %contain-floats;
    width: 49%;
    float: right;

    @include media(desktop) {
      width: 33.33%;
    }

    @media screen and (max-width: 379px) {
      width: auto;
      float: none;
    }

    .content {
      margin: 0 govuk-spacing(3);
    }
  }

  &.with-proposition {
    #search {
      margin-top: 4px;
    }
  }

  .search-toggle {
    display: none;

    @media screen and (max-width: 379px) {
      background-color: $govuk-brand-colour;
      background-image: image-url("search-button.png");
      background-position: 0 50%;
      background-repeat: no-repeat;
      display: block;
      float: right;
      height: 30px;
      margin: -32px govuk-spacing(3);
      overflow: hidden;
      padding: 0;
      text-indent: -5000px;
      width: 36px;

      &:focus {
        border-width: 0;
        box-shadow: inset 0 0 0 4px $govuk-input-border-colour;
        outline: $govuk-focus-width solid $govuk-focus-colour;
        outline-offset: 0;
      }

      body.search & {
        display: none;
      }

      @include device-pixel-ratio() {
        background-size: 52.5px 35px;
        background-position: 100% 50%;
      }
    }

    &:hover {
      background-color: darken($govuk-brand-colour, 5%);
    }

    &.js-hidden {
      display: none;
    }
  }

  form#search {
    .content {
      @extend %contain-floats;
      position: relative;
      background: govuk-colour("white");
    }

    label {
      float: left;
      min-height: 36px;
      line-height: 35px;
      text-indent: 15px;
      overflow: hidden;
      display: block;
      margin-right: govuk-spacing(2);

      .js-enabled & {
        float: none;
        position: absolute;
        left: 0;
        top: 1px;
        z-index: 1;
        width: 100%;
        margin-right: 0;
      }
    }

    input {
      @include box-sizing(border-box);
      float: left;
      width: 50%;
      min-width: 0;
      display: block;
      margin: 0;
      border: 0;
      min-height: 36px;
      padding: 6px 0;

      &::-moz-focus-inner {
        border: 0;
      }

      @include ie-lte(8) {
        min-height: 24px;
      }

      @include appearance(none);
    }

    input#site-search-text {
      @include core-16($line-height: (23/16), $line-height-640: (23/13));
      background: transparent;
      height: 36px;
      padding: 6px;
      position: relative;
      z-index: 3;

      &.focus,
      &:focus {
        background: govuk-colour("white");
        outline: $govuk-focus-width solid $govuk-focus-colour;
        outline-offset: 0;
        z-index: 5;
      }

      .js-enabled & {
        width: 86%;
        @include calc(width, "100% - 35.1px"); /* 35.1 is for Safari, which renders this input too narrow */
      }
    }

    input.submit {
      position: absolute;
      z-index: 4;
      right: 0;
      top: 0;
      width: 36px;
      height: 36px;

      border: 1px solid $govuk-brand-colour;
      border-width: 0 0 0 1px;
      border-left-color: #222;
      border-radius: 0;

      overflow: hidden;
      text-indent: -5000px;

      color: govuk-colour("white");
      background-color: $govuk-brand-colour;
      background-image: image-url("search-button.png");
      background-repeat: no-repeat;
      background-position: 0 50%;

      @include device-pixel-ratio() {
        background-size: 52.5px 35px;
        background-position: 100% 50%;
      }

      &:hover {
        background-color: darken($govuk-brand-colour, 5%);
      }

      &.focus,
      &:focus {
        border-width: 0;
        box-shadow: inset 0 0 0 4px $govuk-input-border-colour;
        outline: $govuk-focus-width solid $govuk-focus-colour;
        outline-offset: 0;
      }
    }

    @media screen and (max-width: 379px) {
      display: none;
      width: 100%;

      #site-search-text {
        width: 80%;
      }
    }

    &.js-visible {
      display: block;
    }
  }

  .header-proposition {
    a {
      &.menu {
        padding-bottom: 4px;
      }
    }
  }

  #proposition-links {
    list-style: none;

    li:last-child {
      border-bottom: 0;
      width: 100%;

      @include media(tablet) {
        width: auto;
      }
    }
  }

  #proposition-links,
  .header-proposition {
    a:focus {
      background-color: $govuk-focus-colour;
      border-color: $govuk-focus-colour;
      box-shadow:
        0 -2px $govuk-focus-colour,
        0 4px $govuk-focus-text-colour;
      color: $govuk-focus-text-colour;
      outline: 3px solid transparent;
      text-decoration: none;
    }
  }
}

/* Global browser prompt message */

#global-browser-prompt {
  display: none; /* shown with JS, always hidden for non-JS */
}

#global-browser-prompt {
  padding: 0.5em 2em;

  p {
    @include core-19;
    margin: 0 auto;
    max-width: 960px;
  }

  @include media-down(mobile) {
    padding: 0.5em 1em;
  }
}

#global-browser-prompt {
  background-color: $light-blue-25;

  p {
    position: relative;
    padding-right: 20px;
    max-width: 940px;
  }

  .dismiss {
    background-image: image-url("close.png");
    background-color:transparent;
    background-repeat: no-repeat;
    background-position: center right;
    text-decoration:none;
    height:22px;
    width:10px;
    text-indent:-9999px;
    display:inline-block;
    position: absolute;
    right: 0;
  }
}

#user-satisfaction-survey {
  /**
   * Hidden by default as we only want to show it to users who have
   * JavaScript enabled.
   */
  display: none;
  background-color: $govuk-brand-colour;
  margin-bottom: 1px;
  color: govuk-colour("white");
  @include core-16;

  &.visible {
    display: block;

    @include media-down(mobile) {
      .survey-close-button {
        font-size: 16px;
      }

      .survey-title {
        display: inline-block;
        font-size: 18px;
        width: 75%;
      }

      .survey-primary-link,
      .postscript-cta {
        font-size: 18px;
      }
    }
  }

  [tabindex="-1"]:focus {
    outline: none;
  }

  a {
    &:link,
    &:active,
    &:hover,
    &:visited {
      color: inherit;
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  .survey-wrapper {
    @extend %site-width-container;
    padding-top: govuk-spacing(3);
    padding-bottom: govuk-spacing(4);
    clear: both;
  }

  .survey-inner-wrapper {
    max-width: 30em;
  }

  .survey-title {
    @include bold-19;
    margin-bottom: .5em;
  }

  .survey-close-button {
    float: right;
    @include core-19;
  }

  .survey-primary-link {
    @include core-19;
    margin-right: .5em;
  }

  .survey-form-label {
    display: block;
    margin-bottom: .25em;
  }

  .survey-form-input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 4px 4px;
    border: 2px solid govuk-colour("white");
    margin: 0; // TODO: Remove this when all applications are moved away from the 'wrapper' template
    margin-bottom: 1em;
  }

  .survey-form-description {
    @include core-14;
    margin-bottom: .5em;
  }

  .survey-form-button {
    @include button(govuk-colour("white"));
    @include bold-19($line-height: 1.1);
    color: $govuk-brand-colour;

    &:hover,
    &:focus {
      color: darken($govuk-brand-colour, 5%);
    }

    &:focus {
      outline: 3px solid $focus-colour;
    }
    margin-right: .5em;
  }
}

.show-global-bar #global-header-bar {
  display: none;
}

$light-blue: #259EDA;

.global-bar {
  background-color: #E5EAF1;
  border-top: 8px solid $govuk-brand-colour;
  display: none;
  padding: govuk-spacing(3) 0;

  .show-global-bar & {
    display: block;
  }

  .global-bar-message-container {
    @include core-19;
    @extend %site-width-container;
    position: relative;

    @include media($max-width: 320px) {
      .dismiss {
        position: relative;
      }
    }

    @include media(tablet) {
      .dismiss {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    @include media($min-width: 320px) {
      .dismiss {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  .global-bar-message {
    margin-bottom: 0;
    margin-top: 0;
    max-width: 70%;

    @include media(tablet) {
      max-width: auto;
    }

    .global-bar-title {
      display: block;
      font-weight: 700;
      margin-right: govuk-spacing(2);
      margin-bottom: govuk-spacing(1);
    }
  }
}
