@import '_shims';
#global-header {
  .header-wrapper .header-global .site-search {
    @extend %contain-floats;
    width: 49%;
    float: right;

    @include media(desktop){
      width: 33.33%;
    }
    @media screen and (max-width: 379px) {
      width: auto;
      float: none;
    }

    .content {
      margin: 0 15px;
    }
  }
  &.with-proposition {
    #search {
      margin-top: 4px;
    }
  }

  .search-toggle {
    display: none;

    @media screen and (max-width: 379px) {
      display: block;
      float: right;
      height: 30px;
      width: 36px;
      padding: 0;
      margin: -32px 15px;
      overflow: hidden;
      text-indent: -5000px;
      background-color: $govuk-blue;
      background-image: image-url("search-button.png");
      background-repeat: no-repeat;
      background-position: 0 50%;

      body.search & { display: none; }

      @include device-pixel-ratio() {
        background-size: 52.5px 35px;
        background-position: 100% 50%;
      }
    }

    &:hover {
      background-color: darken($mainstream-brand, 5%);
    }

    &.js-hidden { display: none; }
  }

  form#search {
    .content {
      @extend %contain-floats;
      position: relative;
      background: #fff;
    }
    label {
      float: left;
      min-height: 36px;
      line-height: 35px;
      text-indent: 15px;
      overflow: hidden;
      display: block;
      margin-right: 10px;

      .js-enabled & {
        float: none;
        position: absolute;
        left: 0;
        top: 1px;
        z-index: 1;
        width: 100%;
        margin-right: 0;
      }
    }
    input {
      @include box-sizing(border-box);
      float: left;
      width: 50%;
      min-width: 0;
      display: block;
      margin: 0;
      border: 0;
      min-height: 36px;
      padding: 6px 0;
      &::-moz-focus-inner {
        border: 0;
      }
      @include ie-lte(8) {
        min-height: 24px;
      }
      @include ie-lte(6) {
        height: 24px;
      }
      @include appearance(none);
    }

    input#site-search-text {
      @include core-16($line-height: (23/16), $line-height-640: (23/13));
      position: relative;
      padding: 6px;
      z-index: 3;
      background: transparent;

      &.focus,
      &:focus {
        background: #fff;
        outline-offset: -3px;
      }

      @include ie-lte(7){
        padding-left: 0;
      }
      .js-enabled & {
        width: 86%;
        @include calc(width, "100% - 35.1px"); /* 35.1 is for Safari, which renders this input too narrow */
      }
    }

    input.submit {
      position: absolute;
      z-index: 4;
      right: 0;
      top: 0;
      width: 36px;
      height: 36px;

      border: 1px solid $mainstream-brand;
      border-width: 0 0 0 1px;
      @include ie-lte(7){
        border-width: 1px;
      }
      border-left-color: #222;
      @include border-radius(0);

      overflow: hidden;
      text-indent: -5000px;

      color: $white;
      background-color: $mainstream-brand;
      background-image: image-url("search-button.png");
      background-repeat: no-repeat;
      background-position: 0 50%;

      @include device-pixel-ratio() {
        background-size: 52.5px 35px;
        background-position: 100% 50%;
      }

      @include ie-lte(7) {
        background-image: none;
        width: auto;
      }

      &:hover {
        background-color: darken($mainstream-brand, 5%);
      }

      &.focus,
      &:focus {
        outline-offset: -3px;
      }
    }

    @media screen and (max-width: 379px) {
      display: none;
      width: 100%;

      #site-search-text {
        width: 80%;
      }
    }
    &.js-visible { display: block; }
  }
}

/* Global browser prompt message */

#global-browser-prompt {
  display: none; /* shown with JS, always hidden for non-JS */
}

#global-browser-prompt {
  padding: 0.5em 2em;

  p {
    @include core-19;
    margin: 0 auto;
    max-width: 960px;

    @include ie-lte(6) {
      width: 960px;
    }
  }

  @include media-down(mobile) {
    padding: 0.5em 1em;
  }
}

#global-browser-prompt {
  background-color: $light-blue-25;

  p {
    position: relative;
    padding-right: 20px;
    max-width: 940px;

    @include ie(6) {
      width: 940px;
    }
  }

  .dismiss {
    background-image: image-url("close.png");
    background-color:transparent;
    background-repeat: no-repeat;
    background-position: center right;
    text-decoration:none;
    height:22px;
    width:10px;
    text-indent:-9999px;
    display:inline-block;
    position: absolute;
    right: 0;
  }
}

#user-satisfaction-survey {
  /**
   * Hidden by default as we only want to show it to users who have
   * JavaScript enabled.
   */
  display: none;
  background-color: $govuk-blue;
  margin-bottom: 1px;
  color: $white;
  @include core-16;

  &.visible {
    display: block;

    @include media-down(mobile) {
      .survey-close-button {
        font-size: 16px;
      }
      .survey-title {
        display: inline-block;
        font-size: 18px;
        width: 75%;
      }
      .survey-primary-link, .postscript-cta {
        font-size: 18px;
      }
    }
  }

  [tabindex="-1"]:focus {
    outline: none;
  }

  a {
    &:link,
    &:active,
    &:hover,
    &:visited {
      color: inherit;
    }
    &:focus {
      color: $black;
    }
  }

  .survey-wrapper {
    @extend %site-width-container;
    padding-top: $gutter-half;
    padding-bottom: $gutter-two-thirds;
    clear: both;
  }

  .survey-inner-wrapper {
    max-width: 30em;
  }

  .survey-title {
    @include bold-19;
    margin-bottom: .5em;
  }

  .survey-close-button {
    float: right;
    @include core-19;
  }

  .survey-primary-link {
    @include core-19;
    margin-right: .5em;
  }

  .survey-form-label {
    display: block;
    margin-bottom: .25em;
  }

  .survey-form-input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 4px 4px;
    border: 2px solid $white;
    margin: 0; // TODO: Remove this when all applications are moved away from the 'wrapper' template
    margin-bottom: 1em;
  }

  .survey-form-description {
    @include core-14;
    margin-bottom: .5em;
  }

  .survey-form-button {
    @include button($white);
    @include bold-19($line-height: 1.1);
    color: $govuk-blue;

    &:hover,
    &:focus {
      color: darken($govuk-blue, 5%);
    }

    &:focus {
      outline: 3px solid $focus-colour;
    }
    margin-right: .5em;
  }
}

.show-global-bar #global-header-bar {
  display: none;
}

.global-bar {
  background-color: #E5EAF1;
  display: none;
  padding: 15px 0;
  border-top: 8px solid $govuk-blue;

  .show-global-bar & {
    display: block;
  }

  .global-bar-message-container {
    @include core-19;
    @extend %site-width-container;
    position: relative;

    @include media($max-width: 320px) {
      .dismiss {
        position: relative;
      }
    }

    @include media(tablet) {
      .dismiss {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    @include media($min-width: 320px) {
      .dismiss {
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }

  .global-bar-message {
    margin-bottom: 0;
    margin-top: 0;
    max-width: 70%;

    @include media(tablet) {
      max-width: auto;
    }

    .global-bar-title {
      display: block;
      font-weight: 700;
      margin-right: 10px;
    }
  }
}
