// stylelint-disable selector-max-id, selector-no-qualifying-type, max-nesting-depth
// These should be removed in a refactoring with the underlying HTML.
#global-header {
  $govuk-header-background: govuk-colour("black");
  $govuk-header-border-color: $govuk-brand-colour;
  $govuk-header-border-width: 10px;
  $govuk-header-text: govuk-colour("white");
  $govuk-header-link: govuk-colour("white");
  $govuk-header-link-hover: govuk-colour("white");
  $govuk-header-link-active: #1d8feb;
  $govuk-header-nav-item-border-color: #2e3133;
  position: relative;

  .header-logo {
    width: 100%;
    @include govuk-media-query($from: tablet) {
      width: auto;
    }
  }

  #logo {
    background: none;
    padding-bottom: 4px;

    &:focus {
      background-color: $govuk-focus-colour;
      border-color: $govuk-focus-colour;
      box-shadow:
        0 -2px $govuk-focus-colour,
        0 4px $govuk-focus-text-colour;
      color: $govuk-focus-text-colour;
      outline: 3px solid transparent;
      text-decoration: none;
    }
  }

  .govuk-header__logotype {
    margin-right: 0;
  }

  .govuk-header__logotype-text {
    position: relative;
    top: 4px;
  }

  .govuk-header__logotype-crown {
    fill: currentColor;
    margin-right: 1px;
    position: relative;
    top: 0;
    vertical-align: top;
  }

  .govuk-header__logotype-crown-fallback-image {
    border: 0;
    height: 32px;
    vertical-align: middle;
    width: 36px;
  }

  .govuk-header__link--homepage {
    display: inline-block;
    font-weight: bold;
    font-size: 30px;
    font-family: "nta", Arial, sans-serif;
    line-height: 1;

    &:link,
    &:visited {
      text-decoration: none;
    }

    &:hover,
    &:active {
      margin-bottom: -1px;
      border-bottom: 1px solid;
    }

    &:focus {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }

  .govuk-header__logo,
  .govuk-header__content {
    box-sizing: border-box;
  }

  .header-wrapper .header-global .site-search {
    float: right;

    @include govuk-media-query($from: tablet) {
      width: 49%;
    }
    @include govuk-media-query($from: desktop) {
      width: 33.33%;
    }

    @media screen and (max-width: 379px) {
      width: auto;
      float: none;
    }

    .content {
      margin: 0 govuk-spacing(3);
    }
  }

  &.with-proposition {
    #search {
      @include govuk-media-query($from: tablet) {
        margin-top: govuk-spacing(1);
        box-sizing: border-box;
      }
    }
  }

  .search-toggle {
    @include govuk-media-query($from: tablet) {
      display: none;
    }
    position: absolute;
    right: 0;
    top: 0;
    background-color: $govuk-brand-colour;
    background-image: image-url("search-button.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    margin: 0 govuk-spacing(3);
    overflow: hidden;
    padding: 0;
    text-indent: -5000px;
    width: 36px;
    border: 0;

    &:focus {
      border-width: 0;
      box-shadow: inset 0 0 0 4px $govuk-input-border-colour;
      outline: $govuk-focus-width solid $govuk-focus-colour;
      outline-offset: 0;
    }

    body.search & {
      display: none;
    }

    @include govuk-device-pixel-ratio {
      background-size: 52.5px 35px;
      background-position: 100% 50%;
    }

    &:hover {
      background-color: darken($govuk-brand-colour, 5%);
    }

    &.js-hidden {
      display: none;
    }
  }

  form#search {
    display: none;

    .content {
      position: relative;
    }

    &.js-visible {
      display: block;
    }

    @include govuk-media-query($from: tablet) {
      display: block;
    }
  }

  .mobile-menu-toggle {
    @include govuk-font(16);
    float: right;
    padding: 6px 0 4px;
    color: govuk-colour("white");
    background: none;
    border: 0;

    @include govuk-media-query($from: tablet) {
      display: none;
    }

    &:focus {
      @include govuk-focused-text;
    }

    &:after {
      display: inline-block;
      font-size: 8px;
      height: 8px;
      padding-left: 5px;
      vertical-align: middle;
      content: " \25BC";
    }

    &.js-visible:after {
      content: " \25B2";
    }
  }

  .header-proposition {
    a {
      &.menu {
        padding-bottom: 4px;
      }
    }
  }

  #proposition-links {
    list-style: none;

    li:last-child {
      border-bottom: 0;
      width: 100%;

      @include govuk-media-query($from: tablet) {
        width: auto;
      }
    }
  }

  #proposition-links,
  .header-proposition {
    a:focus {
      background-color: $govuk-focus-colour;
      border-color: $govuk-focus-colour;
      box-shadow:
        0 -2px $govuk-focus-colour,
        0 4px $govuk-focus-text-colour;
      color: $govuk-focus-text-colour;
      outline: 3px solid transparent;
      text-decoration: none;
    }
  }
}

#user-satisfaction-survey {
  // Hidden by default as we only want to show it to users who have JavaScript enabled.
  display: none;
  background-color: $govuk-brand-colour;
  margin-bottom: 1px;
  color: govuk-colour("white");
  @include govuk-font(16);

  &.visible {
    display: block;

    @include govuk-media-query($until: tablet) {
      .survey-close-button {
        font-size: 16px;
      }

      .survey-title {
        display: inline-block;
        font-size: 18px;
        width: 75%;
      }

      .survey-primary-link,
      .postscript-cta {
        font-size: 18px;
      }
    }
  }

  [tabindex="-1"]:focus {
    outline: none;
  }

  a {
    &:link,
    &:active,
    &:hover,
    &:visited {
      color: inherit;
    }

    &:focus {
      color: $govuk-focus-text-colour;
    }
  }

  .survey-wrapper {
    @extend %site-width-container;
    padding-top: govuk-spacing(3);
    padding-bottom: govuk-spacing(4);
    clear: both;
  }

  .survey-inner-wrapper {
    max-width: 30em;
  }

  .survey-title {
    @include govuk-font(19, $weight: bold);
    margin-bottom: .5em;
  }

  .survey-close-button {
    float: right;
    @include govuk-font(19);
  }

  .survey-primary-link {
    @include govuk-font(19);
    margin-right: .5em;
  }

  .survey-form-label {
    display: block;
    margin-bottom: .25em;
  }

  .survey-form-input {
    @include govuk-font($size: 16, $line-height: 1.1);
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 4px 4px;
    border: 2px solid govuk-colour("white");
    margin: 0; // TODO: Remove this when all applications are moved away from the 'wrapper' template
    margin-bottom: 1em;
  }

  .survey-form-description {
    @include govuk-font(14);
    margin-bottom: .5em;
  }

  .survey-form-button {
    @include govuk-font(19, $weight: bold, $line-height: 1.1);
    padding: govuk-spacing(2) govuk-spacing(3) govuk-spacing(1) govuk-spacing(3);
    margin-right: .5em;
    color: $govuk-brand-colour;
    background: govuk-colour("white");
    border: 0;
    border-bottom: solid 2px $govuk-border-colour;

    &:hover,
    &:focus {
      color: darken($govuk-brand-colour, 5%);
      background: govuk-colour("light-grey");
      cursor: pointer;
    }

    &:focus {
      outline: 3px solid $govuk-focus-colour;
    }
  }
}
