// this is a modified copy of the mixin from toolkit, which we're trying to remove our
// dependency on. Hopefully this mixin will be temporary

%site-width-container {
  max-width: 960px;
  margin: 0 15px;

  @include govuk-media-query($from: tablet) {
    margin: 0 30px;
  }

  @include govuk-media-query($and: "(min-width: #{($govuk-page-width + $govuk-gutter * 2)})") {
    margin: 0 auto;
  }
}
