// This is basically Smart Answers & Licence Finder & Finance Finder
// Additional Smart Answers specific css can be found in the smart-answers repo

// Questions
.hint {
  @include govuk-font(16);
  display: block;
}

.done-questions {
  position: relative;
}

.start-again {
  background: #ffffff;
  position: absolute;
  right: 0;
  top: -2.5em;
  height: 2.5em;
  width: 11em;

  a {
    @include govuk-font(19, $line-height: 40 / 19);
    display: block;
    text-align: center;
    text-decoration: underline;

    @include govuk-media-query($from: tablet) {
      @include govuk-font(19, $line-height: 40 / 13);
    }

    &:hover {
      text-decoration: none;
    }
  }

  @include media-down(mobile) {
    position: static;
    width: auto;
    padding: 0 1em;

    a {
      text-align: right;
    }
  }
}

.question-number {
  padding-right: .5em;
}

// stylelint-disable selector-no-qualifying-type, max-nesting-depth
.done-questions ol,
.upcoming-questions ol {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1;

  li {
    list-style: none;
    position: relative;
    padding: .75em 1.5em .75em 1em;

    @include media-down(mobile) {
      padding: .5em 1em;
    }

    h3 {
      @include govuk-font(16);
    }

    &.done {
      background: #d5ecea;
      border-bottom: solid 1px #b6d6d2;
      overflow: hidden;
      padding-right: 9.5em;

      .answer {
        @include govuk-font(16, $weight: bold);
        color: #315843;
        display: block;
        margin: 0 .5em 0 1em;

        &.multiple {
          display: block;

          ul {
            margin-top: 0;

            li {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
// stylelint-enable selector-no-qualifying-type, max-nesting-depth

.upcoming-questions ol {
  li {
    background-color: #f0e7d7;
    border-bottom: solid 1px #dac39c;
  }
}

.question .question-number {
  font-weight: normal;
}

li.done .undo { // stylelint-disable-line selector-no-qualifying-type
  position: absolute;
  top: (.75em / .9);
  right: (1.5em / .9);
  margin: 0;
  @include govuk-font(14);

  a {
    color: $text-colour;
    display: block;
  }
}

li.done .answer ul { // stylelint-disable-line selector-no-qualifying-type
  margin: .5em 0 0 -2.1em;
  padding-left: 2.1em;
}

li.done:hover .undo a { // stylelint-disable-line selector-no-qualifying-type
  color: inherit;
}

.step.current {
  background-color: #ffffff;
  margin-right: 15em;
  padding: 0 10em 1em 0;
  position: relative;

  @include media-down(tablet) {
    margin-right: 0;
    padding: 0 1em 1em;
  }
}

.next-question {
  margin: 1.5em 0 .5em;
}

// Results / outcome
.outcome {
  background-color: #ffffff;
  float: none;
  margin-right: 0;
  min-height: 480px;

  .inner {
    padding-top: 2em;
  }
}

// Errors messages
.content-block .error,
article .error {
  border: 1px solid #b01117;
  background-color: #fff3cf;
  color: #b01117;
  margin: 0 0 -.5em -.5em;
  padding: .5em;

  ul {
    margin-bottom: 0;
  }
}

.error-message {
  margin-top: 0;
  color: #b01117;
}
