#banner-notification {
  background-color: $grey-6;
  border-top: 2px solid white;

  div {
    @include core-19;
    color: #fff;
    margin: 0 auto;
    padding:0.5em 0;
    max-width: 1020px;
    overflow: hidden;

    @include ie-lte(7) {
      width: 956px;
    }
  }

  p {
    padding: 0 22% 0 (16 / 19) * 2em;
    margin: 0;
  }

  a {
    color: #fff;

    &.right {
      display: block;
      padding: 0 0 0 80%;
      margin-top: (25 / 19) * -1em;
      text-align: right;
    }
  }

  @include media-down(mobile) {
    padding: 0.5em 1em;
  }

  &.green {
    background: #28a197;
  }

  &.red {
    background: #b10e1e;
  }
}
