@import "govuk_publishing_components/govuk_frontend_support";

// static specific styles
// stylelint-disable-next-line selector-max-id
#wrapper,
.survey-wrapper,
.govuk-emergency-banner div {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.js-enabled .govuk-sticky-element--hidden {
  @include govuk-visually-hidden;
}

// govuk-frontend style reinforcing
// Needs to be redefined for old IE as govuk-frontend media queries confuse it,
// hence also the additional nesting in the body element.
body {
  .govuk-width-container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .govuk-grid-row {
    margin: 0 -15px;
    clear: both;
  }

  .govuk-grid-column-one-third {
    float: left;
    width: 33.3333%;
    padding: 0 15px;
  }

  .govuk-grid-column-two-thirds {
    float: left;
    width: 66.6666%;
    padding: 0 15px;
  }
}
