/* Global print stylesheet */

a {
  text-decoration: none;
}

// Override relative link printing to include gov.uk
a[href^="/"]:after {
  content: " (https://www.gov.uk" attr(href) ")";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h2,
h3,
h4,
p,
ul {
  orphans: 3;
  widows: 3;
}

h2,
h3,
h4 {
  page-break-after: avoid;
}

h2 {
  @include bold-19;
  padding-top: 7pt;
}

h3 {
  @include bold-16;
}

h4 {
  @include bold-14;
}

p {
  @include core-14;
}

ul,
ol {
  @include core-14;
  padding-left: 26pt;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  line-height: 1.5;
  p {
    margin: 0;
  }
}

figure {
  margin: $gutter-half 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: $gutter-half 0;

  th,
  td {
    border: 1pt solid $border-colour;
    padding: $gutter-one-third;
    text-align: left;
  }

  caption {
    @include core-19;
    margin: $gutter-half 0;
  }
}

/* hide the unnecessary page elements */
.dont-print,
#global-header #search,
#global-header .search-toggle,
#global-header .header-proposition,
#global-breadcrumb,
#global-browser-prompt,
#user-satisfaction-survey,
.print-link,
.report-a-problem-toggle,
.report-a-problem-container {
  display: none;
}
