// Large hit area
// Radio buttons & checkboxes

//scoped to label to reduce the possibility of class name clash

// stylelint-disable selector-no-qualifying-type
label.selectable {
  display: block;
  float: none;
  clear: left;
  position: relative;

  background: $panel-colour;
  border: 1px solid $panel-colour;
  padding: (govuk-spacing(4) govuk-spacing(6) govuk-spacing(3) govuk-spacing(5));
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(2);

  cursor: pointer; // Encourage clicking on block labels

  @include govuk-media-query($from: tablet) {
    float: left;
    margin-top: govuk-spacing(1);
    margin-bottom: govuk-spacing(1);
  }

  &:hover {
    border-color: $black;
  }

  // Position checkbox within label, to allow text to wrap
  input {
    position: absolute;
    top: 18px;
    left: govuk-spacing(3);
    cursor: pointer;
  }

  // Use inline, to sit block labels next to each other
  .inline & {
    clear: none;
    margin-right: govuk-spacing(3);
  }

  // Only if JavaScript is enabled
  .js-enabled & {
    // Remove focus styles from radio and checkbox inputs
    input:focus {
      outline: none;
    }

    // Add selected state to block labels
    &.selected {
      background: $white;
      border-color: $black;
    }

    // Add focus styles to block labels
    &.focused {
      outline: 3px solid $yellow;
    }
  }
}
