.webchat-banner {
  background-color: $govuk-blue;
  color: $white;
  @include core-19;
  max-height: 0;
  padding: 0 $gutter-half;
  opacity: 0;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-transition: .7s ease-out;
  -webkit-transition-property: max-height, opacity, margin-bottom, padding-top, padding-bottom;
  transition: .7s ease-out;
  transition-property: max-height, opacity, margin-bottom, padding-top, padding-bottom;
}

.webchat-banner.open {
  max-height: 200px;
  padding-top: $gutter-half;
  padding-bottom: $gutter-half;
  margin-bottom: $gutter;
  opacity: 1;
}

.webchat-banner h2:first-child {
  margin-top: 0;
}

.webchat-banner a {
  color: $white;
  @include bold-19;
}

.webchat-banner .reject {
  margin-left: 1em;
}
