<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Gov.uk Admin</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/core-admin.css" />
  </head>
  <body>
		<header class="gds-header" role="banner">
		  <div class="wrapper">

				<hgroup>
				  <h1>Gov.UK admin</h1>
				  <h2>Publisher</h2>
			  </hgroup>

				  <nav class="gds-menu" role="navigation">
    				<form>
  				    <label for="applications" title="Applications" class="visuallyhidden">Applications</label>
      				  <select name="applications">
      				    <option value="" disabled="disabled" title="Select application">Select application</option>
      				    <option value="/admin/" title="launch Publisher application">Publisher</option>
      				    <option value="http://needotron.alpha.gov.uk/" title="launch Need-o-tron application">Need-o-tron</option>
      				    <option value="http://meetingotron.alpha.gov.uk/" title="launch Meeting-o-tron application">Meeting-o-tron</option>
      				    <option value="http://team.alpha.gov.uk/" title="launch Gov.uk team wiki">Wiki</option>
      			    </select>
            </form>
  			  </nav>
			</div>
		</header><!-- gds-header -->
		<div id="wrapper">
			<h3>stuff goes here</h3>
		</div>
  </body>
</html>