<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>www.gov.uk Admin</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/core-admin.css" />
  </head>
  <body>
		<header class="gds-header" role="banner">
		  <div class="wrapper">

				<hgroup>
				  <h1>www.gov.uk admin</h1>
				  <h2>&lt;&lt; Current App Name - Fixme &gt;&gt;</h2>
			  </hgroup>

				  <nav class="gds-menu" role="navigation">
    				<form>
  				    <label for="applications" title="Applications" class="visuallyhidden">Navigate to internal applications</label>
      				  <select name="applications">
      				    <option value="" disabled="disabled" title="Select application">Select application</option>
      				    <option value="http://guides.staging.alphagov.co.uk:8080/admin/" title="launch Publisher application">Publisher</option>
      				    <option value="http://imminence.staging.alphagov.co.uk:8080/admin/" title="launch Imminence application">Imminence</option>
      				    <option value="http://needotron.alpha.gov.uk/" title="launch Need-o-tron application">Need-o-tron</option>
      				    <option value="http://meetingotron.alpha.gov.uk/" title="launch Meeting-o-tron application">Meeting-o-tron</option>
      				    <option value="http://team.alpha.gov.uk/" title="launch Gov.uk team wiki">Team Wiki</option>
      			    </select>
            </form>
  			  </nav>
			</div>
		</header><!-- gds-header -->
		<div id="wrapper">

		</div>
  </body>
</html>