<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Guides.app</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/core-admin.css" />
  </head>
  <body>
		<header id="gds-header">
		  <div class="wrapper">

			<div id="gds-logo-type" class="gds-header-part">
				<div id="gds-logo">
					<small>Gov</small>
				</div>
				<h4>Betagov.uk</h4>
				<p>Admin</p>
			</div><div id="gds-current-app" class="gds-header-part">
				<h3>Guides and Answers</h3>
			</div><nav id="gds-menu" class="gds-header-part">
				<div class="gds-menu-parent"><a href="#books" class="primary">GDS apps <div class="arrow-down"></div></a>
					<div class="gds-menu-items">
						<ol>
							<li><a href="#">Guides and Answers</a></li>
							<li><a href="#">Meet-o-tron</a></li>
							<li><a href="#">Need-o-tron</a></li>
							<li><a href="#">Wiki</a></li>
						</ol>
					</div>
				</div>
			</nav>
			</div>
		</header><!-- gds-header -->
		<div id="wrapper">
			<h3>stuff goes here</h3>
		</div>
  </body>
</html>