<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Alphagov</title>
    <link href="/stylesheets/core.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/splash.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/jquery-ui-1.8.10.custom.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <script src="/javascript/jquery-1.5.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/jquery-link-annotator.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/jquery-ui-1.8.10.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/jquery.base64.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/jquery.scrollTo-1.3.3.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/jquery.localscroll-1.2.5.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/core.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/search.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/geo.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/fonts.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/promote.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
    (function () {
        var ma = document.createElement('script');
        ma.type = 'text/javascript';
        ma.src = 'http://stats.alphagov.co.uk/?js';
        ma.async = true;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ma, s);
    })();
    </script>
  </head>
  <body>
    <div id="alpha_intro"> 
      <div class="wrapper">
        <p><span>PROTOTYPE</span> There are errors, inconsistencies and inaccuracies. <br>Do not rely on any of the information given. <a href="mailto:feedback@alphagov.co.uk">Please send us feedback</a>.</p>
        <ul>
          <li><a id="tour-launcher" href="/tour.html">Tour</a></li>
          <li><a href="/about-the-alpha.html">The project</a></li>
          <li><a href="/the-making-of.html">Making of</a></li>
          <li><a href="http://blog.alphagov.co.uk">Team Blog</a></li>
          <li><a href="http://twitter.com/#!/Alphagov" class="twitter">@alphagov</a></li>
        </ul>
      </div>
    </div>
    <div id="container">
      <div id="header">
        <div id="discover">
          <div id="logo"><a href="/"><img src="/images/gov.uk-logo.png" alt="gov.uk"></a></div>
          <div id="discover-search">
            <form action="/search">
              <input type="text" id="main_autocomplete" name="q" value="I'm looking for...">
              <input type="submit" value="Go">
              <small id="search_hint">Search questions, problems or subjects</small>
            </form>
          </div>
          <div id="global-user-location">
            <p id="location-set-message">
              Your location is set to <strong id="location-name"></strong>. <a href="#">Change location</a> (<a href="#">what is this?</a>)
            </p>
            <p id="location-unset-message">
              Location not set. <a href="#">Set it now</a> (<a href="#">why?</a>)
            </p>
          </div>
        </div><!--end discover-->
      </div><!--end header-->
      <div id="page-container">
        <article></article>
      </div><!--end page-container-->
      <div id="footer">
        <!-- <div class="wrapper">
          <div class="explore-elsewhere">
            <h4>Useful stuff</h4>
            <ul>
              <li><a href="#">Foreign &amp; Commonwealth Office</a></li>
              <li><a href="#">Foreign &amp; Commonwealth Office</a></li>
              <li><a href="#">Foreign &amp; Commonwealth Office</a></li>
              <li><a href="#">Foreign &amp; Commonwealth Office</a></li>
              <li><a href="#">Foreign &amp; Commonwealth Office</a></li>
              <li><a href="#">Foreign &amp; Commonwealth Office</a></li>
            </ul>
          </div>
          <div class="explore-elsewhere government">
            <h4>About the Government</h4>
            <p>Hello I'm in the footer</p>
          </div>
        </div> -->
      </div><!--end footer-->
    </div><!--end container-->
  </body>
</html>
