<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Gov.uk</title>
  <link href="/stylesheets/core.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="author" href="/humans.txt" />
</head>
<body>

  <header role="banner" class="group">
    <div class="inner">
      <h1>Gov.uk - The government website for UK citizens and visitors</h1>

      <nav role="navigation">
        <ul>
          <li><a href="/" title="Home">Home</a></li>
          <li><a href="#" title="For citizens">For citizens</a></li>
          <li><a href="#" title="For business">For business</a></li>
          <li><a href="#" title="For government">For government</a></li>
        </ul>
      </nav>

			<form class="site-search" action="/" method="get" role="search">
			  <fieldset>
			    <legend>Site search for Gov.uk</legend>
   				<label for="s">
 						<span>Search</span>
 						<input type="search" name="s" id="s" placeholder="Search" />
 					</label>
  				<input type="submit" value="Go" />
  			</fieldset>
			</form>
    </div> <!-- end wrapper -->
  </header><!--end header-->

  <div id="wrapper">
    <article>

    </article>
  </div><!--end page-container-->

  <footer class="group">
    <div class="inner" role="contentinfo">
      <p>&copy; 2011 Crown Copyright</p>
      <p id="reuse-license">
        Much of the information on this website is available for reuse under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>
      </p>
      <p id="cookie-declaration">This site uses cookies. We have published <a href="/cookies/">a list and further information</a>.</p>
    </div>
  </footer><!--end footer-->

</body>
</html>
