html {
	background: url('/images/application-background-business.gif');
}

#container {
  background: url(/images/page-strip-business.png) repeat-x center top;
}

.page_heading h1 {
	color: #333;
	font-family: "Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust: 0.488;
	font-weight: 600;
	font-style: normal;
	font-weight: normal;
}

ul.helpers li {
	background-color: #fff;
	color: #3E3E3E;
}

.task-step {
	border-bottom: solid 2px #ddd;
}
