html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* self-clearing floats */
.group:before, .group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.group:after { clear: both; }
/* Fix clearfix */
.group { zoom: 1; }

/*
 * Core global styles
 */

html {
	background: #F4F4F4;
}

body {
	color: #333;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 1.4em;
}
.visuallyhidden{
  display:none;
}
#wrapper {
	margin: 0 auto;
	max-width: 960px;
}
.lte-ie8 #wrapper {
	width: 960px;
}

.inner {
	margin: 0 auto;
	padding: 1em;
	position: relative;
}

section#content {
	margin: 0 auto;
	width: 100%;
}
@media only screen and (min-width:670px) {
  section#content {
    margin: 6em auto 2em;
  }
}
.lte-ie8 section#content {
  margin: 6em auto 2em;
}

ol, ul, nav ol, nav ul {
	list-style: inherit;
}

fieldset {
	border: none;
	padding: 0;
}

h2 {
  font-size: 1.35em;
  line-height: 1.18em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h3 {
  font-size: 1.2em;
  line-height: 1.11em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

/*
 * Global link styles
 */

a {
	color: #2200C1;
}

a:hover {
	color: #1D97FF;
}

a:visited {
	color: #5800AE;
}

a:active {
	color: #c11;
}

a[rel="external"] {
	background: url(/images/external-link.png) 100% 50% no-repeat;
	padding-right: 1.25em;
}

/*
 * Locate me styles
 */

.popover-mask {
  background-color: rgba(0,0,0,0.5);
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  top: 30px;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 60;
}

.popover-mask .popover {
	background: #fafafa;
  border: solid 2px #bbb;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
  margin: 4em auto 0 auto;
  padding: 0 2.5em 2em 2.5em;
  position: relative;
  min-width: 25em;
}

.popover .close {
  position: absolute;
  top: -19px;
  right: -19px;
}

.popover h2 {
	border-bottom: solid 2px #bbb;
	margin: 1em 0;
	padding-bottom: 0.5em;
}

#global-locator-box {
	max-width: 60em;
  width: 75%;
}
#global-locator-form .postcode {
	border:none;
}
#global-locator-form label,
#global-locator-form .ask_location{
	display: inline;
}


/*
 * Related box
 * this related stuff needs re-examining - might be a bit over the top
 */

.related-positioning {
	height: 0;
	left: 0;
	position: fixed;
	top: 13.75em;
	width: 100%;
}
.lte-ie8 .related-positioning {
	z-index: 50;
}

#wrapper.programme .related-positioning {
  /*	top: 12.1em;*/
}

.related-container {
	height: 0;
	margin: 0 auto;
	max-width: 960px;
	position: relative;
/*	width: 95%;*/
	z-index: 50;
}
.lte-ie8 .related-container {
	width: 100%;
}

.related {
	position: absolute;
	right: 0;
	width: 12em;
}

.related .inner {
	background: #ffffcc;
	border: 1px solid #ddd;
  -moz-border-radius: 0 0.5em 1em 0;
  -webkit-border-radius: 0 1em 1em 0;
  border-radius: 0 0.5em 0.5em 0;
	padding: 0 1em 1em 1em;
	width: auto;
}

.related h2 {
	background: url('/images/related-arrow.png') no-repeat 0 50%;
	font-size: 1em;
	font-weight: normal;
	line-height: 47px;
	top: -1px;
	margin: 0 -1em 0 -2em;
	padding-left: 2em;
	position: relative;
}
.lte-ie8 .related h2 {
	zoom: 1;
}

.related ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.related li {

}

.related li a {
	background-position: 0 20%;
	background-repeat: no-repeat;
	display: block;
	font-size: 0.85em;
	line-height: 1.25em;
	margin-bottom: 0.25em;
	padding: 0.7em 0 0.5em 2.5em;
}

.related li a[href*="#"] {
	/* grey out stub links */
	background: none;
	color: #888;
	cursor: default;
	text-decoration: none;
}

.related li.related-topic {
	border: dotted #bbb;
	border-width: 1px 0 0 0;
	list-style: none;
	margin-top: 1.25em;
	padding: 1em 0;
}

.related li.related-topic span {
	display: block;
	font-weight: bold;
}

.related li.related-topic a {
	color: inherit;
}

.related li.related-topic span.arrow {
	display: none;
}

/*
	page headers
*/

header.page-header hgroup {
	background-color: #E5E5E5;
	border-bottom: none;
	display: block;
	margin: 0 12em 0 0;
	padding: 1em 1em 1.5em 1em;
}

header.page-header hgroup h1 {
	background-repeat: no-repeat;
	color: inherit;
	font-size: 1.8em;
	line-height: 1.05em;
	padding: 0.2em 0 0.2em 2.2em;
}

header.page-header hgroup h1 span {
	display: block;
	font-size: 0.4em;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	text-shadow: none;
}

header.page-header hgroup h2 {
	color: #666;
	font-size: 1em;
	margin: 0.25em 0 0 4em;
}

/*
	============================== Stuff (mainly) used in publications =============================
*/

/* Answers */
#wrapper.answer hgroup h1 {
	background-image: url('/images/icon-answer-l.png');
}
#wrapper.answer hgroup h1 span {
	color: #1C7000;
}

/* articles */

article {
	background: #fff;
	-webkit-box-shadow: 0 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.3);
	box-shadow: 0 0px 4px rgba(0,0,0,0.3);
	float: left;
	margin-right: 12em;
	min-height: 30em;
	position: relative;
	width: 100%;
	z-index: 1;
}
.lte-ie8 article {
	float: none;
}

.article-container {
	background-color: #E5E5E5;
	margin-right: 12em;
}

.article-container article {
	margin-right: 0;
}

article .inner {
	padding: 2em 3em;
	width: auto;
}

/* Meta-data */
.meta-data {
	clear: both;
	color: #7F7F7F;
	float: left;
	font-size: 0.85em;
	margin: 1em 2em 2em 2em;
}
.lte-ie8 .meta-data {
  *float: none;
}

.meta-data ul.api-links,
.meta-data .api-links li {
	display: inline;
}

.meta-data .api-links li a {
	background-color: #bbb;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	color: #fff;
	display: inline;
	font-size: inherit;
	font-weight: bold;
	padding: 0.25em 0.5em;
	text-decoration: none;
}

.meta-data .api-links li a:active,
.meta-data .api-links li a:hover {
	background-color: #1D97FF;
	text-decoration: underline;
}

.api-links {
	list-style: none;
	margin: 0;
	padding: 0;
}
   
.print-link a, .print-link a:link, .print-link a:visited {
	background: url(/images/print.png) no-repeat left center;
	display: inline-block;
	padding-left: 22px;
}

/*
 * auto complete
 * borrowed from the alpha
 */
.hint-suggest{
  border: 1px solid #EEEEEE;
  margin:0;
  background-color:#fff;
  display: block;
  left: 0;
  padding: 0.5em;
  position: relative;
  top: -2px;
  width: 163px;
  color:#666;
  font-size:0.95em;
}

.search-loading{
  background: url(/images/ajax-loader.gif) no-repeat 4px 50% #fff;
  padding-left:25px;
}
#main_autocomplete {
	color: inherit;
}

ul.ui-menu {
	padding: 0;
}
ul.ui-widget {
	font-size: 1em;
}
ul.ui-autocomplete {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #8F8F8F;
	list-style-type:none;
	padding:0;
	margin:0;
	margin-top:1px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}
ul.ui-autocomplete li.guide a {
	background: url(/images/icon-guide-s.png) no-repeat 4px 50%;
}
ul.ui-autocomplete li.answer a {
	background: url(/images/icon-answer-s.png) no-repeat 4px 50%;
}
ul.ui-autocomplete li.smart_answer a{
	background: url(/images/icon-answer-s.png) no-repeat 4px 50%;
}
ul.ui-autocomplete li.transaction a{
	background: url(/images/icon-transaction-s.png) no-repeat 4px 50%;
}
ul.ui-autocomplete li.localtransaction a{
	background: url(/images/icon-localtransaction-s.png) no-repeat 4px 50%;
}
ul.ui-autocomplete li.programme a{
	background: url(/images/icon-programme-s.png) no-repeat 4px 50%;
}
ul.ui-autocomplete li.calendar a{
	background: url(/images/icon-calendar-24.png) no-repeat 4px 50%;
}
ul.ui-autocomplete li.fco a{
	background: url(/images/icon-localtransaction-s.png) no-repeat 4px 50%;
}
ul.ui-autocomplete li.search-site{
	background: url(/images/search.png) no-repeat 8px 50%;
}
ul.ui-autocomplete li {
	font-size: 0.75em;
}
ul.ui-autocomplete li {
	border-top: 1px solid #eee;
	list-style-type:none;
	margin:0;
/*	width:100%; */
}
ul.ui-autocomplete li.search-site{
	border-top:3px solid #dedede;
	background-color:#eee;
}
ul.ui-autocomplete.ui-menu .ui-menu-item a,
ul.ui-autocomplete .search-site a {
	padding:1em 1em 1em 2.5em;
	display:block;
}
ul.ui-autocomplete li a em {
	font-style: normal;
	font-weight: bold;
	padding: 0.125em;
}
ul.ui-menu .ui-menu-item a.ui-state-hover,
ul.ui-menu .ui-menu-item a.ui-state-active {
	margin: 0;
	background-color:#ffffcc;
}

ul.ui-autocomplete.ui-menu .ui-menu-item.search-site em {
	font-style: italic;
}
ul.ui-corner-all, ul li a.ui-corner-all {
	border-radius: 0 0 0 0;
}


/* Location in header bar */
#location-set-message.removing,
#location-unset-message.removing {
	display:none;
}

#location-set-message,
#location-unset-message{
	background: url('/images/location-pin_outline_tiny.png') no-repeat 0 50%;
	position: fixed;
/*	position: absolute;*/
/*	top: 10px;*/
	top: 0;
/*	left: 200px;*/
	left: 20%;
	display: block;
	z-index: 100000;
	line-height: 3.5em;
/*	padding: 5px 0 9px 15px;*/
	padding: 0 0 0 1.5em;
	margin: 0;
	color: #bbb;
	font-size: 0.75em;
}
.lte-ie8 #location-set-message,
.lte-ie8 #location-unset-message, {
	display: none;
}

#location-set-message a,
#location-unset-message a {
	color: #bbb;
	color: #d8d8d8;
}
#location-set-message small,
#location-unset-message small {
	font-size: inherit;
}

/*
 * Devolved content
 */

.devolved-content {
	background: none repeat scroll 0 0 #fff;
	border: solid 1px #ccc;
	margin: 1em 0;
	padding: 0 1em 1em 1em;
}

.devolved-header {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	font-size: 0.85em;
}
.devolved-header a {
	-moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
	font-size: 0.75em;
	background-color: #92AD54;
	color: #fff;
	margin-left: 0.5em;
	padding: 0.25em 0.5em;
	text-decoration: none;
}

.england .devolved-header {
	padding:0 0 0 18px;
	background: url(/images/flags.png) no-repeat scroll 0 -17px #fff;
}
.scotland .devolved-header {
	padding:0 0 0 18px;
	background: url(/images/flags.png) no-repeat scroll 0 -60px #fff;
}

.wales .devolved-header {
	padding:0 0 0 18px;
	background: url(/images/flags.png) no-repeat scroll 0 3px #fff;
}
.northern-ireland .devolved-header {
	/* don't show a flag for NI */
	padding: 0;
	background: none;
}

/*
 * Section pages
 */

#wrapper.section .popular-sections {
	background-color: #fafafa;
	border: solid 2px #bbb;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	padding: 0 1em;

}

#wrapper.section article ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#wrapper.section article ul li {
	margin: 0;
	padding: 0.25em 0;
	width: 50%;
	float: left;
}

#wrapper.section article ul li h3 {
	border-bottom: solid 1px #bbb;
	margin-right: 0.75em;
}

#wrapper.section article .a-z ul li li,
#wrapper.section article ul li li {
	width: 96%;
	display: block;
}

#wrapper.section article ul li li a,
#wrapper.section .popular-sections a {
	background-repeat: no-repeat;
	background-position: 0% 10%;
	display: block;
	padding: 0.2em 0 0.5em 1.8em;
}

/* Error messages */

.error-notification,
.error-area{
	border:2px solid #ffc946;
	background-color:#fbedcd;
	padding: 0 1em;
}
.error-area span{
	display:block;
	font-weight:bold;
	font-size:0.85em;
}

/* Feedback mechanism styles */

#mask{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99999;
	background-color: #000;
	display: none;
}
.js-enabled #popup,
.js-enabled #feedback-popup{
	display:none;
}
#popup{
	display: none;
  border: 3px solid #bbb;
	background-color: #fff;
	overflow:visible;
	clear:both;
  padding: 1em;
	position: fixed;
	left: 0;
	top: 20px;
  width: 90%;
	z-index: 999999;
}

#popup.customisation-tools{
  width:90%;
}

#popup .ask_location p{
  display:inline;
  padding:0;
}
#popup h2,
#popup h3{
	padding:0.4em 1.5em;
}

#popup form,
#popup input,
#popup select,
#popup textarea{
	display:block;
}
#popup form{
	width:92%;
	padding: 0 1.5em 1em;
}
#popup input,
#popup select,
#popup textarea{
	width:100%;
	margin-bottom:1em;
}
#popup input.button{
	width:20%;
	float:right;
}

#popup ul.personalise-options li {
  display: inline;
}

.close{
  background-color: #bbb;
  display: block;
	margin:0;
  position: absolute;
  top: 0;
  right: 0;
	padding: 0.25em 0.5em;
	color:#fff;
	text-decoration: none;
	font-size: 0.85em;
	font-weight: bold;
}

#feedback-cta{
	background-color:#fff450;
	border:3px solid #fff;
	-webkit-border-top-left-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-right:none;
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
	box-shadow: 3px 3px 4px #333;
	z-index:9999;
	opacity:0.8;
}
#feedback-cta.right{
	position: fixed;
	right: 0;
	display: none;
	bottom: 10%;
	width: 150px;
	padding: 1em;
}
#feedback-cta.left{
	position: fixed;
	left: 0;
	display: none;
	bottom: 10%;
	width: 150px;
	padding: 1em;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0.5em;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0.5em;
	border-top-left-radius: 0;
	border-top-right-radius: 0.5em;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0.5em;
	border-left:none;
	border-right:3px solid #fff;
	-moz-box-shadow: 3px 3px 4px #333;
	-webkit-box-shadow: 3px 3px 4px #333;
}
#feedback-cta.bottom{
	position: fixed;
	left: 0;
	display: none;
	bottom: 0;
	width: 100%;
	padding: 1em;
	border-left:none;
	border-right:none;
	border-radius:0;
}
#feedback-cta.bottom input,
#feedback-cta.bottom form,
#feedback-cta.bottom h2{
	display:inline;
}
#feedback-cta input{
  border:none;
  background:none;
  padding-left:40px;
  padding-bottom:10px;
}

#feedback-cta #cta-yes{
  background: url("/images/icon-agree-s.png") no-repeat scroll 1em 0px transparent;
}
#feedback-cta #cta-no{
  background: url("/images/icon-disagree-s.png") no-repeat scroll 1em 0px transparent;
}

#feedback-cta h2{
	font-size:1em;
}

#popup .vcard span{
	display:block;
}
#popup p{
	/*background: url("/images/application-info-icon-default.png") no-repeat scroll 1em 0px transparent;*/
	font-size:1em;
	font-weight:bold;
  margin: 0;
  padding:0.5em 2em;
}
#popup ul{
	margin:0 0 0 5em;
	padding:0;
	font-size:1.2em;
}
#related-popup h2{
	padding:0;
}
#feedback-mechanism{
	background-color:#EEE;
	padding:1em;
	border:1px solid #EEE;
	border-radius:0.5em;
}
#related-popup{
	padding:1em;
	margin:1em;
	border-top:1px solid #eee
}
#related-popup ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
#related-popup ul li{
	display:inline;
	padding:0;
	margin:0;
	margin-right:1em;
}

/* buttons! */

.button, .button:visited {
	background: #039 url(/images/button-overlay.png) repeat-x;
	border: 0.0625em solid #31395F;
	-moz-border-radius: 0.15em;
	-webkit-border-radius: 0.15em;
	border-radius: 0.15em;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 0.25em 0.625em 0.375em;
	text-decoration: none;
	text-shadow: 0 -0.0625em 0.0625em rgba(0,0,0,0.25);
	position: relative;
}
.button:hover {
	background-color: rgb(0,25,80);
	color: #fff;
}
.button:active {
	top: 1px;
}

.button.medium {
  font-size: 1.5em;
}

.button.big {
	font-size: 2.5em;
	font-weight: bold;
	padding: 0.65em 0.5em;
}

input[disabled="disabled"] {
	opacity: 0.5;
}

/* below fixes a bug where IE puts a nasty black border around these elements */

.lte-ie8 input[type="submit"],
.lte-ie8 input[type="reset"],
.lte-ie8 input[type="button"]
{
  filter:chroma(color=#000000);
}