
/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }






body {
  font-family: sans-serif;
  font-size: 100%;
  color: #525252;
}

/* Admin header */

.gds-header {
	background: #333 url('/images/gov.uk-crest.png') no-repeat 7% 12%;
	border-bottom: solid 1px #efefef;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25);
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
	color: #fff;
	min-height: 1.5em;
	padding: 0.3em 0;
	position: relative;
	vertical-align: top;
	width: 100%;
}

.gds-header h1,
.gds-header h2 {
	display: inline-block;
	font-size: 1.3em;
	font-weight: bold;
	margin-right: 2em;
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
}

.gds-menu {
	float: right;
	margin-top: -2.5em;
}

/* END admin header */

/* Sign on template */

#halberd {
  position: relative;
  left: -12em;
  margin-top: 15%;
  margin-left: 50%;
  padding: 1em;
  width: 22em;
  background: #C3EEC8;
}

#halberd #gds-logo-type {
	margin-bottom: 1em;
}

#halberd h1 {
	padding-top: 0.5em;
	font-size: 1.75em;
  border-top: solid 1px #333;
}

#sign-in {
  margin-top: 0.5em;
  padding: 1em 0;
}

#sign-in-link {
  margin-top: 1em;
  text-align: center;
}

#sign-in-link a {
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  background: #fff;
}

#sign-in-link a:hover, #sign-in-link a:focus {
  color: #fff;
  background: #333;
}

/* END sign on template */


/*
 * Admin-o-tron styles
 */

body {
	background-color: #efece0;
	color: #444;
}

.wrapper { /* generic wrapper for centering elements */
	margin: 0 auto;
	max-width: 960px;
}

.inner {
	margin: 0 auto;
	padding: 0.5em 1em;
	position: relative;
	width: 95%;
}
.content {
	margin: 2em auto 100px;
}

.ui-widget-content.new {
	/* new guide/answer/transaction forms */

	border: 1px solid #bbb;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
  -moz-box-shadow: 0 .5em 1em rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 .5em 1em rgba(0,0,0,0.2);
  box-shadow: 0 .5em 1em rgba(0,0,0,0.2);
}

#guide-nav .intro {
	font-weight: bold;
	margin: 0 1em;
	padding: 1.5em 0;
}

#guide-controls, .format-controls {
	background: #666;
	border-top: 1px solid #000;
	position: absolute;
	left: 0%;
	bottom: 0%;
	padding: 0 1em;
	position: fixed;
	z-index: 100;

	height: 60px;
	margin: 0 auto;
	padding-top: 1em;
	width: 100%;
	text-align: center;
}

#guide-controls .button_to, .format-controls .button_to, .format-controls p.button {
	display: inline-block;
	margin: 0 1em 1em 0;
}


/* self-clearing floats */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .group { height: 1%; } /* IE6 */
.group { min-height: 1px; } /*IE7 */


.button, input[type=submit], .formtastic input[type="submit"] {
	background: rgb(42,89,207);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
	box-shadow: 0 1px 3px rgba(0,0,0,.5);
	border: none;
	display: inline-block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  margin-right: 3px;
	margin-bottom: .5em;
  padding: 0.6em 0;
	text-indent: 0.5em;
	text-align: left;
  text-shadow: #000 0 1px 0;
	width: auto;
}

.button { margin-left: 1em; }

.button a  {
	color: #fff;
	padding: 1.3em 1.6em;
  text-decoration: none;
}

input[type=submit].update,
input[type=submit].create {
	/* green button */
	background: rgb(0,149,44);
	padding: 0.6em 1em;
}


.button_to {
	display: inline-block;
	float: none;
	margin-left: 1em;
	width: auto;
}

.button_to input[type="submit"] {
	padding: 0.6em 1em;
	text-align: center;
	width: 100%;
}

input[disabled] {
	background: gray;
	color: #eee;
	cursor: default;
}

table {
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	width: 97%;
}

	th, td {
		border: 1px solid #bbb;
		padding: 0.5em 0.75em;
	}

	td:nth-child(even) {
		text-align: right;
		width: 20%;
	}

	td a { padding: 0.5em; }


.edition {
}

.edition .buttons {
	display: inline-block;
	width: 100%;
}

.edition h3 {
	display: inline-block;
	min-width: 25%;
	padding-left: 1em;
	width: 25%;
}


.check {
	display: inline-block;
	text-align: right;
	width: 72%;

	/* temporarily commenting out diff buttons for first sprint */
	display: none;
}

.edition .history li {
	border-bottom: 1px solid #666;
	list-style: none;
}

.edition .comment:before {
	content: '\201C';
}

.edition .comment:after {
	content: '\201D';
}

.edition .history li h4 {
	font-size: 1.2em;
	font-weight: normal;
}

#parts { /* give parts tab groups a little breathing room */
	margin-bottom: 1em;
}

.part {
	background-color: #d3d1c9;
	margin: 0 auto 3px;
	padding: 0;
	width: 100%;
}

/*
 * icons for format types
 */

.formats td {
	vertical-align: middle;
}

.formats td.transaction, .formats td.answer, .formats td.guide {
  padding-left: 50px;
}

.formats td.transaction {
  background: #fff url(/images/icon-publisher-transaction.png) no-repeat 2% 50%;
}

.formats td.answer {
  background: #fff url(/images/icon-publisher-answer.png) no-repeat 2% 50%;
}

.formats td.guide {
  background: #fff url(/images/icon-publisher-guide.png) no-repeat 2% 50%;
}

.formats td form {
	/* create new edition form */
	display: inline-block;
	float: left;
}

.formats img,
.formats input {
	opacity: 0.5;
}
	.formats img:hover, .formats img:focus,
	.formats input:hover, .formats input:focus {
		opacity: 1;
	}

	.formats .disabled {
		opacity: 0.25;
		cursor: default;
	}

.formats .preview {
	position: relative;
	top: -0.15em;
}

.formats .version {
	font-size: 75%;
	margin-left: 0.5em;
}



.flash-notice {
	background-color: green;
	color: #fff;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
}

.flash-alert {
	background-color: #c00;
	color: #fff;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
}

.notification {
	background-color: #FFFBBC;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
}

.return:before {
	content: '\2190';
}
