html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }


/* self-clearing floats */
.group:before, .group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.group:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.group { zoom: 1; }

/*
 * Core global styles
 */

body {
	background: #D4D2CC;
	color: #3F3F3F;
}

#wrapper {
	margin: 0 auto;
	max-width: 960px;
	width: 95%;
}

.inner {
	margin: 0 auto;
	padding: 1em;
	position: relative;
	width: 95%;
}

ol, ul, nav ol, nav ul {
	list-style: inherit;
}

/* =============================================================================
   Links
   ========================================================================== */

a {
    color: #2200C1;
}

a:hover {
    color: #1D97FF;
}

a:visited {
    color: #5800AE;
}

a:active {
	color: #c11;
}

/*
	global header
*/

.site-search {
	position: absolute;
	right: 1em;
	top: 0.25em;
}

.site-search fieldset { border: none; }

.site-search input[type="submit"] {
	margin-left: 0.5em;
}

header[role="banner"] {
	background: #333 url('/images/gov.uk-crest.png') no-repeat -2% 12%;
	border-bottom: solid 1px #efefef;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25);
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
	color: #fff;
	min-height: 1em;
	padding: 0.3em 0;
	position: fixed;
	top: 0;
	vertical-align: top;
	width: 100%;
	z-index: 99999;
}

header[role="banner"] .inner {
	padding: 0 1em;
}

header[role="banner"] hgroup {
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	max-width: 50%;
}

header[role="banner"] hgroup h1 {
	background: url('/images/templogo.png') no-repeat 0 0;
	display: inline-block;
	font-size: 120%;
	line-height: 1.3em;
	margin-right: 1em;
	padding: 0.5em 0;
	padding-left: 2.5em;
}

header[role="banner"] a,
header[role="banner"] a:active {
	color: #fff;
	text-decoration: none;
}

	header[role="banner"] a:focus,
	header[role="banner"] a:hover {
		color: #fff;
		border-bottom: 1px solid #fff;
		padding-bottom: 0.25em;
	}

header[role="banner"] hgroup h2 {
	display: inline-block;
	font-family: Georgia, sans-serif;
	font-size: 90%;
	font-weight: normal;
	font-style: italic;
}

#wrapper hgroup {
	background: #efece0;
	border-bottom: none;
	-webkit-border-radius: 0.75em 0.75em 0 0;
	-moz-border-radius: 0.75em 0.75em 0 0;
	border-radius: 0.75em 0.75em 0 0;
	display: block;
	margin-right: 12em;
	padding: 1em;
}

#wrapper hgroup span {
	display: block;
	font-size: 0.4em;
	font-weight: normal;
	line-height: 1em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

#wrapper.answer hgroup h1,
#wrapper.guide hgroup h1,
#wrapper.transaction hgroup h1 {
	background-repeat: no-repeat;
	font-size: 1.8em;
	min-height: 2.5em;
	line-height: 1.05em;
	padding: 0.2em 0 0.2em 2.75em;
}

#wrapper.answer hgroup h1 {
	background-image: url('/images/icon-answer-80.png');
	color: #1C7000;
	margin-left: 0.65em;
	padding-left: 3.35em;
}

#wrapper.guide hgroup h1 {
	background-image: url('/images/icon-guide-80.png');
	color: #68009F;
}

#wrapper.transaction hgroup h1 {
	background-image: url('/images/icon-publisher-transaction-48.png');
}

/*
 * Locate me styles
 */

.popover-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.6);
  z-index:60;
}

.popover-mask .popover {
  background: #f6f5f1;
  border: solid 1px #D6D6D6;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
  margin: 4em auto 0 auto;
  padding: 0 2.5em 2em 2.5em;
  position: relative;
  width: 50%;
  min-width: 25em;
}

.popover .header img.logo {
  display: block;
  position: relative;
  top: -0.25em;
}

.popover .close {
  position: absolute;
  top: -19px;
  right: -19px;
}

.popover h2 {
	border-bottom: 2px solid #ddd;
	margin: 1em 0;
	padding-bottom: 0.5em;
}

#global-locator-box {
	max-width: 40em;
  width: 60%;
}

/*
	this related stuff needs re-examining - might be a bit over the top
*/

.related-positioning {
	height: 0;
	left: 0;
	position: fixed;
	width: 100%;
}

.related-container {
	height: 0;
	margin: 0 auto;
	max-width: 960px;
	position: relative;
	width: 95%;
}

.related-container-two {
	float: left;
	position: relative;
	width: 100%;
}

.related {
	position: absolute;
	right: 0;
	margin-top: 1em;
	width: 12em;
	z-index: 50;
}

.related .inner {
	background: #ffffaa;
	border: 1px solid #bbb;
	border-radius: 0 1em 1em 0;
	padding: 0 1em 1em 1em;
	width: auto;
}

.related li {
	font-size: 0.8em;
}

.related h2 {
	background: #ffa url('/images/related-arrow.png') no-repeat 0 -1px;
	border-top: solid 1px #bbb;
	font-size: 1em;
	line-height: 53px;
/*	margin-left: -52px;*/
	margin-left: -17px;
	margin-top: -1px;
/*	padding-left: 36px;*/
	position: relative;
}

.related nav {
}

.related ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.related li {
	background-position: 0 0.25em;
	background-repeat: no-repeat;
	line-height: 1.25em;
	margin-bottom: 0.75em;
	padding-bottom: 1em;
	padding-left: 2.5em;
}

.related li.answer {
	background-image: url('/images/icon-answer-24.png');
}

.related li.guide {
	background-image: url('/images/icon-guide-24.png');
	background-position: 0.25em 0.25em;
}

.related li.tool {
	background-image: url('/images/icon-tool-24-temp.png');
}

.related li.related-topic {
	background: #1576FB;
	list-style: none;
	margin-right: 16px;
	padding: 0.5em 1em 0.5em 1em;
	padding-left: 1em;
	position: relative;
}

.related li.related-topic span {
	font-style: italic;
}

.related li.related-topic a {
	color: #fff;
}

.related li.related-topic span.arrow {
  position: absolute;
  right: -16px;
  top: 50%;
  margin-top: -16px;
  width:0px;
  height:0px;
  border-bottom: 16px solid transparent;
  border-top: 16px solid transparent;
  border-left: 16px solid #1576FB;
  font-size:0px;
  line-height:0px;
  z-index: 1;
}

/* Footer - everywhere */
footer#footer{
	width:100%;
	max-width:100%;
	margin-top:20px;
}
div[role="contentinfo"] .copyright{
	width:50%
}
div[role="contentinfo"] .copyright{
	background: url("/images/templogo.png") no-repeat scroll 15px 0 transparent;
	display: inline-block;
	font-size:85%;
	padding: 0.5em 0 0.5em 2.5em;
}

div[role="contentinfo"]{
 		/*background: #333 url('/images/gov.uk-crest.png') no-repeat 105% 12%;*/
		background-color:#333;
    border-top: 1px solid #fff;
		-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.25);
		-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.25);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
    color: #999;
    min-height: 1em;
    padding: 1em 0;
    vertical-align: top;
    width: 100%;
		overflow:auto;
}
div[role="contentinfo"] p{
	padding:0;
	margin:0 4em;
}
div[role="contentinfo"] a{
	color:#999;
}
div[role="contentinfo"] ul{
	margin:0;
	padding:0;
}
div[role="contentinfo"] .depts li{
	display:inline;
	background-color:#eee;
}
div[role="contentinfo"] .depts{

}
/* Footer - homepage */
.subsection{
	float:left;
	display:block;
}
#popular{
	background-color:green;
}
#popular ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

	/* popular links */	
	.popular{
		width:70%;
	}
	.popular ul{
		max-height:200px;
		width:570px;
		border-right:1px solid blue;
		overflow:auto;
	}
	.popular li{
		padding:10px 0;
		display:inline;
		float:left;
		width:45%;
	}
	

	/* sections of interest */
	.sections li{
		background-color:#fff;
		border:1px solid red;
		padding:10px;
		margin:0.5em 0;
	}

	.sections{
		width:30%;
	}
	
