/* Print stylesheets for stuff defined in core.css */

html {
  background: #fff;
}

/* normal page elements that we don't want to print out */
body header#global-header,
body footer,
body #global-user-location,
body .related-positioning,
body #wrapper.wrapper hgroup h1,
body .actions, body .meta-data,
body nav{
	display:none;
}

body #wrapper header.page-header hgroup h1 {
  border-bottom: solid 1px #333;
  padding-bottom: 0.25em;
}

body #wrapper header.page-header hgroup h1 span {
  color: #333;
}

a,
a:link,
a:visited {
  color: #333;
}
a:link:after,
a:visited:after {
  content:"[" attr(href) "]";
  text-decoration: none;
  margin: 0.5em;
  font-size: 0.85em;
}
a[href='#']:link:after,
a[href='#']:visited:after {
  content: none;
  text-decoration: none;
  margin: 1em;
  font-size: 0.85em;
}
a[rel="external"] {
  margin-right: 0.25em;
	padding-right: 1em;
}

/* make all the main containers as wide as possible */
div.article-container {
    background: none transparent;
    border-top: none;
    margin: 0;
		width:100%;
		padding:0;
}
div#wrapper hgroup span,
div#wrapper hgroup,
div#wrapper h1,
div.article-container article{
	border:none;
	box-shadow: none;
	background:none;
	margin:0;
	padding:0;
}
body div#wrapper,
body article,
body section{
	margin:0;
	padding:0;
	width:100%;
	float:none;
}

/*
  text reformatting
*/

body #wrapper article .summary p:before,
body #wrapper article .summary h2:before {
  content: url(/images/summary-arrow.png);
  padding: 0;
}

article .summary p, article .summary h2 {
	margin: 0 0.75em 1.25em 0;
	min-height: 1.75em;
	padding: 0.25em 0 0 1.5em;
}