/* @override 
	http://local.alphagov.co.uk:3000/stylesheets/core.css
	http://local.alphagov.co.uk:9292/stylesheets/core.css
*/

* {
  margin: 0;
  padding: 0;
}

html {
  min-width: 960px;
  background: url(/images/application-background.gif) #f7f7f7;
}

body {
  font-family: Arial, sans-serif;
  font-size: 100%;
  color: #333;
	text-rendering: optimizeLegibility;
}

img {
  border: none;
}

a {
  color: #0092F3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #336699;
}
a:active {
  color: #CC0000;
}

.clear {
  clear: both;
}

input[type="submit"]:hover {
  cursor: pointer;
}

/* Accessibility */
.make-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

p.error-response {
  color: red;
  font-size: small;
  padding-bottom: 0.25em;
}
div.app-error {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;
  border: solid 2px #FF1000;
  border-style: solid none;
  background: #FFEBEB;
  margin: 0 auto;
  padding: 1em 0;
}

div.app-error p {
  margin: 0 auto;
  width: 45em;
  padding: 0;
}
div#global-app-error p + p {
  margin-top: 0.5em;
}
/*div.app-error p {
  margin: 0.5em 0;
}*/


/* layout */

#container {
  float: left;
  width: 100%;
  background: url(/images/page-strip-homepage.png) repeat-x center top;
}

#header {
  position: relative;
  float: left;
  width: 100%;
  height: 8.125em;
  margin-bottom: 2em;
  background: url(/images/header-background.png) repeat-x 0 10px;
}

#page-container {
  margin: 0 3%;
}

#page {
  margin: 0 auto;
  clear: both;
  max-width: 1050px;
  min-height: 28em;
}

#footer {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 2em;
  border-top: solid 1px rgba(0,0,0,0.025);
  background: #EDEDED;
  background: rgba(0,0,0,0.05);
  background: url(/images/footer-background.png) repeat-y top 52%;
}

.wrapper {
  margin: 0 auto;
  width: 94%;
  max-width: 1050px;
}

/*
  basic columns
*/

.text-content .section {
  float: left;
  margin-top: 1em;
  clear: left;
  width: 100%;
}

.text-content .full-width {
  float: left;
  margin-bottom: 1em;
  width: 100%;
}

.text-content .one-third-col {
  float: left;
  margin-bottom: 1em;
  width: 31%;
}
.text-content .one-third-col.left {
  margin-right: 1.75%;
}
.text-content .one-third-col.right {
  margin-left: 1.75%;
}

.text-content .two-third-col {
  float: left;
  margin-bottom: 1em;
  width: 65.5%;
}
.text-content .two-third-col.left {
  margin-right: 1.75%;
}
.text-content .two-third-col.right {
  margin-left: 1.75%;
}

.text-content .one-quarter-col {
  float: left;
  margin-bottom: 1em;
  width: 22.4%;
}

.text-content .right {
  float: right;
  clear: right;
}

/*
  header
*/

#discover {
  position: relative;
  margin: 0 auto;
  width: 94%;
  height: 100%;
  max-width: 1050px;
  clear: both;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index:30;
}

#get-help {
  position: absolute;
  top: 0.85em;
  right: 0;
  padding: 0.25em;
  display: block;
  width: 4.5em;
  z-index: 1;
  font-size: 0.88em;
  text-align: center;
  color: #D37F3C;
  background: #F7F7F7;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

#discover-search {
  position: relative;
  float: right;
  width: 100%;
}

#discover-search form {
  margin-top: 3.4375em;
}

#discover-search form input {
  font-family: inherit;
  font-size: 1.38em;
}

#discover-search input[type="text"] {
  padding: 0 0.31em;
  margin-left: 26%;
  width: 64%;
  line-height: 1.65em;
  height: 1.65em;
  border: 1px solid #8F8F8F;
  background: url(/images/search-box-inner-shadow.png) no-repeat 0 0;
}

#discover-search input[type="submit"] {
  float: right;
  padding: 0 0.91em;
  line-height: 1.73em;
  height: 1.73em;
  text-shadow: 0 2px 0 #fff;
  border: solid 1px #CCCCCC;
  border-bottom: solid 1px #999999;
  background: url(/images/search-button-background.png) repeat-x 0 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

/* Geo */
#global-user-location {
  position: absolute;
  left: 0;
  height: 45px;
  top: 120px;
  padding-top:3px;
}
#global-user-location span.pin img {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  left: -2.5em;
  top: -45px;
  -webkit-transform: scale(0.7);
  -moz-transform:    scale(0.7);
  -o-transform:      scale(0.7);
  -ms-transform:     scale(0.7);
  transform:         scale(0.7);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition:    all 0.6s ease-in-out;
  -o-transition:      all 0.6s ease-in-out;
  -ms-transition:     all 0.6s ease-in-out;
  transition:         all 0.6s ease-in-out;
}
#global-user-location.changing span.pin img {
  -webkit-transform: scale(1);
  -moz-transform:    scale(1);
  -o-transform:      scale(1);
  -ms-transform:     scale(1);
  transform:         scale(1);
}
#global-user-location.set-intro p {
  position: relative;
}
#global-user-location p span.text-highlight {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  background: #ffffaa;
  z-index: -150;
/* text-shadow:0 0 5px #6be619;*/
/*  background: #ffffaa;*/
}

#location-set-message {
  display:none;
}

#global-user-location p {
	color: #393939;
	font-size: 0.75em;
	left: 2.5em;
	position: relative;
	top: 15px;
}


/*
  common elements
*/

ul.navigation {
  list-style: none;
}

ul.navigation li {
  margin: 0 0.5em;
  display: inline;
}

ul.navigation li a {
  font-size: 0.75em;
}

/*
  forms
*/

fieldset {
  border: none;
}

form.app-form fieldset {
  margin-bottom: 1em;
}

form.app-form fieldset input, form.app-form fieldset select {
  font-family: inherit;
  font-size: inherit;
}

form.app-form fieldset input[type="text"] {
  padding: 0.25em;
}

form.app-form fieldset input[type="radio"] {
  margin-right: 0.5em;
}

form.app-form fieldset input[type="submit"],  form.app-form fieldset input[type="button"], form.app-form a.form-button {
  border: solid 2px #3e79b7;
  background: url(/images/button.png);
  color: #fff;
  text-shadow: 1px 1px 0px #254e74;
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size-adjust:0.488;
  font-weight:600;
  font-style:normal;
  font-size: 1em;
  font-weight: normal;
  padding: 0.25em 0.7em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

form.app-form fieldset ul {
  list-style: none;
}

form.app-form fieldset ul li {
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

form.app-form fieldset ul li label {
  margin-right: 0.5em;
}

form.app-form fieldset ul li label, form.app-form fieldset ul li input {
  line-height: 100%;
  vertical-align: middle;
}

form.app-form li.inline-elements li, form.app-form li.inline-elements p {
  display: inline-block;
  margin-right: 2em;
  line-height: 100%;
  vertical-align: middle;
}

form.app-form .strong-label {
  font-weight: bold;
}

h2.legend {
  font-size: 1.63em;
  line-height: 1.15em;
  margin-top: 0.69em;
  margin-bottom: 0.46em;
}

h3.legend {
  font-size: 1.38em;
  line-height: 1.18em;
  margin-top: 0.82em;
  margin-bottom: 0.55em;
}

/* Popular and related */
#related-items {
  clear: both;
/*  background: #FFC3F9;
  border: solid 1px #FA5DFF;
  padding: 1em;*/
  margin: 2em 0;
}

#related-items h3 {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size-adjust:0.488;
  font-weight:600;
  font-style:normal;
  font-size: 1.25em;
  font-weight: normal;
  border-bottom: solid 2px #cacac9;
}

#related-items ul {
  padding-left: 1em;
}

#related-items ul li {
  list-style-image: url(/images/bullet-point-default.png);
  margin-bottom: 0.5em;
}
  
/* jquery annotator */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}

#jquery-link-annotator {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
/*  line-height: 0;*/
}

#jquery-link-annotator h3, #jquery-link-annotator p {
    margin:18px;
}

#jquery-link-annotator-container {
	position: relative;
	background-color: #fff;
	width: 80%;
	height: 250px;
	margin: 0 auto;
	border:solid 20px #808080;	
	padding:20px;
}

.annotate-description {
    display:none;
}

/* Infoboxes */
.infobox {background:#f8f8f8 url(/images/infobox-border.png) repeat-x top left;
    padding:1em 15px; color:#939393; margin-bottom:1em;}
.infobox img {border:solid 1px #565040}

.infobox.alt {background:#fff url(/images/infobox-border.png) repeat-x top left;
    padding:1em 0; color:#939393;}

/* Download lists */
ul.downloads {padding-left:0; margin-left:0;}
ul.downloads li {list-style-type:none;padding-left:25px; margin-left:0; background:url(/images/download.png) 0 4px no-repeat;}

/* alpha intro */

#alpha_intro {
  float: left;
  width: 100%;
	position: relative;
  padding: 0.42em 0;
	background: url(/images/alpha-background.png);
}

#alpha_intro .wrapper {
  font-size: 0.8em;
}

#alpha_intro p {
  float: left;
  padding: 0.5em 0.6em;
	color: #393939;
  color: rgba(57,57,57,0.75);
	text-align: left;
	width: 30em;
	line-height: 1.2em;
	background: #fafadf;
}

#alpha_intro span {
	color: #f00;
	font-family: "Proxima Nova Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size-adjust: 0.488;
  font-weight: 600;
  font-style: bold;
}

#alpha_intro a {
	color: #369;
}

#alpha_intro ul {
	float: right;
	position: relative;
  padding: 0.5em 0 0.6em 0;
	min-width: 36em;
	text-align: right;
  background-color: #fafadf
}

#alpha_intro li {
  float: left;
  list-style: none;
  padding: 0 0.65em;
  border-right: solid 1px #f0f0f0;
  border-left: solid 1px #fff;
}

#alpha_intro li:first-child {
  border-left: none;
}

#alpha_intro li:last-child {
  margin-top: -0.1em;
	padding-top: 0.1em;
	padding-left: 2.3em;
	border-right: none;
	background: url(../images/welcome/twitter.png) no-repeat 0.6em 50% #fafadf;
}

#alpha_intro li a {
	color: #369;
	opacity: 0.75;
}


/* GROUP: Task components */
#task-name {
  padding-right: 35%;
  border-bottom: 2px solid #333;
/*  margin-bottom: 2em; experimenting with getting rid of this */
}
#task-name figure {
  display: table-cell;
  vertical-align: bottom;
  height: 10em;
  padding-bottom: 1em;
}
#task-name h1 {
/*  margin-bottom: 1em;*/
}
#task-name h2 {
/*  margin-top: -1em;*/
}

div.task {
  float:  left;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 65.5%;
  margin-right: 1.75%;
}

div.task.article-text {
  margin-top: 0;
}

.task-intro {
  padding-bottom: 0.6em;
  margin-bottom:1em;
  border-bottom: solid 2px #F0EDEB;
}

div.task.overview, div.decision-answers {
  float: right;
  width: 31%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

div.task.overview ul li {
  list-style-image: none;
}

div.task-guidance {
  margin: 2em 0;
  padding: 1em;
  background: #fff;
  border: 1px solid #BAAA91; /* this colour is actually the colour originally used in passports app, there is no default */
}

div.task-guidance h4 {
  margin-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size-adjust:0.488;
  font-weight:600;
  font-style:normal;
  font-size: 1.25em;
  font-weight: normal;
  color: #6B1210; /* this colour is actually the colour originally used in passports app, there is no default */
}

div.task-guidance ul {
  padding-left: 1.5em
}

div.task.overview div.task-guidance ul li {
  margin-bottom: 0.5em;
  list-style-image: url(/images/bullet-point-default.png)
}

div.task.overview div.task-guidance p {
  margin-bottom: 0.5em;
}

.task-guidance h5 {
	color: #000;
	font-size: 1em;
	margin: 1em auto;
	text-align: center;
}

.task-guidance p.definition {
	color: #75ACA8;
	margin-bottom: 0;
}

.task-guidance a {
	color: #336699;
}

div.task fieldset {
  clear: both;
  position: relative;
}

/* Task form elements */

span.input-box {
  display: block;
  float: left;
  padding: 0.5em 1em;
  margin: 0 1em 0 0;
  background: #fff;
  border: 1px solid #e5e0de;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  border-radius: 10px; 
}

span.input-box input[type="radio"] {
  margin-right: 0.5em;
}

span.input-box label {
  font-weight: bold;
}
  
  /* GROUP: toggle-buttons */
  div.task fieldset ul {
    padding: 0;
  }
  li.toggle-button {
    float: left;
    display: block;
    padding: 0.5em 1em 0.5em 3.75em;
    margin: 0 1em 0 0;
    border: 1px solid #e5e0de;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px; 
    background-repeat: no-repeat;
    background-color: #fff;
  }
  li.toggle-others {
    padding: 0;
  }
  li.toggle-others p {
    line-height: 1.5em;
    padding: 0.5em 1em 0.5em 2.5em;
    background: url(/images/option-down-arrow.png) 1em center no-repeat;
    margin: 0;
    cursor: pointer;
  }
  li.toggle-others.selected p {
    padding-left: 3.75em;
  }
  li.toggle-button input {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
  }
  div.task fieldset ul li.toggle-button label {
    margin: 0;
    padding: 0;
  }
  div.task fieldset ul li.toggle-button-single.selected, div.task fieldset ul li.toggle-button-single.selected:hover, div.task fieldset ul li.toggle-button-single.selected label:hover, div.task fieldset ul li.toggle-others.selected p, div.task fieldset ul li.toggle-others li.selected {
      color: #FF3300;
  }
  div.task fieldset ul li.toggle-button-single:hover, div.task fieldset ul li.toggle-button-single label:hover {
      color: #336699;
      cursor: pointer;
  }
  li.toggle-button ul.other-options-data {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
  }
  li.toggle-others ul.other-options-ui {
    margin: 0;
    display: none;
  }
  li.toggle-others ul.other-options-ui li {
    margin:0;
    padding: 0.5em 1em 0.5em 3.75em;
    border-top: 1px solid #e5e0de;
    background-repeat: no-repeat;
  }
  li.toggle-others ul.other-options-ui li:hover, li.toggle-others ul.other-options-ui li label:hover {
/*    background-color: rgba(0,0,255,0.1);
*/    color: #336699;
      cursor: pointer;
  }
  div.task fieldset ul.other-options-ui li.selected { 
    display: none; 
  }

/* Helpers */
ul.helpers {
  padding: 0;
  margin-bottom: 1em;
  list-style-type: none;
  text-shadow: 0 1px 0px rgba(255,255,255,0.6);
}

ul.helpers li {
  padding: 1.25em 7em 1.25em 1em;
  margin-bottom: 2px;
  color: #706e6e; /* this colour is actually the colour originally used in passports app, there is no default */
  background-color: #e5e0de; /* this colour is actually the colour originally used in passports app, there is no default */
  background-position: 87% center;
  background-repeat: no-repeat;
}
ul.helpers li.active, ul.helpers li.active h3 a {
  color: #fff;
}

ul.helpers li#helper-steps-in-page {
  background-image: url(/images/helper-steps-in-page-icon.png);
}
ul.helpers li#helper-multiple-pages {
  background-image: url(/images/helper-steps-icon.png);
}
ul.helpers li#helper-time {
  background-image: url(/images/helper-time-icon.png);
}
ul.helpers li#helper-offline-steps {
  background-image: url(/images/helper-offline-icon.png);
}

/*
  decision tree stuff
*/

.decision-question .article-text.guides-introduction {
  margin-bottom: 0;
  padding-bottom: 1em;
  border-bottom: solid 2px #333;
}

form.decision-question fieldset input[type="submit"] {
  padding: 0;
  background: none;
  border: none;
  text-shadow: none;
  color: #0092F3;
  font-family: inherit;
}
form.decision-question fieldset input[type="submit"]:hover {
  text-decoration: underline;
}

.decision-answers {
  padding-top: 2em;
}

.decision-answers .input-box {
  margin: 0;
  margin-bottom: 1em;
  float: none;
}

.decision-answers .input-box input {
  float: left;
}

.decision-answers .input-box label {
  display: block;
  width: 100%;
}

.decision-navigation {
  float: left;
  margin-top: 1em;
  padding-top: 1.5em;
  width: 100%;
  border-top: 2px solid #333;
}

.decision-outcome {
  text-align: center;
}

.decision-outcome.article-text h2 {
  font-size: 3em;
}

/*
  application notices
*/

.application-notice {
  display: inline-block;
  margin: 1em 0;
  padding: 0.69em 1em 0.69em 3em;
  background-color: #F7F7F7;
  background-position: 0.6em 0.6em;
  background-repeat: no-repeat;
  background-image: url(/images/application-notice-icon-default.png);
  border: solid 1px #999;
  -webkit-border-radius: 1.3em;
  -moz-border-radius: 1.3em;
  border-radius: 1.3em;
}

.application-notice p {
  font-size: 0.88em;
  line-height: 1.43em;
  font-weight: bold;
}
.application-notice p:last-child {
  margin-bottom: 0;
}

.application-notice.passports {
  background-image: url(/images/application-notice-icon-passports.png);
  background-color: #F6F4F0;
  border-color: #BCA990;
}

  /* Punchcard */
  .indexcard {
    border: solid 1px #e5e0de;
    background: #fff;
  }
  .indexcard .indexcard_heading {
    border-bottom: solid 2px #ffcccc;
    padding: 2em 1.5em 1em 1.5em;
    background: url(/images/indexcard.png) center 0 no-repeat; 
    position: relative; 
    top: -1px;
  }
  .indexcard .indexcard_body {
    padding: 1.5em;
  }
  
/*
  Postal address enevelope
*/

.postal-address {
  padding: 3em 7em 3em 6em;
  width: 12em;
  min-height: 4em;
  background: url(/images/stamp.png) 21em 1em no-repeat #fff;
  border: solid 1px #D3D3D3;
}

.postal-address p {
  font-size: 0.85em;
}

  /*  Page heading */
.page_heading {
  position: relative;
  border-bottom: solid 2px #3e3e3e;
}
.page_heading h1 {
  font-size: 3.5em;
  line-height: 1.15em;
}
.page_heading h2 {
  font-size: 2em;
}
.page_heading h1, .page_heading h2 {
  font-family: "Clarendon FS Medium", Georgia, 'Times New Roman', Times, serif; 
  font-size-adjust: 0.46; 
  font-weight: normal; 
  font-style: normal;
  text-shadow: 0 2px 0 #fff;
}

.page_heading img {
  position: absolute;
  bottom: 0;
  right: 1%;
}
  
/* Maps */
.map_small {border:solid 1px #747451;width:220px; height:200px;}

/* Phone number */
a.phone_number, a.phone_number:hover, a.phone_number:visited, a.phone_number:active { 
  color: #404040;
  font-size: 2em;
  background: url(/images/phone.png) center left no-repeat;
  padding-left: 1em;
  text-decoration: none;
  font-family: "Alternate Gothic No.3", 'Arial Narrow', Futura, sans-serif;
  font-size-adjust: 0.5;
  font-weight: bold;
  font-style: normal;
}

/*
  Information box
*/

.additional-information {
  padding: 0.25em 1em 0.25em 3em;
  background: url(/images/info-icon.png) 0.75em 0.75em no-repeat #fff;
  border: solid 1px #E7E0DE;
}

.additional-information p {
  margin: 0.75em 0;
  font-size: 0.85em;
}

/* Ask Location */
div.ask_location, div.finding_location, div.found_location {
  background-color: #fafafa;
  background-repeat:no-repeat;
  background-image:url(/images/location-pin_outline-on-white_stacked_small.png); 
  background-position:0.85em 12px;
  padding: 0.75em 1.25em 0.75em 2.75em; 
  position: relative; 
  float: left;
  border: solid 1px #e5e0de;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  border-radius: 10px; 
}
div.ask_location, div.finding_location {
/*  width: 27.25em;*/
}
div.ask_location.set div {
  background-position: 15px -115px;
}
div.ask_location.set div strong {
  color: #ff3300;
}
div.ask_location.set p {
  padding-top: 0.3em;
}
div.ask_location.set p a {
  color: #6c6c6c;
  padding-left: 17px; 
  font-size: 0.8em;
}
div.ask_location.set div p {
  padding-top: 0;
}
div.ask_location input[type='text'] {
  padding: 5px;
}
div.ask_location input[type='submit'] {
  margin-left: 0.75em;
}
div.ask_location p.locate-me {
  clear: left;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-size: 0.85em;
}
div.finding_location {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
div.finding_location p {
  padding-left: 1.5em;
  background: url(/images/loading-spinner.gif) 0 center no-repeat;
}
div.found_location {
  background-position:0.85em -124px;
}
div.found_location h3 {
  margin: 8px 0 4px 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  color: black;
}
div.found_location p {
  margin: 0 0 6px 0;
}
div.found_location a {
  font-size: 0.85em;
}

/* END GROUP: Task components */

/* Autocomplete */

#main_autocomplete {
  color: inherit;
}

ul.ui-menu {
  padding: 0;
}

ul.ui-widget {
  font-size: 1em;
}

ul.ui-autocomplete {
  font-family: Arial, sans-serif;
  border: solid 1px #8F8F8F;
  background: #fff;
}

ul.ui-autocomplete li, #search_hint {
  padding:0.5em 0.75em 0 0;
  margin:0 0 0 26%;
  width: 64%;
  font-size:0.75em;
}

ul.ui-autocomplete li {
  border-top: solid 1px #DBDAD9;
}

ul.ui-autocomplete.ui-menu .ui-menu-item a {
  padding: 0.625em;
  font-size: 1.25em;
  line-height: 1em;
  text-shadow: 0 2px 0 #ffffff;
}

ul.ui-autocomplete li a em {
  padding: 0.125em;
  background-color: #FFE9A5;
  font-style: normal;
  font-weight: bold;
}

ul.ui-menu .ui-menu-item a.ui-state-hover, ul.ui-menu .ui-menu-item a.ui-state-active {
  margin: 0;
}

ul.ui-autocomplete li a.ui-state-hover {
  background-color: #E5FFFF;
  border: none;
  color: inherit;
  background-image: none;
  cursor: pointer;
}

ul.ui-autocomplete.ui-menu .ui-menu-item.search-site a {
  padding-left: 2.25em;
  color: #848585;
  background-image: url(/images/search-site-magnifying-glass.png);
  background-repeat: no-repeat;
  background-position: 0.85em 52%;
}

ul.ui-autocomplete.ui-menu .ui-menu-item.search-site em {
  font-style: italic;
}

ul.ui-corner-all, ul li a.ui-corner-all {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.hidden {
  display: none;
}

/*
  stuff used for the articles app
*/

.article-heading h1 {
  font-size: 2em;
}

.article-heading h1 span {
  display: block;
  font-size: 1.67em;
  line-height: 1.1em;
}

p.action {
	margin: 2em auto;
	text-align: center;
}

a.action-button {
  border: solid 2px #3e79b7;
  border-bottom: solid 3px #3e79b7;
  border-right: solid 3px #3e79b7;
  background: url(/images/button.png);
  color: #fff;
  text-shadow: 1px 1px 0px #254e74;
	text-decoration: none;
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size-adjust:0.488;
  font-weight:600;
  font-style:normal;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1.25em;
  padding: 0.25em 0.7em;
	text-align: center;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.video_version_message {
  float: left;
  clear: both;
  margin-bottom: 2em;
  padding: 1em 0;
  width: 100%;
  border-bottom: solid 2px #E4E4E4;
}

.video_version_message a {
  float: right;
}

.fake_video {
  padding: 1.5em;
  background: #EEEFEF;
  font-size: 0.88em;
  color: #808080;
  margin-bottom: 1em;
}

.paginated {
	border-bottom: solid 2px #E4E4E4;
  margin-bottom: 1em;
	padding-bottom: 0.25em;
	position: relative;
	height: 2em;
}

.paginated.bottom {
	padding: 0.5em 0 0.75em 0;
	border-top: solid 2px #E4E4E4;
}
.paginated p {
	float: left;
	position: absolute;
	top: 0;
	margin: 0;
}
.paginated.bottom p {
  padding-top: 1em;
}

.paginated p.paginated-pages { 
	color: #9B9B9B;
	display: inline-block;
	text-align: center;
  width: 60%;
  margin: 0 20%;
}

.paginated p.paginated-next { 
	right: 0px;
}

.paginated a {
	font-size: 0.75em;
}

.article-text.guides-introduction {
  margin-bottom: 2em;
  border-bottom: solid 2px #E4E4E4;
}

p.guides-question {
	background: url(/images/guides-question.png) no-repeat 0 0.25em;
	text-indent: 1.75em;
}

ol.helpers {
	list-style: none;
	margin: 0;
}

ol.helpers li {
	background-color: #EDEDED;
	font-size: 0.933em;
	margin: 0;
	margin-bottom: 2px;
	position: relative;
}

ol.helpers li.active {
  color: #fff;
	background-color: #75ACA8;
}

ol.helpers li h3 {
  font-size: 1.13em;
  line-height: 1.11em;
  margin-top: 0;
  margin-bottom: 0.67em;
}

ol.helpers li a {
  display: block;
	padding: 1em 1em 1em 3em;
  color: inherit;
	text-decoration: none;
}

ol.helpers li a:hover {
  background: #D8D8D8;
}

ol.helpers li.active a:hover {
  background-color: inherit;
	cursor: default;
}

ol.helpers li p.step-label {
	display: block;
	background: url(/images/guides-helpers-numbers-bg.png) no-repeat;
	color: #fff;
	height: 24px;
	margin-left: 0;
	position: absolute;
	left: 0.75em;
	top: 0.75em;
	width: 24px;
}

ol.helpers li.active p.step-label, ol.helpers li a:hover p.step-label {
	background: url(/images/guides-helpers-numbers-bg-active.png) no-repeat;
	color: #333;
}

ol.helpers li p.step-label span.step-number {
	display: block;
  font-family: "Clarendon FS Medium", Georgia, 'Times New Roman', Times, serif;
	font-size-adjust: 0.46;
	line-height: 24px;
	text-align: center;
}

ol.helpers li a > p {
  line-height: 1.5em;
}

ol.helpers li ul {
	margin: 0 0 1em 1.4em;
	padding: 0;
}

ol.helpers li li {
	border-bottom: none;
	margin: 0 1.66em;
	padding: 0;
}

/*
  body text styles used in articles, guides, answers, transactions
*/

.task-step, .answer-step {
  position: relative;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  margin-left: 4em;
}
.task-step {
  padding-bottom: 1.5em;
  border-bottom: solid 2px #F0EDEB;
}

.task-step p.step-label, .answer-step p.step-label {
  margin: 0;
  position: absolute;
  top: 0;
  left: -4em;
}

.task-step p.step-label .step-number, .answer-step p.step-label .step-number {
  display: block;
  width: 42px;
  line-height: 42px;
  font-size: 2em;
  font-family: "Clarendon FS Medium", Georgia, 'Times New Roman', Times, serif; 
  font-size-adjust: 0.46; 
  font-weight: normal; 
  font-style: normal;
  color: #fff;
  text-align: center;
  background: url(/images/step-number-background-default.png) no-repeat;
}

.task-step p.step-label .steps-total, .answer-step p.step-label .steps-total {
  display: block;
  font-size: 0.75em;
  text-align: center;
}

.task-step h3.step-instruction {
  padding: 0.5em 0;
}

.task-step p.step-instruction {
  padding: 0.75em 0;
  margin-bottom: 0;
}

.task-step .step-expectation {
  padding: 1em;
  background: #F0EDEB;
  color:#87827f;
  font-size:0.8em;
}

/*
  text styles for articles, used in e.g. guides and answers apps. It's kind of like typography innit.
*/

.article-text h2 {
  font-size: 1.63em;
  line-height: 1.15em;
  margin-top: 0.69em;
  margin-bottom: 0.46em;
}

.article-text h3 {
  font-size: 1.38em;
  line-height: 1.18em;
  margin-top: 0.82em;
  margin-bottom: 0.55em;
}

.article-text h4 {
  font-size: 1.13em;
  line-height: 1.11em;
  margin-top: 1em;
  margin-bottom: 0.67em;
}

.article-text p, .article-text ul, .article-text ol {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0.75em 0;
}

.article-text p.large-text {
  font-size: 1.63em;
  line-height: 1.15em;
  margin: 0.46em 0;
}

.article-text p.small-text {
  font-size: 0.75em;
  line-height: 1.5em;
  margin: 1em 0;
}

.article-text ul, .article-text ol {
  padding-left: 1.5em;
}

.article-text ul {
  list-style-image: url(/images/bullet-point-default.png)
}

.article-text .application-notice p {
  font-size: 0.88em;
}

.article-text table {
  margin: 0em 0;
  margin-left: -0.38em;
  padding: 0;
  width: 80%;
  border-collapse: separate;
  border-spacing: 0.38em;
}

.article-text th, .article-text td {
  vertical-align: top;
  line-height: 1em;
}

.article-text th {
  padding: 0.75em 1em;
}

.article-text td {
  padding: 0.69em 1em 0.69em 1em;
}

.article-text th {
  text-align: left;
  background: rgba(62,62,62,0.07);
}

.article-text td {
  background: #fff;
  border: solid 1px #E9E8E7;
}

.article-text table ul {
  padding-left: 0.75em;
  margin: 0;
  font-weight: bold;
}

.article-text table ul li:last-child {
  margin-bottom: 0;
}

.article-text dl {
  margin-top: 1.5em;
  margin-bottom: 1.88em;
}

.article-text dt {
  margin-bottom: 0.25em;
  font-size: 1.25em;
  font-weight: bold;
}

.article-text dd {
  margin-bottom: 0.75em;
}

.article-text .advisory {
  padding: 0 4.5em;
  text-align: center;
  font-size: 2em;
  line-height: 1.45em;
  background: url(/images/answers-advisory-highlight.png) center top repeat-y;
}

.article-text .help-notice, .article-text .info-notice {

}

.article-text .help-notice p, .article-text .info-notice p {
  margin-top: 0;
}

.article-text .help-notice {

}

.article-text .info-notice {
  background-image: url(/images/application-info-icon-default.png);
}

/*
  search
*/

#search-head {
  padding: 2em 0;
}

#search-head label#search-results-label {
  font-family: "Clarendon FS Medium", Georgia, 'Times New Roman', Times, serif; 
  font-size-adjust: 0.46; 
  font-weight: normal; 
  font-style: normal;
  font-size: 1.38em;
}

#search-head form input {
  font-family: inherit;
  font-size: 1.38em;
}

#search-head input[type="text"] {
  margin-left: 0.75em;
  margin-right: 0.5em;
  padding: 0.31em;
  width: 15.99em;
  font-weight: bold;
  border: 1px solid #8F8F8F;
  background: url(/images/search-box-inner-shadow.png) no-repeat 0 0;
}

#search-head input[type="submit"] {
  padding: 0 0.91em;
  line-height: 1.73em;
  height: 1.73em;
  text-shadow: 0 2px 0 #fff;
  border: solid 1px #CCCCCC;
  border-bottom: solid 1px #999999;
  background: url(/images/search-button-background.png) repeat-x 0 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.search-links .search-results {
  background-color: rgba(249,249,197,0.5);
  border: solid 1px #fc0;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 1em;
  min-height: 2em;
  padding: 0 1em; 
  width: 48.5%; 
}

.search-links {
	margin-top: 1em;
}

.search-links h2 {
	color: #D80000;
	font-size: 1em;
}

#search-gov-uk, #search-everything {
  margin-top: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#search-gov-uk {
  float: left;
  padding-right: 2em;
  width: 55%;
  border-right: solid 1px #E1E0DF;
}

#search-everything {
  float: left;
  padding-left: 2em;
  width: 45%;
}

#search-gov-uk h2, #search-everything h2 {
  font-size: 1.13em;
  margin-bottom: 0.89em;
}

#search-choices {
  padding-top: 1em;
  padding-left: 12.75em;
}

p.search-results-count, .search-results p.result-url {
  font-size: 0.75em;
  color: #969695;
}

.search-results p.result-url {
  color: #969695;
	font-size: 0.75em;
}

.search-head form span.input-box input {
  font-size: inherit;
}

.search-results {
  padding-top: 0.63em;
  border-top: solid 2px rgba(0,0,0,0.1);
}

.search-results ol {
  padding-top: 2.25em;
  list-style: none;
  border-bottom: solid 2px rgba(0,0,0,0.1);
}

.search-links .search-results ol {
	border: none;
	margin: 0;
	padding-top: 1em;
}

.search-results ol li {
  position: relative;
  padding-left: 4em;
  margin-bottom: 2.25em;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-results ol li p.result-label {
	font-size: 0.75em;
	font-size: 0.8em;
	line-height: 1;
	margin: 0;
	text-align: left;
}

.search-results ol li p.result-label span {
	display: block;
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size-adjust:0.488;
  font-weight:600;
  font-style:normal;
	font-size: 0.75em;
 	text-align: center;
  text-transform: uppercase;
  color: #7B7B7A;
}

#search-gov-uk .search-results ol li p.result-label span {
  position: absolute;
	top: 5.5em;
  left: 0;
  width: 48px;
}

#search-everything .search-results ol li p.result-label span {
	display: inline;
	top: 0;
	text-align: left;
	width: auto;
}
.search-results ol li h3 {
  font-size: 1.13em;
  line-height: 1.11em;
  margin-top: 0;
  margin-bottom: 0.67em;
}

.search-links .search-results ol li h3 {
	margin-bottom: 0;
	padding-top: 0.25em;
}

.search-results ol li p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0.75em 0;
}

.search-links .search-results ol li p {
	margin-top: 0.5em;
}

.search-results li.guide {
  background-image: url(/images/icon-guide-48.png);
}

.search-results li.answer {
  background-image: url(/images/icon-answer-48.png);
}

.search-results li.tool {
  background-image: url(/images/icon-tool-48.png);
}

.search-results li.government {
  background-image: url(/images/icon-govt-48.png);
}

#search-everything .search-results li, .search-didyoumean.search-results li {
  background-image: url(/images/icon-default-search-result-48.png);
}

#search-everything .search-results li.www_justice_gov_uk {
  background-image: url(/images/icon-justice-48.png);
}

#search-everything .search-results li.www_direct_gov_uk {
  background-image: url(/images/icon-dgov-48.png);
}

#search-everything .search-results li.www_hmrc_gov_uk {
  background-image: url(/images/icon-hmrc-48.png);
}

#search-everything .search-results li.www_businesslink_gov_uk {
  background-image: url(/images/icon-bizlink-48.png);
}

.search-links .search-results li.www_ucas_ac_uk {
  background: url(/images/icon-ucas-48.png) no-repeat;
}

.more-results-container {
  clear: both;
  text-align: center;
  padding: 4em 0 2em 0;
}

.search-pagination {
  position: relative;
  padding: 1.25em 0;
}

.search-pagination ol {
  list-style: none;
}

.search-pagination ol li {
  float: left;
  margin-right: 0.63em;
}

.search-pagination ol li a, .search-pagination ol li.current, .search-pagination ol li.disabled {
  display: block;
  padding: 0.31em 0.63em;
  font-weight: bold;
  color: #fff;
  background: #858A87;
}

.search-pagination ol li.current, .search-pagination ol li.disabled {
  color: #5B5A5A;
  background: #DCDBDA;
}

.search-pagination .previous-next {
  position: absolute;
  top: 1.25em;
  right: 0;
}

.search-pagination ol.previous-next li {
  margin-right: 0;
  margin-left: 0.63em;
  background-repeat: no-repeat;
}

.search-pagination ol.previous-next li a {
  background-repeat: no-repeat;
}

ol.previous-next li.previous a, ol.previous-next li.previous.disabled {
  padding-left: 1.88em;
  background-position: 0.63em center;
  background-image: url(/images/pagination-prev.png);
}

ol.previous-next li.next a, ol.previous-next li.next.disabled {
  padding-right: 1.88em;
  background-position: 85% center;
  background-image: url(/images/pagination-next.png);
}

ol.previous-next li.previous.disabled {
  background-image: url(/images/pagination-prev-disabled.png);
}

ol.previous-next li.next.disabled {
  background-image: url(/images/pagination-next-disabled.png);
}


/* feedback form */
.alpha-feedback {
	background-color: #fff;
	border: solid 1px #333;
	border-right: none;
	-webkit-border-top-left-radius: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-moz-border-radius-topleft: 1em;
	-moz-border-radius-bottomleft: 1em;
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	position: fixed;
	right: 0;
	padding: 0.5em 1em;
	width: 150px;
	z-index: 500;
}

.alpha-feedback a.close {
	background: #4C4C4C url(../images/alpha-feedback-close.png) no-repeat;
	height: 16px;
	width: 16px;
	text-indent: -999em;
	position: absolute;
	top: 0;
	right: 0;
}

.alpha-feedback h3 {
  margin-bottom: 0.5em;
	font-size: 1em;
	font-weight: bold;
}

.alpha-feedback p {
	margin-bottom: 1em;
	font-size: 0.88em;
}

.alpha-feedback #feedback-options {
	margin-left: 0;
	margin-bottom: 0;
}

.alpha-feedback a.yes, .alpha-feedback a.no, .alpha-feedback h4 {
  font-family: "Alternate Gothic No.3", 'Arial Narrow', Futura, sans-serif;
  font-size-adjust: 0.5;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
	font-size: 1.6em;
	text-decoration: none;
	text-transform: uppercase;
}

.alpha-feedback a.yes {
	background: url(/images/alpha-feedback-yes.png) no-repeat;
	color: #090;
	padding-left: 1em;
	margin-right: 0.5em;
}

.alpha-feedback a.yes:hover {
	border-bottom: solid 2px #090;
}

.alpha-feedback a.no {
	background: url(/images/alpha-feedback-no.png) no-repeat;
	color: #c00;
	padding-left: 1em;
}

.alpha-feedback a.no:hover {
	border-bottom: solid 2px #c00;
}

.alpha-feedback h4 {
	margin: 0;
}
.alpha-feedback.submitted h3, .alpha-feedback.submitted p {
	opacity: .3;
}

/* alpha advisory notes */

.alpha-note {
  float: right;
  margin-bottom: 1em;
  padding-bottom: 1em;
  width: 11.25em;
  background: rgb(250,250,223);
}

.alpha-note.large {
  float:none;
  width: 100%;  
}

.alpha-note h4 {
  padding: 1em;
  height: 2.167em;
  line-height: 2.167em;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #FC0000;
  background: url(/images/alpha-note-background.png) repeat-x 0 0;
}

.alpha-note p, .alpha-note form {
  padding: 1em;
  font-size: 0.75em;
  line-height: 1.5em;
}

.alpha-note form {
  padding:0 1em;
}

.alpha-note form label {
  font-weight:bold;
  padding-right:1em;
}

/* BEGIN: modal popovers */

.popover-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.6);
  z-index:60;
}

.popover-mask .popover {
  background: #f6f5f1;
  border: solid 1px #D6D6D6;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
  margin: 4em auto 0 auto;
  padding: 0 2.5em 2em 2.5em;
  position: relative;
  width: 50%;
  min-width: 25em;
}
.popover .header img.logo {
  display: block;
  position: relative;
  top: -0.25em;
}
.popover .close {
  position: absolute;
  top: -19px;
  right: -19px;
}
.popover h2 {
  border-bottom: solid 2px #D6D6D6;
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif; 
  font-size-adjust: 0.488;
  font-weight: 600; 
  font-style: normal;
  margin: 1em 0 1.3em 0;
  position: relative;
  padding-bottom: 0.88em;
  text-shadow: 0 2px 0 #fff;
}
.popover a.button {
  background: url(/images/welcome/button.png) no-repeat;
  border: none;
  color: #333;
  display: block;
  font-size: 1.2em;
  height: 42px;
  line-height: 42px;
  margin: 1.75em 0 0;
  text-align: center;
  text-decoration: none;
  width: 136px;
}
/* END: modal popovers */


/* BEGIN: global locate-me box */
#global-locator-box.popover {
  width: 60%;
  max-width: 40em;
}
#global-set-location form {
  position: relative;
}
#global-locator-box #forget-location {
  float: left;
  margin: 1.2em 2.5em;
}
/*#global-locator-box #forget-location {
  position: absolute;
  top: 1.5em;
  right: 2em;
}*/
/* END: global locate-me box */ 


/* BEGIN: syndications api */
.syndication_api {
  margin-top:1em;
  font-size:0.8em;
  padding:0.7em;
  background:#ddd;
  color:#808080;
}

.syndication_api h4 {
  font-size:1em;
  padding-bottom:0.5em;
}

/* END syndication api */

/* footer */

#footer .explore-elsewhere {
  float: left;
  width: 82%;
  padding-bottom: 1em;
}

#footer .explore-elsewhere.government {
  width: 18%;
  height: 27em;
/*  background-color: #323232;*/
  -webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#footer .popular-global {
  margin-bottom: 2em;
}

#footer .government-global {
  padding: 0 0 1em 1em;
}

#footer h4 {
  margin-top: 1.25em;
  margin-bottom: 1em;
  font-family: "Clarendon FS Medium", Georgia, 'Times New Roman', Times, serif; 
  font-size-adjust: 0.46; 
  font-weight: normal;
  font-size: 1.38em;
  line-height: 1.18em;
  font-style: normal;
  text-shadow: 0 2px 0 #F2F2F2;
}

#footer .government-global h4 {
	font-family: "Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size-adjust: 0.488;
	font-weight: 600;
	font-style: normal;
	font-weight: normal;
  color: #fff;
  text-shadow: none;
}

#footer .popular-global ul {
  margin-left: -1.5em;
}

#footer .popular-global ul li {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	
/*  display: inline-block;*/
/*  vertical-align: top;*/
  float: left;
	font-size: 0.88em;
	list-style: none;
	min-height: 6.5em;
	padding: 0.5em 1.5em 0.5em 5em;
	width: 33.3%;
}

#footer .popular-global ul li a {
	color: #369;
	display: block;
	font-weight: bold;
  line-height: 1.33em;
	min-height: 3em;
}

#footer .popular-global ul li a small {
  display: inline-block;
  padding: 0 0.25em;
  background: #E0E7ED;
}

#footer .popular-global ul li:nth-of-type(3n-1) {
	border-right: solid 1px #D3D3D3;
	border-left: solid 1px #D3D3D3;
}

#footer .popular-global ul li.guide {
	background: url(/images/index/icon-guide-36.png) no-repeat 1.88em 0.75em;
}

#footer .popular-global ul li.answer {
	background: url(/images/index/icon-answer-36.png) no-repeat 1.88em 0.75em;
}

#footer .popular-global ul li.tool {
	background: url(/images/index/icon-tool-36.png) no-repeat 1.88em 0.75em;
}

#footer .government-global ul {
  position: relative;
}

#footer .government-global ul li {
  position: relative;
	margin-bottom: 0.25em;
  height: 3em;
	font-size: 0.88em;
	line-height: 1.33em;
	list-style: none;
}

#footer .government-global ul li a {
  display: block;
  padding-left: 3.5em;
  line-height: 3em;
  height: 100%;
	color: #fff;
	background: url(/images/index/news-navigation-default.png) no-repeat 3px 50%;	
	background-color: #191919;
	background-color: rgba(0,0,0,.08);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#promo-global {
  padding-top: 1em;
  clear: both;
  text-align: center;
}

#copyright-global {
  clear: both;
  padding: 2em 0;
  text-align: center;
}