html {
  background-color: #e6e6e6;
  background-image: none;
}

#container {
  background: url(/images/fail/the-chaps.jpg) no-repeat top center;
}

#page-container {
  padding-top: 20.5em;
  padding-left: 10%;
  padding-right: 10%;
  background: none;
  text-shadow: 0 1px 0 #fff;
}

.fail-content {
  float: left;
  margin-bottom: 1em;
  position: relative;
}

#its-all-gone-wrong {
  position: absolute;
  height: 0;
  width: 0;
  text-indent: -9999px;
}

.article-text h1 {
  font-size: 1.63em;
  line-height: 1.15em;
  margin-top: 0.69em;
  margin-bottom: 0.6em;
}

.article-text p {
  color: #6D6D6D;
}

.article-text h1, .article-text p, .article-text li {
  position: relative;
  z-index: 1;
}

.text-content .one-third-col {
  margin-right: 3.5%;
  position: relative;
}

.text-content .one-third-col#this-stuff {
  margin-right: 0;
/*  padding-top: 1em;*/
}

#this-stuff h3 {
  position: absolute;
  top: -4.25em;
  left: -2.75em;
  width: 190px;
  height: 119px;
  text-indent: -9999px;
  background: url(/images/fail/thisstuffshouldstillwork.jpg) no-repeat;
}

#this-stuff li {
  list-style: none;
  padding-left: 1em;
}

#this-stuff li:first-child {
  padding-left: 2.5em;
  margin-bottom: 1em;
}

#this-stuff a {
  font-weight: bold;
}

#fail-footer {
  clear: both;
  margin-top: 2em;
  padding: 3em 0;
  text-align: center;
  color: #A0A0A0;
  background: url(/images/fail/rule.jpg) repeat-x top center;
}

#fail-footer p {
  padding-top: 4.5em;
  background: url(/images/fail/coat-of-arms.jpg) no-repeat top center;
}

#fail-footer p#credit {
	background-image: none;
	color: #A0A0A0;
	font-size: 0.7em;
	margin: 1em auto 0;
	padding: 0;
}