/*
 * Guides app specific css
 */

#wrapper {
	-webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
	box-shadow: 0 1px 3px 1px rgba(0,0,0,.25);
	margin: 0 auto;
	max-width: 960px;
	width: 95%;
}

.inner {
	margin: 0 auto;
	max-width: 960px;
	padding: 1em;
	position: relative;
}

aside .inner { padding: 0; }

/*
 * Core global header styles
 */

nav { float: left; }
nav li { display: inline; }

.site-search {
	position: absolute;
	right: 1em;
	top: 1em;
}

.site-search input[type="submit"] {
	margin-left: 0.5em;
}


header {
	background: #222;
	color: #fff;
	width: 100%;
}

	body>header>div>h1 {
		width: 47%;
	}

	header h1 {
		font-size: 150%;
	}

section {
	background: #ddd;
	margin: 1em auto;
	width: 100%;
}

	section header {
		background: #ddd;
		clear: both;
		color: #444;
	}

header hgroup {
	display: inline-block;
	float: left;
	width: 70%;
}

article {
	background: #fff;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	float: right;
	margin: 1em 0;
  width: 70%;
}

	.answer article {
		float: none;
		margin: 1em auto;
		width: 70%;
	}

	article header {
		background: none;
		font-size: 120%;
		margin-bottom: 1em;
	}

	article footer {
		width: 100%;
	}

aside {
	float: left;
  width: 30%;
}

aside nav {
	display: block;
	width: 100%;
}

aside ol {
	padding: 0;
}

aside li {
	display: block;
	font-size: 1.3em;
	padding: 0.5em 1em;
}

aside li.active {
	background: #fff;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	display: block;
}


.related {
	background: #fff;
	border: 1px solid #bbb;
	float: right;
	font-size: 80%;
	width: 25%;
}

.related li {
	display: block;
}

.pagination {
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	display: block;
	margin-bottom: 1em;
	padding: 0.25em 0;
	width: 99%;
}

.pagination li {
	display: inline-block;
	width: 33%;
}

/*
  text styles for articles, used in e.g. guides and answers apps. It's kind of like typography innit.
*/

article h2 {
  font-size: 1.63em;
  line-height: 1.15em;
  margin-top: 0.69em;
  margin-bottom: 0.46em;
}

article h3 {
  font-size: 1.38em;
  line-height: 1.18em;
  margin-top: 0.82em;
  margin-bottom: 0.55em;
}

article h4 {
  font-size: 1.13em;
  line-height: 1.11em;
  margin-top: 1em;
  margin-bottom: 0.67em;
}

article p, article ul, article ol {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0.75em 0;
}

article p.large-text {
  font-size: 1.63em;
  line-height: 1.15em;
  margin: 0.46em 0;
}

article p.small-text {
  font-size: 0.75em;
  line-height: 1.5em;
  margin: 1em 0;
}

article ul, article ol {
  padding-left: 1.5em;
}

article ul {
  list-style-type: square;
}

article .application-notice p {
  font-size: 0.88em;
}

article table {
  margin: 0em 0;
  margin-left: -0.38em;
  padding: 0;
  width: 80%;
  border-collapse: separate;
  border-spacing: 0.38em;
}

article th, article td {
  vertical-align: top;
  line-height: 1em;
}

article th {
  padding: 0.75em 1em;
}

article td {
  padding: 0.69em 1em 0.69em 1em;
}

article th {
  text-align: left;
  background: rgba(62,62,62,0.07);
}

article td {
  background: #fff;
  border: solid 1px #E9E8E7;
}

article table ul {
  padding-left: 0.75em;
  margin: 0;
  font-weight: bold;
}

article table ul li:last-child {
  margin-bottom: 0;
}

article dl {
  margin-top: 1.5em;
  margin-bottom: 1.88em;
}

article dt {
  margin-bottom: 0.25em;
  font-size: 1.25em;
  font-weight: bold;
}

article dd {
  margin-bottom: 0.75em;
}

article .advisory {
  padding: 0 4.5em;
  text-align: center;
  font-size: 2em;
  line-height: 1.45em;
  /*background: url(/images/answers-advisory-highlight.png) center top repeat-y;*/
}

article .help-notice, article .info-notice {

}

article .help-notice p, article .info-notice p {
  margin-top: 0;
}

article .help-notice {

}

article .info-notice {
  /*background-image: url(/images/application-info-icon-default.png);*/
}