/*
 * Guides app specific css
 */

body {
	background: #efece0;
}

#wrapper {
/*
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.25);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.25);
	box-shadow: 0 0 0 1px rgba(0,0,0,.25);
*/
	margin: 0 auto;
	max-width: 960px;
	width: 95%;
}

.inner {
	margin: 0 auto;
	padding: 1em;
	position: relative;
	width: 95%;
}

aside .inner { padding: 0; }

/*
 * Core global header styles
 */

.site-search {
	position: absolute;
	right: 1em;
	top: 0.5em;
}

.site-search fieldset { border: none; }
.site-search input[type="submit"] {
	margin-left: 0.5em;
}


header[role="banner"] {
	background: #333 url('/images/gov.uk-crest.png') no-repeat -2% 12%;
	border-bottom: solid 1px #efefef;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.25);
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
	color: #fff;
	min-height: 1em;
	padding: 0.3em 0;
	position: fixed;
	top: 0;
	vertical-align: top;
	width: 100%;
	z-index: 99999;
}

	header[role="banner"] hgroup {
		margin: -0.75em 0 0.5em 1.5em;
		text-shadow: 1px 1px 1px #000;
		max-width: 50%;
	}

	header[role="banner"] hgroup h1 {
		display: inline-block;
		font-size: 120%;
		line-height: 1.3em;
		margin-right: 1em;
	}

	header[role="banner"] hgroup h2 {
		display: inline-block;
		font-family: Georgia, sans-serif;
		font-size: 90%;
		font-weight: normal;
		font-style: italic;
	}

	#wrapper hgroup {
		background: #ddd;
		border: solid 1px #bbb;
		border-bottom: none;
		-webkit-border-radius: 1em 1em 0 0;
		-moz-border-radius: 1em 1em 0 0;
		border-radius: 1em 1em 0 0;
		padding: 1em 1em 0.5em 1em;
	}

	#wrapper.answer hgroup h1,
	#wrapper.guide hgroup h1,
	#wrapper.transaction hgroup h1 {
		background-repeat: no-repeat;
		font-size: 2.5em;
		line-height: 48px;
		padding-left: 60px;
	}

	#wrapper.answer hgroup h1 {
		background-image: url('/images/icon-publisher-answer-48.png');
	}

	#wrapper.guide hgroup h1 {
		background-image: url('/images/icon-publisher-guide-48.png');
	}

	#wrapper.transaction hgroup h1 {
		background-image: url('/images/icon-publisher-transaction-48.png');
	}

section {
/*
	background: #ddd;
  -moz-box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
  box-shadow: 0 0.5em 1em rgba(0,0,0,0.3);
*/
	margin: 5em auto 0;
	width: 100%;
}

	section header {
/*		border-bottom: 10px solid #ddd;*/
		clear: both;
		color: #444;
		margin-top: 2em;
/*		padding-bottom: 1em;*/
	}

		section header hgroup {
			display: inline-block;
/*			float: left;*/
/*			width: 70%;*/
		}

		section header hgroup h1 {
			font-size: 175%;
		}

		.modified-date {
			font-size: 0.8em;
			margin-bottom: 0;
		}



article {
	background: #fff;
	float: left;
  width: 60%;
}

	.answer article {
		float: none;
		margin: 0 auto 1em;
		width: 80%;
	}

	.transaction article {
		float: left;
	}

	article header {
		background: none;
		border-bottom: none;
		font-size: 120%;
		margin: 0.25em 0 1em;
	}

	article footer {
		width: 100%;
	}

aside {
	float: left;
  width: 25%;
}

aside .inner {
	width: 100%;
}

aside nav {
	display: block;
	float: right;
	width: 95%;
}

aside ol {
	font-size: 0.8em;
	padding: 0;
}

aside li {
	-webkit-border-radius: 2em 0 0 2em;
	-moz-border-radius: 2em 0 0 2em;
	border-radius: 2em 0 0 2em;
	display: block;
	font-size: 1.3em;
	padding: 0.5em 1em;
}

aside li.active {
	background: #fff;
	border: 2px solid #bbb;
	border-right: none;
	display: block;
	margin-top: -4px;
}

aside li:hover,
aside li:focus {
	background: #bbb;
}

	aside li.active:hover {
		background: #fff;
	}

.related {
	float: right;
	font-size: 75%;
	padding-left: 2em;
	position: absolute;
	right: -6em;
	top: 10.7em;
	width: 20%;
}

.related .inner {
	background: #fff;
	border: 1px solid red;
	border-radius: 0 1em 1em 0;
}

.related h2 {
	background: #fff;
	margin-left: -2em;
}
	.related h2:before {
		content: url('/images/rss-icon.png');
	}

.related nav {
	background: #fff;
}

.related ul {
		padding-left: 1.25em;
}
	.related li {
		line-height: 1.5em;
		list-style-type: disc;
	}

.pagination {
	border-top: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	display: block;
	margin-bottom: 1em;
	padding: 0.25em 0;
	text-align: right;
	width: 99%;
}

.pagination ul {
	padding-left: 0;
}

.pagination li {
	display: inline-block;
	width: 33%;
}

.pagination .previous {
	text-align: left;
}

.pagination .pages {
	text-align: center;
}

.pagination .next {
	text-align: right;
}

#wrapper.transaction .intro {
	background: #ffc;
	border: 1px solid #bbb;
	margin-bottom: 0;
	padding: 0.25em 1em;
}

#wrapper.transaction .intro h2 {
	font-size: 175%;
}

#wrapper.transaction .continue {
	padding: 0.1em 1em;
	background: #bbb url('/images/info-icon.png') no-repeat 2% 48%;
	font-size: 0.8em;
	margin-bottom: 1em;
	text-indent: 30px;
}

#wrapper.transaction .more {
	border: 1px solid #bbb;
	font-size: 75%;
	padding: 0.5em 1em;
}

footer.group {
	font-size: 75%;
	margin: 0 auto;
	max-width: 960px;
	width: 95%;
}

/*
  text styles for articles, used in e.g. guides and answers apps. It's kind of like typography innit.
*/

article h2 {
  font-size: 1.63em;
  line-height: 1.15em;
  margin-top: 0.69em;
  margin-bottom: 0.46em;
}

article h3 {
  font-size: 1.38em;
  line-height: 1.18em;
  margin-top: 0.82em;
  margin-bottom: 0.55em;
}

article h4 {
  font-size: 1.13em;
  line-height: 1.11em;
  margin-top: 1em;
  margin-bottom: 0.67em;
}

article p, article ul, article ol {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0.75em 0;
}

article p.large-text {
  font-size: 1.63em;
  line-height: 1.15em;
  margin: 0.46em 0;
}

article p.small-text {
  font-size: 0.75em;
  line-height: 1.5em;
  margin: 1em 0;
}

article ul, article ol {
  padding-left: 1.5em;
}

article ul {
  list-style-type: inherit;
}

article .application-notice p {
  font-size: 0.88em;
}

article table {
  margin: 0em 0;
  margin-left: -0.38em;
  padding: 0;
  width: 80%;
  border-collapse: separate;
  border-spacing: 0.38em;
}

article th, article td {
  vertical-align: top;
  line-height: 1em;
}

article th {
  padding: 0.75em 1em;
}

article td {
  padding: 0.69em 1em 0.69em 1em;
}

article th {
  text-align: left;
  background: rgba(62,62,62,0.07);
}

article td {
  background: #fff;
  border: solid 1px #E9E8E7;
}

article table ul {
  padding-left: 0.75em;
  margin: 0;
  font-weight: bold;
}

article table ul li:last-child {
  margin-bottom: 0;
}

article dl {
  margin-top: 1.5em;
  margin-bottom: 1.88em;
}

article dt {
  margin-bottom: 0.25em;
  font-size: 1.25em;
  font-weight: bold;
}

article dd {
  margin-bottom: 0.75em;
}

article .advisory {
  padding: 0 2.5em;
  text-align: center;
  font-size: 2em;
  line-height: 1.3em;
  background: yellow url(/images/answers-advisory-highlight.png) center top repeat-y;
}

article .help-notice, article .info-notice {
	border-radius: 3em;
	border: 1px solid #bbb;
	margin-bottom: 1em;
	padding: 0.75em 1em 0 2.5em;
}

article .help-notice p, article .info-notice p {
  margin-top: 0;
}

article .help-notice {
  background: url(/images/application-notice-icon-default.png) 2% 50% no-repeat;
}

article .info-notice {
  background: url(/images/application-info-icon-default.png) 2% 50% no-repeat;
}