/* Global header */

#global-header {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	color: #fff;
	min-height: 1em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}

#global-header h1 {
	font-size: 1em;
	line-height: 2.5em;
}
.lte-ie8 #global-header h1 {
	float: left;
	height: 1.25em;
}

#global-header h1 a {
	background: url(../images/templogo.png) no-repeat 0 0;
	color: #fff;
	float: left;
	padding: 0 0 0 3.25em;
	text-decoration: none;
}

#global-header h1 a:hover {
	text-decoration: underline;
}

#global-header ul, #global-header ol {
	margin: 0;
	padding: 0;
}

#global-header ul li, #global-header ol li {
	float: left;
	list-style: none;
}

#global-header .header-global {
	background-color: #333;
	padding: 0 2em;
}

#global-header .header-global ul {
  float: left;
/*  float: right;*/
	line-height: 2.5em;
	margin-left: 2em;
/*  margin-right: 17.5em;*/
}

#global-header .header-global ul li {
	font-size: 0.8em;
	margin-right: 1.25em;
}

#global-header .header-global ul li:last-child {
	margin-right: 0;
}

#global-header .header-global ul li a {
	color: #ccc;
}

#global-header .header-context {
	background-color: #fff;
	border-bottom: solid 1px rgba(0,0,0,0.2);
	padding: 0.25em 2em;
}
.lte-ie8 #global-header .header-context {
	border-bottom: solid 1px #DDD;
}

#global-header .header-context ol {
	font-size: 0.8em;
}

#global-header .header-context ol li {
	margin-right: 1em;
}

#global-header .header-context.citizen {
  border-top: solid 4px #ED6900;
}

.search-help {
	background-color: #fff;
	border: solid 0.25em #ED6900;
	border-bottom: none;
	-webkit-border-radius: 0.5em 0.5em 0 0;
	-moz-border-radius: 0.5em 0.5em 0 0;
	border-radius: 0.5em 0.5em 0 0;
	float: right;
	height: 1.5em;
	margin: -2.5em 0 0 0;
	padding: 0.5em 0.75em 0 0.75em;
}

.site-search {
	font-size: 0.875em;
	padding: 0;
}

.site-search #site-search-text {
	line-height: 1em;
	font-size: 1em;
	width: 11.5em;
}

/* Global footer */

#footer {
	background-color: #fff;
	border-top: solid 0.0675em #ddd;
}

#footer .inner {
	padding: 0.5em 2em;
}

#footer .subsection {
	float: left;
	font-size: 0.8em;
	line-height: 1.4em;
	width: 50%;
}

#footer .subsection p {
	margin: 0.5em 0;
}