/*
  High Contrast styles

  Inverted colors, single-column
*/

html {
  background-color: #123 !important;
}

body {
  background-color: inherit !important;
  color: #fff !important;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  font-size: 125% !important;
}


/* =Header
----------------------------------------------- */

#global-header {
  background-color: #234;
  border-bottom: 2px solid #345;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#global-header .header-global {
  background-color: inherit;
  border-bottom: 1px solid #345;
  margin: 0.15em auto !important;
  max-width: 960px !important;
}

#global-header .header-global ul {
  font-size: 100%;
  margin-right: 4em;
}

#global-header .header-context {
  background-color: inherit;
}


/* =Search
----------------------------------------------- */
.site-search {
  background-color: #234;
  border-color: #456;
}

.search-help {
  background-color: inherit;
  border: none;
}


section {
  margin-top: 0;
  position: relative;
  top: 6em;
}

.article-container {
  background-color: inherit;
  margin-right: 0;
  margin-top: 0;
}


header {
  background-color: inherit;
}


#wrapper hgroup {
  background-color: inherit;
  margin: 0;
  padding: 1.5em 0 1em;
}

#wrapper hgroup h1 {
  background-position: 0.5em 0.45em !important;
  font-weight: bold !important;
  letter-spacing: 0.025em;
}

#wrapper hgroup h1 span {
  color: #fff !important;
  font-size: 0.55555555555556em !important;
  font-weight: normal !important;
  text-transform: none !important;
}

article {
  background-color: inherit;
  border-bottom: 2px solid #234;
  box-shadow: none;
  float: none;
  margin-top: 0 !important;
  min-height: 0;
}

article .inner {
  padding: 0;
}

#wrapper.guide aside {
  float: none !important;
  width: auto !important;
}

aside .chapters-navigation {
  border-bottom: 2px solid #234;
  float: none !important;
  margin: 0 0 1em !important;
}

aside .chapters-navigation li {
  list-style-type: disc !important;
  margin: 0 !important;
  padding: 0 !important;
  width: auto !important;
}

aside .chapters-navigation li a {
  margin: 0 !important;
  padding: 0 0 0.75em !important;
  width: auto !important;
}

aside .chapters-navigation li.active a {
  background-color: inherit !important;
  border: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

aside .chapters-navigation li a .part-label {
  color: #fff !important;
  display: inline-block !important;
  font-size: inherit !important;
}

aside .chapters-navigation li.active a .part-label {
  color: #fff !important;
}


.meta-data {
  background-color: inherit;
  color: #fff !important;
  margin: 1em 0 0;
}



/*
  Related
*/

.related-positioning {
  position: relative;
}

.related .inner {
  background-color: #CFC;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}

.related {
  bottom: 13em;
  color: #000;
  left: 0;
  position: relative;
  width: auto;
}

.related h2 {
  background-image: none;
  font-weight: bold;
}

#feedback-cta {
  color: #123;
}

#feedback-cta h2 {
  margin-top: 0;
}



/* =Links
----------------------------------------------- */
a:link {
  color: #fc3;
}

h1 a:link, h1 a:visited {
  color: #fff;
}

h2 a:link, h2 a:visited {
  color: #cfc;
}

a:visited {
  color: #fcf;
}

a:hover, a:focus, h1 a:hover, h1 a:focus {
  background-color: #bdf;
  color: #000;
  }

h2 a:hover, h2 a:focus {
  background-color: #bdf;
  color: #000;
}


/* =Article
----------------------------------------------- */

h1 {
  font: bold 200%;
  margin: 0 -2.225em .5em;
}

article h2 {
  color: #cfc;
  margin-top: 0;
}

article h3 {
  border-color: #345;
}

article .advisory {
  background-color: #FFCD17;
  border: solid 2px #ffa;
  color: #123;
}

article .help-notice, article .info-notice {
  background-color: #fff !important;
  border: solid 2px #123 !important;
  color: #123;
  font-weight: bold;
}

article .intro {
  background-color: #234 !important;
}

article fieldset {
  background-color: #234 !important;
  font-weight: bold;
}


article p, article ul, article li {
  padding-left: 0;
}

article ul {
  margin: 0 0 1.4em;
}

ul.helpers li {
  background-color: #CFC !important;
  color: #123 !important;
  font-weight: bold !important;
}

article .button {
  background-color: #FC3 !important;
}


#wrapper.smart_answer .start a, #wrapper.smart_answer .start a:visited, #wrapper.smart_answer .next-question input, #wrapper.smart_answer .next-question input:visited, #wrapper.place fieldset input[type="submit"], #wrapper.place fieldset input[type="submit"]:visited, #wrapper.place .button, #wrapper.transaction fieldset input[type="submit"], #wrapper.transaction fieldset input[type="submit"]:visited, #wrapper.transaction .button, #wrapper.local_transaction fieldset input[type="submit"], #wrapper.local_transaction fieldset input[type="submit"]:visited, #wrapper.local_transaction .button, .popover fieldset input[type="submit"], .popover fieldset input[type="submit"]:visited {
  background-color: #FC3 !important;
  color: #123;
}

/* =Forms
----------------------------------------------- */
fieldset {
  border-color: #456;
}


/* =Misc
----------------------------------------------- */
.note {
  background-color: #900;
  border-color: #fff;
  color: #fff;
}

hr {
  border-color: #456;
  color: #123;
}

small {
  color: #fff !important;
}


/* =Nav
----------------------------------------------- */
#global-header nav ul {
  border-left-color: #456;
}

#global-header nav li {
  border-color: #456;
  display: inline;
}

#global-header nav li a, #global-header nav li strong {
  color: #fff;
}

#global-header nav li#current a, #global-header nav li strong, #global-header nav li a strong {
  background-color: #fc3;
  color: #000;
}

#global-header nav li a:hover, #global-header nav li a:focus, #global-header nav li a:hover strong, #global-header nav li a:focus strong {
  color: #000;
}

#global-header nav li a:hover, #global-header nav li a:focus {
  background-color: #bdf;
}



/* =Footer
----------------------------------------------- */
footer#footer {
  background-color: #234;
  border-top: 2px solid #345;
  clear: both;
  color: #cde;
  color: #eee;
  font-size: inherit;
  margin-top: 10em;
}

#footer .subsection {
  width: auto;
}
