/* core overrides */

#page-container {
  position: relative;
  top: -5em;
  margin: 0;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.page_heading {
	border-bottom: none;
}

#header {
  background-image: none;
}

/* header bit */

#headline {
  position: relative;
  margin: 0 auto;
  width: 94%;
  height: 26em;
  max-width: 1050px;
  clear: both;
}

#headline-link {
  position: absolute;
  bottom: 1.625em;
  right: 0;
  padding: 0.625em 0.625em 0.4em 0.625em;
  background: #ebebeb;
  background: rgba(255,255,255,0.85);
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#headline-link a {
  font-weight: bold;
}

/* location stuff */

#global-user-location {
  z-index: 40;
  top: 2.25em;
  padding-top: 1em;
}

#global-user-location p {
  top: 0;
  left: 0;
}

#location-unset-message {
  padding: 1.5em 1.875em;
  width: 10em;
  background: #F7F7F7;
  background: rgba(255,255,255,0.85);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#location-set-message {
  position: relative;
  top: -1em;
  padding-right: 1em;
  height: 2.8em;
  background: url(/images/index/homepage-location-pin.png) no-repeat 0.5em 0.45em rgba(0,0,0,0.75);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

#location-set-message p, #location-set-message p a {
  color: #fff;
}

#location-unset-message p {
  font-size: 0.88em;
}

#location-set-message p {
  padding-top: 1.75em;
  padding-left: 2.75em;
}

#location-set-message p a {
  text-decoration: underline;
}

#location-unset-message h4, #location-unset-message p {
  text-shadow: 0 1px 0 #fff;
}

#location-unset-message h4 {
  margin-top: 0;
}

#location-unset-message p:last-child, #location-set-message p:last-child {
  margin: 0;
}

#location-unset-message.popover a.button {
  margin-top: 1em;
}

/* search */

#homepage-search {
  position: relative;
  top: 10.875em;
  margin: 0 auto;
  max-width: 1050px;
}

#homepage-search form {
  margin: 0 auto;
  width: 80%;
  padding-left: 15%;
}

#homepage-search.location-not-set form {
  padding-left: 18em;
  width: auto;
}

#homepage-search form input {
  font-family: inherit;
  font-size: 1.38em;
}

#homepage-search.location-not-set form input {
  display: block;
  float: left;
}

#homepage-search input[type="text"] {
  margin: 0;
  margin-right: 0.5em;
  padding: 0 0.31em;
  line-height: 1.65em;
  height: 1.65em;
  width: 70%;
  border: 1px solid #8F8F8F;
  background: url(/images/search-box-inner-shadow.png) no-repeat 0 0;
}

#homepage-search input[type="submit"] {
  position: relative;
/*  top: 1px;*/
  padding: 0 0.91em;
  line-height: 1.73em;
  height: 1.73em;
  text-shadow: 0 2px 0 #fff;
  border: solid 1px #CCCCCC;
  border-bottom: solid 1px #999999;
  background: url(/images/search-button-background.png) repeat-x 0 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

#homepage-search #search_hint {
  display: inline-block;
  margin: 0;
  margin-left: 1px;
  padding: 0.4em;
  width: auto;
  background: #ebebeb;
  background: rgba(255,255,255,0.85);
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

/* Popular stuff section */

#popular {
	background: #fff;
	background: rgba(255,255,255,.5);
	border: solid 1px #fff;
	clear: both;
	margin: 0 auto;
	padding: 0.5em 1em;
	position: relative;
}

#popular h2 {
  font-family: "Clarendon FS Medium", Georgia, 'Times New Roman', Times, serif;
  font-size-adjust: 0.46;
  font-weight: normal;
	font-size: 1.8em;
  font-style: normal;
	margin: 0.5em auto;
	margin-top: 0;
	text-align: center;
  text-shadow: 0 2px 0 #fff;
}

#popular ul {
	padding: 1em 0;
	margin: 0 auto;
	width: 960px;
}

#popular li {
	font-size: 1em;
	line-height: 1.33em;
	min-height: 3em;
}

#popular li a {
/*  background: url(/images/index/homepage-topicons.gif) no-repeat;*/
}

#popular li a small {
  display: inline-block;
  padding: 0 0.25em;
  background: #E0E7ED;
}

#popular li:nth-of-type(3n-1) {
	border-right: solid 1px #e6e6e6;
	border-left: solid 1px #e6e6e6;
}

/* Latest news section */

#news-container {
	background-color: #323232;
	float: left;
	margin-top: 1em;
	padding: 1em 0;
	position: relative;
	width: 100%;
}

#news {
	margin: 0 auto;
	padding: 2em 1em 0;
	width: 960px;
}

#news h2 {
	color: #AEAEAE;
	font-family: "Stub Serif FS Bold", serif;
  font-size-adjust: 0.465;
  font-weight: bold;
	font-size: 2em;
  font-style: normal;
	padding: 0 0.55em;
}

/* Latest News section styles */

.latest-news {
	font-size: inherit;
	margin: 2em 0 0;
	width: 680px;
}

.latest-news li {
	-moz-box-sizing: 50%;
	-webkit-box-sizing: 50%;
	box-sizing: 50%;
	color: #AEAEAE;
	clear: right;
	font-size: 1em;
	float: left;
	line-height: 1.4;
	list-style: none;
	margin-bottom: 30px;
	min-height: 8em;
	width: 320px;
}

.latest-news li:nth-child(even) {
	margin-right: 20px;
}

.latest-news li a {
	color: #fff;
	font-weight: bold;
}

.latest-news li p {
	display: block;
	line-height: 1.4;
	margin: 0;
	padding: 1em 1em 0 10px;
}

.latest-news li p.posted {
	margin: 0;
	padding: 0.5em 1em 0.5em 10px;
}

.latest-news li p.posted {
	font-weight: normal;
	font-size:0.8em;
}

.latest-news li p.posted a {
  font-weight:normal;
}

.latest-news li#featured {
	clear: both;
	display: block;
	height: 220px;
	margin-bottom: 20px;
	padding: 0 0 1em 0;
	width: 680px;
	border-bottom:solid 1px #5c5c5c;
}

.latest-news li#featured p {
	background: #252525;
	display: block;
	line-height: 1.4;
	margin: 0;
	padding: 1em 1em 0 10px;
	width: 284px;
}

.latest-news li#featured a {
	background: #252525;
	padding: 0;
	margin: 0;
	width: 286px;
}

.latest-news li#featured p.posted {
	padding-bottom: 1em;
}

.latest-news li#featured img {
/*  outline: solid 10px rgba(0,0,0,0.25);*/
	float: right;
	/*margin: 10px 0 1em 1em;*/
  margin: 0 0 1em 0;
}

.two-third-col.left {
  width: 680px;
}

/* right hand navigation in Latest News */

.one-third-col.right {
	margin: 0 auto;
	width: 245px;
}

.latest-news-depts {
}

.latest-news-depts li {
  position: relative;
	font-size: 1.275em;
	line-height: 42px;
	list-style: none;
	margin-bottom: 5px;
  padding: 0 4px;
	width: 100%;
}

#footer {
  margin-top: -5em;
	background: #FDFCFB url(/images/index/footer-bg.png) no-repeat 50% 0%;
	color: #333;
	min-height: 10em;
  padding: 0;
	position: relative;
	text-align: center;
	width: 100%;
	border-top: none;
}

#footer strong {
	background: url(/images/index/footer-crown.png) no-repeat 49.66% 20px;
	display: block;
	height: 80px;
	line-height: 80px;
	padding-top: 60px;
}

#footer p + p {
	position: relative;
	top: -1.5em;
}



.clear:before, .clear:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clear:after { clear: both; }
.clear { zoom: 1; }
