.outdated-browser-message {
  padding: 1em;
  border: solid 2px #ff0000;
  background: #FFE2E4;
}

/*
#news-container {
  display: inline;
  background-color: red;
}*/ 
    
.latest-news li {
  float: none;
  display: inline-block;
  height: 8em;
}

#global-user-location {

}

#header {
  position: relative;
  z-index: 50;
  background: url(/images/header-background.png) repeat-x 0 10px;
}

.home-page #header {
  background: none;
}

#page-container {
  position: relative;
  z-index: 0;
}

#homepage-search #search_hint {
  background: #fff;
}

#headline-link {
  background: #fff;
}

#latest-feed li {
	list-style: none;
}

.full-width.article-text ul.government li.featured {
	list-style: none;
}
