#wrapper hgroup {
	background: #efece0;
	border-bottom: none;
	display: block;
	margin-right: 14em;
	padding: 1em 1em 0;
}

#wrapper.section hgroup,
#wrapper.place hgroup,
#wrapper.transaction hgroup,
#wrapper.local_transaction hgroup {
	margin-top: -1em;
	margin-right: 12.5em;
}

#wrapper.answer hgroup,
#wrapper.programme hgroup {
	margin-left: 2em;
}

#wrapper hgroup h1 {
	background-repeat: no-repeat;
	color: inherit;
	font-size: 1.8em;
	min-height: 2.5em;
	line-height: 1.05em;
	padding: 0.2em 0 0.5em 2.2em;
}

#wrapper hgroup span {
	display: block;
	font-size: 0.4em;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	text-shadow: none;
}

/* section pages */
#wrapper.section hgroup h1 {
	background-image: url('/images/icon-section-l.png');
}
#wrapper.section hgroup h1 span {
	color: #000;
}

/* Answers */
#wrapper.answer hgroup h1 {
	background-image: url('/images/icon-answer-l.png');
}
#wrapper.answer hgroup h1 span {
	color: #1C7000;
}

/* Guides */
#wrapper.guide hgroup h1 {
	background-image: url('/images/icon-guide-l.png');
}
#wrapper.guide hgroup h1 span {
	color: #68009F;
	color: #157eb8;
}

/* Transactions */
#wrapper.transaction hgroup h1 {
	background-image: url('/images/icon-transaction-l.png');
}
#wrapper.transaction hgroup h1 span {
	color: #c00;
}

/* Local Transactions */
#wrapper.local_transaction hgroup h1 {
	background-image: url('/images/icon-localtransaction-l.png');
}
#wrapper.local_transaction hgroup h1 span {
	color: #A93D00;
}

/* Programmes */
#wrapper.programme hgroup h1 {
	background-image: url('/images/icon-programme-l.png');
}
#wrapper.programme hgroup h1 span {
	color: #000;
}

/* Places */
#wrapper.place hgroup h1 {
	background-image: url('/images/icon-nearest-l.png');
}
#wrapper.place hgroup h1 span {
	color: #666;
}

/* Smart Answers */
#wrapper.smartanswer hgroup h1 {
	background-image: url('/images/icon-smart-answer-l.png');
}
#wrapper.place hgroup h1 span {
	color: #2929a3;
}



section header {
	clear: both;
}

section header hgroup {
	display: inline-block;
}

.article-and-navigation {
	background: #efece0;
	border-top: none;
	margin-right: 12em;
}

article {
	background: #fff;
	-webkit-box-shadow: 0 0px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.3);
	box-shadow: 0 0px 4px rgba(0,0,0,0.3);
	float: left;
	min-height: 40em;
	position: relative;
	z-index: 1;
	* float: none;
}

article .inner {
	padding: 2em 3em;
	width: auto;
}

#wrapper.guide article {
	width: 75%;
	* width: 74.999%;
	* float: left;
}

#wrapper.section article,
#wrapper.answer article {
	margin-right: 12em;
}

.guide article .inner {
	padding-bottom: 0;
}

#wrapper.section article,
#wrapper.place article,
#wrapper.transaction article,
#wrapper.local_transaction article,
#wrapper.answer article {
/*	top: -1em;*/
/*	width: 80%;*/
}

#wrapper.answer article {
	top: 0;
}


article header {
	background: none;
	border-bottom: none;
	margin: 0.25em 0 1em;
}

article footer {
	width: 100%;
}

aside {
	float: left;
  width: 25%;
}

aside .inner {
	padding: 0;
	width: 100%;
}

aside nav {
	display: block;
	float: right;
	margin-top: 1em;
	width: 95%;
}

aside ol {
	font-size: 0.8em;
	margin: 0;
	padding: 0;
}

aside li {
	list-style: none;
}

aside li a {
	-webkit-border-radius: 0.5em 0 0 0.5em;
	-moz-border-radius: 0.5em 0 0 0.5em;
	border-radius: 0.5em 0 0 0.5em;
	display: block;
	font-size: 1.3em;
	padding: 0.75em 0.75em;
	text-decoration: none;
}

aside li.active a {
	background: #fff;
	border: 1px solid #ddd;
	border-right: none;
	display: block;
	position: relative;
	z-index: 2;
}

aside li a:hover,
aside li a:focus {
	background: #1576FB;
	color: #fff;
}

aside li.active a:hover {
	background: #fff;
	color: #1576FB;
}

aside li a .part-label {
	color: #3f3f3f;
	display: block;
	font-size: 0.6em;
	text-transform: uppercase;
}

aside li a:hover .part-label {
	color: #fff;
}

aside li.active a:hover .part-label {
	color: #1576FB;
}

aside li a .part-title {
	text-decoration: underline;
}



.pagination {
	background: #F2F2F2;
	border-top: solid 1px #bbb;
	display: block;
	margin: 2em -2em 1em -2em;
	* margin: 0;
	* display: none;
}

.pagination ul {
	margin: 0;
	padding: 0.5em 0;
	* display: inline;
}

.pagination li {
	float: left;
	list-style: none;
	* float: none;
	* height: 5em;
	* background: red;
	* display: inline;
}

.pagination li a {
	display: block;
	padding: 0.5em;
	position: relative;
	* display: inline;
}

.pagination li a:hover {
	background: #1576FB;
	color: #fff;
}

.pagination .previous a {
	border-right: solid 1px #bbb;
	box-sizing: border-box;
	float: left;
	width: 11em;
	* border: none;
	* float: none;
}

.pagination .next a {
	float: right;
	width: 20em;
	* float: none;
}
.pagination .first {
	border-right: solid 1px #bbb;
	box-sizing: border-box;
	float: left;
	width: 11em;
	color:#999;
	padding-left:0.5em;
}

.pagination .last {
	float: right;
	width: 20em;
	color:#999;
}
.pagination .pagination-label {
	display: block;
	font-size: 0.8em;
	line-height: 1em;
	margin-bottom: 0.5em;
}

.pagination li a .pagination-label {
	text-decoration: none;
}

/*
 * Transactions and local transactions styles
 */

#wrapper.transaction .intro,
#wrapper.local_transaction .intro {
	background-color: #F9F9F9;
	border: 2px solid #bbb;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;

	margin-bottom: 1.5em;
	padding: 0.15em 1em;
}

#wrapper.transaction .intro p.get-started,
#wrapper.local_transaction .intro p.get-started {
	display: block;
	font-size: 2.25em;
	font-weight: bold;
	margin: 0.75em auto;
	width: auto;
}

#wrapper.transaction .continue,
#wrapper.local_transaction .continue {
	background: #F9F9F9 url('/images/info-icon.png') no-repeat 1% 50%;
	border: 2px solid #bbb;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;

	font-size: 0.9em;
	margin-bottom: 1.2em;
	padding: 0.15em 1em;
	text-indent: 25px;
}

#wrapper.place fieldset,
#wrapper.transaction fieldset,
#wrapper.local_transaction fieldset,
.popover fieldset {
	background-color: #F9F9F9;
	border: 2px solid #bbb;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	margin: 1.2em 0;
	padding: 1.2em 0.75em;
	text-align: center;
}

#wrapper.place fieldset input,
#wrapper.transaction fieldset input,
#wrapper.local_transaction fieldset input {
	margin: 0 0.5em;
}

#wrapper.place fieldset input[type=submit],
#wrapper.place fieldset input[type=submit]:visited,
#wrapper.place .button,
#wrapper.transaction fieldset input[type=submit],
#wrapper.transaction fieldset input[type=submit]:visited,
#wrapper.transaction .button,
#wrapper.local_transaction fieldset input[type=submit],
#wrapper.local_transaction fieldset input[type=submit]:visited,
#wrapper.local_transaction .button,
.popover fieldset input[type=submit],
.popover fieldset input[type=submit]:visited {
	background: #039 url(/images/button-overlay.png) repeat-x;
	border: 1px solid rgba(0,0,0,0.25);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px 6px;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	position: relative;
}

#wrapper.place fieldset input[type=submit]:hover,
#wrapper.place .button:hover,
#wrapper.transaction fieldset input[type=submit]:hover,
#wrapper.transaction .button:hover,
#wrapper.local_transaction fieldset input[type=submit]:hover,
#wrapper.local_transaction .button:hover {
	background-color: rgb(0,25,80);
	color: #fff;
}

#wrapper.place fieldset input[type=submit]:active,
#wrapper.place .button:active,
#wrapper.transaction fieldset input[type=submit]:active,
#wrapper.transaction .button:active,
#wrapper.local_transaction fieldset input[type=submit]:active,
#wrapper.local_transaction .button:active {
	top: 1px;
}

#wrapper.place .more,
#wrapper.transaction .more,
#wrapper.local_transaction .more {
	font-size: 0.8em;
	padding: 0.5em 0;
}

#wrapper.place .more h2,
#wrapper.transaction .more h2,
#wrapper.local_transaction .more h2 {
	border-bottom: none;
}

/*
 * Helper icons
 */

ul.helpers {
  list-style-type: none;
	margin: 0.75em auto;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	width: 99%;
}

	ul.helpers li {
	  background-color: #e5e0de;
	  background-position: 0% 25%;
	  background-repeat: no-repeat;
		border-top: solid 1px #fafafa;
		border-bottom: solid 1px #bbb;
	  color: #706e6e;
		float: left;
	  margin-bottom: 0.6em;
		margin-right: 0.6em;
		min-height: 3em;
	  padding: 0.75em 0.25em 0.75em 3.75em;
		vertical-align: middle;
		width: 24.8%;
	}
		ul.helpers li:nth-child(3n+3) {
			margin-right: 0;
		}

	ul.helpers li.active, ul.helpers li.active h3 a {
	  color: #fff;
	}

	ul.helpers li.need_cash {
	  background-image: url(/images/helper-cash-icon.png);
	}
	ul.helpers li.card_payment {
	  background-image: url(/images/helper-creditcard-icon.png);
		background-position: -2% 0%;
	}
	ul.helpers li.gateway {
	  background-image: url(/images/helper-govgateway-icon.png);
		background-position: -3% 10%;
	}
	ul.helpers li.need_passport {
	  background-image: url(/images/helper-passport-icon.png);
		background-position: -2% 15%;
	}
	ul.helpers li.need_address {
	  background-image: url(/images/helper-address-icon.png);
		background-position: 5% 45%;
	}
	ul.helpers li.need_id {
	  background-image: url(/images/helper-proofofid-icon.png);
		background-position: -2% 25%;
	}
	ul.helpers li.need_ni {
	  background-image: url(/images/helper-ni-icon.png);
		background-position: 4% 35%;
	}
	ul.helpers li.over_18 {
	  background-image: url(/images/helper-over18-icon.png);
		background-position: 5% 35%;
	}
	ul.helpers li.less_than_10,
	ul.helpers li.less_than_20,
	ul.helpers li.less_than_30,
	ul.helpers li.less_than_40 {
	  background-image: url(/images/helper-time-icon.png);
	}
	ul.helpers li.offline_steps {
	  background-image: url(/images/helper-offline-icon.png);
		background-position: -3% 35%;
	}





/*
 * Text styles for articles, used in example apps.
 * It's kind of like typography innit.
*/

article header h1 {
	border-bottom: solid 1px #ddd;
  font-size: 1.65em;
  line-height: 1.15em;
  margin-top: 0;
  margin-bottom: 0;
	padding-bottom: 0.75em;
	* zoom: 1;
}

article header h1 span {
	color: #666;
	display: block;
	font-size: 0.6em;
	font-weight: normal;
	line-height: 1em;
	margin-bottom: 0.4em;
	text-transform: uppercase;
}

article h2 {
	border-bottom: solid 1px #ddd;
  font-size: 1.25em;
  line-height: 1.18em;
  margin-top: 1.2em;
  margin-bottom: 0.2em;
	padding-bottom: 0.2em;
}
	#wrapper.answer article h2 {
		border-bottom: none;
	  font-size: 1.15em;
	  line-height: 1.11em;
	  margin-top: 1.304em;
	  margin-bottom: 0;
	}

article h3 {
  font-size: 1.15em;
  line-height: 1.11em;
  margin-top: 1.304em;
  margin-bottom: 0;
}

article h4 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

article h2 + p,  article h3 + p,  article h4 + p,
article h2 + ol, article h3 + ol, article h4 + ol,
article h2 + ul, article h3 + ul, article h4 + ul {
	margin-top: 0.2em;
}

article p, article ul, article ol {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0.75em 0;
}

article p.large-text {
  font-size: 1.63em;
  line-height: 1.15em;
  margin: 0.46em 0;
}

article p.small-text {
  font-size: 0.75em;
  line-height: 1.5em;
  margin: 1em 0;
}

article ul, article ol {
  padding-left: 1.5em;
}

article ul {
  list-style-type: disc;
}

article ol {
  list-style-type: decimal;
}

article .application-notice p {
  font-size: 0.88em;
}
/*
article table {
  margin: 0em 0;
  margin-left: -0.38em;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0.38em;
}

article th, article td {
  vertical-align: top;
  line-height: 1.3em;
}

article th {
  padding: 0.75em 1em;
}

article td {
  padding: 0.69em 1em 0.69em 1em;
}

article th {
  text-align: left;
  background: rgba(62,62,62,0.07);
}

article td {
  background: #fff;
  border: solid 1px #E9E8E7;
}
*/
article table ul {
  padding-left: 0.75em;
  margin: 0;
  font-weight: bold;
}

article table ul li:last-child {
  margin-bottom: 0;
}

article dl {
  margin-top: 1.5em;
  margin-bottom: 1.88em;
}

article dt {
  margin-bottom: 0.25em;
  font-size: 1.25em;
  font-weight: bold;
}

article dd {
  margin-bottom: 0.75em;
}

article .summary {
	font-size: 1.25em;
	font-weight: bold;
	margin: 0 0 1.25em 0;
}
	#wrapper.answer article .summary {
		border-left: solid 4px #bbb;
	  font-size: 1.15em;
	  line-height: 1.11em;
		font-weight: bold;
		margin: 0 0.75em 1.25em 0.75em;
		padding-left: 1em;
	}

article .example {
  background: #F2F2F2;
	border: solid 2px #bbb;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
 	margin: 1em 0;
  padding: 0 1em;
}

article .advisory {
  background: #ffa;
	border: solid 2px #FFCD17;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;

  line-height: 1.3em;
 	margin: 1.25em 0;
  padding: 1em 2.5em;
  text-align: center;
}

article .help-notice,
article .info-notice {
	border: 2px solid #bbb;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	margin: 1.25em 0;
	padding: 0.75em 1em 0 3.5em;
}

article .help-notice p,
article .info-notice p {
  margin-top: 0;
}

article .help-notice {
  background: url('/images/application-notice-icon-default.png') 2% 50% no-repeat;
}

article .info-notice {
  background: url('/images/application-info-icon-default.png') 2% 50% no-repeat;
}

article .form-download {
	border: solid 2px #bbb;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	margin: 1em 0;
	padding: 0.5em 1em 0.25em 1em;
}

article .form-download a {
	background: url('/images/icon-file-download.png') 0 0 no-repeat;
	padding: 0.5em 0 0.5em 2em;
}

article .contact {
  background: url('/images/icon-contact.png') 2% 20% no-repeat;
	border: solid 2px #bbb;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	margin: 1em 0;
	padding: 0 1.25em 0 2.75em;
	width: 50%;
}

article .address {
	background: url('/images/stamp.png') 95% 1em no-repeat;
	border: solid 1px #bbb;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	margin: 1em 0;
	padding: 2em 15% 2em 15%;
	width: 30%;
}

ol#options {
	padding-left: 0;
}

article .place {
	border: solid 1px #bbb;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	margin: 1em 0;
	padding: 1em;
}

article .place .map {
	float: left;
}

article .place .information {
	border-top: solid 2px #fcc;
	margin-left: 13em;
	min-height: 13em;
	padding: 0 0.5em;
}

article .place .address {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
  font-size: 1.15em;
  line-height: 1.11em;
	margin: 0;
	padding: 0;
	width: auto;
}

article .place .address p {
	font-size: 1em;
	margin-bottom: 1em;
}

article .place .address span {
	display: block;
}

article .place .url {
	overflow: hidden;
	text-overflow: ellipsis;
}

article .place .additional-information {
	border-top: dashed 1px #bbb;
	font-size: 0.8em;
	margin-top: 1em;
}
	article .place .additional-information a {
		display: block;
	}

article ol.steps {
	padding-left: 0;
}

article ol.steps li {
	background-position: 0 0.75em;
	background-repeat: no-repeat;
	list-style-type: none;
	padding: 0.25em 0 0.25em 2.75em;
}

article ol.steps li:nth-child(1) {
	background-image: url('/images/icon-step-1.png');
}
article ol.steps li:nth-child(2) {
	background-image: url('/images/icon-step-2.png');
}
article ol.steps li:nth-child(3) {
	background-image: url('/images/icon-step-3.png');
}
article ol.steps li:nth-child(4) {
	background-image: url('/images/icon-step-4.png');
}
article ol.steps li:nth-child(5) {
	background-image: url('/images/icon-step-5.png');
}
article ol.steps li:nth-child(6) {
	background-image: url('/images/icon-step-6.png');
}
article ol.steps li:nth-child(7) {
	background-image: url('/images/icon-step-7.png');
}

/*
	Programme format
*/

#wrapper.programme .article-and-navigation {
	padding-top: 0.5em;
	position: relative;
}

#wrapper.programme .programme-switcher ul,
#wrapper.programme .programme-progression ol {
	list-style: none;
	margin: 0;
}

#wrapper.programme .programme-switcher ul li,
#wrapper.programme .programme-progression ol li {
	float: left;
}

#wrapper.programme .programme-switcher ul li a {
	background-color: #ddd;
	border: solid 1px #bbb;
	border-bottom: none;
	-webkit-border-radius: 0.5em 0.5em 0 0;
	-moz-border-radius: 0.5em 0.5em 0 0;
	border-radius: 0.5em 0.5em 0 0;
	display: block;
	font-size: 0.8em;
	padding: 0.5em 1em;
	position: relative;
}

#wrapper.programme .programme-switcher ul li.active a {
	background: #fff;
	z-index: 5;
}

#wrapper.programme .programme-switcher ul li a:hover,
#wrapper.programme .programme-switcher ul li a:focus,
#wrapper.programme .programme-progression ol li a:hover,
#wrapper.programme .programme-progression ol li a:focus {
	background-color: #1576FB;
	color: #fff;
}

#wrapper.programme .programme-switcher ul li.active a:hover {
	background-color: #fff;
	color: #1576FB;
}

#wrapper.programme .programme-progression ol {
	background: #EFECE0;
	border: solid #bbb;
	border-width: 1px 0 1px 0;
	padding: 0;
	position: absolute;
	top: 4.5em;
	width: 100%;
	z-index: 5;
}

#wrapper.programme .programme-progression li {
	width: 25%;
}

#wrapper.programme .programme-progression li a {
	display: block;
	line-height: 2.25em;
	position: relative;
	text-align: center;
	width: 100%;
}

#wrapper.programme .programme-progression li a:focus {
	outline: none;
}

#wrapper.programme .programme-progression li.active a {
	background-color: #ffa;
}

#wrapper.programme .programme-progression li.active a:hover,
#wrapper.programme .programme-progression li.active a:focus {
	background-color: #ffa;
	color: #1576FB;
}

#wrapper.programme .progressor {
	background: url(/images/programme-progressor-arrows.png) no-repeat -1px 0;
	height: 36px;
	position: absolute;
	right: -20px;
	top: 0;
	width: 20px;
	z-index: 1;
}

#wrapper.programme li.active a .progressor,
#wrapper.programme li.active a:hover .progressor {
	background-position: -283px 0;
}

#wrapper.programme li a:hover .progressor {
	background-position: -573px 0;
}

#wrapper.programme .programme-progression li:last-child .progressor {
	display: none;
}

#wrapper.programme .programme-progression li:last-child a {
	background: url(/images/icon-programme-24.png) no-repeat 90% 50%;
}

#wrapper.programme article {
	min-height: 10em;
	width: 100%;
}

.js-enabled #wrapper.programme article, #wrapper.programme #overview {
	padding-top: 4em;
}

.js-enabled #wrapper.programme article, .js-enabled #wrapper.programme .part-pagination.return-to-top {
	display:none;
}

#wrapper.programme article.tabs-panel-selected {
	display:block;
}

#wrapper.programme .part-pagination {
	border-top: solid 1px #bbb;
	margin-top: 3em;
	padding-top: 1em;
}

#wrapper.programme .part-pagination ul {
	list-style: none;
	padding: 0;
}

#wrapper.programme .part-pagination li {
	float: left;
}

#wrapper.programme .part-pagination li a {
	line-height: 2.15em;
	position: relative;
}

#wrapper.programme .part-pagination li:first-child a {
	background-color: #EFECE0;
	border: solid 1px #bbb;
	border-bottom: solid 1px #666;
	-webkit-border-radius: 0.5em 0.25em 0.25em 0.5em;
	-moz-border-radius: 0.5em 0.25em 0.25em 0.5em;
	border-radius: 0.5em 0 0 0.5em;
	display: block;
	margin-right: 3em;
	padding: 0 1em;
}

#wrapper.programme .part-pagination li:first-child a:hover {
	background-color: #1576FB;
	color: #fff;
}

#wrapper.programme .part-pagination .progressor {
	background-position: -767px 0;
	right: -20px;
	top: -1px;
}

#wrapper.programme .part-pagination a:hover .progressor {
	background-position: -978px 0;
}
