/* ----- search results page ----- */

.search {
	background-color: #fff;
	border: solid 1px #fff;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	padding: 1em;
}

.search h1 {
	margin-bottom: 0.25em;
}

.search h2 {
	margin-bottom: 1em;
}
.search h2 span {
	font-size: 0.85em;
}

.search .results.top {
  border-top: solid 0.063em #bbb;
  padding-top: 1em;
}

.search .results.top ol {
  list-style: none;
  padding-left: 0;
}
.search .results.top ol>li {
  border: solid 0.125em #bbb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0.35em;
  -moz-border-radius: 0.35em;
  border-radius: 0.35em;
  float: left;
  margin: 0 1em 1em 0;
  min-height: 10em;
  position: relative;
  width: 48.5%;
}

.search .results.top li:nth-child(even) {
  margin-right: 0;
}

.search .results li:before {
  content: "";
  display: block;
  font-weight: bold;
  height: 30px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0.85em;
  width: 40px;
  z-index: 10;
}

.search .results li.answer:before {
  content:url("/images/icon-answer-s.png");
}

.search .results li.guide:before {
  content:url("/images/icon-guide-s.png");
}

.search .results li.transaction:before {
  content:url("/images/icon-transaction-s.png");
}

.search .results li.local_transaction:before {
  content:url("/images/icon-localtransaction-s.png");
}

.search .results li.programme:before {
  content:url("/images/icon-programme-s.png");
}

.search .results li.place:before {
  content:url("/images/icon-place-s.png");
}

.search .results li.smartanswer:before {
  content:url("/images/icon-smartanswer-s.png");
}

.search .results.top li a {
  display: block;
  margin: 0.5em 1em 0 40px;
}

.search .results.top li p {
  font-size: 0.85em;
  margin: 0 1em 1em 40px;
}

.search .results.top li small {
  display: block;
  line-height: 1.25em;
  margin: 0.5em 1em 1em 40px;
}

.search .results.top li ul {
  list-style-type: square;
  list-style-position: inside;
  line-height: 1;
  margin: 0 0 0.875em;
  padding: 0;
}

.search .results.top li li {
  font-size: 0.85em;
}

.search .results.more ol {
  list-style: none;
  margin: 1em 0;
}

.search .results.more ol>li {
  margin-bottom: 0.875em;
  margin-left: -40px;
  padding-left: 40px;
  padding-top: 0.25em;
  position: relative;

}

.search .results.more ol li small {
  display: block;
  line-height: 2em;
  margin-bottom: 0;
}
.search .results.more ol li p {
  margin-top: 0.25em;
}

.search .results.top .transaction-link {
  clear: both;
  float: right;
  line-height: 1.25em;
  text-align: center;
  vertical-align: middle;
}

.search .results.top ul.search-promoted,
.search .results.top ul.search-not-found {
  list-style: none;
  padding-left: 0;
}

.search .results.top ul.search-promoted li,
.search .results.top ul.search-not-found li {
  background: #FDF6E5;
  border: solid 2px #FFCD17;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  line-height: 1.3em;
  padding: 0.25em 1em;
  text-align: center;
  width: 100%;
}

.search .results.top ul.search-promoted li p,
.search .results.top ul.search-not-found li p,
.search .results.top ul.search-promoted li a,
.search .results.top ul.search-not-found li a {
  margin: 0.5em 1em 1em;
}

.search .results.top ul.search-not-found li {
  background-color: inherit;
  border-color: #bbb;
}

.search .results.top ul.search-promoted li:before,
.search .results.top ul.search-not-found li:before {
  display: none;
}

.search .results.top ul.search-not-found h3 {
  margin-top: 1.2em;
}