/* Begin general about the alpha styles */
.about-alpha .wrapper {
  background: #F6F5F1 url(/images/welcome/sunburst.jpg) no-repeat;
  border: solid 1px #D6D6D6;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.3);
  margin: 2em auto;
  padding: 0;
  position: relative;
  width: 900px;
}

.about-alpha header {
  width: 820px;
}

.about-alpha .masthead {
  border-bottom: solid 2px #D6D6D6;
  height: 3.88em;
  margin: 0 auto;
  position: relative;
  top: -1.5em;
  left: 2.5em;
  width: 820px;
}

.about-alpha .masthead a img {
  padding-top: 1px;
}

.about-alpha #content-wrapper {
  display: block;
  margin: 0 auto;
  width: 820px;
}

.about-alpha section#main-content {
  float: left;
  width: 525px;
}

.about-alpha section#main-content.full-width {
  width: 100%;
}

.about-alpha aside {
  display: inline-block;
  font-size: 0.88em;
  margin: 0 0 2em 60px;
  width: 235px;
}

.about-alpha footer#site-info {
  clear: both;
  color: #333;
  font-size: 0.7em;
  margin: 1em auto 2em;
  text-align: center;
  padding: 1em 0;
  width: 820px;
}

.about-alpha #nav ul {
  left: 10em;
  top: -2.5em;
  position: relative;
}

.about-alpha #nav li {
  display: inline-block;
  font-size: 0.8em;
  line-height: 2.5em;
  height: 100%;
  margin-right: 2.5em;
}

.about-alpha #nav li a {
  color: #09F;
  display: inline-block;
  text-decoration: none;
}

.about-alpha #nav li a.active {
  background: url(/images/welcome/header-nav-active.png) 50% bottom no-repeat;
  color: #333;
  cursor: default;
  height: 50px;
  margin-bottom: -1em;
}

.about-alpha #nav li a.twitter {
  background: url(/images/welcome/twitter.png) 0 50% no-repeat;
  padding-left: 1.6em;
}


.about-alpha #content-wrapper h1 {
  border-bottom: solid 2px #D6D6D6;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif; 
  font-size: 1.8em;
  font-size-adjust: 0.488;
  font-weight: 600; 
  font-style: normal;
  margin-bottom: 1.3em;
  position: relative;
  padding-bottom: 0.88em;
  text-shadow: 0 2px 0 #fff;
  width: 820px;
}

.about-alpha-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(0,0,0,0.6);
  z-index:60;
}

.about-alpha article, .about-alpha aside, .about-alpha details, .about-alpha figcaption, .about-alpha figure,
.about-alpha footer, .about-alpha header, .about-alpha hgroup, .about-alpha menu, .about-alpha nav, .about-alpha section {
  display: block;
}

.about-alpha #accessibility {
  visibility: hidden;
}

.about-alpha .welcome {
  background: #F6F5F1 url(/images/welcome/window-bg.png) no-repeat 50% 50%;
  border: solid 1px #D6D6D6;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0,0,0,.3);
  height: 550px;
  margin: 2em auto;
  padding: 0;
  position: relative;
  width: 900px;
}

.about-alpha .header {
  clear: both;
  margin: 0.75em auto;
  width: 820px;
}
.about-alpha .popover .header img.logo {
  position: absolute;
  left: 2.5em;
}

.about-alpha .header ul {
  left: 10em;
  position: relative;
}

.about-alpha .header li {
  display: inline-block;
  font-size: 0.88em;
  line-height: 2.5em;
  height: 100%;
  margin-right: 2.5em;
}

.about-alpha .header li a {
  color: #09F;
  display: inline-block;
  text-decoration: none;
}

.about-alpha .header li a.active {
  background: url(/images/welcome/header-nav-active.png) 50% bottom no-repeat;
  color: #333;
  cursor: default;
  height: 50px;
  margin-bottom: -1em;
}

.about-alpha .header li a.twitter {
  background: url(/images/welcome/twitter.png) 0 50% no-repeat;
  padding-left: 1.6em;
}

.about-alpha ul.navigation {
  list-style: none;  
  position: absolute;
  right: 0;
  top: 1.7em;
  z-index: 10;
}

.about-alpha ul.navigation li {
  display: inline-block;
  float: left;
  height: 16px;
  margin-right: 0;
  width: 16px;
}

.about-alpha ul.navigation li a {
  background: url(/images/welcome/paging.png) no-repeat;
  display: inline-block;
  height: 100%;
  text-indent: -999em;
  width: 100%;
}

.about-alpha ul.navigation li a.selected, ul.navigation li a:hover {
  background: url(/images/welcome/paging-active.png) no-repeat;
}

/* End general about the alpha styles */

/* Begin tour splash box */

/*#splash-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(0,0,0,0.6);
  z-index:60;
}*/

#splash ul.navigation {
  list-style: none;  
  position: absolute;
  right: 0;
  top: 1.7em;
  z-index: 10;
}

#splash ul.navigation li {
  display: inline-block;
  float: left;
  height: 16px;
  margin-right: 0;
  width: 16px;
}

#splash ul.navigation li a {
  background: url(/images/welcome/paging.png) no-repeat;
  display: inline-block;
  height: 100%;
  text-indent: -999em;
  width: 100%;
}

#splash ul.navigation li a.selected, ul.navigation li a:hover {
  background: url(/images/welcome/paging-active.png) no-repeat;
}

#splash #slider {
  width: 820px;
  margin: 0 auto;
  position: relative;
}

#splash .scroll {
  height: 450px;
  overflow: auto;
  position: relative; /* fix for IE to respect overflow */
  clear: left;
}

#splash .scrollContainer {
  width:9000px;
}

#splash .scrollContainer div.panel {
  border-top: solid 2px #D6D6D6;
  height: 410px;
  padding: 18px 20px 20px 0;
  width: 840px;
  float:left;
  position:relative;
}

#splash .scrollContainer div.panel h2 {
  border-bottom: solid 2px #D6D6D6;
  font-family:"Proxima Nova Semibold", 'Helvetica Neue', Arial, Helvetica, sans-serif; 
  font-size-adjust: 0.488;
  font-weight: 600; 
  font-style: normal;
  margin-top: 0;
  margin-bottom: 1.3em;
  position: relative;
  padding-bottom: 0.88em;
  text-shadow: 0 2px 0 #fff;
  width: 820px;
}

#splash .scrollContainer div.panel p {
  color: #3E3E3E;
  font-size: .9em;
  margin: 0 0 1em;
  width: 18.125em;
}

#splash .scrollContainer div.panel img {
  float: right;
  margin-left: 1em;
  position: absolute;
/*  bottom: 1em;*/
  top: 6.5em;
  right: 2.5em;
}

#splash .scrollContainer div.panel p.button {
  position: absolute;
  bottom: 0;
  left: 0;
}

#splash .scrollContainer div.panel a.button {
  background: url(/images/welcome/button.png) no-repeat;
  border: none;
  color: #333;
  display: block;
  font-size: 1.2em;
  height: 42px;
  line-height: 42px;
  margin: 1.75em 0 0;
  text-align: center;
  text-decoration: none;
  width: 136px;
}

/*#splash .scrollContainer div.panel a.button.play {
  background: url(/images/welcome/button-play.png) no-repeat;
  height: 41px;
  width: 209px;
}
*/

#splash .scrollContainer div.panel.get-started p {
  margin: 0 auto;
  margin-bottom: 1em;
  width: 24em;
}

#splash .scrollContainer div.panel.get-started p.button {
  position: relative;
  bottom: auto;
  left: auto;
  margin-top: 3em;
}

#splash .hide {
    display: none;
}

/* End tour splash box */

.about-alpha h1 {
  border-bottom: solid 2px #D6D6D6;
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif; 
  font-size: 1.8em;
  font-size-adjust: 0.488;
  font-weight: 600; 
  font-style: normal;
  margin-bottom: 1.3em;
  position: relative;
  padding-bottom: 0.88em;
  text-shadow: 0 2px 0 #fff;
  width: 820px;
}

/* about pages override styles */

.about-alpha .welcome.about {
  background: #F6F5F1 url(/images/welcome/sunburst.jpg) no-repeat;
	height: auto;
}

.about-alpha .welcome.about h1 {
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif; 
  font-size: 1.8em;
  font-size-adjust: 0.488;
  font-weight: 600; 
  font-style: normal;
  margin-bottom: 1em;
  position: relative;
	padding: 0.88em 0 0.88em;
  text-shadow: 0 2px 0 #fff;
  width: 820px;
}

.about-alpha .welcome.about .panel {
	border-top: solid 2px #D6D6D6;
	margin: 0 auto 2em;
	width: 820px;
}

.about-alpha .welcome.about h2, .about-alpha .welcome.about p {
	line-height: 1.3em;
	margin: 0 0 1em;
	width: 70%;
}

.about-alpha .welcome.about h2 {
  font-family: "Proxima Nova Semibold", "Helvetica Neue", Arial, Helvetica, sans-serif; 
  font-size: 1.5em;
  font-size-adjust: 0.488;
  font-weight: 600; 
  font-style: normal;
	margin-bottom: 0.25em;
  position: relative;
  text-shadow: 0 2px 0 #fff;
}

.about-alpha .welcome.about p + h2 {
	margin-top: 1.5em;
}