<div class="govuk-emergency-banner <%= banner.campaign_class %>" role="banner">
  <div>
    <h2><%= banner.heading %></h2>
    <% unless banner.short_description.blank? %>
      <p><%= banner.short_description %></p>
    <% end %>
    <% if banner.link %>
      <a href="<%= banner.link %>">More information</a>
    <% end %>
  </div>
</div>
