<div id="campaign" class="<%= banner.campaign_class %>">
  <div class="campaign-inner">
    <h1><%= banner.heading %></h1>
    <p>
      <%= banner.short_description %>
    </p>
    <% if banner.link %>
      <a href="<%= banner.link %>">More information</a>
    <% end %>
  </div>
</div>
