<%
  show_global_bar ||= true # Toggles the appearance of the global bar
  title = false
  link_href = "/brexit"
  link_text = "Get ready for Brexit on 31 October 2019"
-%>
<% if show_global_bar %>
  <% content_for :head do %>
    <!--[if gt IE 7]><!-->
    <script>!function(t){"use strict";function e(){return!/^\/register-to-vote|^\/done|^\/brexit|^\/get-ready-brexit-check/.test(window.location.pathname)}function n(){var e=t.cookie.match("(?:^|[ ;])global_bar_seen=([0-9]+)");return e?parseInt(e.pop(),10)<3:!0}var o=t.documentElement;e()&&n()&&(o.className=o.className.concat(" show-global-bar"))}(document);</script>
    <!--<![endif]-->
  <% end %>
  <!--[if gt IE 7]><!-->
  <div id="global-bar" class="global-bar dont-print" data-module="global-bar">
    <div class="global-bar-message-container">
    <p class="global-bar-message">
      <% if title %>
        <span class="global-bar-title"><%= title %></span>
      <% end %>

      <% if link_href && link_text %>
        <%= link_to(
          link_text,
          link_href,
          rel: "external noreferrer",
          class: "global-bar-link js-call-to-action"
        ) %>
      <% end %>
    </p>
    <a href="#hide-message"
       class="dismiss"
       role="button"
       aria-controls="global-bar">Hide&nbsp;message</a>
    </div>
  </div>
  <!--<![endif]-->
<% end %>
