<%
  show_global_bar ||= true # Toggles the appearance of the global bar
  title = "Coronavirus (COVID-19)"
  title_href = "/coronavirus"
  sub_text = "Guidance and support"

  # Toggles banner being permanently visible
  # If true, banner is always_visible & does not disappear automatically after 3 pageviews
  always_visible = true

  global_bar_classes = %w(global-bar dont-print)
-%>

<% if show_global_bar %>
  <% content_for :body_end do %>
    <%= javascript_include_tag 'global-bar-init', integrity: false %>
    <script>
      if (GOVUK.globalBarInit) {
        window.GOVUK.globalBarInit.init()
      }
    </script>
  <% end %>
  <!--[if gt IE 7]><!-->
  <div id="global-bar" class="<%= global_bar_classes.join(' ') %>" data-module="global-bar" <%= "data-global-bar-permanent=true" if always_visible %> data-nosnippet>
    <div class="global-bar-message govuk-width-container">
      <%= render "govuk_publishing_components/components/action_link", {
        text: title,
        href: title_href,
        subtext: sub_text,
        classes: "js-call-to-action",
        light_text: true
      } %>
    </div>
  </div>
  <!--<![endif]-->
<% end %>
