<!--
This is an example template for the banner. It will never
go live, but it provides an example of the kind of content
that can be placed within the notifications banner.

You would place this content into the respective
banner_{colour}.erb file, depending on the kind of
notification that you would like to show.
-->
<p>Your message goes here<br />
This is the second line of your message!</p>

<a href="#" class="more-information">More information</a>
