<!--
This is an example template for the banner. It will never
go live, but it provides an example of the kind of content
that can be placed within the notifications banner.

You would place this content into the respective
banner_{colour}.erb file, depending on the kind of
notification that you would like to show.
-->
<p>Emergency! Carl is not in the office<br />
Carl really should be in the office, I don't know how I will survive without him</p>

<a href="#" class="right">More information</a>
