<!--
This is an example template for the campaign. It will never
go live, but it provides an example of the kind of content
that can be placed within the notifications campaign box.

You would place this content into the respective
campaign_{colour}.erb file, depending on the kind of
notification that you would like to show.
-->
<h1>A notification is occurring, standby</h1>

<p>Your message goes here<br />
This is the second line of your message!<br />
This is the third line!

<a href="#" class="right">More information</a></p>
