<div class="app-c-super-navigation-header__dropdown-menu" data-dropdown-id="supernav-dropdown-search">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render "govuk_publishing_components/components/search", {
          inline_label: false,
          label_text: sanitize("<h2 class=\"govuk-heading-m\">Search GOV.UK</h2>"),
          size: "large",
        } %>
      </div>
    </div>
  </div>
</div>
