<div class="govuk-header__content app-c-super-navigation-header__content">
  <button type="button" class="govuk-header__menu-button govuk-js-header-toggle app-c-super-navigation-header__menu-button" aria-controls="navigation" aria-label="Show or hide navigation menu">
    Menu
  </button>
  <nav>
    <ul id="navigation" class="govuk-header__navigation app-c-super-navigation-header__items" aria-label="Navigation menu">
      <% navigation_data["navigation_links"].each do | link | %>
        <li class="govuk-header__navigation-item app-c-super-navigation-header__item">
          <a class="govuk-header__link app-c-super-navigation-header__item-link" href="<%= link["href"] %>">
            <%= link["label"] %>
          </a>
        </li>
      <% end %>
      <li class="govuk-header__navigation-item app-c-super-navigation-header__item app-c-super-navigation-header__item--search">
          <a class="govuk-header__link app-c-super-navigation-header__item-link app-c-super-navigation-header__item-link--search" href="/search">
            <span class="app-c-super-navigation-header__item-link-text--search">Search</span>
          </a>
        </li>
    </ul>
  </nav>
</div>
