.error {
  .intro {
    background-color: #D5E8F3;
    color: $text-colour;
  }

  form {
    input[type="text"] {
      @include core-24;

      padding: 0.3em 0 0.1em 0.4em;
      margin-left: 0;
    }
  }

  .search-box {
    label {
      display: block;
    }

    input[type="text"], input[type="search"] {
      background-color: $grey-9;
      border: 2px inset;
    }
  }

  .report-a-problem {
    margin-top: 60px;

    form {
      @include core-24;

      padding-top: 10px;

      label {
        display: block;

        @include ie-lte(8) {
          width: 400px;
        }
      }

      input {
        display: block;
        margin-bottom: 20px;
        width: 400px;

        @include media(mobile) {
          width: 300px;
        }
      }

      button {
        margin-top: 10px;
      }
    }
  }

  @include media(mobile) {
    .page-header div {
      padding-left: 1em;
    }
  }
}
