@import "_conditionals";
@import "styleguide/_font-stacks.scss";
@import "styleguide/_typography.scss";

/* Take the tour button styles (in the header) */
.home-tour { 
  position: absolute;
  top: 0.5em;
  right: 4%;
  z-index: 1000;
  display:none;
}

.tour-label a {
  background-color: #F17921;
  color: #000;
  padding: 0.25em 0.5em;
  text-decoration: none;

  &:hover {
    background-color: #fff;
  }
}


section#homepage{
  overflow:auto;
  @include media(desktop) {
    min-height:26em;
  }
}
section#homepage,
.main-campaign,
.minor-campaigns {
  background-color:#fff;
  max-width: 960px;
  margin: 0 auto;
  clear:both;
  
  @include ie-lte(7){
    width: 960px;
  }

  .homepage-sections {
    h2 {
      @include core-16;
    }
  }

  .sections-list {
    list-style: none;
    padding: 0;

    li {
      @include core-19;
      display: block;
      border-bottom:1px solid #ccc;
      a{
        color: #197873;
      }
      p{
        @include core-16;
        padding:0 0 0.85em 0;
        margin:0;
      }
    }
    li:last-child {
      border:none;
    }
  }

  .sections-links {
    @include core-19;
    margin-right: 1.5em;
  }
}

header.intro{
  min-height:0;
  margin:1em 0.5em 0em 0.5em;

  hgroup {
    h1{
      &.strap{
        @include core-48;
        padding-bottom:0.25em;
      }
    }
    p {
      @include core-19;
      margin-top: 0;
    }
  }

  ul{
    list-style-type:none;
    padding:0;
    margin:0 0 2em 0;
  }
  ul li{
    display:inline;
    padding-right:1em;
  }
}

.homepage-sections{
  overflow:auto;
  display:inline;
}
.homepage-sections ul,
.minor-campaigns article{
  width: 98%;
  margin:0em 1% 0em 1%;
  border-bottom:none;
  min-height:0;
  padding-top:1em;
}

@include media(desktop){
  header.intro,
  .homepage-sections ul,
  .minor-campaigns article{
    width:29.3%;
    float:left;
    margin:1em 2% 1em 2%;
  }
}

.minor-campaigns article{
  margin-top:1em;
  border-bottom:none;
  border-top: 4px solid #197873;
  &.most-popular{
    ul{
      list-style: none;
      list-style-image: none;
      li{
        padding-bottom:0.5em;
        a{
        color: #197873;
      }
      }
    }
  }
  
  &.inside-gov{
    background-color:#333;
    color:#fff;
    border:none;
    padding-top:0;
    
    p{
      @include core-16;
      padding:0 1.2em;
    }

    a{
      color:#fff;
    }
    
    header{
      background-color:#000;
      color:#fff;
      padding-top:1em;
      background-image: image-url("homepage-cabinet.jpg");
      background-position: bottom left;
      background-repeat: no-repeat;
      padding-bottom:140px;
      
      h1, p{
        color:#fff;
        @include core-19;
        padding:0 1em;
        margin:0;
      }
      h1{
        @include core-24;
        padding:0 0.825em;
      }
    }
  }

  &.mini-promo{
    overflow: hidden;

    p {

      a {
        background-image: image-url("homepage-clocks-promo.jpg");
        background-position: 50% bottom;
        background-repeat: no-repeat;
        display: block;
        height: 165px;
        @include media(mobile){
          background-position: left bottom;
        }
      }
    }
  }
}


.main-campaign{
  a{
    display:block;
    text-indent:-9999px;
    height:272px;
    background-image: image-url('homepage/govuk-500px.png');
    background-position: bottom right;
    background-repeat: no-repeat;


    @include media($min-width: 500px){
      height:543px;
      background-image: image-url('homepage/govuk-935px.png');
      background-position: bottom right;
    }


    @include media($min-width: 936px){
      height:300px;
      background-image: image-url('homepage/govuk-960px.png');
      background-position: top left;
    }

  }
  
}


