@import "_conditionals";
@import "styleguide/_font-stacks.scss";
@import "styleguide/_typography.scss";

/* Take the tour button styles (in the header) */
.home-tour { 
  position: absolute;
  top: 0.5em;
  right: 4%;
  z-index: 1000;
}

.tour-label a {
  background-color: #F17921;
  color: #000;
  padding: 0.25em 0.5em;
  text-decoration: none;

  &:hover {
    background-color: #fff;
  }
}
section#homepage{
  min-height:27em;
}
section#homepage,
.main-campaign,
.minor-campaigns {
  background-color:#fff;
  max-width: 960px;
  margin: 0 auto;
  clear:both;
  
  @include ie-lte(7){
    width: 960px;
  }

  .homepage-sections {
    h2 {
      @include core-19;
      
      
    }
  }

  .sections-list {
    list-style: none;
    padding: 0;

    li {
      @include core-19;
      display: block;
      border-top:1px solid #ccc;
      a{
        color: #197873;
      }
      p{
        @include core-16;
        padding:0 0 0.85em 0;
        margin:0;
      }
    }
  }

  .sections-links {
    @include core-19;
    margin-right: 1.5em;
  }
}

.intro{
  h1{
    @include core-19;
    &.strap{
      @include core-48;
    }
  }
  
}

.intro,
.homepage-sections ul,
.minor-campaigns article{
  width:30%;
  float:left;
  margin:1em 1em 1em 1em;
  border-bottom:1px solid #ccc;
  border-top: 4px solid #197873;
  padding-top:1em;
}


.main-campaign{
  background-color:#d9e7fb;
  height:300px;
  clear:both;
}