// Govspeak call to action
// http://govuk-component-guide.herokuapp.com/components/govspeak/fixtures/call_to_action
//
// Support:
//
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.govuk-govspeak {
  .call-to-action {
    margin-top: $gutter;
    margin-bottom: $gutter;
    background-color: $panel-colour;
    padding: 2em;

    &:first-child {
      margin-top: 0;
    }

    p:last-child,
    ul:last-child,
    ol:last-child {
      margin-bottom: 0;
    }
  }
}
