// Govspeak fractions
// http://govuk-component-guide.herokuapp.com/components/govspeak/fixtures/image_fractions
// http://govuk-component-guide.herokuapp.com/components/govspeak/fixtures/text_fractions
//
// Support:
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✘

.govuk-govspeak {
  .fraction {
    sup,
    sub {
      @include core-14;
    }

    img {
      display: inline-block;
      width: auto;
      margin: 0 0 -5px;
    }
  }
}
