// Govspeak warning callout
// http://govuk-component-guide.herokuapp.com/components/govspeak/fixtures/warning_callout
//
// Support:
//
// - alphagov/whitehall: ✔︎
// - alphagov/govspeak: ✔︎

.govuk-govspeak {
  .help-notice {
    $icon-size: 34px;
    $line-height-mobile: 20px;
    $line-height-tablet: 25px;

    // Add '!' icon
    background-image: image-url("icon-important.png");
    @include device-pixel-ratio() {
      background-image: image-url("icon-important-2x.png");
    }
    background-size: $icon-size $icon-size;
    background-repeat: no-repeat;

    min-height: $icon-size;
    padding-left: $icon-size;
    
    // Center the icon around the baseline
    padding-top: ($icon-size - $line-height-mobile) / 2;
    @include media(tablet) {
      padding-top: ($icon-size - $line-height-tablet) / 2;
    }

    p {
      @include bold-19;
      margin-left: 1em;
    }
  }
}
