/*
 * Help page
 */

#wrapper .help header hgroup {
	margin-right: 0;
	padding: 1em 2em;
}

#wrapper .help header hgroup h1 {
	padding: 0;
	margin: 0;
}

#help article {
	border-bottom: solid 3px #bbb;
	box-shadow: none;
	margin: 0 0 1em 0;
	min-height: 0;
	padding: 0 0 1em 0;
}

#help article .inner {
	padding: 0;
}

#help {
	clear: both;
	background-color: #fff;
	overflow: hidden;
	padding: 2em;
/*	width: 100%;*/
}

#main-help {
	width: 65%;
	float: left;
	padding: 0;
	margin: 0;
}

#extra-help {
	float: right;
	width: 30%;
}

#extra-help article {
/*	padding: 1em;*/
}

.help-menu {
	border-bottom: solid 3px #bbb;
	padding: 0 0 1em 0;
}

.help-menu ul {
/*	list-style-type: none;*/
/*	margin: 1em 0 0 0;*/
	margin: 0;
	padding: 0;
}

.help-menu li {
/*	list-style-type: none;*/
	margin: 0 0 0.5em 1em;
/*	padding: 0 0 1em 1em;*/
}

/*.help #find,
.help #tools,
.help #feedback {
	width: 100%;

	margin-right:1em;
	margin-bottom:1em;
	background-color:#fff;
	border:1px solid #fff;
	padding:0.5em 1em 1em 1em;
	border-radius:5px;
}*/

#help-internet ul,
#help-internet li{
	list-style-type:none;
	padding:0;
	margin:0 0 1em 0;
}

.help h1,
.help h2,
.help p {
	padding: 0;
	margin: 0.5em 0;
	line-height: 1.4em;
}
.help h1,
.help h2 {
	border: none;
	margin-top:0.5em;
}

.help h2 {
	font-size: 0.95em;
}

.help dl {
	margin: 0 1em 1.4em 0;
}

.help dl dd {
	border-bottom: solid 1px #bbb;
	margin-bottom: 1.4em;
}
.help dl dd:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

.help dt h2 {
	padding: 0 0 0.2em 2em;
}

.help h2.guides {
	background: url('/images/icon-guide-s.png') no-repeat 1% 0;
}
.help h2.answers {
	background: url('/images/icon-answer-s.png') no-repeat 1% 0;
}
.help h2.smart-answers {
	background: url('/images/icon-answer-s.png') no-repeat 1% 0;
}
.help h2.services {
	background: url('/images/icon-transaction-s.png') no-repeat 1% 0;
}
.help h2.local-services {
	background: url('/images/icon-localtransaction-s.png') no-repeat 1% 0;
}
.help h2.benefits {
	background: url('/images/icon-programme-s.png') no-repeat 1% 0;
}

.help dl dd p {
	margin: 0 0 1em;
}

.help strong a,
.project li {
	background: none repeat scroll 0 0 #FF7115;
/*  border: 1px solid #A93D00;*/
  border-radius: 0.25em 0.25em 0.25em 0.25em;
	color:#fff;
/*	width:60%;*/
/*	display:block;*/
	padding:0.5em 1em;
}

.help strong a,
.help strong a:visited,
.project li a {
	color: #fff;
	font-weight: normal;
}
.help strong a:hover,
.help strong a:active,
.help strong a:focus,
.project li a:hover,
.project li a:active,
.project li a:focus {
	color:#333;
}