<button class="govuk-header__super-navigation-link govuk-header__super-navigation-menu-toggle js-header-menu-toggle" type="button" data-module="header-menu">
  <span class="govuk-header__super-navigation-menu-toggle-text--closed">Menu</span>
  <span class="govuk-header__super-navigation-menu-toggle-text--open">X</span>
</button>
