<button class="govuk-header__super-navigation-link govuk-header__super-navigation-menu-toggle js-govuk-header__super-navigation-menu-toggle-button" type="button" data-module="header-menu">
  <span class="govuk-header__super-navigation-menu-toggle-text--closed">
    Menu
    <%= image_tag "down-arrow.svg" %>
  </span>
  <span class="govuk-header__super-navigation-menu-toggle-text--open">X</span>
</button>
