<%
  navigation_links = [
    { label: "Topic", href: "/topic" },
    { label: "Departments", href: "/government/organisations" },
    { label: "Government activities", href: "/search/news-and-communications" },
  ]
%>

<nav class="govuk-header__navigation">
  <ul class="govuk-header__navigation-items">
    <% navigation_links.each do | link | %>
      <li class="govuk-header__navigation-item">
        <a class="govuk-header__navigation-link" 
          href="<%= link[:href] %>">
          <%= link[:label] %>
        </a>
      </li>
    <% end %>
    <li class="govuk-header__navigation-item">
      <%= render "components/header/search" %>
    </li>
  </ul>
</nav>
