// Integration of HMRC’s webchat solution

(function () {
  'use strict';
  var root = this,
    $ = root.jQuery;
  if(typeof root.GOVUK === 'undefined') { root.GOVUK = {}; }

  var webchat = {

    shouldOpen: function(){
      var webchatEnabledPaths = [
        '/government/organisations/hm-revenue-customs/contact/self-assessment',
        '/government/organisations/hm-revenue-customs/contact/self-assessment-online-services-helpdesk',
        '/check-if-you-need-a-tax-return/y/employed-even-if-just-for-part-of-the-year/no/no/no-neither-of-us-claimed-child-benefit/no/no/no/none-of-these',
        '/check-if-you-need-a-tax-return/y/retired/no/no-neither-of-us-claimed-child-benefit/no/no/no/none-of-these',
        '/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries',
        '/when-is-your-next-tax-credits-payment',
        '/renewing-your-tax-credits-claim',
        '/childcare-costs-for-tax-credits/y/yes/yes/weekly_diff_amount',
        '/childcare-costs-for-tax-credits/y/no/regularly_less_than_year/monthly_diff_amount',
        '/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries',
        '/tax-credits-overpayments',
        '/government/organisations/hm-revenue-customs/contact/vat-enquiries',
        '/vat-registration/changes-to-your-details'
      ];

      return ($.inArray(window.location.pathname, webchatEnabledPaths) >= 0);
    },

    validOrigin: function(origin){
      return origin.match(/gov\.uk$/) || origin.match(/alphagov\.co\.uk$/);
    },

    sendMessage: function(message){
      webchat.$chatFrame.get(0).contentWindow.postMessage(JSON.stringify(message), '<%= ENV['GOVUK_ASSET_ROOT'] %>');
    },

    receiveMessage: function(e) {
      e = e.originalEvent;
      if (webchat.validOrigin(e.origin)) {
        var message = JSON.parse(e.data);

        if (message.evt === 'opened') {
          webchat.$banner.addClass('open');
          webchat.$banner.attr('aria-hidden', false);
        } else if (message.evt === 'closed') {
          webchat.$banner.removeClass('open');
          webchat.$banner.attr('aria-hidden', true);
        } else if (message.evt === 'error') {
          GOVUK.analytics.trackEvent('webchat', 'error');
        }
      }
    },

    init: function (){
      var insertionPoint;

      // IE7 can’t access webchat
      if (window.sessionStorage && window.postMessage) {
        if (webchat.shouldOpen()) {

          insertionPoint = $('.beta-wrapper').length ? $('.beta-wrapper') : $('#content > header');
          insertionPoint.after('<div class="webchat-banner" aria-hidden="true"><h2>Talk to an HMRC adviser online</h2><p>You can use web chat instead of calling HMRC’s helpline.</p><a href="#" class="accept">Start web chat</a> <a href="#" class="reject">I’m not interested</a></div>');

          webchat.$chatFrame = $('<iframe class="hidden" />');
          webchat.$banner = $('.webchat-banner');

          // initialise the webchat
          webchat.$chatFrame.attr('src', '<%= asset_path "webchat-iframe.html" %>');
          webchat.$chatFrame.on('load', function() {
            webchat.sendMessage({
              evt: 'load',
              // url: 'https://www.preview.alphagov.co.uk/government/organisations/hm-revenue-customs/contact/self-assessment',
              // title: 'Self%20Assessment:%20general%20enquiries%20-%20Contact%20HMRC%20-%20GOV.UK'
              url: window.location.href,
              title: window.document.title
            });
          });
          webchat.$chatFrame.appendTo('body');

          // hide / show the banner based on status of the webchat
          $(window).on('message', webchat.receiveMessage);

          // let a user accept / reject a webchat
          webchat.$banner.on('click', '.accept', function(e) {
            e.preventDefault();
            webchat.sendMessage({ evt: 'accept' });
            GOVUK.analytics.trackEvent('webchat', 'accepted');
          }).on('click', '.reject', function(e) {
            e.preventDefault();
            webchat.sendMessage({ evt: 'reject' });
            GOVUK.analytics.trackEvent('webchat', 'rejected');
          });

        }

      }
    }
  };

  root.GOVUK.webchat = webchat;
}).call(this);
