<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
  </head>
  <body>
  <script>

  (function () {
    'use strict';

    function isOfferOpen() {
      var ribbonContainer = document.querySelector('#egofr-ribbon-container');
      return ribbonContainer && ribbonContainer.parentNode.style.visibility !== 'hidden';
    }

    function sendMessage(obj) {
      window.parent.postMessage(JSON.stringify(obj), '<%= Rails.env.development? ? '*' : ENV['GOVUK_WEBSITE_ROOT'] %>');
    }

    function signalOfferStatus() {
      sendMessage({ evt: isOfferOpen() ? 'opened' : 'closed' });
    }

    function loadIFrame(pageURL, pageTitle) {
      var egainScript = document.createElement('script');
      egainScript.id = 'eGainOffers';
      egainScript.src = 'https://mcb.kcom.com/system/Offers.egain?command=GetRulesJS&egofferpageurl=' + pageURL + '&egofferpagetitle=' + pageTitle + '&egofferpatternchecksum=';
      document.body.appendChild(egainScript);

      egainScript.onload = function () {
        setInterval(signalOfferStatus, 1000);
      };
      egainScript.onerror = function () {
        sendMessage({ evt: 'error' });
      };
    }

    window.onmessage = function (e) {
      var message;
      if (e.origin.match(/gov\.uk$/)) {
        message = JSON.parse(e.data);
        if (message.evt === 'load') {
          loadIFrame(message.url, message.title);
        } else if (message.evt === 'accept') {
          document.querySelector('.egofr-ribbon-btnOK').click();
          signalOfferStatus();
        } else if (message.evt === 'reject') {
          document.querySelector('.egofr-ribbon-btnCancel').click();
          signalOfferStatus();
        }
      }
    };

  })();

  </script>
  </body>
</html>
