<%= render partial: "error_page", locals: {
    title: "Unauthorized",
    heading: "You are not permitted to access this page",
    intro: '<p>This page is restricted to certain users only.</p>',
    status_code: 401
} %>
