<%= render partial: "error_page", locals: {
    title: "Forbidden - 403",
    heading: "You are not permitted to see this page",
    intro: '<p>This page is restricted to certain users only.</p>',
    status_code: 403
} %>

