<%= render partial: "error_page", locals: {
    heading: "Page not found",
    intro: '<p>If you entered a web address, check it is correct.</p>
      <p>You can <a class="govuk-link" href="/">browse from the homepage</a> or use the search box above to find the information you need.</p>',
    status_code: 404
} %>
