<%= render partial: "error_page", locals: {
    title: "Method not allowed",
    heading: "You are not permitted to perform this action",
    intro: '<p>This page does not support the action you requested.</p>',
    status_code: 405
} %>

