<%= render partial: "error_page", locals: {
    title: "Page not found - 406",
    heading: "The page you are looking for can't be found",
    intro: '<p>Please check that you have entered the correct web address, or try using the search box above or explore <a href="/">GOV.UK</a> to find the information you need.</p>',
    status_code: 406
} %>
