<%= render partial: "error_page", locals: {
    title: "Page no longer here - 410",
    heading: "The page you are looking for is no longer here",
    intro: '<p>It may have been moved or replaced.</p>
      <p>Please check that you have entered the correct web address, or try using the search box above or explore <a class="govuk-link" href="/">GOV.UK</a> to find the information you need.</p>',
    status_code: 410
} %>
