<%= render partial: "error_page", locals: {
  title: "Sorry, we're experiencing technical difficulties",
  heading: "Sorry, we're experiencing technical difficulties",
  intro: "<p>Please try again in a few moments.</p>",
  status_code: 500
} %>
