<div id="accounts-signed-out" class="govuk-header__content gem-c-header__content" data-module="govuk-header">
  <button role="button" class="govuk-header__menu-button gem-c-header__menu-button govuk-js-header-toggle" aria-controls="navigation-out" aria-label="Show or hide Top Level Navigation">Menu</button>
  <nav class="gem-c-header__nav">
    <ul id="navigation-out" class="govuk-header__navigation govuk-header__navigation--end" aria-label="Top Level Navigation">
      <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" href="<%= Plek.new.website_root %>/transition-check/login">Sign in</a>
      </li>
    </ul>
  </nav>
</div>

<div id="accounts-signed-in" class="govuk-header__content gem-c-header__content" data-module="govuk-header">
  <button role="button" class="govuk-header__menu-button gem-c-header__menu-button govuk-js-header-toggle" aria-controls="navigation-in" aria-label="Show or hide Top Level Navigation">Menu</button>
  <nav class="gem-c-header__nav">
    <ul id="navigation-in" class="govuk-header__navigation govuk-header__navigation--end" aria-label="Top Level Navigation">
      <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" href="<%= Plek.new.find("account-manager") %>">Account</a>
      </li>
      <li class="govuk-header__navigation-item">
        <a class="govuk-header__link" href="<%= Plek.new.website_root %>/transition-check/logout">Sign out</a>
      </li>
    </ul>
  </nav>
</div>
