<div class="prototype-footer">
  <div class="prototype-footer-wrapper">
    <h2>Browse</h2>

    <% if false %>
    <div class="prototype-footer-filters">
      <!-- <span>Show me:</span> -->
      <ul class="prototype-footer-filter-actions group">
        <li><button type="button" class="active" data-filter="everyone">Everybody</button></li>
        <li><button type="button" data-filter="business">Business</button></li>
      </ul>
    </div>

    <% @popular_items.each do |key, items| %>
    <div class="prototype-footer-row group">
      <div class="prototype-footer-section">
        <h4><a href="#"><%= key %></a></h4>
        <ul class="prototype-footer-list">
          <% items[0..3].each do |item| %>
            <li><a href="#"><%= item %></a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>

    <% end %>

    <div class="group">
      <div class="prototype-footer-section">
        <h4><a href="/browse/crime-and-justice">Crime &amp; Justice</a></h4>
        <ul class="prototype-footer-list">
          <li><a href="/jury-service">Jury Service</a></li>
          <li><a href="/report-crime-anti-social-behaviour">Report a crime or anti-social behaviour</a></li>
          <li><a href="/life-in-prison">Prison Life</a></li>
          <li><a href="/become-magistrate">Become a magistrate</a></li>
        </ul>
        <p><a href="/browse/crime-and-justice">More on Crime &amp; Justice…</a></p>
      </div>

      <div class="prototype-footer-section">
        <h4><a href="/browse/driving">Driving</a></h4>
        <ul class="prototype-footer-list">
          <li><a href="/car-tax-disc-vehicle-licence">Get a tax disc (vehicle licence)</a></li>
          <li><a href="/calculate-vehicle-tax-rates">Calculate vehicle tax rates</a></li>
          <li><a href="/book-a-driving-theory-test">Book a driving theory test</a></li>
          <li><a href="/book-practical-driving-test">Book a practical driving test</a></li>
        </ul>
        <p><a href="/browse/driving">More on Driving…</a></p>
      </div>

      <div class="prototype-footer-section">
        <h4><a href="/browse/education">Education</a></h4>
        <ul class="prototype-footer-list">
          <li><a href="/apply-for-student-finance-2012-13">Student finance 2012-13</a></li>
          <li><a href="/student-finance-calculator">Student finance calculator 2012-13</a></li>
          <li><a href="/school-term-holiday-dates">School term and holiday dates</a></li>
          <li><a href="/national-curriculum">The national curriculum</a></li>
        </ul>
        <p><a href="/browse/education">More on Education…</a></p>
      </div>

      <div class="prototype-footer-section">
        <h4><a href="/browse/family">Family</a></h4>
        <ul class="prototype-footer-list">
          <li><a href="/order-copy-birth-death-marriage-certificate">Order a copy of a birth, death or marriage certificate</a></li>
          <li><a href="/register-birth">Register a birth</a></li>
          <li><a href="/divorce">Get a divorce</a></li>
          <li><a href="/after-a-death">What to do after someone dies</a></li>
        </ul>
        <p><a href="/browse/family">More on Family…</a></p>
      </div>

      <div class="prototype-footer-section">
        <h4><a href="/browse/housing">Housing</a></h4>
        <ul class="prototype-footer-list">
          <li><a href="/housing-benefit">Housing Benefit</a></li>
          <li><a href="/council-tax-benefit">Council Tax Benefit</a></li>
          <li><a href="/council-housing">Council housing</a></li>
          <li><a href="/apply-for-council-housing">Apply for council housing</a></li>
        </ul>
        <p><a href="/browse/housing">More on Housing…</a></p>
      </div>

      <div class="prototype-footer-section">
        <h4><a href="/browse/life-in-the-uk">Life in the UK</a></h4>
        <ul class="prototype-footer-list">
          <li><a href="/petition-government">Petition the government</a></li>
          <li><a href="/register-to-vote">Register to vote</a></li>
          <li><a href="/becoming-a-british-citizen">Becoming a British citizen</a></li>
          <li><a href="/rights-disabled-person">Disability rights</a></li>
        </ul>
        <p><a href="/browse/life-in-the-uk">More on Life in the UK…</a></p>
      </div>

      <div class="prototype-footer-section">
        <h4><a href="/browse/money-and-tax">Money and Tax</a></h4>
        <ul class="prototype-footer-list">
          <li><a href="/claim-tax-credits">Claim tax credits</a></li>
          <li><a href="/tax-credits-calculator">Tax credits calculator</a></li>
          <li><a href="/state-pension">State Pension: qualifying and claiming</a></li>
          <li><a href="/file-your-self-assessment-tax-return">File your Self Assessment tax return</a></li>
        </ul>
        <p><a href="/browse/money-and-tax">More on Money and Tax…</a></p>
      </div>

      <div class="prototype-footer-section">
        <h4><a href="/browse/neighbourhoods">Neighbourhoods</a></h4>
        <ul class="prototype-footer-list">
          <li><a href="/uk-online-centre-internet-access-computer-training">UK online centres</a></li>
          <li><a href="/organise-fete-street-party">Organising a fete or street party</a></li>
          <li><a href="/noise-pollution-road-train-plane">Noise pollution from roads, trains or planes</a></li>
          <li><a href="/control-dog-public">Controlling your dog in public</a></li>
        </ul>
        <p><a href="/browse/neighbourhoods">More on Neighbourhoods…</a></p>
      </div>

      <div class="prototype-footer-section">
        <h4><a href="/browse/travel">Travel</a></h4>
        <ul class="prototype-footer-list">
          <li><a href="/plan-your-journey">Plan your journey</a></li>
          <li><a href="/passport-quick">Get a passport quickly</a></li>
          <li><a href="/hand-luggage-restrictions-at-uk-airports">Hand luggage restrictions at UK airports</a></li>
          <li><a href="/apply-renew-european-health-insurance-card">Apply for or renew a European Health Insurance Card</a></li>
        </ul>
        <p><a href="/browse/travel">More on Travel…</a></p>
      </div>

      <div class="prototype-footer-section">
        <h4><a href="/browse/work">Work</a></h4>
        <ul class="prototype-footer-list">
          <li><a href="/find-job">Find a job</a></li>
          <li><a href="/jobseekers-allowance">Jobseeker&rsquo;s Allowance</a></li>
          <li><a href="/calculate-redundancy-pay">Calculate your redundancy pay</a></li>
          <li><a href="/your-right-to-minimum-wage">Your right to the minimum wage</a></li>
        </ul>
        <p><a href="/browse/work">More on Work…</a></p>
      </div>
    </div>
  </div>
</div>
