<% content_for :title do %>Sorry, we are experiencing technical difficulties (<%= status_code %> error) - GOV.UK<% end %>

<% content_for :html_classes do %>error error-50X<% end %>

<% content_for :body_classes do %>mainstream error<% end %>

<% content_for :content do %>
<section id="content" role="main" class="group">

  <header class="page-header group">
      <hgroup>
        <h1>Sorry, we are experiencing technical difficulties</h1>
      </hgroup>
  </header>
	<div class="article-container group ancillary">
	  	<article role="article" class="group">
	     <div class="inner">
          <p>Please try again in a few moments.</p>
       </div>
     </article>
   </div>
</section>

<div id="related-items"></div>
<% end %>

<%= render partial: 'base' %>

