<% content_for :title, "Sorry, we are experiencing technical difficulties (#{status_code} error) - GOV.UK " %>

<% content_for :body_classes, "mainstream error" %>

<% content_for :wrapper_content do %>
<main id="content" role="main" class="group">

  <header class="page-header group">
    <div>
      <h1>Sorry, we are experiencing technical difficulties</h1>
    </div>
  </header>
  <div class="article-container">
    <article role="article" class="group">
      <div class="inner">
        <p>Please try again in a few moments.</p>
      </div>
    </article>
  </div>
</main>
<% end %>

<%= render partial: 'base' %>
