<% content_for :html_classes do %>error error-500<% end %>

<% content_for :title do %><%= status_code %> error | GOV.UK<% end %>

<%# The citizen class is going to be deprecated, to be replaced with mainstream. %>
<%# Added the mainstream class in preparation for the change. %>
<% content_for :body_classes do %>citizen mainstream error<% end %>

<% content_for :content do %>
  <section id="content" role="main" class="group ancillary">
    <div class="article-container">

      <header class="page-header group">
        <hgroup>
          <h1><span>Error </span>We seem to be having a problem</h1>
        </hgroup>
      </header>

      <article role="article" class="group">
        <div class="inner">

          <div class="intro">
            <p>This could be because you’re looking for a page that doesn’t exist. Since this is an experimental trial (‘beta’) site, this might happen occasionally.</p>

            <p>We’ll automatically receive a note telling us there is a problem, and you can help us improve GOV.UK by <a href="/feedback">telling us what you were doing</a> when this happened. Thanks.</p>
          </div>

        </div>
      </article>
    </div>
  </section>
<% end %>


<%= render partial: 'base' %>
