<div class="footer-meta">
  <div>
    <ul>
      <li><a href="/support">Support</a></li>
      <li><a href="/support/cookies">Cookies</a></li>
      <li><a href="/feedback">Feedback</a></li>
      <li><a href="/cymraeg">Cymraeg</a></li>
      <li>Built by the <a href="http://digital.cabinetoffice.gov.uk/">Government Digital Service</a></li>
    </ul>

    <p>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence</a>, except where otherwise stated</p>
  </div>

  <div class="copyright">
    <a href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown Copyright</a>
  </div>
</div>
