<% content_for :title, "#{local_assigns[:title]} - GOV.UK" %>

<% content_for :body_classes, "mainstream error" %>

<% content_for :wrapper_content do %>
<main id="content" role="main" class="group">

  <header class="page-header group">
    <div>
      <h1><%= local_assigns[:heading] %></h1>
    </div>
  </header>
  <div class="article-container">
    <article role="article" class="group">
      <div class="inner">
        <%= raw local_assigns[:intro] %>
      </div>
    </article>
  </div>
</main>
<% end %>

<%= render partial: 'base' %>
