<% content_for :title do %><%= local_assigns[:title] %> - GOV.UK<% end %>

<% content_for :html_classes do %>error error-40X<% end %>

<% content_for :body_classes do %>mainstream error<% end %>

<% content_for :content do %>
<section id="content" role="main" class="group">

  <header class="page-header group">
      <hgroup>
        <h1><%= local_assigns[:heading] %></h1>
      </hgroup>
  </header>
	<div class="article-container group ancillary">
	  	<article role="article" class="group">
	     <div class="inner">
         <%= raw local_assigns[:intro] %>

         <h2>Search GOV.UK</h2>
         <form class="search-box" action="/search" method="get" role="search">
         	<p>
           	<label for="main_autocomplete2" class="visuallyhidden">Try searching</label>
           	<input type="text" id="main_autocomplete2" value="" placeholder="Enter search text">
           	<input type="submit" value="Search" class="button">
         	</p>
         </form>

         <h2>Explore GOV.UK</h2>
         <p><a href="https://www.gov.uk">Go to the GOV.UK home page</a></p>
       </div>
     </article>
   </div>
</section>

<div id="related-items"></div>
<% end %>

<%= render partial: 'base' %>
