<%
  full_width ||= false

  if @emergency_banner
    emergency_banner = render "components/emergency_banner", {
      campaign_class: @emergency_banner.campaign_class,
      heading: @emergency_banner.heading,
      link: @emergency_banner.link,
      link_text: @emergency_banner.link_text,
      short_description: @emergency_banner.short_description,
    }
  end

  user_satisfaction_survey = '<div id="user-satisfaction-survey-container"></div>'
  global_bar = render "components/global_bar"
%>

<%= render "govuk_publishing_components/components/layout_for_public", {
  emergency_banner: emergency_banner,
  full_width: full_width,
  global_bar: user_satisfaction_survey + global_bar,
  logo_link: Plek.new.website_root.present? ? Plek.new.website_root : "https://www.gov.uk/",
  navigation_items: [ # Remember to update the links in _base.html.erb as well.
  {
    text: "Account",
    href: Plek.new.find("account-manager"),
    data: {
      module: "explicit-cross-domain-links",
      link_for: "accounts-signed-in",
    },
  },
  {
    text: "Sign out",
    href: Plek.new.website_root + "/sign-out",
    data: {
      module: "explicit-cross-domain-links",
      link_for: "accounts-signed-in",
    },
  },
  {
    text: "Sign in",
    href: Plek.new.website_root + "/sign-in",
    data: {
      module: "explicit-cross-domain-links",
      link_for: "accounts-signed-out",
    },
  }],
  title: content_for?(:title) ? yield(:title) : "GOV.UK - The best place to find government services and information",
} %>
