<!--[if gt IE 7]><!-->
<div id="global-bar" data-module="global-bar" class="dont-print">
  <div class="global-bar-message-container">
    <p class="global-bar-message">The government has published its plan for the UK leaving the EU. <a href="https://www.planforbritain.gov.uk/news/prime-ministers-letter-donald-tusk-triggering-article-50/" rel="external noreferrer">Read the Prime&nbsp;Minister's letter</a>.</p>
    <a href="#hide-message"
       class="dismiss"
       role="button"
       aria-controls="global-bar">Hide&nbsp;message</a>
  </div>
</div>
<!--<![endif]-->
