<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<!-- ePDQ static template
-->
<HEAD>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=iso-8859-1">
	<TITLE>Payment confirmation</TITLE>
    <style type="text/css">
	<!--
	td.ncolh1 {background-color : #FFFFFF; color : #000000; font-family : Arial}
	td.ncoltxtl {background-color : #FFFFFF; color : #000000; text-align : right; font-weight : bold; font-family : Arial}
	td.ncoltxtl2 {background-color :#FFFFFF; color : #000000; text-align : right; font-weight : bold; font-family : Arial}
	td.ncoltxtr {background-color : #FFFFFF; color : #000000; text-align : left; font-weight : bold; font-family : Arial}
	td.ncoltxtc {background-color : #FFFFFF; color : #000000; text-align : center; font-weight : bold; font-family : Arial}
	td.ncollogol {background-color : #FFFFFF; color : #000000; text-align : right; font-weight : bold; font-family : Arial}
	td.ncollogor {background-color : #FFFFFF; color : #000000; text-align : left; font-weight : bold; font-family : Arial}
	td.ncollogoc {background-color : #FFFFFF; color : #000000; text-align : center; font-weight : bold; font-family : Arial}
	td.ncoltxtmessage {background-color : #FFFFFF; color : #000000; text-align : left; font-weight : bold; font-family : Arial}
	td.ncolinput {background-color : #FFFFFF; color : #000000; font-family : Arial}
	td.ncolline1 {background-color : #FFFFFF; color : #000000; font-family : Arial}
	td.ncolline2 {background-color : #FFFFFF; color : #000000; font-family : Arial}
	input.ncol {background-color : darkblack; color : #000000; font-family : Arial}
	table.ncoltable1 { background-color: #FFFFFF;  color : #000000; border: 1px solid #000000; }
	table.ncoltable2 { background-color: #FFFFFF;  color : #000000; border: 1px solid #000000; }
	table.ncoltable3 { background-color: #FFFFFF;  color : #000000; border: 1px solid #000000; }
	table.ncoltable1 td { background-color: #FFFFFF;  color : #000000; font-family : Arial;}
	table.ncoltable2 td { background-color: #FFFFFF;  color : #000000; font-family : Arial;  }
	table.ncoltable3 td { background-color: #FFFFFF;  color : #000000;  font-family : Arial;}
	a {color: #000000; text-decoration: underline}
	p {color: #000000; }
			td {}
.DDtxt {text-align: left;margin-left:2em;font-weight: normal;margin-top:0;}
.DDlabel {text-align: left; margin-left:4em;font-weight: normal;margin-top:0;}
.DDdata {font-weight: normal;margin-top:0;}
.MKtxt {text-align: left;font-weight: bold; margin-left:2em;margin-top:0;}
.MKlabel {text-align: left; margin-left:4em;font-weight: normal;font-style:italic;margin-top:0;}
td.ncoltxtr p.MKlabel {margin-left:0;}
.MKdata {font-weight: normal;margin-top:0;}
.DDimp {font-weight: bold;margin-left:2em;text-align: left;margin-top:0;}
.DDsection {font-weight: bold;margin-left:0em;text-align: left; margin-top:1em; margin-bottom: 0em;}
	-->
	</style>

  <%= stylesheet_link_tag 'barclays-epdq-styles.css' %>

</HEAD>

<BODY TEXT="#000000" BGCOLOR="#FFFFFF">


$$$PAYMENT ZONE$$$



</BODY>

</HTML>
