<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <%= stylesheet_link_tag 'guides-print', media: 'all' %>
</head>
<body>
  <div id="wrapper">
    <section id="content" role="main" class="group">
      <h1 class="govuk">GOV.UK</h1>
    </section>
  </div>
</body>
</html>
