<div class="header-proposition">
  <div class="content">
    <button data-button-name="menu" data-search-toggle-for="proposition-links" class="js-header-toggle mobile-menu-toggle">Menu</button>
  </div>
</div>
