<!-- report_a_problem -->
<p class="report-a-problem-toggle js-footer"><a href="">Is there anything wrong with this page?</a></p>
<div class="report-a-problem-container">
  <h2>Help us improve GOV.UK by telling us:</h2>
  <form accept-charset="UTF-8" action="/contact" method="post">
    <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
    <input id="url" name="url" type="hidden" value="<%= h request_url %>">
    <% if defined?(source) %>
      <input id="source" name="source" type="hidden" value="<%= source %>">
    <% end %>
    <% if defined?(page_owner) %>
      <input id="page_owner" name="page_owner" type="hidden" value="<%= page_owner %>">
    <% end %>
    <label for="what_doing">What you were doing</label>
    <input id="what_doing" name="what_doing" type="text" />
    
    <label for="what_wrong">What went wrong</label>
    <input id="what_wrong" name="what_wrong" type="text" />

    <div><button name="commit" type="submit" class="button">Send</button></div>

    <!--<p>If you have more extensive feedback, please visit the <a href="/feedback">support page</a>.</p>-->
  </form>
</div>
<!-- end report_a_problem -->
