$header-height: 60px;
$govuk-link-underline-thickness: 0.0625rem !default;
$govuk-heavy-link-underline-thickness: $govuk-link-underline-thickness * 6;

#global-header {
  @include govuk-media-query($from: tablet) {
    height: $header-height;
  }

  .header-wrapper {
    padding: 0;

    .header-global {
      .header-logo {
        padding: govuk-spacing(2) 0;
        border-bottom: 1px solid govuk-colour('mid-grey');
        float: none;
        margin-top: 0;
    
        @include govuk-media-query($from: tablet) {
          border-bottom: none;
          float: left;
          margin-top: 2px;
        }
      }
    }
  }
}

.govuk-header__super-navigation {
  display: block;

  @include govuk-media-query($from: tablet) {
    position: absolute;
    right: 0;
  }
}

.govuk-header__super-navigation-item {
  display: block;

  @include govuk-media-query($from: tablet) {
    display: inline-flex;
    vertical-align: middle;
  }
}

.govuk-header__super-navigation-link {
  @include govuk-font(24, bold, $line-height: $header-height);
  color: govuk-colour("white");
  background: none;
  border: 0;
  display: block;
  padding: govuk-spacing(1) govuk-spacing(3);


  &:visited,
  &:link {
    text-decoration: none;
    color: govuk-colour("white");
  }

  &:hover,
  &:active {
    color: govuk-colour("white");
    text-decoration-line: underline;
    text-decoration-thickness: $govuk-heavy-link-underline-thickness;
    text-underline-offset: $govuk-heavy-link-underline-thickness;
  }

  &:focus {
    @include govuk-focused-text;
  }

  @include govuk-media-query($from: tablet) {
    @include govuk-font(16, $weight: bold, $line-height: $header-height);
    height: $header-height;
    padding: 0 govuk-spacing(3);
  }
}

.govuk-header__super-navigation-search-button {
  @include govuk-media-query($from: tablet) {
    background-color: govuk-colour('blue');
    background-image: image-url("search-icon.svg");
    background-position: 50%;
    background-size: 35%;
    background-repeat: no-repeat;
    height: $header-height;
    width: $header-height;
    text-indent: -5000px;
    overflow: hidden;
    padding: 0;
    border: 0;
  }
}
