$header-height: 60px;
$govuk-link-underline-thickness: 0.0625rem !default;
$govuk-heavy-link-underline-thickness: $govuk-link-underline-thickness * 6;

#global-header {
  @include govuk-media-query($from: tablet) {
    height: auto;
  }

  .header-wrapper {
    padding: 0;

    .header-global {
      display: flex;

      .header-logo {
        padding: govuk-spacing(2) 0;
        flex: 1;
        float: none;

        @include govuk-media-query($from: tablet) {
          border-bottom: none;
          margin-top: 2px;
        }
      }
    }
  }
}

// JS enhancements

.js-enabled {
  .govuk-header__super-navigation-items--mobile-only {
    display: block;

    @include govuk-media-query($from: tablet) {
      display: none;
    }
  }

  .govuk-header__super-navigation-items--from-tablet {
    display: none;

    @include govuk-media-query($from: tablet) {
      display: block;
    }
  }

  .govuk-header__super-navigation {
    display: block;
  }
}

// Generic navigation styling

.govuk-header__super-navigation {
  display: none;
}

.govuk-header__super-navigation-item {
  display: inline-flex;
  vertical-align: middle;
}

.govuk-header__super-navigation-item--hide-from-tablet {
  display: inline-flex;

  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.govuk-header__super-navigation-item--hide-on-mobile {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: inline-flex;
  }
}

.govuk-header__super-navigation-link {
  @include govuk-font(24, bold, $line-height: $header-height);
  color: govuk-colour("white");
  background: none;
  border: 0;
  display: block;
  padding: 0 govuk-spacing(3);

  &:visited,
  &:link {
    text-decoration: none;
    color: govuk-colour("white");
  }

  &:hover,
  &:active {
    color: govuk-colour("white");
    text-decoration-line: underline;
    text-decoration-thickness: $govuk-heavy-link-underline-thickness;
    text-underline-offset: $govuk-heavy-link-underline-thickness;
  }

  &:focus {
    @include govuk-focused-text;
  }

  @include govuk-media-query($from: tablet) {
    @include govuk-font(16, $weight: bold, $line-height: $header-height);
    height: $header-height;
  }
}

// Search button styling

.govuk-header__super-navigation-search-button {
  background-image: image-url("search-icon.svg");
  background-position: 50%;
  background-size: 35%;
  background-repeat: no-repeat;
  height: $header-height;
  width: $header-height;
  text-indent: -5000px;
  overflow: hidden;
  padding: 0;

  @include govuk-media-query($from: tablet) {
    margin-right: govuk-spacing(3);
    background-color: govuk-colour('blue');
  }
}

// mobile menu toggle

.govuk-header__super-navigation-menu-toggle {
  padding-left: govuk-spacing(3);
  border-left: 1px solid govuk-colour('mid-grey');
  border-right: 1px solid govuk-colour('mid-grey');
}

.govuk-heading__super-navigation-menu {
  display: none;
  border-top: 1px solid govuk-colour('mid-grey');
  padding: govuk-spacing(2) 0;

  .govuk-header__super-navigation-item {
    display: block;
  }
}
