$breakpoint: 769px;
$header-height: 55px;

.app-c-super-navigation-header,
.app-c-super-navigation-header__container {
  border-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  z-index: 3;
}

.app-c-super-navigation-header__header-logo {
  padding-top: govuk-spacing(2) + 4;
  padding-bottom: govuk-spacing(2);
  margin-bottom: 0;
}

.app-c-super-navigation-header__content {
  @include govuk-media-query($from: $breakpoint) {
    text-align: right;
  }
}

.app-c-super-navigation-header__items {
  margin-bottom: 0;

  &.govuk-header__navigation {
    @include govuk-media-query($from: $breakpoint) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.app-c-super-navigation-header__item {
  display: flex;
  margin-right: 0;
  padding: 0;

  @include govuk-media-query($from: $breakpoint) {
    display: inline-flex;
  }
}

.app-c-super-navigation-header__item-link {
  padding: govuk-spacing(4) 0;
  width: 100%;

  @include govuk-media-query($from: $breakpoint) {
    padding: govuk-spacing(3) + 2;
    width: auto;
  }
}

.js-enabled .app-c-super-navigation-header__item-link {
  @include govuk-media-query($from: $breakpoint) {
    &:focus {
      .app-c-super-navigation-header__item-icon--white {
        display: none;
      }
    
      .app-c-super-navigation-header__item-icon--black {
        display: inline;
      }
    }
  }
}

.js-enabled .app-c-super-navigation-header__item-link--active {
  .app-c-super-navigation-header__item-icon--white {
    display: none;
  }

  .app-c-super-navigation-header__item-icon--black {
    display: inline;
  }

  @include govuk-media-query($from: $breakpoint) {
    background-color: govuk-colour('white');

    &:visited,
    &:link {
      color: govuk-colour('black');
    }
  }
}

.app-c-super-navigation-header__item-icon {
  display: none;
}

.js-enabled .app-c-super-navigation-header__item-icon {
  @include govuk-media-query($from: $breakpoint) {
    padding-left: govuk-spacing(1);
    display: inline;
  }
}

.js-enabled .app-c-super-navigation-header__item-icon--black {
  display: none;
}

// Search

.app-c-super-navigation-header__item--search {
  @include govuk-media-query($from: $breakpoint) {
    height: $header-height;
    width: $header-height;
    padding: 0;
    margin-right: govuk-spacing(3);
    background-color: govuk-colour('blue');
  }
}

.app-c-super-navigation-header__item-link--search {
  @include govuk-media-query($from: $breakpoint) {
    background-image: image-url("search-icon.svg");
    background-position: 50%;
    background-size: 35%;
    background-repeat: no-repeat;
    display: inherit;
    width: $header-height;

    &:focus,
    &.app-c-super-navigation-header__item-link--active {
      background-image: image-url("search-icon--black.svg");
    }
  }
}

.app-c-super-navigation-header__item-link-text--search {
  @include govuk-media-query($from: $breakpoint) {
    display: block;
    text-indent: -5000px;
    overflow: hidden;
  }
}

.app-c-super-navigation-header__menu-button {
  font-size: 19px;
  font-weight: bold;
  line-height: 1.3;
  border-left: 1px solid govuk-colour("mid-grey");
  border-right: 1px solid govuk-colour("mid-grey");
  padding: govuk-spacing(3) govuk-spacing(4);
  top: 0;
}

.app-c-super-navigation-header__dropdown-menu {
  display: none;
  position: absolute;
  padding: govuk-spacing(8) 0;
  background-color: govuk-colour('white');
  width: 100%;
  z-index: 3;

  &.app-c-super-navigation-header__dropdown-menu--active {
    display: none;
  
    @include govuk-media-query($from: $breakpoint) {
      display: block;
    }
  }
}

.app-c-super-navigation-header__dropdown-menu
.app-c-super-navigation-header__dropdown-list-item {
  @include govuk-font(19, $weight: bold);
  margin-bottom: govuk-spacing(4);
  min-height: govuk-spacing(9);
}

.app-c-super-navigation-header__dropdown-menu--search
.app-c-super-navigation-header__dropdown-list-item {
  min-height: govuk-spacing(7);
}

.app-c-super-navigation-header__dropdown-shadow {
  display: none;
  position: fixed;
  top: -$header-height;
  width: 200vw;
  height: 120vh;
  background: govuk-colour("black");
  opacity: 0.8;
  z-index: 2;

  &.app-c-super-navigation-header__dropdown-shadow--active {
    display: none;
  
    @include govuk-media-query($from: $breakpoint) {
      display: block;
    }
  }
}
