// Remove bottom borders

.app-c-super-navigation-header,
.app-c-super-navigation-header__container {
  border-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.app-c-super-navigation-header__header-logo {
  padding: govuk-spacing(2) 0;
  margin-bottom: 0;
}

.app-c-super-navigation-header__content {
  @include govuk-media-query($from: 769px) {
    text-align: right;
  }
}
