$breakpoint: 769px;

.app-c-super-navigation-header,
.app-c-super-navigation-header__container {
  border-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.app-c-super-navigation-header__header-logo {
  padding-top: govuk-spacing(2) + 4;
  padding-bottom: govuk-spacing(2);
  margin-bottom: 0;
}

.app-c-super-navigation-header__content {
  @include govuk-media-query($from: $breakpoint) {
    text-align: right;
  }
}

.app-c-super-navigation-header__items {
  margin-bottom: 0;

  &.govuk-header__navigation {
    @include govuk-media-query($from: $breakpoint) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.app-c-super-navigation-header__item {
  display: flex;
  margin-right: 0;
  padding: 0;

  @include govuk-media-query($from: $breakpoint) {
    display: inline-flex;
  }
}

.app-c-super-navigation-header__item-link {
  padding: govuk-spacing(4) 0;
  width: 100%;

  @include govuk-media-query($from: $breakpoint) {
    padding: govuk-spacing(3) + 2;
    width: auto;
  }
}
