// global button styles

/*
 * Old green: 28a198
 * New green: 008270
 */

/* buttons! */
.button,
.button:visited {
  display: inline;
  border: none;
  text-decoration: none;
  position: relative;
  top: -3px;
  line-height: (20 / 16);
  cursor: pointer;

  @include ie-lte(8) {
    top: 0;
    border-bottom: solid 3px #000;
    margin-bottom: -3px;
  }
}

/* inputs do not display single borders properly in IE6 & 7*/
@include ie-lte(7) {
  button.button,
  input.button {
    border-bottom: none;
    margin-bottom: 0;
    background-image: url('button-base-edge.png');
    background-position: 0 100%;
    background-repeat: repeat-x;

    @include ie(7) {
      padding: 0.25em 0.5em;
    }

  }
  
  /* IE6 adds its own side padding to input buttons so requires no extra */
  @include ie(6) {
    input.button {
      padding: 0.25em 0em 0.43em;
    }
  }
}

.button,
.button.medium {
  padding: 0.25em 0.5em;
}

.button.medium {
  @include core-19($line-height: (26 / 19));
}

.get-started .button,
.button,
.button:visited {
  background-color: #008270;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 #000;
  -moz-box-shadow: 0 3px 0 #000;
  box-shadow: 0 3px 0 #000;
  font-weight: 400;
  overflow: visible;
}

.get-started .button:focus,
.get-started .button:active,
.get-started .button-active,
.button:active,
.button:focus,
.button-active{
  background-color:#28A197;

  /* IE6 & 7 ignore the :focus psuedo-class so we need to overwrite the default */
  @include ie-lte(7) {
    color: #fff;
  }
}

.get-started .button:hover,
.get-started .button-hover,
.button:hover,
.button-hover {
  background-color: #3ABAA8;
  color: #fff;
}

.button:active,
.button-active {
  top: 0px;
  box-shadow:none;
  outline:none;
}

/* 
 * making a click target which is bigger than the button 
 * (and fills the space made when the button moves) 
 */
.button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.button:active:before {
  top: -10%;
  height: 120%;

  /* 
   * IE6 ignores the :before psuedo-class but applies the block to :active
   * It therefore needs to be reset
   */
  @include ie(6) {
    top: auto;
    height: 100%;
  }
}

.get-started .button {
  @include core-24($line-height: (16 / 24)); 
  padding: 0.45em 0.5em 0.45em 0.5em;
  display: inline-block;

  /* IE6 adds its own side padding so requires no extra */
  @include ie(6) {
    padding: 0.45em 0.5em 0.62em 0.5em;
  }
}

.transaction .get-started .button,
.local_transaction .get-started .button,
.business_support .get-started .button,
.licence .get-started .button,
.next-steps-promo .get-started .button {
  padding: 0.45em 1.7em 0.45em 0.67em;
  background-image: image-url("icon-pointer.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;

  @include media-down(mobile) {
    background-position: 110% 50%;
  }

  @include ie(7) {
    padding: 0.45em 1.7em 0.62em 0.67em;
  }

  @include ie(6) {
    background-image: url('icon-pointer-indexed.png');
  }

  @include device-pixel-ratio() {
    background-image: image-url("icon-pointer-2x.png");
    background-size: 30px 19px;
  }
}

/* IE6 adds its own side padding so requires no extra */
@include ie(6) {
  .transaction .get-started input.button,
  .local_transaction .get-started input.button,
  .business_support .get-started input.button,
  .licence .get-started input.button {
    padding: 0.45em 0.5em 0.62em 0em;
  }
}

/* get started buttons */
.get-started {
  margin:1.5em 0 0 0;
 
  .destination {
    @include core-14;
    color:$grey-2;
    display: block;
    margin-top: 0.5em;
    max-width: 13em;
  }
}

a.button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

input{
  &[disabled="disabled"] {
    opacity: 0.5;
  }

  &[type="text"],
  &[type="search"]{
    @include core-16($line-height: (20 / 16));
    border: 1px solid #bbb;
    min-width: 8em;
    margin: 0 0.5em;
    padding: 0.25em;
  
    @include ie-lte(7) {
      width:8em;
    }
  }

  &[type="search"]{
    padding: 0.25em 0;
  }

  /* below fixes a bug where IE puts a nasty black border around these elements */
  @include ie-lte(8) {
    &[type="submit"],
    &[type="reset"],
    &[type="button"] {
      filter:chroma(color=#000000);
    }

    &[type=submit].button {
      filter: none;
    }
  }
}
