@import "_conditionals";

// global button styles

/*
 * Old green: 28a198
 * New green: 008270
 */

.get-started .button .call-to-action,
.get-started .button.big,
.button,
.button:visited {
  background-color: #008270;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 #000, 0 8px 10px rgba(0,0,0,.05);
  -moz-box-shadow: 0 3px 0 #000, 0 8px 10px rgba(0,0,0,.05);
  box-shadow: 0 3px 0 #000, 0 8px 10px rgba(0, 0, 0, 0.05);
  font-weight: 300;
}

.get-started .button:hover span.call-to-action,
.get-started .button.big:hover,
.button:hover {
  background-color: #3ABAA8;
  color: #fff;
}

.button:active,
.button.big:active,
.button:active span.call-to-action {
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  -o-transform: translate(0, 3px);
  transform: translate(0, 3px);
  box-shadow:none;
  outline:none;
}

/* buttons! */
.button,
.button:visited {
  display: inline;
  line-height: 0.8em;
  border: none;
  text-decoration: none;
  position: relative;
  top: -3px;
  line-height: 1.3em;
  -webkit-box-shadow: 0 2px 0 #000, 0 8px 10px rgba(0,0,0,.05);
  -moz-box-shadow: 0 2px 0 #000, 0 8px 10px rgba(0,0,0,.05);
  box-shadow: 0 2px 0 #000, 0 8px 10px rgba(0, 0, 0, 0.05);
}

.button:active,
.button:focus{
  background-color:#28A197;
}

.button,
.button.medium {
  padding: 0.25em 0.5em;
}

.button.medium {
  font-size: 1.25em;
}

.get-started .button .call-to-action,
.get-started .button.big,
#search .button.big {
  display:block;
  font-size: 1.3162em;
  padding: 0.45em 1.7em 0.45em 0.5em;
  line-height: 0.8em;
  background-image: image-url("icon-pointer.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  display: inline-block;
}

/* get started buttons */
.get-started {
  text-align:right;
  margin:1.5em 0 0 0;

  .button {
    display: inline-block;
    text-decoration:none;
    background-color: transparent;
    box-shadow:none;
    text-align:left;

    @include ie-lte(7) {
      width: 60%;
    }

    &:active {
      /* 
       * this compensates for this style being pushed down twice by keeping 
       * the inner span still 
       */
      .call-to-action {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      /* this compensates for the whole thing being pushed down by pushing back up */
      .destination {
        -webkit-transform: translate(0, -3px);
        -moz-transform: translate(0, -3px);
        -o-transform: translate(0, -3px);
        transform: translate(0, -3px);
      }
    }

    &:hover {
      /* this stops IE6 etc. getting a flash of green around their extra text */
      @include ie-lte(8) {
        background: #D5ECEA; /* this is the same as section.intro */
      }
    }

    span {
      cursor: pointer;
    }
 
    .destination {
      color:#333;
      display: block;
      font-size:0.7368em;
      line-height: 1.5;
      margin-top:1em;
      max-width: 13em;
    }
  }
}

a.button[rel="external"]:after {
  content: none;
  margin-left: 0;
  margin-right: 0;
}

input{
  &[disabled="disabled"] {
    opacity: 0.5;
  }

  &[type="text"],
  &[type="search"]{
    border: 1px solid #bbb;
    min-width: 8em;
    margin: 0 0.5em;
    font-weight: 300;
    line-height: 1.25;
    padding: 0.25em;
  
    @include ie-lte(7) {
      width:8em;
    }
  }

  /* below fixes a bug where IE puts a nasty black border around these elements */
  @include ie-lte(8) {
    &[type="submit"],
    &[type="reset"],
    &[type="button"] {
      filter:chroma(color=#000000);
    }
  }
}
