// global button styles

.get-started .button .call-to-action,
.get-started .button.big,
.button,
.button:visited {
  background-color:#28a198;
  color:#fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow:0 3px 0 #1C7568, 0 8px 10px rgba(0,0,0,.05);
  -moz-box-shadow:0 3px 0 #1C7568, 0 8px 10px rgba(0,0,0,.05);
  box-shadow:0 3px 0 #1C7568, 0 8px 10px rgba(0, 0, 0, 0.05);
  font-weight: 300;
}

.get-started .button:hover span.call-to-action,
.get-started .button.big:hover,
.button:hover {
  background-color: #3ABAA8;
  color: #fff;
}

.button:active,
.button.big:active,
.button:active span.call-to-action {
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  -o-transform: translate(0, 3px);
  transform: translate(0, 3px);
  box-shadow:none;
  outline:none;
}

/* this compensates for this style being pushed down twice by keeping
the inner span still */
.get-started .button:active .call-to-action {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* this compensates for the whole thing being pushed down by pushing back up */
.get-started .button:active .destination {
  -webkit-transform: translate(0, -3px);
  -moz-transform: translate(0, -3px);
  -o-transform: translate(0, -3px);
  transform: translate(0, -3px);
}

/* this stops IE6 etc. getting a flash of green around their extra text */
.lte-ie8 .get-started .button:hover {
  background: #D5ECEA; /* this is the same as section.intro */
}

/* buttons! */
.button,
.button:visited {
  display:inline;
  line-height:0.8em;
  border:none;
  text-decoration: none;
  position:relative;
  top:-3px;
  line-height:1.3em;
}

.button:active,
.button:focus{
  background-color:#28A197;
}

.lte-ie .button:active {
  /*top: 1px;*/
}
.button:focus {
  /*background-color: #001950;*/
}

.button,
.button.medium {
  padding: 0.25em 0.5em;
}

.button.medium {
  font-size: 1.25em;
}


/* get started buttons */
.get-started {
  text-align:right;
  margin:1.5em 0 0 0;
}

.get-started .button {
  display: inline-block;
  text-decoration:none;
  background-color: transparent;
  box-shadow:none;
  text-align:left;
}

.get-started .button span {
  cursor: pointer;
}

.lte-ie8 .get-started .button {
  _width: 60%;
}

.get-started .button .destination {
  color:#333;
  display: block;
  font-size:0.7368em;
  line-height: 1.5;
  margin-top:1em;
  max-width: 13em;

}

.get-started .button .call-to-action,
.get-started .button.big,
#search .button.big {
  display:block;
  font-size: 1.3162em;
  padding: 0.45em 1.7em 0.45em 0.5em;
  line-height: 0.8em;
  background-image: image-url("icon-pointer.png");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  display: inline-block;
}



a.button[rel="external"]:after{
  content: none;
  margin-left: 0;
  margin-right: 0;
}

input[disabled="disabled"] {
  opacity: 0.5;
}

input[type="text"],
input[type="search"]{
  border: 1px solid #bbb;
  min-width: 8em;
  _width:8em;
  margin: 0 0.5em;
  font-weight: 300;
  line-height: 1.25;
  padding: 0.25em;
}


/* below fixes a bug where IE puts a nasty black border around these elements */

.lte-ie8 input[type="submit"],
.lte-ie8 input[type="reset"],
.lte-ie8 input[type="button"]
{
  filter:chroma(color=#000000);
}

/* Alternative button styles */

.button.variation_one,
.button.variation_one:visited,
.button.variation_two,
.button.variation_two:visited {
  /*background-color: #2DA096;
  border-color: #1c645e;*/
}
.button.variation_one:hover,
.button.variation_two:hover {
  /*background-color: #33b7ad;
  border-color: #258982; */
}
