@import "_conditionals";
@import "styleguide/_font-stacks.scss";
@import "styleguide/_typography.scss";

/* Global footer */

#footer {
  background-color: #C9D0D0;
  position: relative;
  z-index: 0;

  .beta-notice {
    @include core-16;
    background: #F17921;
    color: #000;
    float: none;
    width: auto;
    text-align: center;

    p {
      display: inline-block;
      margin: 0.7em auto;
      max-width:960px;
      text-align:left;
    }
  }

  .inner {
    padding: 1em 4%;
    margin: 0 auto;
    max-width: 960px;
  }

  .colophon-and-help {
    float: left;
    width: 50%;
  }

  .help {
    @include core-16;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline;
        list-style: none;
        margin-right: 0.75em;
      }
    }
  }

  .colophon {
    margin: 1.5em 0 0 0;

    p {
      @include core-14;
    }
  }

  .copyright {
    @include core-16;
    float: left;
    text-align: right;
    width: 50%;

    a {
      display: block;
      background-image: image-url("coat-of-arms.png");
      background-position: 100% 0;
      background-repeat: no-repeat;
      margin: 4.3em 0 0 0;
      padding: 1em 4.5em 1em 0;
      margin-left: 50%;

      @include media(mobile) {
        background-position:center top;
        padding-right: 0;
        padding-top: 60px;
        margin-top: 0;
        text-align: center;
      }
      color: #7F7F7F;
      text-decoration: none;
    }
  }
}
