/* Global footer */

#footer {
  .beta-notice {
    background: #F17921;
    color: #000;
    float: none;
    width: auto;
    text-align: center;

    p {
      display: inline-block;
      margin: 0.7em auto;
      max-width:960px;
      text-align:left;
    }
  }

  .inner {
    padding: 1em 4%;
    margin: 0 auto;
    max-width: 960px;
  }

  .colophon-and-help {
    float: left;
    width: 50%;
  }

  .help {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline;
        list-style: none;
        margin-right: 0.75em;
      }
    }
  }

  .colophon {
    margin: 1.5em 0 0 0;

    p {
      font-size: 0.9em;
    } 
  }

  .copyright {
    float: left;
    text-align: right;
    width: 50%;

    a {
      display: block;
      background-image: image-url("coat-of-arms.png");
      background-position: 100% 0;
      background-repeat: no-repeat;
      color: #7F7F7F;
      margin: 4.3em 0 0 0;
      padding: 1em 4.5em 1em 0;
      margin-left: 50%;
      
      text-decoration: none;
    }
  }
}