@import "_css3";
@import "_conditionals";
@import "_colours";
@import "_typography";
@import "styleguide/_colours.scss";

#global-header {
  background-color: #0b0c0c;
  width: 100%;

  .header-wrapper {
    max-width: 1020px;
    margin: 0 auto;
    height: 2em;
    line-height: 2em;
    padding: 0.5em 0;

    @include media(mobile) {
      height: auto;
      padding: 0.5em 1em;
    }

    @include ie-lte(7) {
      width: 960px; /* we want the width for IE to max out at 960px total (including padding) */
      height: auto;
    }
  }

  #logo {
    position: relative;
    float: left;
    width: 183px;
    height: 28px;
    margin-left: 2em;

    overflow: hidden;

    @include media(mobile) {
      margin-left: 0;
    }
  
    img {
      position: absolute;
      left: -183px; top: 0;
      border: none;

      @include ie(6) {
        left: 0;
      }
    }

    &:hover img {
      top: -44px;
    }

  }

  nav {
    ul {
      @include core-16($line-height: (30 / 16));
      margin: 0 0 0 1em;
      padding: 0;
      
      float: left;
      list-style: none;

      li {
        float: left;
        margin: 0 1.5em 0 0;

        a {
          @include core-16($line-height: (30/16), $line-height-640: (30/13));
          color: #fff;
          text-decoration: none;

          &:hover {
            color: #fff
          }
        }
      }
    }
  }

  .search-toggle {
    display: none;

    @media screen and (max-width: 379px) {
      display: block;
      float: right;
      top: 0;

      @include core-16($line-height: (20/16), $line-height-640: (20/13));

      overflow: hidden;
      text-indent: -5000px;

      width: 1.8em;
      padding: 0.35em 0.5em;

      background-image: url(icon-search.png);
      background-repeat: no-repeat;
      background-position: 75% 50%;

      @include border-radius(0);
      @include box-shadow(none);

      &:active {
        @include translate(0, 0);
      }
    }

    &.js-hidden { display: none; }
  }

  form#search {
    float: right;
    margin: 0;

    input.button {
      @include core-16($line-height: (20/16), $line-height-640: (20/13));
      /* this inherits from the basic button styles */
      display: inline;
      margin: 0;
      padding: 0.25em 0.5em;

      position: static;
 
      
      @include border-radius(0);
      @include box-shadow(none);
      
      -webkit-appearance: none;

      &:hover {
        background-color: #3ABAA8;
      }

      &:active {
        @include translate(0, 0);
      }

      @include media(mobile) {
        overflow: hidden;
        text-indent: -5000px;

        width: 1.8em;
        padding: 0.25em 0.5em;

        background-image: url(icon-search.png);
        background-repeat: no-repeat;
        background-position: 75% 50%;

        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;

        @include border-radius(0);
      }

      @media screen and (max-width: 379px) {
        float: right;
        margin: 0.3em 0;
      }
    }

    /* search input */
    #site-search-text {
      @include core-16($line-height: (18/16), $line-height-640: (18/13));
      margin: 0 0.25em 0 0;

      -webkit-appearance: none;
    }

    @media screen and (max-width: 379px) {
      display: none;
      width: 100%;

      #site-search-text {
        margin: 0.3em 0;
        width: 80%;
      }
    }
    &.js-visible { display: block; }
  }
}

/* Inside government styles */
body.government #global-header .header-context {
  border-color: #cdce00;
  border-bottom-color: #9a9b00;

  nav {
    font-weight: bold;
    text-decoration: none;
    width: 79.5%;

    a {
      color: #777;

      &:hover {
        color: #9a9b00;
      }
    }
  }

  /* Search form in global header */
  .search-help {
    border-color: #cdce00;
  }
}

/* Global cookie message */

.js-enabled #global-cookie-message {
  display: none; /* shown with JS */
}

#global-cookie-message {
  background-color: #D5E8F3;
  padding: 0.5em 0;

  p {
    @include core-19;
    margin: 0 auto;
    max-width: 960px;

    @include ie-lte(6) {
      width: 960px;
    }
  }

  @include media(mobile) {
    padding: 0.5em 1em;
  }
}

#global-breadcrumb {
  background-color: #fff;
  border-bottom: 1px solid $grey-8;
  padding: 0.75em 2em;
  z-index: 50;

  @include media(mobile) {
    padding: 0.75em 1em;
  }

  nav {
    max-width: 960px;
    margin: 0 auto;

    @include ie-lte(7) {
      padding: 0 32px;
      width: 896px;
    }

    ol {
      margin: 0;
      padding: 0;

      li {
        @include core-19;
        background-image: image-url("separator.png");
        background-position: 100% 50%;
        background-repeat: no-repeat;
        float: left;
        list-style: none;
        margin-left: 0;
        margin-right: 0.5em;
        padding-right: 1em;

        strong {
          font-weight: normal;
        }

        &:last-child {
          background-image: none;
          margin-right: 0
        }

      }
    }
  }
}
