@import "_css3";
@import "_conditionals";
@import "styleguide/_font-stacks.scss";
@import "styleguide/_typography.scss";

#global-header {
  background-color: #303030;
  height: 1.75em;
  padding: 0.5em 0;
  width: 100%;
  z-index: 1000;

  h1 {
    @include core-27;
    float: left;
    margin-right: (48 / 27) * 1em;
    text-transform: uppercase;

    @include ie-lte(8) {
      height: 1.25em;
    }

    a {
      background-image: image-url("gov.uk_logotype.png");
      background-position: 0 1px;
      background-repeat: no-repeat;
      display: block;
      padding: 0 0 0 2em;
      width: 141px;
      height: 28px;
      line-height: (20px / 16px);
      text-indent: -999px;

      &:hover {
        background-position: 0 -43px;
      }

      @include ie-lte(8) {
        background-image: image-url("gov.uk_logotype_ie.png");
      }
    }
  }

  .header-global {
    margin: 0 auto;
    max-width: 960px;
    position: relative;

    @include ie-lte(7) {
      width: 960px;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* this UL can be in both the auto-complete and the nav */
  ul {
    margin: 0;
    padding: 0;
  }

  nav {
    ul {
      @include core-16($line-height: (30 / 16));
      margin-right: 0;
      margin-left: 1em;
      float: left;

      li {
        float: left;
        list-style: none;
        margin: 0 1.5em 0 0;

        a {
          @include core-16;
          text-decoration: none;

          &:hover {
            color: #fff
          }

          &.home {
            margin-right: 4%;
          }
        }
      }
    }
  }

  /*
   * container for search form 
   * TODO: remove this, just use the form
   */
  .search-help {
    float: right;
  }

  form.site-search {
    clear: both;
    position: relative;
    top: 1px;

    .button {
      /* this inherits from the basic button styles */
      display:inline;
      padding: 0.25em 0.5em 0.2em;
      position: relative;
      top: 0;
      border-radius: 0;
      @include box-shadow(none);

      &:hover {
        background-color: #3ABAA8;
      }

      &:active {
        @include translate(0, 0);
      }
    }

    /* search input */
    #site-search-text {
      @include core-16($line-height: 1);
      border: none;
      border-bottom: solid 1px #fff;
      border-top: solid 1px #fff;
      padding: 0.2em 0.25em;
      min-width: 8em;
      margin: 0 0.5em;
    }
  }
}

/* we don't want the header to be fixed on small iOS screens */
@media only screen and (max-device-width:320px) {
  .js-enabled #global-header {
    position: absolute;
  }
}

/* Inside government styles */
body.government #global-header .header-context {
  border-color: #cdce00;
  border-bottom-color: #9a9b00;
  
  nav {
    font-weight: bold;
    text-decoration: none;
    width: 79.5%;

    a {
      color: #777;

      &:hover {
        color: #9a9b00;
      }
    }
  }

  /* Search form in global header */
  .search-help {
    border-color: #cdce00;
  }
}

/* Global cookie message */

.js-enabled #global-cookie-message {
  display: none; /* shown with JS */
}

#global-cookie-message {
  background-color: #D5E8F3;
  padding: 0.5em 0;

  p {
    @include core-19;
    margin: 0 auto;
    max-width: 960px;

    @include ie-lte(6) {
      width: 960px;
    }
  }
}
