.js-enabled .report-a-problem-container{
  display:none;
}

.report-a-problem-container{
  
  clear:both;
  margin: 1em 0 2em 0.7em;
  padding: 0.5em 1em 1em 1em;

  p {
    @include core-24;
    font-weight:600;
    margin: 1em 0;
  }
  div{
    width:98%;
    padding-top:0.5em;
    text-align:right;

    .button{
      margin-right: -0.5em;
      @include button;
    }
  }
  label{
    @include core-19;
    padding:0 0 0.5em 0;
    display:block;
    input{
      margin:0;
      display:block;
      width:98%;
    }
  }

  @include media-down(mobile) {
    margin: 0 1em 2em 1em;
  }


  input{
    &[type="text"],
    &[type="search"]{
      @include core-16($line-height: (20 / 16));
      border: 1px solid #bbb;
      min-width: 8em;
      margin: 0 0.5em;
      padding: 0.25em;
    
      @include ie-lte(7) {
        width:8em;
      }
    }
  }
}
