#debug-google-analytics {
    font-size: small;
    font-weight: bold;
    position: absolute;
    top: 55px;
    right: 10px;
    padding: 10px;
    min-width: 300px;
    background: #ddd;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #666;
    border: solid 2px #666;
}

#debug-google-analytics  ol {
    padding-left: 10px;
    margin: 5px;
}