#debug-google-analytics {
    font-size: small;
    font-weight: bold;
    position: fixed;
    top: 55px;
    right: 10px;
    padding: 10px;
    min-width: 300px;
    background: #F17921;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #000;
    border: solid 2px #000;
}

#debug-google-analytics  ol {
    padding-left: 10px;
    margin: 5px;
}