#wrapper .ancillary.section-page header {
	margin: 0;
}

#wrapper .ancillary header.page-header hgroup {
  background-color: transparent;
  margin: 0;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 3em;
}

#wrapper .ancillary.section-page header.page-header hgroup {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

#wrapper .ancillary header hgroup h1 {
  padding: 0;
}

#wrapper .ancillary header hgroup h1 span {
  color: #90278E;
}

.browse-sections {
	background-color: #fff;
  padding: 0 2.5em 1em 2.5em;
}

.lte-ie8 #wrapper .ancillary.section-page h2 {
  clear: both;
}

#wrapper .ancillary .summary {
  color: #2E3191;
}

#wrapper .ancillary .summary p {
  line-height: 1.5em;
}

/* static pages like platform and help */

.ancillary .menu {
  background-color: #E5E5E5;
  float: right;
  margin: -3em -15em 0 0;
  padding: 1em;
	width: 13em;
}

.ancillary .menu ul {
	margin: 0;
	padding: 0;
}

.ancillary .menu li {
  list-style: none;
	margin: 0 0 0.5em 0;
}

.ancillary .menu li.active {
  font-weight: bold;
}

.ancillary article section {
  margin: 0 0 2.5em 0;
}

.ancillary article h1:first-child,
.ancillary article h2:first-child {
  margin-top: 0;
}

.ancillary article dt {
  font-size: 1em;
}

.ancillary article dd {
  margin-left: 0;
}

/* feedback page */

.ancillary.feedback .pullout {
  background-color: #d5ecea;
  margin: 1.5em -1em;
  padding: 0.5em 1em;
}

.ancillary.feedback .image-in-text {
  float: right;
  margin-left: 2em;
}

.ancillary.feedback .image-in-text a[rel="external"]:after {
  content: none;
  margin: 0;
}

@media only screen and (max-width:670px) {
  .image-in-text img {
    border: 0 none;
    width: 80%;
  }
  #wrapper .ancillary header.page-header hgroup{
    padding-left: 2.5em;
  }
}