// basic styles for HTML5 and other elements
html, body, div, h1, h2, h3, h4, h5, h6, article, aside, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

// self clearing floats
.group:before,
.group:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
 }

.group:after {
    clear: both;
}
.group {
    zoom: 1;
}

html {
  background: #C9D0D0;
}

body {
  color: #333;
  font-family: "NTA", "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  padding-top: 2.5em;
}

input,
button {
  font-family:"NTA", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

ol, ul, nav ol, nav ul {
  list-style: inherit;
}

fieldset {
  border: none;
  padding: 0;
}

a,
a:visited {
  color: #2E3191;
}

a:hover {
  color: #2E8ACA;
}

a:active {
  color: #c11;
}

a[rel="external"]:after,
.external-link:after {
  content: image-url("external-link.png");
  margin-right: 0.2em;
  margin-left: -0.2em
}


// adjustments to normalize.css

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 *    note - font-size reduced to 62.5% to allow simple rem/px font-sizing and fallback
 *    http://snook.ca/archives/html_and_css/font-size-with-rem
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Removes Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 */

html {
    font-size: 62.5%; /* 1 */
    overflow-y: scroll; /* 2 */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* 3 */
 }

/*
 * 1. Font-size increased to compensate for change to html element font-size in
 *    order to support beta typography which was set in ems
 *    (62.5% * 160% = 100%)
 * 2. Addresses margins handled incorrectly in IE6/7
 */

body {
    font-size: 160%; /* 1 */
    margin: 0; /* 2 */
}

@import "_buttons"
