/*
 * Core global styles
 */

#wrapper {
  background-color: $grey-9;

  @include ie-lte(7) {
    zoom: 1;
  }
}

.inner {
  margin: 0 auto;
  padding: 1em;
  position: relative;
}

section#content {
  margin: 0 auto;
  max-width: 1020px;
  position: relative;

  @include ie-lte(7) {
    width: 960px;
  }

  @include media(mobile) {
    max-width: auto;
  }
}

p {
  @include core-19;
}

h2, h3, h4 {
  font-weight: 300;
}

h2 {
  @include core-24;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h3 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h4 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

/*
 * Locate me styles
 */

#global-locator-form {
  label,
  .ask_location {
    display: inline;

    &.hidden { display: none; }
  }

  .found_location p,
  .finding_location p {
    margin: 0em;
  }
}

/*
 * Related box
 * this related stuff needs re-examining - might be a bit over the top
 */
.related-positioning {
  height: 0;
  left: 0;
  position: fixed;
  top: 7em;
  width: 100%;
  z-index: 0;

  @include ie-lte(8) {
    z-index: 0;
  }

  @include ie-lte(7) {
    position: absolute !important;
  }

  @include media(tablet) {
    position: static;
    top: auto;
    height: auto;
  }
}

.related-with-cookie {
  top: 9.5em;
}

.related-container {
  position: relative;
  height: 0;
  margin: 0 auto;
  max-width: 1020px;
  position: relative;
  z-index: 50;

  @include ie-lte(7) {
    width: 960px;
  }

  @include media(tablet) {
    max-width: auto;
    height: auto;

    @include ie-lte(7) {
      width: auto;
    }
  }
}

.related {
  position: absolute;
  right: 0;
  width: 15em;

  @include media(tablet) {
    position: static;
    right: auto;
    width: auto;
  }

  .inner {
    background-color: $grey-8;
    padding: 0.5em 1em 0 1.2em;
    width: auto;

    @include media(tablet) {
      padding-left: 2em;
    }

    @include media(mobile) {
      padding-left: 1em;
    }
  }

  h2 {
    @include core-19;
    color: $text-colour;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    position: relative;

    @include media(mobile) {
      font-size: 17px;
      font-size: 1.7rem;
      margin-bottom: 0.625em;
    }
  }

  ul {
    @include core-16;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 1em;
    padding-left: 0;

    &.related-topic {
      border-top: 1px solid $grey-6;
      list-style: none outside none;
      margin: 0.25em 0 0;
      padding: 0.75em 0;

      a {
        padding: 0;
      }
    }

    a {
      background-position: 0 -287px;
      background-repeat: no-repeat;
      display: block;
      line-height:1.25em;
      orphans: 2;

      &:hover {
        background-position: 0 0;
      }

      @include ie-lte(8) {
        height: 1%;
      }
    }

    a[href*="#"] {
      /* grey out stub links */
      background: none;
      color: #888;
      cursor: default;
      text-decoration: none;
    }
  }

  .return-to-top {
    @include core-16;
    margin-bottom: 0.5em;
    position: absolute;
    left: -9999em;

    @include media(mobile) {
      position: static;
      border-top: 1px solid $grey-6;
      margin: 0.25em 0 0;
      padding: 0.75em 0;
    }
  }
}

#wrapper .related.sections-list li a {
  padding: 0.1em 0em;
}

/*
 * Legacy sources thang
 */

#legacy-sources {
    margin-left: 1.2em;
    margin-top: 1em;
    display: none;

  p {
	  font-size: 1em;
    margin-bottom: 0;
	  padding: 0;
	  color: black;
  }

  ul {
	  margin: 0;
	  padding: 0;
	  overflow:hidden;
  }

  li {
    text-indent: -5000px;
    float: left;
    background-repeat: no-repeat;
    display: none;
  }
}

#wrapper.businesslink #legacy-sources,
#wrapper.directgov #legacy-sources {
  display: block;
}

#wrapper.businesslink #legacy-sources li.businesslink {
	background-image: image-url("businesslink-logo.png");
	width: 84px;
	height: 33px;
	margin-top: 0.5em;
	display: block;
}

#wrapper.directgov #legacy-sources li.directgov {
	background-image: image-url("directgov-logo.png");
	width: 74px;
	height: 14px;
	margin-right: 1em;
	margin-top: 0.8em;
	display: block;
}

/*
 * Page headers
 */

header {

  &.page-header 

    .skip-to-related {
      position:absolute;
      left:-9999em;
    }

    hgroup {
      background-color: #fff;
      display: block;
      margin: 0 15em 0 0;
      padding: 1em 2em 2em 2em;

      @include media(tablet) {
        margin: 0;
      }

      h1 {
        @include heading-48;
        background-repeat: no-repeat;
        color: $text-colour;

        span {
          @include core-19($line-height: 1);
          display: block;
          margin-bottom: 0.25em;
          text-shadow: none;

        @include ie-lte(8) {
          height: 1%;
        }
      }
    }
  }
}

body.full-width {
  header.page-header hgroup {
    margin-right: 0;
  }

  .article-container {
    margin-right: 0;
  }
}

#wrapper.service header.page-header hgroup,
#wrapper.licence header.page-header hgroup,
#wrapper.video header.page-header hgroup,
#wrapper.answer header.page-header hgroup,
#wrapper.guide header.page-header hgroup {
  padding-left: 2em;

  h1 {
    margin-left: 0;
    padding-left: 68px;

    @include ie(6) {
      position: relative;
      z-index: 1;
      zoom: 1;
    }

  }

  @include media(mobile) {
    padding-left: 1em;

    h1 {
      min-height: (61em/25);
    }
  }
}

#wrapper.programme header.page-header hgroup,
#wrapper.service header.page-header hgroup {
  h1 {
    margin-left: -12px;
    padding-left: 80px;
  }

  @include media(mobile) {
    padding-left: 1em;

    h1 {
      min-height: (61em/25);
    }
  }
}

#wrapper.programme header.page-header hgroup,
#wrapper.service header.page-header hgroup,
#wrapper.licence header.page-header hgroup,
#wrapper.video header.page-header hgroup {
  @include media($min-width: 1182px) {
    padding-left: 0;

    h1 {
      margin-left: -96px;
      padding-left: 128px;
    }
  }
}

#wrapper.answer header.page-header hgroup,
#wrapper.guide header.page-header hgroup {
  @include media($min-width: 1132px) {
    padding-left: 0;

    h1 {
      margin-left: -96px;
      padding-left: 128px;
    }
  }
}

/* Programmes */
#wrapper.programme header.page-header hgroup h1 {
  background-image: image-url("icon-programme-l.png");
  background-position: 0 5px;

  @include media($min-width: 1182px) {
    background-position: 15px 18px;
  }

  @include device-pixel-ratio() {
    background-image: image-url("icon-programme-l-2x.png");
    background-size: 65px 65px;
  }
}

/* Services */
#wrapper.service header.page-header hgroup h1 {
  background-image: image-url("icon-service-l.png");
  background-position: 0 12px;

  @include media($min-width: 1182px) {
    background-position: 15px 29px;
  }

  @include device-pixel-ratio() {
    background-image: image-url("icon-service-l-2x.png");
    background-size: 67px 52px;
  }
}

/* Quick answers */
#wrapper.answer header.page-header hgroup h1 {
  background-image: image-url("icon-answer-l.png");
  background-position: 0 14px;

  @include media($min-width: 1132px) {
    background-position: 40px 14px;
  }

  @include device-pixel-ratio() {
    background-image: image-url("icon-answer-l-2x.png");
    background-size: 42px 61px;
  }
}

/* Licence guidance */
#wrapper.licence header.page-header hgroup h1 {
  background-image: image-url("icon-licence-l.png");
  background-position: 0 14px;
  
  @include media($min-width: 1182px) {
    background-position: 16px 14px;
  }

  @include device-pixel-ratio() {
    background-image: image-url("icon-licence-l-2x.png");
    background-size: 38px 65px;
  }
}

/* Guides */
#wrapper.guide header.page-header hgroup h1,
#wrapper.video header.page-header hgroup h1 {
  background-image: image-url("icon-guide-l.png");
  background-position: 0 14px;

  @include media($min-width: 1132px) {
    background-position: 40px 14px;
  }

  @include device-pixel-ratio() {
    background-image: image-url("icon-guide-l-2x.png");
    background-size: 40px 61px;
  }
}

/* Business support format */
.business_support article.tab-pane { 
  width: auto; 
}
.business_support .support-info {
  background: #E1E8E8;
  border-left: 1px solid #BBB;
}
.business_support section.support-info:last-child { 
  border-bottom: 1px dotted #BBB; 
}
.business_support .support-info h2 {
  @include core-16($line-height: 1.25);
  margin: 0;
  text-align: left;
  color: black;
  background-color: #E1E8E8;
  border-top: solid 1px #BBB;
  float: left;
  width: 30%;
  padding: 0.25em;
}
.business_support .faux-cell,
.business_support .faux-cell p,
.business_support .faux-cell li,
.business_support .long-description p,
.business_support .long-description li {
  @include core-16;
}
.business_support .faux-cell {
  background: #FFF;
  overflow: hidden;
  border-left: 1px solid #BBB;
  border-top: 1px dotted #BBB;
  border-right: 1px dotted #BBB;
  margin: 0;
  padding: 0.25em;
}

/* Licence Application */

.relevant-authority {
  margin: 0 0 20px 84px;
  margin: 0 0 2rem 8.4rem;

  h2 {
    margin: 0;
  }
}

.licence .intro form {
  ul {
    padding-left: 12px;
    padding-left: 1.2rem;
  }
  li { list-style: none;
    label {
      padding-left: 5px;
      padding-left: 0.5rem;
    }
  }
}

/*
  ============================== Stuff (mainly) used in publications =============================
*/

/* articles */
article {
  float: left;
  margin-right: 12em;
  min-height: 30em;
  position: relative;
  width: 100%;
  z-index: 1;

  @include ie-lte(8) {
    float: none;
  }

  @include ie-lte(7) {
  }

  &.group {
    @include ie-lte(7) {
      height: auto;
    }
  }

  .inner {
    padding: 0 10em 2em 2em;
    width: auto;
  }

  @include media(tablet) {
    min-height: 0;

    .inner {
      padding: 0 2em 1em 2em;
    }
  }

  @include media(mobile) {
    .inner {
      padding: 0 1em 1em 1em;
    }
  }
}

#wrapper.answer,
#wrapper.transaction,
#wrapper.local_transaction{
  article{
    .inner{
      padding-right:10em;

      @include media(mobile) {
        padding-right: 1em;
      }
    }
  }
}

#wrapper.guide
#wrapper.programme{
  article{
    .inner{
      padding-right:3em;

      @include media(mobile) {
        padding-right: 1em;
      }
    }
  }
}

.article-container {
  background-color: #fff;
  margin-right: 15em;
  min-height: 35em;

  article {
    margin-right: 0;
  }

  @include media(tablet) {
    margin-right: 0;
    min-height: 0;
  }
}

/* Meta-data */
.meta-data {
  @include core-16;
  color: $grey-3;
  float: right;
  width: 62%;
  margin-left: 2em;
  background-color:transparent;
  display:inline;
  margin-top:-2.7em;
  text-align: right;

  .inner {
    padding: 0 2em 0 0;
  }

  @include ie-lte(7) {
    width: 60%;
  }

  @include ie(6) {
    display: inline;
    zoom: 1;
  }

  p{
    display: inline-block;
    text-align: left;

    @include ie-lte(7) {
      display: inline;
      zoom: 1;
    }

    a{
      color: $grey-3;
    }
    @include core-16
  }

  @include media(mobile) {
    margin-left: 0;
    margin-top: 0;
    width: 50%;

    .inner {
      padding: 0 2em 0 0;
    }

    p {
      margin-top: 0;
      float: none;
      width: 100%;
      text-align: right;

      &.print-link a {
        padding-left: 0;
      }
    }
  }
}

.print-link {
  text-align:right;
  margin: 0.5em 0;
  padding-left: 1.4em;

  @include ie-lte(7) {
    padding-left: 0.2em;
  }

  a, a:link, a:visited {
    background: image-url("icon-print.png") no-repeat 100% 50%;

    @include device-pixel-ratio() {
      background-image: image-url("icon-print-2x.png");
      background-size: 25px 25px;
    }

    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 30px;
    padding-right: 32px;
    zoom: 1;
  }

  @include media(mobile) {
    width:60%;

    a, a:link, a:visited {
      padding-bottom:4px;
    }
  }
}

.modified-date {
  @include media(mobile) {
    width:40%;
  }
}

/* Error messages */
.error-notification,
.error-area {
  border: 1px solid #ffc946;
  background-color: #fbedcd;
  padding: 0 1em;
  margin-bottom: 1em;

  p {
    @include core-16;
  }
}

.error-area span {
  @include core-14;
  font-weight: bold;
  display: block;
}

/* Feedback mechanism styles */
.popover-mask {
  background-color: rgba(0,0,0,0.5);
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  z-index: 60;

  @include ie-lte(7) {
    position: absolute !important;
  }
}

#popup {
  display: none;

  overflow: visible;
  clear: both;
  
  position: absolute;
  top: 2em;
  left: 0;
  
  width: 60%;
  
  z-index: 999999;
  
  padding: 0;
  padding-bottom: 0.5em;

  h2 {
    outline: none;
  }

  h3 {
    @include core-16;
    margin: 0.75em 0;
  }

  ul {
    margin: 0 0 0 5em;
    padding: 0;
  }

  .error-notification {
    margin-bottom: 0.8em;
    padding: 0 0.5em;
  }

  .inner {
    background-color: #fff;
  }
}

.close {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;

  a {
    background-color: transparent;
    background-image: image-url("close.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    height: 2em;
    width: 2em;
    text-indent: -9999px;

    &:hover {
      background-color: rgba(0,0,0,0.25);
    }
  }
}

.sets-cookie {
  @include core-14;
}

.cookie-container {
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;

  @include ie-lte(8) {
    bottom: auto;
    right: auto;
    margin-top: 1em;
    position: relative;
  }
}

.find-location-for-service .cookie-container {
  bottom: 1em;
  right: 0.75em;

  @include media(mobile) {
    bottom: 20px;
    bottom: 2rem;
    right: 16px;
    right: 1.6rem;
  }
}

/*  ============================================================================
    Tabs
    ========================================================================  */

.nav-tabs {
  zoom: 1;
  background: #fff;
  padding: 0;
  position: relative;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  ol,
  ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;

    @include ie-lte(7) {
      overflow: hidden;
      padding: 1px 1px 0 0;
    }

    @include media(mobile) {
      float: none;
      margin: 0 -16px;
      margin: 0 -1.6rem;
    }
  }

  li {
    @include core-16;
    padding: 0;
    margin: 0;
    float: left;

    @include media(mobile) {
      float: none;
    }

    a {
      border: solid 1px #fff;
      border-bottom: none;
      float:left;
      height: 2.25em;
      line-height: 2.25em;
      margin-bottom: -1px;
      padding: 0 1em 0 1em;
      position: relative;
      text-align: center;
      top: 0;

      @include ie-lte(7) {
        background-image: none;
        padding: 0 0.5em;
      }

      @include media(mobile) {
        display: block;
        position: static;
        float: none;
        height: auto;
        line-height: 3.5em;
        padding: 0 16px;
        padding: 0 1.6rem;
        text-align: left;
        margin-bottom: 0;
        border-bottom: 1px solid $grey-6;
      }

      &:hover {
        background-color: $grey-9;
      }
    }

    &.active a {
      background-color: #fff;
      border: solid 1px $grey-6;
      border-bottom: solid 1px #fff;
      color: $text-colour;
      position: relative;
      text-decoration: none;
      z-index: 5;

      @include ie-lte(7) {
        bottom: -1px;
      }

      @include media(mobile) {
        border: none;
        border-bottom: 1px solid  $grey-6;
      }

      &:hover {
        color: inherit;
      }
    }

    &:first-child a {
      margin-left: 0;

      @include media(mobile) {
        border-left: none;
        border-top: 1px solid $grey-8;
      }
    }
  }
}

/* give tabs the whole width of the central column in 2-column grids */ 
#wrapper.answer article .inner .nav-tabs,
#wrapper.transaction article .inner .nav-tabs,
#wrapper.local_transaction article .inner .nav-tabs {
  margin-right: -10em;
}

.tab-content {
  margin: 0 -10em 0 -2em;

  @include media(mobile) {
    margin: 0 -1em;
  }

  .tab-pane {
    padding: 1em 10em 0 2em;
    border-top: solid 1px $grey-6;
    clear: both;
    width:auto;

    @include media(mobile) {
      border-top: none;
      padding: 0;
    }
  }

  .inner {
    padding: 0em 2.5em 1em;

    @include media(mobile) {
      padding:0 1em 1em;
      border-bottom: solid 1px #C9D0D0;
    }
  }

  h1.visuallyhidden + h2 {
    margin-top: 2em;
  }

  p {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  nav {
    margin: 1em -1.375em 0;
  }
}

.js-tab-content {
  .programme-progression li,
  .js-heading-tab {
    border-bottom: solid 1px $grey-6;
    list-style: none;

    a,
    h1 {
      @include core-24($line-height: (45 / 24), $line-height-640: (45 / 17));
      background: #FFF image-url('accordian-arrow.png') no-repeat 100% -2px;
      display: block;
      padding: 0 1.6rem;
      position: relative;
      text-align: left;
      text-decoration:underline;
      top: 0;

      @include device-pixel-ratio() {
        background-image: image-url("accordian-arrow-2x.png");
        background-size: 45px 90px;
      }

      &:hover {
        background-color: $grey-9;
      }
    }

    &.active {
      text-decoration: none;

      a, h1 {
        background-position: 100% -48px;
        background-color: $grey-9;
        color: $text-colour;
        text-decoration: none;
      }
    }
  }

  .js-heading-tab {
    margin:0;
    clear:both;

    h1 {
      padding:0;
    }
  }


  .tab-shiftlink {
    @include core-19();
    position: absolute;
    left: -9999em;

    @include media(mobile) {
      position: static;
      left: auto;
    }
  }

  @include media(mobile) {
    .js-tab-container {
      min-height:0;
    }

    .js-tab-pane {
      border-bottom:solid 1px $grey-6;
    }

    .js-tab-container:first-child {
      border-top: solid 1px $grey-6;
    }
  }
}

.transaction .js-tab-content {
  overflow: hidden;
}

/* report a problem */

.report-a-problem-toggle{
  @include core-16;
  float:left;
  width: 35%;
  margin:6em 0 0.5em 2em;
  clear:both;
  a{
    color: $grey-3;
  }

  @include media(mobile) {
    margin: 0 0.5em 16px 16px;
    margin: 0 0.5em 1.6rem 1.6em;
    width:40%;
  }

  @include ie-lte(7) {
    float: none;
    display: inline;
    zoom: 1;
  }
}

.js-tab-content .report-a-problem-toggle {
  @include media(mobile) {
    margin-top:2em;
  }
}

.js-enabled .report-a-problem-container{
  display:none;
}

.report-a-problem-container{
  @include core-19;
  clear:both;
  background-color:#D5E8F3;
  margin:0 3.5em 2em 3.5em;
  padding:0.5em 1em 1em 1em;

  div{
    width:98%;
    padding-top:0.5em;
    text-align:right;

    .button{
      margin-right: -0.5em;
    }
  }
  label{
    padding:0 0 0.5em 0;
    display:block;
    input{
      margin:0;
      display:block;
      width:98%;
    }
  }

  @include media(mobile) {
    margin: 0 1em 2em 1em;
  }
}

/* bunting lol */
.epic-bunting {
  width: 100%;
  position: fixed;
  left: 0;
  top: 14em;
  overflow: visible;

  span {
    background-image: image-url("bunting.png");
    background-color: transparent;
    background-repeat: repeat-x;
    width: 99.9%;
    position: absolute;
    height: 60px;
  }
}
