/*
 * Core global styles
 */

#wrapper {
  background-color: $white;//$grey-9;
  border-bottom: 10px solid $mainstream-brand;

  @include ie-lte(7) {
    zoom: 1;
  }
}

.inner {
  margin: 0 auto;
  padding: 1em;
  position: relative;
}

main#content,
section#content {
  margin: 0 auto;
  max-width: 1020px;
  position: relative;
  display:block;

  @include ie-lte(7) {
    width: 960px;
  }

  @include media-down(mobile) {
    max-width: auto;
  }
}

p {
  @include core-19;
}

h2, h3, h4 {
  font-weight: 400;
}

h2 {
  @include core-24;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h3 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h4 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

/*
 * Locate me styles
 */

#global-locator-form {
  label,
  .ask_location {
    display: inline;

    &.hidden { display: none; }
  }

  .found_location p,
  .finding_location p {
    margin: 0em;
  }
}

/*
 * Related box
 * this related stuff needs re-examining - might be a bit over the top
 */
.related-positioning {
  height: 0;
  left: 0;
  position: fixed;
  position: absolute;
  top: 9.5em;
  width: 100%;
  z-index: 0;

  @include ie-lte(8) {
    z-index: 0;
  }

  @include ie-lte(7) {
    position: absolute !important;
  }

  @include media-down(tablet) {
    position: static;
    top: auto;
    height: auto;
  }
}

.js-enabled .related-positioning {
  top: 7em;
}

.beta .related-positioning {
  top: 12em;
}

.js-enabled .related-with-cookie,
.js-enabled .related-beta {
  top: 9.5em;
}

.related-container {
  position: relative;
  height: 0;
  margin: 0 auto;
  max-width: 1020px;
  position: relative;
  z-index: 50;

  @include ie-lte(7) {
    width: 960px;
  }

  @include media-down(tablet) {
    max-width: auto;
    height: auto;

    @include ie-lte(7) {
      width: auto;
    }
  }
}

.related {
  position: absolute;
  right: 1.75em;
  margin: 3em 0 0 0;
  width: 15em;
  width: 18.75em;
  border-top: 10px solid $mainstream-brand;

  @include media-down(tablet) {
    position: static;
    right: auto;
    width: auto;
  }

  .inner {
    background-color: $white;
    padding: 0.5em 1em 0 0;
    width: auto;

    @include media-down(tablet) {
      padding-left: 2em;
    }

    @include media-down(mobile) {
      padding-left: 1em;
    }
  }

  nav {
    margin-bottom: 1.25em;
  }

  h2 {
    @include core-24;
    font-weight: 600;
    color: $text-colour;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    position: relative;

    @include media-down(mobile) {
      font-size: 17px;
      margin-bottom: 0.625em;
    }
  }

  ul {
    @include core-16;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    margin-bottom: 0.75em;
    padding-left: 0;

    &.related-topic {
      list-style: none outside none;

      a {
        display: inline;
        font-weight: bold;
      }
    }

    a {
      background-position: 0 -287px;
      background-repeat: no-repeat;
      display: block;
      line-height:1.25em;
      orphans: 2;

      &:hover {
        background-position: 0 10px;
      }

      @include ie-lte(8) {
        height: 1%;
      }
    }

    a[href*="#"] {
      /* grey out stub links */
      background: none;
      color: #888;
      cursor: default;
      text-decoration: none;
    }

    a.view-all {
      margin: 10px 0 10px;
    }

    a[rel="external"]:after {
      content: "\A0\A0\A0\A0\A0\A0";
      background-position: 5px 0px;
    }
    
    a[rel="external"]:hover:after {
      background-position: 5px -388px;
    }

  }

  .return-to-top {
    @include core-16;
    margin-bottom: 0.5em;
    position: absolute;
    left: -9999em;

    @include media-down(mobile) {
      position: static;
      margin: 0.25em 0 0;
      padding: 0.75em 0;
    }
  }
}

#wrapper .related.sections-list li a {
  padding: 0.1em 0em;
}

/*
 * Legacy sources thang
 */

#legacy-sources {
  margin-top: 1em;
  display: none;

  @include media-down(tablet) {
    margin: 1em 2em 0em;
  }

  @include media-down(mobile) {
    margin-left: 1em;
    margin-right: 1em;
  }

  p {
	  font-size: 1em;
    margin-bottom: 0;
	  padding: 0;
	  color: black;
  }

  ul {
	  margin: 0;
	  padding: 0;
	  overflow:hidden;
  }

  li {
    text-indent: -5000px;
    float: left;
    background-repeat: no-repeat;
    display: none;
  }
}

#wrapper.businesslink #legacy-sources,
#wrapper.directgov #legacy-sources {
  display: block;
}

#wrapper.businesslink #legacy-sources li.businesslink {
	background-image: image-url("businesslink-logo.png");
	width: 84px;
	height: 33px;
	margin-top: 0.5em;
	display: block;

  @include device-pixel-ratio() {
    background-image: image-url("businesslink-logo-2x.png");
    background-size: 84px 33px;
  }
}

#wrapper.directgov #legacy-sources li.directgov {
	background-image: image-url("directgov-logo.png");
	width: 74px;
	height: 14px;
	margin-right: 1em;
	margin-top: 1.2em;
	display: block;

  @include device-pixel-ratio() {
    background-image: image-url("directgov-logo-2x.png");
    background-size: 74px 14px;
  }
}

/*
 * Page headers
 */

header.page-header {
    .skip-to-related {
      position: absolute;
      left: -9999em;

      &:focus {
        position: relative;
        @include inline-block;
        left: 32px;
        top: -2em;
      }

      @include media(mobile) {
        position: relative;
        @include inline-block;
        left: 1em;
        padding:0.5em 0 0.75em 0;
      }
    }

    div {
      background-color: #fff;
      display: block;
      margin: 0;      
      padding:0;

      @include media(tablet) {
        padding: 2em 2em 2em 2em;
        margin: 0;
      }

      @include media(desktop) {
        margin: 0 24em 0 0;
      }

      h1 {
        @include heading-48;
        background-repeat: no-repeat;
        color: $text-colour;
        font-weight: 600;

        span {
          @include core-27($line-height: 1);
          display: block;
          margin-bottom: 0.25em;
          text-shadow: none;
          color: $secondary-text-colour ;

        @include ie-lte(8) {
          height: 1%;
        }
      }
    }
  }
}

body.full-width {
  header.page-header div,
  .article-container,
  article {
    margin-right: 0;
  }

  header.page-header div {
    padding-left: 30px;
    padding-right: 30px;

    @include media(mobile) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

#wrapper.service header.page-header div,
#wrapper.licence header.page-header div,
#wrapper.video header.page-header div,
#wrapper.answer header.page-header div,
#wrapper.guide header.page-header div {
  padding-left: 2em;

  h1 {
    margin-left: 0;

    @include ie(6) {
      position: relative;
      z-index: 1;
      zoom: 1;
    }

  }

  @include media-down(mobile) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

#wrapper.programme header.page-header div,
#wrapper.service header.page-header div {


  @include media-down(mobile) {
    padding-left: 1em;

    h1 {
      min-height: (61em/25);
    }
  }
}

#wrapper.programme header.page-header div,
#wrapper.service header.page-header div,
#wrapper.licence header.page-header div,
#wrapper.video header.page-header div {
  @include media($min-width: 1182px) {
    padding-left: 0;

    h1 {
      padding-left: 32px;
    }
  }
}

#wrapper.answer header.page-header div,
#wrapper.guide header.page-header div {
  @include media($min-width: 1132px) {
    padding-left: 0;

    h1 {
      padding-left: 32px;
    }
  }
}

/* Business support format */
.business_support article.tab-pane {
  width: auto;
}
.business_support .support-info {
  background: #E1E8E8;
  border-left: 1px solid #BBB;
}
.business_support section.support-info:last-child {
  border-bottom: 1px dotted #BBB;
}
.business_support .support-info h2 {
  @include core-16($line-height: 1.25);
  margin: 0;
  text-align: left;
  color: black;
  background-color: #E1E8E8;
  border-top: solid 1px #BBB;
  float: left;
  width: 30%;
  padding: 0.25em;
}
.business_support .faux-cell,
.business_support .faux-cell p,
.business_support .faux-cell li,
.business_support .long-description p,
.business_support .long-description li {
  @include core-16;
}
.business_support .faux-cell {
  background: #FFF;
  overflow: hidden;
  border-left: 1px solid #BBB;
  border-top: 1px dotted #BBB;
  border-right: 1px dotted #BBB;
  margin: 0;
  padding: 0.25em;
}

/* Licence Application */

.relevant-authority {
  margin: 0 0 20px 84px;

  h2 {
    margin: 0;
  }
}

.licence .intro form {
  ul {
    padding-left: 12px;
  }
  li { list-style: none;
    label {
      padding-left: 5px;
    }
  }
}

/*
  ============================== Stuff (mainly) used in publications =============================
*/

/* articles */
article {
  margin-right: 22.25em;
  min-height: 30em;
  position: relative;
  width: 100%;
  z-index: 1;

  @include ie-lte(8) {
    float: none;
  }

  @include ie-lte(7) {
  }

  &.group {
    @include ie-lte(7) {
      height: auto;
    }
  }

  .inner {
    padding: 0 0 2em 2em;
    width: auto;
  }

  @include media-down(tablet) {
    min-height: 0;

    .inner {
      padding: 0 2em 1em 2em;
    }
  }

  @include media-down(mobile) {
    .inner {
      padding: 0 1em 1em 1em;
    }
  }
}

#wrapper.answer,
#wrapper.transaction,
#wrapper.local_transaction{
  article{
    .inner{
      padding-right:10em;
      padding-right:0;

      @include media-down(mobile) {
        padding-right: 1em;
      }
    }
  }
}

#wrapper.guide,
#wrapper.programme{
  article{
    .inner{
      padding-right:3em;
      padding-right:0;

      @include media-down(mobile) {
        padding-right: 1em;
      }
    }
  }
}

#wrapper.travel-advice p img {
  display: block;
  margin: 0 -1em;
  padding-left: 1em;

  @include media-down(tablet) {
    max-width: 100%;
  }
}

.article-container {
  background-color: #fff;
  margin-right: 22.25em;
  min-height: 35em;
  max-width: 38em;

  /* Make webkit browsers contain the margin-bottom of report-a-problem */
  .travel-advice & {
    padding-bottom: 0.01em;
  }

  article {
    margin-right: 0;
  }

  @include media-down(tablet) {
    margin-right: 0;
    min-height: 0;
  }
}

/* Meta-data */
.meta-data {
  @include core-16;
  color: $grey-3;
  margin-left: 2em;
  background-color:transparent;

  .inner {
    padding: 0 2em 0 0;
  }

  @include ie-lte(7) {
    width: 60%;
  }

  @include ie(6) {
    zoom: 1;
  }

  p{
    text-align: left;

    @include ie-lte(7) {
      zoom: 1;
    }

    a{
      color: $grey-3;
    }
    @include core-16
  }

  @include media-down(mobile) {
    margin-left: 1em;

    .inner {
      padding: 0 1em;
    }

    p {
      margin-top: 0;

      &.print-link a {
        padding-left: 0;
      }
    }
  }
}

.print-link {
  text-align: left;
  margin: 2em 0 0 0;

  a, a:link, a:visited {
    background: image-url("icon-print.png") no-repeat 0% 50%;
    padding: 0.5em 0 0.5em 28px;

    @include device-pixel-ratio() {
      background-image: image-url("icon-print-2x.png");
      background-size: 16px 18px;
    }

    zoom: 1;
  }

  @include media-down(mobile) {
    width:60%;

    a, a:link, a:visited {
      padding-bottom:4px;
    }
  }
}

.modified-date {
  @include media-down(mobile) {
    width:40%;
  }
}

/* Error messages */
.error-notification,
.error-area {
  border: 1px solid #ffc946;
  background-color: #fbedcd;
  padding: 0 1em;
  margin-bottom: 1em;

  p {
    @include core-16;
  }
}

.error-area span {
  @include core-14;
  font-weight: bold;
  display: block;
}

/* Feedback mechanism styles */
.popover-mask {
  background-color: rgba(0,0,0,0.5);
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  z-index: 60;

  @include ie-lte(7) {
    position: absolute !important;
  }
}

#popup {
  display: none;

  overflow: visible;
  clear: both;
  
  position: absolute;
  top: 2em;
  left: 0;
  
  width: 60%;
  
  z-index: 999999;
  
  padding: 0;
  padding-bottom: 0.5em;

  h2 {
    outline: none;
  }

  h3 {
    @include core-16;
    margin: 0.75em 0;
  }

  ul {
    margin: 0 0 0 5em;
    padding: 0;
  }

  .error-notification {
    margin-bottom: 0.8em;
    padding: 0 0.5em;
  }

  .inner {
    background-color: #fff;
  }
}

.close {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;

  a {
    background-color: transparent;
    background-image: image-url("close.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    height: 2em;
    width: 2em;
    text-indent: -9999px;

    &:hover {
      background-color: rgba(0,0,0,0.25);
    }
  }
}

.sets-cookie {
  @include core-14;
}

.cookie-container {
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;

  @include ie-lte(8) {
    bottom: auto;
    right: auto;
    margin-top: 1em;
    position: relative;
  }
}

.find-location-for-service .cookie-container {
  bottom: 1em;
  right: 0.75em;

  @include media-down(mobile) {
    bottom: 20px;
    right: 16px;
  }
}

/*  ============================================================================
    Tabs
    ========================================================================  */

.nav-tabs {
  zoom: 1;
  background: #fff;
  padding: 0;
  position: relative;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  ol,
  ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;

    @include ie-lte(7) {
      overflow: hidden;
      padding: 1px 1px 0 0;
    }

    @include media-down(mobile) {
      float: none;
      margin: 0 -16px;
    }
  }

  li {
    @include core-16;
    padding: 0;
    margin: 0;
    float: left;

    @include media-down(mobile) {
      float: none;
    }

    a {
      border: solid 1px #fff;
      border-bottom: none;
      float:left;
      height: 2.25em;
      line-height: 2.25em;
      margin-bottom: -1px;
      padding: 0 1em 0 1em;
      position: relative;
      text-align: center;
      top: 0;

      @include ie-lte(7) {
        background-image: none;
        padding: 0 0.5em;
      }

      @include media-down(mobile) {
        display: block;
        position: static;
        float: none;
        height: auto;
        line-height: 3.5em;
        padding: 0 16px;
        text-align: left;
        margin-bottom: 0;
        border-bottom: 1px solid $grey-6;
      }

      &:hover {
        background-color: $grey-9;
      }
    }

    &.active a {
      background-color: #fff;
      border: solid 1px $grey-6;
      border-bottom: solid 1px #fff;
      color: $text-colour;
      position: relative;
      text-decoration: none;
      z-index: 5;

      @include ie-lte(7) {
        bottom: -1px;
      }

      @include media-down(mobile) {
        border: none;
        border-bottom: 1px solid  $grey-6;
      }

      &:hover {
        color: inherit;
      }
    }

    &:first-child a {
      margin-left: 0;

      @include media-down(mobile) {
        border-left: none;
        border-top: 1px solid $grey-8;
      }
    }
  }
}

/* give tabs the whole width of the central column in 2-column grids */
#wrapper.answer article .inner .nav-tabs,
#wrapper.transaction article .inner .nav-tabs,
#wrapper.local_transaction article .inner .nav-tabs {
}

.tab-content {
  @include media-down(mobile) {
    margin: 0 -1em;
  }

  .tab-pane {
    padding: 1em 1em 0 1em;
    border-top: solid 1px $grey-6;
    clear: both;
    width:auto;

    @include media-down(mobile) {
      border-top: none;
      padding: 0;
    }
  }

  .inner {
    padding: 0em 2.5em 1em;

    @include media-down(mobile) {
      padding:0 1em 1em;
      border-bottom: solid 1px #C9D0D0;
    }
  }

  h1.visuallyhidden + h2 {
    margin-top: 2em;
  }

  p {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  nav {
    margin: 1em -1.375em 0;
  }
}

.js-tab-content {
  .programme-progression li,
  .js-heading-tab {
    border-bottom: solid 1px $grey-6;
    list-style: none;

    a,
    h1 {
      @include core-24($line-height: (45 / 24), $line-height-640: (45 / 17));
      background: #FFF image-url('accordian-arrow.png') no-repeat 100% -2px;
      display: block;
      padding: 0 16px;
      position: relative;
      text-align: left;
      text-decoration:underline;
      top: 0;

      @include device-pixel-ratio() {
        background-image: image-url("accordian-arrow-2x.png");
        background-size: 45px 90px;
      }

      &:hover {
        background-color: $grey-9;
      }
    }

    &.active {
      text-decoration: none;

      a, h1 {
        background-position: 100% -48px;
        background-color: $grey-9;
        color: $text-colour;
        text-decoration: none;
      }
    }
  }

  .js-heading-tab {
    margin:0;
    clear:both;

    h1 {
      padding:0;
    }
  }


  .tab-shiftlink {
    @include core-19();
    position: absolute;
    left: -9999em;

    @include media-down(mobile) {
      position: static;
      left: auto;
    }
  }

  @include media-down(mobile) {
    .js-tab-container {
      min-height:0;
    }

    .js-tab-pane {
      border-bottom:solid 1px $grey-6;
    }

    .js-tab-container:first-child {
      border-top: solid 1px $grey-6;
    }
  }
}

.transaction .js-tab-content {
  overflow: hidden;
}

/* report a problem */

.report-a-problem-toggle{
  @include core-16;
  margin:1em 2em 1em 2em;
  a{
    color: $grey-3;
  }

  @include ie-lte(7) {
    zoom: 1;
  }

  @include media-down(mobile) {
    margin:0em 1em 1em 1em;
  }
}

.js-tab-content .report-a-problem-toggle {
  @include media-down(mobile) {
    margin-top:2em;
  }
}

/* bunting lol */
.epic-bunting {
  width: 100%;
  position: absolute;
  left: 0;
  top: 6.1em;
  overflow: visible;

  @include media-down(tablet) {
    display: none;
  }

  span {
    background-image: image-url("bunting.png");
    background-color: transparent;
    background-repeat: repeat-x;
    background-position: center top;
    width: 99.9%;
    position: absolute;
    height: 107px;
  }
}

.next-steps-promo {
  border-top: solid 5px $yellow;
  border-bottom: solid 5px $yellow;
  position: relative;
  margin-top: 3em;
  padding: 1em 200px 1em 0;

  @include media-down(mobile) {
    padding-right: 0;
  }

  @include ie(6) {
    zoom: 1;
  }

  h2 {
    margin-top: 0;
  }

  img {
    position: absolute;
    top: 1em;
    right: 0;

    @include media-down(mobile) {
      position: static;
      display: block;
    }
  }

  .get-started .button {
    background-color: #FFBF47;
    background-image: image-url("icon-pointer-black.png");
    color: #333;

    &:hover,
    &:focus {
      background-color: #ffdf94;
      color: #333;
    }
  }
}

.linear-promo {
  position: static;
  padding-right: 0;
}

/* extra images for variant testing on driving done pages */

.organ-donor-photo,
.organ-donor-logo{
  background-image: image-url("campaigns/organ-donation-photo.jpg");
  background-position: top right;
  background-repeat:no-repeat;
  height: 200px;
  padding-right: 300px;
}
.organ-donor-logo{
  background-image: image-url("campaigns/organ-donation-logo.jpg");
}
