@import "_conditions";
/*
 * Global helper styles
 */

/* For image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;

  br {
    display: none;
  }
}

/* Hide for both screenreaders and browsers: */
.hidden { display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  /*
   * Extends the .visuallyhidden class to allow the element to be
   * focusable when navigated to via the keyboard
   */
  &.focusable:active,
  &.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/* self-clearing floats */
.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.group {
  @include ie-lte(6) {
    height: 1%;
  }
  @include ie-lte(7) {
    min-height: 1px;
  }
}

/*
 * Global Admin header
 */
.gds-header {
	background-color: #333;
	border-bottom: solid 0.063em #efefef;
	-webkit-box-shadow: 0 0.063em 0.188em rgba(0,0,0,.25);
	-moz-box-shadow: 0 0.063em 0.188em rgba(0,0,0,.25);
	box-shadow: 0 0.063em 0.188em rgba(0,0,0,.25);
	color: #fff;
	position: relative;
	vertical-align: top;
	width: 100%;

  .wrapper {
    padding: 0.4em 0;
  }

  h1,
  h2 {
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0 1em 0 0;
    text-shadow: 0.063em 0.063em 0.063em rgb(0,0,0);
  }
}

.gds-menu {
	float: right;
	margin-top: -1.5em;
	border: 3px solid yellow;
}

/*
 * Admin styles
 */

body {
	background-color: #efece0;
	color: #444;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 100%;
}

/* generic wrapper for centering elements */
.wrapper {
	margin: 0 auto;
	max-width: 1260px;
	width: 95%;
}

.inner {
	margin: 0 auto;
	padding: 0 1em;
	position: relative;
	width: 95%;
}

.content {
	margin: 2em auto 5em auto;
}

/*
 * Link styles
 */
a {
  color: #2200C1;

  &:hover 	{
    color: #1D97FF;
  }

  &:visited {
    color: #5800AE;
   }

  &:active 	{
    color: #c11;
  }
}

.format-controls {
	background: #666;
	border-top: 0.063em solid #000;
	left: 0;
	bottom: 0;
	position: fixed;
	z-index: 100;
	height: 3.125em;
	margin: 0 auto;
	padding-top: 1em;
	width: 100%;
	text-align: center;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
}

/*
 * button styles - generic button, submit and formtastic submit
 *
 * these _REALLY_ need revisiting at some point to genericise them more...
 */
.button, 
.button:visited,
input[type=submit],
input[type=submit]:visited,
.formtastic input[type="submit"],
.formtastic input[type="submit"]:visited {
	background: #039 image-url("button-overlay.png") repeat-x;
	border: 0.063em solid rgba(0,0,0,0.25);
	-moz-border-radius: 0.250em;
	-webkit-border-radius: 0.250em;
	-moz-box-shadow: 0 0.063em 0.188em rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0.063em 0.188em rgba(0,0,0,0.5);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 0.313em 0.625em 0.375em;
	text-decoration: none;
	text-shadow: 0 -0.063em 0.063em rgba(0,0,0,0.25);
	position: relative;
}

.button:hover,
input[type=submit]:hover,
.formtastic input[type="submit"]:hover {
	background-color: rgb(0,25,80);
	color: #fff;
}

.button:active,
input[type=submit]:active,
.formtastic input[type="submit"]:active {
	top: 0.063em;
}

.button a {
	color: #fff;
	padding: 0.313em 0.625em 0.375em;
  text-decoration: none;
}

/* green button */
input[type=submit] {
  /* set disabled buttons to be a different colour than the text inputs */
  &:disabled {
    background-color: rgb(61,61,61);
    color: #eee;
  }

  &.update,
  &.create,
  &.activate {
    background-color: rgb(0,109,24);
    padding: 0.6em 1em;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);

    &:hover {
      background-color: rgb(0,79,14);
      color: #fff;
    }
  }
}

input[disabled],
input[disabled]:hover {
	background-color: #f5f5f5;
	color: #777;
	cursor: not-allowed;
}

input[disabled]:active {
	top: 0;
}

.button_to {
	display: inline-block;
	float: none;
	margin-left: 1em;
	width: auto;
}

.workflow_buttons .button_to input[type="submit"] {
	padding: 0.6em 1em;
	text-align: center;
}

#edit .button {
	margin-left: 1.3em;
}

#expectations {
  padding: 1em;

  h2 {
    margin-top: 0.5em;
  }

  h2 + ul {
    border-bottom: solid 1px #bbb;
    padding-bottom: 1.5em;
  }
}

.edition {
  h3 {
    font-size: 1em;
    margin: 0.5em 0;
  }

  .buttons {
      display: inline-block;
      width: 100%;

      h3 {
          font-size: 1.5em;
          margin: 0.5em 0;
          padding-left: 0.75em;
      }
  }

  .history {
    margin: 0 0 1em;
    padding: 0;

    li {
      background-color: #d8d8d8;
      border-top: 0.063em solid #bbb;
      list-style: none;
      margin: 0 1em 0.5em;

      h4 {
        font-size: 1.2em;
        font-weight: normal;
      }

      div {
        display: inline-block;
        min-height: 6.75em;
        vertical-align: top;
        width: 20%;
      }

      ul.diff {
        border: 1px solid #bbb;
        margin: 2em 0;
        padding: 0;

        li {
          background: #f6f6f6;
          font-family: Monaco, "Courier New", fixed-width;
          font-size: 0.8em;
          min-height: 1em;
          margin: 0;
          padding: 0.5em;

          &.alt {
            background: #ececec;
          }

          &.addition {
            background: #d7ecdb;
          }

          &.removal {
            background: #ecd7d9;
          }
        }
      }

      &:last-child {
        border-bottom: 0.063em solid #bbb;
      }

      &.note {
        border-top-color: #666;
        border-top-style: dashed;
      }

      &.fact_check_received {
        border-top-color: #006D18;
      }

      .action-time .time,
      .action-by {
        display: block;
        font-size: 1.125em;
        font-weight: bold;
        line-height: 1.5em;
      }

      .action-time {
        background-color: #fff;
        -webkit-border-radius: 0 0 0.5em 0;
        -moz-border-radius: 0 0 0.5em 0;
        border-radius: 0 0 0.5em 0;
        margin-right: 1em;
        min-height: 1em;
        padding-left: 0.5em;
        width: 15%;
      }

      div.action-comment {
        position: relative;
        width: 60%;

        img {
          background-color: transparent;
          -webkit-border-radius: 0.25em;
          -moz-border-radius: 0.25em;
          border-radius: 0.25em;
          float: left;
          margin-top: 0.5em;
        }

        blockquote {
          background-color: #fff;
          -webkit-border-radius: 0.25em;
          -moz-border-radius: 0.25em;
          border-radius: 0.25em;
          -webkit-box-shadow: 0.063em 0.063em 3px rgba(0,0,0,0.15);
          -moz-box-shadow: 0.063em 0.063em 3px rgba(0,0,0,0.15);
          box-shadow: 0.063em 0.063em 3px rgba(0,0,0,0.15);
          margin: 0.5em 0 1em 6.25em;
          padding: 0 1em;
          position: relative;

          &:after {
            border-color: transparent #fff transparent transparent;
            border-style: solid;
            border-width: 10px 20px 10px 0;
            content: '\00a0';
            display: block;
            height: 0;
            width: 0;
            position: absolute;
            left: -20px;
            top: 10px;
          }

          span {
            display: inline-block;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}

/* give parts tab groups a little breathing room */
#parts {
	margin-bottom: 0.5em;
}

.part {
	background-color: #d3d1c9;
	margin: 0 auto 0.188em;
	padding: 0;
	width: 100%;
}

/*
 * Publications listings table
 */
.formats {
	background-color: #fff;
	border-collapse: collapse;
	font-size: 0.929em;
	margin: 0 auto;
	text-align: center;
	width: 97%;

  tbody tr {
    &:nth-child(odd) td {
      background-color: #F9F9F9;
    }

    &.reviewed td {
      background-color: #FFB547;
      background-color: rgba(255,181,71,0.33);
    }

    &.okay td {
      background-color: #E6FFD6;
    }

    &.factchecked td {
      background-color: #ccc;
    }

    td.total,
    th.total,
    &.total_row td {
      background: #ececec;
    }
  }

  th,
  td {
    border-right: 0.125em solid #d5d5d5;
    padding: 0.4em 0.25em;

    &:last-child {
      border-right: none;
    }

    &.title {
      padding-left: 0.500em;
      text-align: left;
      width: auto;
    }
  }

  th {
    border-bottom: 0.188em solid #bbb;
    font-weight: bold;
    white-space: nowrap;

    &[scope="row"] {
      border-bottom-width: 0.125em;
      padding-right: 0.5em;
      text-align: right;
    }
  }

  td {
    border-bottom: 0.125em solid #bbb;
    vertical-align: middle;
    text-align: center;
  }

  img,
  input {
    opacity: 0.5;
  }

  td:nth-child(1) img,
  img:hover, img:focus,
  input:hover, input:focus {
    opacity: 1;
  }

  .disabled {
    opacity: 0.25;
    cursor: default;
  }

  .version {
    font-style: italic;
  }
}

/* tablesorter styles */
th.header {
    background-image: image-url("bg.gif");
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    padding-right: 1.5em;
    border-right: 0.125em solid #ccc;
}

th.headerSortUp {
    background-image: image-url("asc.gif");
    background-color: #d7d7d7;
}

th.headerSortDown {
    background-image: image-url("desc.gif");
    background-color: #d7d7d7;
}

.formats td form {
  display: inline-block;
}

/* notifications */
.flash-notice,
.flash-alert,
.notification {
	border: 0.063em solid #bbb;
	-webkit-border-radius: 0.250em;
	-moz-border-radius: 0.250em;
	border-radius: 0.250em;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 1em;
	text-align: center;
}

.flash-notice {
	background-color: rgb(0,109,24);
	color: #fff;
}

.flash-alert {
	background-color: #c00;
	color: #fff;
}

.notification {
	background-color: #FFFBBC;
	padding: 0 1em 1em;
}

.return:before {
	content: '\2190';
}

/*
 * Google insights popup
 */
a.insights {
	margin-left: 0.5em;
	width: auto;

  img {
    vertical-align: middle;

    &:active {
      margin-top: 1px;
      margin-bottom: -1px;
    }
  }
}

#popup {
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
	border: 3px solid #999;
	left: 50%;
	margin-left: -200px;
	margin-top: -204px;
	position: absolute;
	top: 50%;
	z-index: 5;
}

/*
	imminence app
*/
td.imminence-actions {
	width: 25%;
}

.sample-data {
	background-color: #EFECE0;
	border: dashed 1px #bbb;
	color: #585858;
	font-size: 0.8em;
}

#programme-nav .ui-accordion h3.ui-accordion-header:before {
	display:none;
}

/*
 * Panopticon app
 */
#panopticon {
	border: 1px solid #bbb;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	padding: 1em 0 1em;

  fieldset {
    margin: 0;

    legend {
      margin-left: -0.25em;
      padding: 0 0.25em;

      &.label {
        padding-left: 1em;
      }
    }

    &.choices,
    &.related {
      border: 1px solid #bbb;
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      border-radius: 0.25em;
    }

    &.choices {
      margin: 0;
    }

    &.related {
      margin: 0 1em;
    }
  }

  .button {
    margin: 1em 1em 0;
  }
}

/*
	Admin navigation
*/
.admin-nav {
	background: #666;
	border: 0.063em solid #333;
	border-top: none;
	-webkit-border-radius: 0 0 0.25em 0.25em;
	-moz-border-radius: 0 0 0.25em 0.25em;
	border-radius: 0 0 0.25em 0.25em;
	padding: 0.25em 0;
	z-index: 100;
	width: 100%;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 2em;
      margin: 0 0.25em;
      padding: 0.25em 0.5em;
      vertical-align: top;
    }

    ul li {
      background: transparent;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      display: block;
      float: left;
      margin: 0;
      padding: 0;

      a {
        color: #fff;
      }

      &.publications-nav {
        border-right: solid 1px #333;
        padding: 0.25em 1em;

        a {
          margin-left: 1em;
        }

        input {
          font-size: 0.875em;
          margin-left: 0.25em;
        }
      }
    }
  }

  .rarer-nav {
    margin: 0;
    padding: 0.25em 0;

    li {
      margin: 0 0.5em;
    }
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
}

/*
	modal dialogue boxes
*/
.ui-dialog {
	border: solid 0.5em #AAA;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	position: fixed;

  form {
    margin: 0;

    &.formtastic fieldset.buttons {
      li {
      margin-bottom: 0.5em;
      padding: 0.5em 0;

        &.commit {
          float: right;
        }
      }

      ol {
        margin: 0;
      }
    }
  }

  textarea {
    max-height: 10em;
  }
}

.ui-dialog-content {
	max-height: 500px;
}

.ui-widget-overlay {
	background: #000;
}

.ui-dialog-titlebar {
	background: #fff;
	padding: 0.25em 3em 0.25em 1em;
	position: relative;
}

.ui-dialog .ui-dialog-title {
	line-height: 2em;
	margin: 0;
}

.ui-dialog-titlebar-close {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 2.5em;
	width: 2.5em;
	z-index: 100;

  .ui-icon-closethick {
    position: absolute;
    top: 0.75em;
    left: 0.75em;
    z-index: 110;
  }
}
