@import "_conditionals";
@import "_css3";
@import "styleguide/_colours";
@import "styleguide/_font-stacks.scss";
@import "styleguide/_typography.scss";

/*
 * Core global styles
 */

#wrapper {
  background-color: #F2F2F2;

  @include ie-lte(7) {
    zoom: 1;
  }
}

.inner {
  margin: 0 auto;
  padding: 1em;
  position: relative;
}

section#content {
  margin: 0 auto;
  max-width: 1020px;
  position: relative;
  @include ie-lte(7) {
    width: 1020px;
  }

  @include ie-lte(7) {
    width: 960px;
  }

  @include media(mobile) {
    max-width: auto;
  }
}

p {
  @include core-19;
}

h2, h3, h4 {
  font-weight: 300;
}

h2 {
  @include core-24;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h3 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

h4 {
  @include core-19;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

/*
 * Locate me styles
 */

.popover-mask {
  background-color: rgba(0,0,0,0.5);
  display: none;
  height: 100%;
  left: 0;
  margin: 0;
  top: 30px;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 60;

  @include ie-lte(7) {
    position: absolute !important;
  }

  .popover {
    background: #fafafa;
    border: solid 2px #bbb;
    @include border-radius(0.5em);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    margin: 4em auto 0 auto;
    padding: 0 2.5em 2em 2.5em;
    position: relative;
  }
}

.popover  {
  .close {
    position: absolute;
    top: -19px;
    right: -19px;
  }

  h2 {
    margin: 0.5em 0;
    padding-bottom: 0.2em;
  }
}

#global-locator-form {
  label,
  .ask_location {
    display: inline;

    &.hidden { display: none; }
  }

  .found_location p,
  .finding_location p {
    margin: 0em;
  }
}

/*
 * Related box
 * this related stuff needs re-examining - might be a bit over the top
 */
.related-positioning {
  height: 0;
  left: 0;
  position: fixed;
  top: 7em;
  width: 100%;
  z-index: 0;

  @include ie-lte(8) {
    z-index: 0;
  }

  @include ie-lte(7) {
    position: absolute !important;
  }

  @include media(mobile) {
    position: static;
    top: auto;
    height: auto;
  }
}

.related-container {
  position: relative;
  height: 0;
  margin: 0 auto;
  max-width: 1020px;
  position: relative;
  z-index: 50;

  @include ie-lte(7) {
    width: 960px;
  }

  @include media(mobile) {
    max-width: auto;
    height: auto;

    @include ie-lte(7) {
      width: auto;
    }
  }
}

.related {
  position: absolute;
  right: 0;
  width: 15em;

  @include ie-lte(8) {
    display: inline;
    height: 1%;
    zoom: 1;
  }

  @include media(mobile) {
    position: static;
    right: auto;
    width: auto;
  }

  .inner {
    background-color: #E5E5E5;
    padding: 0.5em 1em 0 1.2em;
    width: auto;
    border-left:1px solid #C9D0D0;

    @include media(mobile) {
      padding-left: 1em;
    }
  }

  h2 {
    @include core-19;
    color: #000;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    position: relative;

    @include media(mobile) {
      font-size: 17px;
      font-size: 1.7rem;
      margin-bottom: 0.625em;
    }
  }

  ul {
    @include core-16;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 1em;
    padding-left: 0;

    &.related-topic {
      border-top: 1px solid #C9D0D0;
      list-style: none outside none;
      margin: 0.25em 0 0;
      padding: 0.75em 0;

      a {
        padding: 0;
      }
    }

    a {
      background-position: 0 -287px;
      background-repeat: no-repeat;
      display: block;
      line-height:1.25em;
      orphans: 2;

      &:hover {
        background-position: 0 0;
      }

      @include ie-lte(8) {
        height: 1%;
      }
    }

    a[href*="#"] {
      /* grey out stub links */
      background: none;
      color: #888;
      cursor: default;
      text-decoration: none;
    }
  }

  .return-to-top {
    @include core-16;
    margin-bottom: 0.5em;
    position: absolute;
    left: -9999em;

    @include media(mobile) {
      position: static;
      border-top: 1px solid #C9D0D0;
      margin: 0.25em 0 0;
      padding: 0.75em 0;
    }
  }
}

#wrapper .related.sections-list li a {
  padding: 0.1em 0em;
}

/*
 * Legacy sources thang
 */

#legacy-sources {
    margin-left: 1.2em;
    margin-top: 1em;
    display: none;

  p {
	  font-size: 1em;
    margin-bottom: 0;
	  padding: 0;
	  color: black;
  }

  ul {
	  margin: 0;
	  padding: 0;
	  overflow:hidden;
  }

  li {
    text-indent: -5000px;
    float: left;
    background-repeat: no-repeat;
    display: none;
  }
}

#wrapper.businesslink #legacy-sources,
#wrapper.directgov #legacy-sources {
  display: block;
}

#wrapper.businesslink #legacy-sources li.businesslink {
	background-image: image-url("businesslink-logo.png");
	width: 84px;
	height: 33px;
	margin-top: 0.5em;
	display: block;
}

#wrapper.directgov #legacy-sources li.directgov {
	background-image: image-url("directgov-logo.png");
	width: 74px;
	height: 14px;
	margin-right: 1em;
	margin-top: 0.8em;
	display: block;
}

/*
 * Page headers
 */

header {

  &.page-header 

    .skip-to-related {
      position:absolute;
      left:-9999em;
    }

    hgroup {
      background-color: #fff;
      display: block;
      margin: 0 15em 0 0;
      padding: 1em 2em 2em 2em;

      @include media(mobile) {
        margin: 0;
      }

      h1 {
        @include heading-48;
        background-repeat: no-repeat;
        color: #000;

        span {
          @include core-19($line-height: 1);
          display: block;
          margin-bottom: 0.25em;
          text-shadow: none;

        @include ie-lte(8) {
          height: 1%;
        }
      }
    }
  }
}

body.full-width {
  header.page-header hgroup {
    margin-right: 0;
  }

  .article-container {
    margin-right: 0;
  }
}

#wrapper.programme header.page-header hgroup,
#wrapper.service header.page-header hgroup,
#wrapper.answer header.page-header hgroup,
#wrapper.licence header.page-header hgroup,
#wrapper.guide header.page-header hgroup,
#wrapper.video header.page-header hgroup {
  padding-left: 0;

  h1 {
    margin-left: -96px;
    padding-left: 128px;

    @include ie(6) {
      position: relative;
      z-index: 1;
      zoom: 1;
    }

  }

  @include media(mobile) {
    padding-bottom: 1em;

    h1 {
      margin-left: 0;
      padding-left: 80px;
      min-height: (61em/25);
    }
  }
}

/* Programmes */
#wrapper.programme header.page-header hgroup h1 {
  background-image: image-url("icon-programme-l.png");
  background-position: 15px 18px;

  @include media(mobile) {
    background-position: 8px 5px;
  }
}

/* Services */
#wrapper.service header.page-header hgroup h1 {
  background-image: image-url("icon-service-l.png");
  background-position: 15px 29px;

  @include media(mobile) {
    background-position: 9px 12px;
  }
}

/* Quick answers */
#wrapper.answer header.page-header hgroup h1 {
  background-image: image-url("icon-answer-l.png");
  background-position: 40px 14px;

  @include media(mobile) {
    background-position: 20px 14px;
  }
}

/* Licence guidance */
#wrapper.licence header.page-header hgroup h1 {
  background-image: image-url("icon-licence-l.png");
  background-position: 16px 14px;

  @include media(mobile) {
    background-position: 20px 14px;
  }
}

/* Guides */
#wrapper.guide header.page-header hgroup h1,
#wrapper.video header.page-header hgroup h1 {
  background-image: image-url("icon-guide-l.png");
  background-position: 40px 14px;

  @include media(mobile) {
    background-position: 20px 14px;
  }
}


/* Business support format */
.business_support article.tab-pane { 
  width: auto; 
}
.business_support .support-info {
  background: #E1E8E8;
  border-left: 1px solid #BBB;
}
.business_support section.support-info:last-child { 
  border-bottom: 1px dotted #BBB; 
}
.business_support .support-info h2 {
  @include core-16($line-height: 1.25);
  margin: 0;
  text-align: left;
  color: black;
  background-color: #E1E8E8;
  border-top: solid 1px #BBB;
  float: left;
  width: 30%;
  padding: 0.25em;
}
.business_support .faux-cell,
.business_support .faux-cell p,
.business_support .faux-cell li,
.business_support .long-description p,
.business_support .long-description li {
  @include core-16;
}
.business_support .faux-cell {
  background: #FFF;
  overflow: hidden;
  border-left: 1px solid #BBB;
  border-top: 1px dotted #BBB;
  border-right: 1px dotted #BBB;
  margin: 0;
  padding: 0.25em;
}

/* Licence Application */

.relevant-authority {
  margin: 0 0 20px 84px;
  margin: 0 0 2rem 8.4rem;

  h2 {
    margin: 0;
  }
}

.licence .intro form {
  ul {
    padding-left: 12px;
    padding-left: 1.2rem;
  }
  li { list-style: none;
    label {
      padding-left: 5px;
      padding-left: 0.5rem;
    }
  }
}

/*
  ============================== Stuff (mainly) used in publications =============================
*/

/* articles */
article {
  float: left;
  margin-right: 12em;
  min-height: 30em;
  position: relative;
  width: 100%;
  z-index: 1;

  @include ie-lte(8) {
    float: none;
  }

  @include ie-lte(7) {
  }

  &.group {
    @include ie-lte(7) {
      height: auto;
    }
  }

  .inner {
    padding: 0 10em 2em 2em;
    width: auto;
  }

  @include media(mobile) {
    min-height: 0;

    .inner {
      padding: 0 1em 1em 1em;
    }
  }
}

#wrapper.answer,
#wrapper.transaction,
#wrapper.local_transaction{
  article{
    .inner{
      padding-right:10em;

      @include media(mobile) {
        padding-right: 1em;
      }
    }
  }
}

#wrapper.guide
#wrapper.programme{
  article{
    .inner{
      padding-right:3em;

      @include media(mobile) {
        padding-right: 1em;
      }
    }
  }
}

.article-container {
  background-color: #fff;
  margin-right: 15em;
  min-height: 35em;

  article {
    margin-right: 0;
  }

  @include media(mobile) {
    margin-right: 0;
    min-height: 0;
  }
}

/* Meta-data */
.meta-data {
  @include core-16;
  color: $grey-3;
  float: right;
  width: 62%;
  margin-left: 2em;
  background-color:transparent;
  display:inline;
  margin-top:-2.7em;

  p{
    line-height: 1.8em;
    a{
      color: $grey-3;
      height: 1.8em;
    }
    @include core-16
  }

  @include ie(6) {
    display: inline;
    zoom: 1;
  }

  .inner {
    padding: 0 2em;
  }

  @include media(mobile) {
    .inner {
      padding: 0 1em;
    }
  }
}

.print-and-modified-date {
  float: left;
}

.print-link {
  float: right;
  text-align:right;

  a, a:link, a:visited {
    background: image-url("print.png") no-repeat 100% 50%;
    display: inline-block;
    padding-left: 30px;
    padding-right: 32px;
    padding-top: 5px;
    margin-top:-5px;
  }

  @include media(mobile) {
    width:60%;

    a, a:link, a:visited {
      padding-bottom:4px;
    }
  }
}

.modified-date {
  float: left;

  @include media(mobile) {
    width:40%;
  }
}

/*
 * auto complete
 * borrowed from the alpha
 */
.hint-suggest {
  border: 1px solid #EEEEEE;
  margin: 0;
  background-color: #fff;
  display: block;
  left: 0;
  padding: 0.5em;
  position: relative;
  top: 0;
  width: 163px;
  color: #666;
}

.search-loading {
  background: image-url("ajax-loader.gif") no-repeat 4px 50% #fff;
  padding-left: 30px;
  width: 133px;
}

#main_autocomplete {
  color: inherit;
}

ul.ui-menu {
  padding: 0;
}

ul.ui-widget {
  @include core-16;
}

ul.ui-autocomplete {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #8F8F8F;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 1px;
  position: absolute;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  top: 1.8em;
  left: 0;
  display: none;

  li {
    border-top: 1px solid #eee;
    list-style-type: none;
    margin: 0;

    a,
    a:hover {
      background-position: 8px 50%;
    }

    a {
      em {
        font-style: normal;
        font-weight: bold;
        padding: 0.125em;
      }
    }
  }

  .search-site a,
  .search-site a:hover {
    border-top:3px solid #dedede;
    background: image-url("search.png") no-repeat 12px 50% #eee;
    padding-left: 3em;
  }

  &.ui-menu .ui-menu-item a,
  .search-site a {
    padding: 0.2em 1em;
    display:block;
    color: #333;
    text-decoration:none;
  }

  &.ui-menu .ui-menu-item.search-site em {
    font-style: italic;
  }
}

ul.ui-menu .ui-menu-item a.ui-state-hover,
ul.ui-menu .ui-menu-item a.ui-state-active,
ul.ui-autocomplete .search-site a:hover {
  margin: 0;
  background-color:#ffffcc;
}

ul.ui-corner-all, ul li a.ui-corner-all {
  border-radius: 0 0 0 0;
}

/* Location in header bar */
#location-set-message,
#location-unset-message {
  background: image-url("location-pin_outline_tiny.png") no-repeat 0 50%;
  position: fixed;
  top: 0;
  left: 20%;
  display: block;
  z-index: 100000;
  line-height: 3.5em;
  padding: 0 0 0 1.5em;
  margin: 0;
  color: #bbb;
  font-size: 0.75em;

  .removing {
    display:none;
  }

  a {
    color: #d8d8d8;
  }

  small {
    font-size: inherit;
  }

  @include ie-lte(8) {
    display: none;
  }
}

/*
 * Devolved content
 */
.devolved-content {
  background: none repeat scroll 0 0 #fff;
  border: solid 1px #ccc;
  margin: 1em 0;
  padding: 0 1em 1em 1em;
}

.devolved-header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 0.85em;

  a {
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    font-size: 0.75em;
    background-color: #92AD54;
    color: #fff;
    margin-left: 0.5em;
    padding: 0.25em 0.5em;
    text-decoration: none;
  }
}

.england .devolved-header {
  padding: 0 0 0 18px;
  background: image-url("flags.png") no-repeat scroll 0 -17px #fff;
}
.scotland .devolved-header {
  padding: 0 0 0 18px;
  background: image-url("flags.png") no-repeat scroll 0 -60px #fff;
}

.wales .devolved-header {
  padding: 0 0 0 18px;
  background: image-url("flags.png") no-repeat scroll 0 3px #fff;
}
.northern-ireland .devolved-header {
  /* don't show a flag for NI */
  padding: 0;
  background: none;
}

/* Error messages */
.error-notification,
.error-area {
  border: 1px solid #ffc946;
  background-color: #fbedcd;
  padding: 0 1em;
  margin-bottom: 1em;

  p {
    @include core-16;
  }
}

.error-area span {
  @include core-14;
  font-weight: bold;
  display: block;
}

/* Feedback mechanism styles */
#mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #000;
  display: none;
}

.js-enabled #popup,
.js-enabled #feedback-popup,
#govuk-feedback {
  display: none;
}

#popup {
  display: none;
  overflow: visible;
  clear: both;
  padding: 0;
  position: absolute;
  left: 0;
  top: 2em;
  width: 60%;
  z-index: 999999;
  padding-bottom: 0.5em;

  h2 {
    outline: none;
  }

  h3 {
    @include core-16;
    margin: 0.75em 0;
  }

  ul {
    margin: 0 0 0 5em;
    padding: 0;
  }

  p.geolocate-me {
    @include core-16;
    border-top: 1px solid #ddd;
    margin-bottom: 0;
    margin-top: 0.5em;
    padding-top: 0.5em;
  }

  #global-locator-form {
    background: #f8f8f8 image-url("locator-icon.png") no-repeat 1em 1em;
    border: none;
    margin: 0 auto 1em auto;
    padding: 1.2em 0.75em 1.2em 3.5em;
    position: relative;
  }

  #global-set-theme .personalise-options {
	  background: #d5ecea;
	  padding: 1em;
	  position: relative;
  }

  #global-set-theme .beta-notice {
    @include core-14;
    line-height: 1.5em;
  }

  &.customisation-tools,
  &.feedback-tools {
    background-color: #fff;
    padding: 1em 1.5em;
    width: 60%;
    min-height: 26em;

    h2 {
      @include core-27;
      margin: 0;
    }
  }

  &.feedback-tools {
    min-height: 22em;
  }

  .error-notification {
    margin-bottom: 0.8em;
    padding: 0 0.5em;
  }

  &.customisation-tools p.close,
  &.feedback-tools p.close,
  &.welcome-tour p.close {
    padding: 0;
  }

  .inner {
    background-color: #fff;
  }

  .intro {
    background-color: #d5ecea;
    padding: 1em;

    p.explanation {
      @include core-16;
      margin-bottom: 0;
      padding-right: 8em;
    }
  }

  .vcard span {
    display: block;
  }
}

/* welcome popup */
#popup.welcome-tour {
  top: 12px;
  width: 80%;
  box-shadow: -0.5em 0.5em 0 rgba(0,0,0,0.3);
  padding: 0;
  left: 10%;

  h2 {
    @include core-27;
    text-transform: uppercase;
    padding: 0.2em 0 0 0.5em;
    color: #000;
  }

  .welcome-content {
    background-color: #F27820;
    padding: 0 5px 5px 5px;
  }

  .welcome-inner {
    background-color: #FDE4D2;
    color: #000;
    padding: 1em 2em;
  }

  .close {
    right: 0.5em;
    top: 1.5em;
  }
}

@media screen and (min-width:500px) {
  #popup.welcome-tour {
    width: 60%;
    left: 20%;
  }
}

.close {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;

  a {
    background-color: transparent;
    background-image: image-url("close.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    height: 2em;
    width: 2em;
    text-indent: -9999px;

    &:hover {
      background-color: rgba(0,0,0,0.25);
    }
  }
}

/* feedback popup */
#feedback-cta {
  background-color: #333;
  color: white;
  box-shadow: -0.5em 0.5em 0 rgba(0,0,0,0.3);
  z-index: 9999;

  @include ie-lte(8) {
    position: absolute;
  }

  h2 {
    @include core-14;
    margin: 0.4em -2px 0.75em 0;
    width: 10px;
    text-transform: uppercase;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    display: absolute;
    float: right;
    color: #B4892D;
  }

  p {
    line-height: 1.2;
    padding: 0.5em;
    margin: 0.2em 0;
    color: inherit;
  }

  input {
    @include core-19;
    border: none;
    color: white;
    margin: 0.5em 0 0.3em 0.4em;
    padding: 0.5em 1em;
    text-align: center;
    background: #666;
  }

  #cta-yes {
    background: #D33883;
  }

  &.bottom input,
  &.bottom form,
  &.bottom h2 {
    display: inline;
  }

  &.hide{
    left: -12em;

    &:hover,
    &:active,
    &:focus {
      left: 0px;
    }
  }

  &.left {
    position: fixed;
    left: -0.5em;
    display: block;
    bottom: 5%;
    width: 12em;
    min-height: 10em;
    padding: 0em 0.5em 0.5em 1em;
    -webkit-transition: left 0.5s ease-in-out;
    -moz-transition: left 0.5s ease-in-out;

    @include ie-lte(8) {
      display: none;
    }
  }

  .inner {
    padding: 0;
    position: relative;

    .close {
      right: -1em;
      top: -1em;

      @include ie-lte(8) {
        right: 0em;
        top: -0.5em;
      }
    }
  }

  .sets-cookie {
    background: none;
    margin: 1em 0 0 0;
    padding: 0.25em 0 0 0;

    a {
      @include core-14;
      color: inherit;
      padding:0 0 0 0.5em;
    }
  }
}

#feedback-mechanism {
  background-color: #EEE;
  padding: 1em;

}
#feedback-options select,
#feedback-mechanism textarea {
  width: 90%;
  display: block;
  margin: 0.5em 0;
  padding: 0.4em;
}
.feedback-tools .feedback-thanks {
  @include core-27;
}

#related-popup {
  padding: 1em;
  margin: 1em;
  border-top: 1px solid #eee;

  h2 {
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding: 0;
      margin: 0;
      margin-right: 1em;
    }
  }
}

.sets-cookie {
  @include core-14;
}

.cookie-container {
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;

  @include ie-lte(8) {
    bottom: auto;
    right: auto;
    margin-top: 1em;
    position: relative;
  }
}

.find-location-for-service .cookie-container {
  bottom: 1em;
  right: 0.75em;

  @include media(mobile) {
    bottom: 20px;
    bottom: 2rem;
    right: 16px;
    right: 1.6rem;
  }
}

/*  ============================================================================
    Tabs
    ========================================================================  */

.nav-tabs {
  zoom: 1;
  background: #fff;
  padding: 0;
  position: relative;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  ol,
  ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 5;

    @include ie-lte(7) {
      overflow: hidden;
      padding: 1px 1px 0 0;
    }

    @include media(mobile) {
      float: none;
      margin: 0 -16px;
      margin: 0 -1.6rem;
    }
  }

  li {
    @include core-16;
    padding: 0;
    margin: 0;
    float: left;

    @include media(mobile) {
      float: none;
    }

    a {
      border: solid 1px #fff;
      border-bottom: none;
      float:left;
      height: 2.25em;
      line-height: 2.25em;
      margin-bottom: -1px;
      padding: 0 1em 0 1em;
      position: relative;
      text-align: center;
      top: 0;

      @include ie-lte(7) {
        background-image: none;
        padding: 0 0.5em;
      }

      @include media(mobile) {
        display: block;
        position: static;
        float: none;
        height: auto;
        line-height: 3.5em;
        padding: 0 16px;
        padding: 0 1.6rem;
        text-align: left;
        border-bottom: 1px solid #C9D0D0;
      }

      &:hover {
        background-color: #E1E8E8;
      }
    }

    &.active a {
      background-color: #fff;
      border: solid 1px #C9D0D0;
      border-bottom: solid 1px #fff;
      color: #000;
      position: relative;
      text-decoration: none;
      z-index: 5;

      @include ie-lte(7) {
        bottom: -1px;
      }

      @include media(mobile) {
        border: none;
        border-bottom: 1px solid  #C9D0D0;
      }

      &:hover {
        color: inherit;
      }
    }

    &:first-child a {
      margin-left: 0;

      @include media(mobile) {
        border-left: none;
        border-top: 1px solid #C9D0D0;
      }
    }
  }
}

.tab-content {
  margin: 0 -10em 0 -2em;

  @include media(mobile) {
    margin: 0 -1em;
  }

  .tab-pane {
    padding: 1em 10em 0 2em;
    border-top: solid 1px #C9D0D0;
    clear: both;
    width:auto;

    @include media(mobile) {
      border-top: none;
      padding: 0;
    }
  }

  .inner {
    padding: 0em 2.5em 1em;

    @include media(mobile) {
      padding:0 1em 1em;
    }
  }

  h1.visuallyhidden + h2 {
    margin-top: 2em;
  }

  p {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  nav {
    margin: 1em -1.375em 0;
  }
}

.js-tab-content {
  .programme-progression li,
  .js-heading-tab {
    border-bottom: solid 1px #C9D0D0;
    list-style: none;

    a,
    h1 {
      @include core-24($line-height: (45 / 24), $line-height-640: (45 / 17));
      background: #FFF image-url('accordian-arrow.png') no-repeat 100% 0;
      display: block;
      padding: 0 1.6rem;
      position: relative;
      text-align: left;
      text-decoration:underline;
      top: 0;

      &:hover {
        background-color: #E1E8E8;
      }
    }

    &.active {
      text-decoration: none;

      a, h1 {
        background-position: 100% 100%;
        background-color: #E1E8E8;
        color: #000;
        text-decoration: none;
      }
    }
  }

  .js-heading-tab {
    margin:0;
    clear:both;

    h1 {
      padding:0;
    }
  }


  .tab-shiftlink {
    @include core-19();
  }

  @include media(mobile) {
    .js-tab-container {
      min-height:0;
    }

    .js-tab-pane {
      border-bottom:solid 1px #C9D0D0;
    }

    .js-tab-container:first-child {
      border-top: solid 1px #C9D0D0;
    }
  }
}

.transaction .js-tab-content {
  overflow: hidden;
}

/* report a problem */

.report-a-problem-toggle{
  @include core-16;
  float:left;
  margin:6em 0 0.5em 2em;
  clear:both;
  a{
    color: $grey-3;
  }

  @include media(mobile) {
    margin: -16px 0 0.5em 16px;
    margin: -1.6rem 0 0.5em 1.6rem;
    width:33%;
  }

  @include ie-lte(7) {
    float: none;
    display: inline;
    zoom: 1;
  }
}

.js-tab-content .report-a-problem-toggle {
  @include media(mobile) {
    margin-top:2em;
  }
}

.js-enabled .report-a-problem-container{
  display:none;
}

.report-a-problem-container{
  @include core-19;
  clear:both;
  background-color:#D5E8F3;
  margin:0 3.5em 2em 3.5em;
  padding:0.5em 1em 1em 1em;

  div{
    width:98%;
    padding-top:0.5em;
    text-align:right;
  }
  label{
    padding:0 0 0.5em 0;
    display:block;
    input{
      margin:0;
      display:block;
      width:98%;
    }
  }

  @include media(mobile) {
    margin: 0 1em 2em 1em;
  }
}

/* bunting lol */
.epic-bunting {
  width: 100%;
  position: fixed;
  left: 0;
  top: 5em;
  overflow: visible;
  
  span {
    background-image: image-url("bunting.png");
    background-color: transparent;
    background-repeat: repeat-x;
    width: 99.9%;
    position: absolute;
    height: 60px;
  }
}
