/*
 *= require core
 *= require text
 *= require publisher
 *= require core-print
 */

body {
  font-size: 0.9em;
}

body header {
	display: block !important;
	font-size: 1.3em;
}             

div#wrapper h1.govuk {
  font-size: 1.5em;
  border-bottom: 2px solid #333;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  text-align: center;
}

body div#wrapper {
  max-width: none;
  padding: 1em 2em 2em 2em;
  width: auto;
}

div#wrapper hgroup h1 { 
	background: none !important;
	display: block !important;
	padding-bottom: 0.75em;
	padding-left: 0;
	border-bottom: 1px solid #bbb;               
}
div#wrapper.programme hgroup h1 span,
div#wrapper.guide hgroup h1 span {
  color: #777 !important;
}  

section#content {
  margin: 0em;
}

#wrapper.programme article.overview-etc,
#wrapper.programme #overview {
  padding-top: 0em;
}

div.article-container article {
	min-height: 0;
	border-bottom: 1px solid #ddd;
	width: auto !important;
	float: none;
}
article .inner {
	padding: 2em 0;
}           
article .inner header h1 {
  font-size: 1.25em;
}
div.article-container article#how-to-claim {
	border: 5px solid #333;
	padding: 0em 2em;
}