// PRINT STYLESHEET COMPILER

// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

$is-print: true;
@import "styleguide/print";
@import "styleguide/font-stacks";
@import "styleguide/typography";

// OUTPUT
// The following files and inline CSS will form the output of print.css
@import "helpers/core-print";

section > header h1:after {
  content: "";
}

#how-to-claim {
  border: 1pt solid rgb(225,225,225);
  padding: 2pt 4pt;
}
