@import "styleguide/_font-stacks.scss";
@import "styleguide/_typography.scss";
@import "core-print.scss";

section > header h1:after {
  content: "";
}

#how-to-claim {
  border: 1pt solid rgb(225,225,225);
  padding: 2pt 4pt;
}
