/* govuk_frontend_toolkit includes */
@import "_colours";
@import "_conditionals";
@import "_css3";
@import "_device-pixels";
@import "_typography";
@import "design-patterns/_buttons";

/* local styleguide includes */
@import "styleguide/_colours";
@import "styleguide/_conditionals2";

// basic styles for HTML5 and other elements
@import "header-footer";
@import "_report-a-problem";
