/* Global header */

#global-header {
  background-color: #C9D0D0;
  border-bottom: solid 1px #93A1A1;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  height: 2em;
}

#global-header .header-global {
  padding: 0 4%;
}

@media only screen and (min-width:670px) {
  .js-enabled #global-header {
    position: fixed;
    top: 0;
  }
  #global-header {
    width: 100%;
    z-index: 99999;
  }

}

#global-header h1 {
  font-family: "Gill Sans", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.25em;
  float: left;
  margin-right: 1.5em;
  text-transform: uppercase;
}

.lte-ie8 #global-header h1 {
  height: 1.25em;
}

#global-header h1 a {
  color: #000;
  float: left;
  text-decoration: none;
}

#global-header h1 a:hover {
  text-decoration: underline;
}

#global-header ul, body.citizen nav.header-context ol {
  margin: 0;
  padding: 0;
}

#global-header ul li, body.citizen nav.header-context ol li {
  float: left;
  list-style: none;
}

#global-header .header-global ul {
  float: left;
  margin-right: 0;
  line-height: 2em;
}

#global-header .header-global ul li {
/*  font-size: 0.85em;*/
  margin-right: 1em;
  margin-bottom: 0;
}

#global-header .header-global ul li:last-child {
  margin-right: 0;
}

#global-header .header-global ul li a {
  color: #000;
  padding-left: 1em;
  text-decoration: none;
}

#global-header .header-global ul li a:hover {
  color: #fff
}

body.citizen nav.header-context {
  background-color: #f8f7ed;
  padding: 0.5em 0;
}

body.citizen nav.header-context ol {
  margin: 2em auto 0 auto;
  max-width: 960px;
}

body.government #global-header .header-context {
  border-color: #cdce00;
  border-bottom-color: #9a9b00
}

body.citizen nav.header-context a {
  margin-right: 2%;
  white-space: nowrap
}

body.government #global-header .header-context nav {
  font-weight: bold;
  text-decoration: none;
}

body.government #global-header .header-context nav a {
  color: #777;
}
body.government #global-header .header-context nav a:hover {
  color: #9a9b00
}

body.citizen nav.header-context a:last-child {
  margin-right: 0
}

@media only screen and (min-width: 865px) {
  #global-header .header-context nav a.home,
  #global-header .header-context ol li.current-context {
    margin-right: 4%
  }
}

body.citizen nav.header-context ol li {
  background-image: url(../images/section-divider-arrow.png);
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 1.5em;
  margin-right: 0.5em;
}

body.citizen nav.header-context ol li:first-child {
  background: none;
  padding-left: 0;
}

body.government #global-header .header-context {
  border-color: #cdce00;
  border-bottom-color: #9a9b00
}

@media only screen and (min-width: 600px) {
  body.government #global-header .header-context nav {
    width: 79.5%;
  }
}

.search-help fieldset {
  margin-bottom: 0
}

form.site-search {
  padding: 0.15em 0 0 0;
}

.site-search #site-search-text {
  font-size: 1em;
  background: #fff;
  border: none;
  display: inline-block;
  max-width: 100%;
  outline: none;
  margin: 0.15em 0;
  padding: 0 0.25em;
  line-height: 1.5em;
  width: 12.5em
}

.search-help input[type="submit"] {
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
  background-image: -webkit-linear-gradient(top, #fff, #efefef);
  background-image: -moz-linear-gradient(top, #fff, #efefef);
  background-image: -o-linear-gradient(top, #fff, #efefef);
  background-image: -ms-linear-gradient(top, #fff, #efefef);
  background-image: linear-gradient(top, #fff, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='white', EndColorStr='#efefef');
  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #e5e5e5;
  color: #777;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.25em;
  margin-left: 0.25em;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.75)
}

.search-help input[type="submit"]:hover {
  color: #666;
  background-color: #fafdff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafdff), to(#d8d8d8));
  background-image: -webkit-linear-gradient(top, #fafdff, #d8d8d8);
  background-image: -moz-linear-gradient(top, #fafdff, #d8d8d8);
  background-image: -o-linear-gradient(top, #fafdff, #d8d8d8);
  background-image: -ms-linear-gradient(top, #fafdff, #d8d8d8);
  background-image: linear-gradient(top, #fafdff, #d8d8d8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafdff', EndColorStr='#d8d8d8');
  border: 1px solid #ccc;
  border-bottom: 1px solid #999;
  border-top: 1px solid #ddd
}

.search-help input[type="submit"]:active {
  border: 1px solid #999;
  background-color: #fafdff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafdff), to(#bbb));
  background-image: -webkit-linear-gradient(top, #fafdff, #bbb);
  background-image: -moz-linear-gradient(top, #fafdff, #bbb);
  background-image: -o-linear-gradient(top, #fafdff, #bbb);
  background-image: -ms-linear-gradient(top, #fafdff, #bbb);
  background-image: linear-gradient(top, #fafdff, #bbb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafdff', EndColorStr='#bbbbbb')
}

@media only screen and (min-width:670px) {
  .search-help {
    float: right;
  }

  body.government .header-context .search-help {
    border-color: #cdce00
  }
}

.lte-ie8 .search-help {
  float: right;
  border: solid 0.25em #ddd;
  border-bottom: 0;
  height: 2.45em;
  margin: -2.95em 4% 0 0;
  padding: 0.25em 0.5em 0 0.5em;
  width: 16.25em;
}

.lte-ie8 .site-search #site-search-text {
  height: 1.5em;
  width: 12.5em;
}

.lte-ie8 body.government .header-context .search-help {
  border-color: #cdce00
}

/* Global footer */

#footer {
/*  background-color: #fff;*/
/*  border-top: solid 0.0675em #ddd;*/
/*  border-bottom: solid 0.0675em #ddd;*/
}

#footer .sub-section.beta-notice {
  background: #E5E5E5;
/*  border-bottom: solid 1px #ddd;*/
  float: none;
  padding: 0.5em 2em;
  width: auto;
}

#footer .sub-section.beta-notice h1 {
  display: inline-block;
  margin: 0;
  margin-right: 1em;
}

#footer .sub-section.beta-notice p {
  display: inline-block;
  margin: 0;
}

#footer .inner {
  padding: 2em 2em;
}

#footer .inner .sub-section {
  float: left;
  font-size: 0.85em;
  line-height: 1.4em;
  margin: 0 2.75% 0 2.75%;
  width: 29.65%;
}
#footer .inner .sub-section.help {
  margin-left: 0;
}
#footer .inner .sub-section.platform {
  margin-right: 0;
}
#footer .inner .sub-section.colophon {
  border-top: solid 1px #667B82;
  margin: 2em 0 0 0;
  padding: 1em 0 0 0;
  width: 100%;
}

#footer .sub-section h1 {
  font-size: 1em;
  margin: 0;
}

#footer .sub-section p {
  margin: 0 0 0.5em 0;
}

#footer .sub-section ul {
  list-style: none;
  margin: 0.25em 0;
  padding: 0;
}

#footer .sub-section ul li {
  margin: 0 0 0.25em 0;
}
