$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

@import "govuk_publishing_components/govuk_frontend_support";
// The search component requires this helper mixin to render height #PR-2380
@import "govuk_publishing_components/components/helpers/px-to-em";
@import "govuk_publishing_components/components/cookie-banner";
// collections uses the action-link component and relies upon this line, see
// https://github.com/alphagov/collections/pull/1754
@import "govuk_publishing_components/components/action-link";
@import "govuk_publishing_components/components/layout-header";
@import "govuk_publishing_components/components/search";

// govuk_frontend_toolkit includes
@import "colours";
@import "css3";
@import "device-pixels";
@import "measurements";

// local styleguide includes
@import "styleguide/conditionals2";

// basic styles for HTML5 and other elements
@import "helpers/mixins";
@import "helpers/draft";
@import "helpers/footer";
@import "helpers/header";
@import "helpers/emergency-banner";
@import "modules/*";

// This should be a component in the future. As the JavaScript and current
// implementation existing in multiple apps would need to be updated to make
// that change just make it available globally for the moment.
@import "helpers/selectable";

// The following overrides are in place to allow the govuk-header play nicely
// with govuk_template in our attempt to show account navigation in certain apps
.header-global {
  position: relative;
}

.govuk-header__content {
  padding: 0 govuk-spacing(3);
}

.govuk-header__menu-button {
  top: govuk-spacing(2);
  right: govuk-spacing(3);
}

.gem-c-header__nav {
  clear: both;
}
