$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

@import "govuk_publishing_components/govuk_frontend_support";
// The search component requires this helper mixin to render height #PR-2380
@import "govuk_publishing_components/components/helpers/px-to-em";
@import "govuk_publishing_components/components/cookie-banner";
// collections uses the action-link component and relies upon this line, see
// https://github.com/alphagov/collections/pull/1754
@import "govuk_publishing_components/components/action-link";
@import "govuk_publishing_components/components/layout-header";
@import "govuk_publishing_components/components/search";

@import "components/emergency-banner";
@import "components/global-bar";
@import "components/survey";

// basic styles for HTML5 and other elements
@import "helpers/mixins";
@import "helpers/draft";
@import "helpers/footer";
@import "helpers/header";

@import "govuk/components/accordion/accordion";
