$govuk-compatibility-govuktemplate: true;
$govuk-use-legacy-palette: false;

@import "govuk_publishing_components/govuk_frontend_support";
@import "govuk_publishing_components/components/_cookie-banner";
@import "govuk_publishing_components/components/_feedback";

// settings
@import "settings/colours";
@import "settings/measurements";
@import "settings/spacing";

/* govuk_frontend_toolkit includes */
@import "colours";
@import "css3";
@import "device-pixels";
@import "measurements";
@import "typography";
@import "design-patterns/buttons";

/* local styleguide includes */
@import "styleguide/conditionals2";

// basic styles for HTML5 and other elements
@import "helpers/mixins";
@import "helpers/draft";
@import "helpers/footer";
@import "helpers/header";
@import "helpers/govuk-emergency-banner";
@import "modules/*";

// This should be a component in the future. As the JavaScript and current
// implementation existing in multiple apps would need to be updated to make
// that change just make it available globally for the moment.
@import "helpers/selectable";
