/* govuk_frontend_toolkit includes */
@import "colours";
@import "conditionals";
@import "css3";
@import "device-pixels";
@import "measurements";
@import "typography";
@import "design-patterns/buttons";

/* local styleguide includes */
@import "styleguide/colours";
@import "styleguide/conditionals2";

// basic styles for HTML5 and other elements
@import "helpers/alpha-label";
@import "helpers/beta-label";
@import "helpers/footer";
@import "helpers/header";
@import "helpers/report-a-problem";
