$govuk-compatibility-govuktemplate: true;
@import "govuk/settings/all";
@import "govuk/tools/all";
@import "govuk/helpers/all";

/* govuk_frontend_toolkit includes */
@import "colours";
@import "conditionals";
@import "css3";
@import "device-pixels";
@import "grid_layout";
@import "measurements";
@import "typography";
@import "design-patterns/buttons";

/* local styleguide includes */
@import "styleguide/conditionals2";

// basic styles for HTML5 and other elements
@import "helpers/draft";
@import "helpers/footer";
@import "helpers/header";
@import "helpers/govuk-emergency-banner";
@import "modules/*";

// This should be a component in the future. As the JavaScript and current
// implementation existing in multiple apps would need to be updated to make
// that change just make it available globally for the moment.
@import "helpers/selectable";
