@mixin organisation-logo-19 {
  font-family: $Helvetica-Regular;
  font-size: 19px;
  line-height: (20/19); /* 20px */
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  color: $grey-0;
  display: block;
  border-left: 2px solid #bbb;
  background: image-url("coa-default-24.gif") no-repeat 8px 0;
  height: auto;
  width: auto;
  padding-top: 30px;
  padding-left: 10px;

  @include media-down(mobile) {
    font-size: 13px;
    line-height: (15/13);
    padding-top: 23px;
    background-image: image-url("coa-default-18.gif");
  }

  &.single-line {
    padding: 5px 0 5px 45px;
    background-position: 8px 50%;
    top: 0;
    position: static;

    @include media-down(mobile) {
      padding: 1px 0 1px 31px;
      background-position: 5px 50%;
    }
  }
  &:visited {
    color: $grey-0;
  }
}

.organisation-logo {
  @include organisation-logo-19
}

@mixin organisation-logo-border($colour) {
  border-color: $colour;
}

.cabinet-office {
  @include organisation-logo-border($cabinet-office)
}

.department-for-business-innovation-and-skills {
  @include organisation-logo-border($department-for-business-innovation-skills)
}

.department-for-communities-and-local-government {
  @include organisation-logo-border($department-for-communities-and-local-government)
}

.department-for-culture-media-and-sport {
  @include organisation-logo-border($department-for-culture-media-sport)
}

.department-for-education {
  @include organisation-logo-border($department-for-education)
}

.department-for-energy-and-climate-change {
  @include organisation-logo-border($department-of-energy-climate-change)
}

.department-for-environment-food-and-rural-affairs {
  @include organisation-logo-border($department-for-environment-food-rural-affairs)
}

.department-of-health {
  @include organisation-logo-border($department-of-health)
}

.department-for-international-development {
  @include organisation-logo-border($department-for-international-development)
}

.department-for-work-and-pensions {
  @include organisation-logo-border($department-for-work-pensions)
}

.department-for-transport {
  @include organisation-logo-border($department-for-transport)
}

.home-office {
  @include organisation-logo-border($home-office)
}

.foreign-and-commonwealth-office {
  @include organisation-logo-border($foreign-commonwealth-office)
}

.ministry-of-defence {
  @include organisation-logo-border($ministry-of-defence)
}

.ministry-of-justice {
  @include organisation-logo-border($ministry-of-justice)
}

.treasury {
  @include organisation-logo-border($hm-treasury)
}

/* Agencies */

.hm-revenue-customs {
  @include organisation-logo-border($hm-revenue-customs)
}

/* Crests */

@mixin organisation-logo-image($crest) {
  background: image-url($crest) no-repeat 8px 0;
}

.organisation-logo-bis {
  @include organisation-logo-image('crests/bis_crest_18px.png');

  @include media-down(mobile) {
    background-image: image-url('crests/bis_crest_13px.png')
  }
}

.organisation-logo-coastguard {
  padding-top: 38px;  

  @include organisation-logo-image('crests/coastguard_18px.png');

  @include media-down(mobile) {
    background-image: image-url('crests/coastguard_13px.png')
  }
}

.organisation-logo-hmrc {
  @include organisation-logo-image('crests/hmrc_crest_18px.png');

  @include media-down(mobile) {
    background-image: image-url('crests/hmrc_crest_13px.png')
  }
}

.organisation-logo-ho {
  padding-top: 38px; 
  
  @include organisation-logo-image('crests/ho_crest_18px.png');

  @include media-down(mobile) {
    background-image: image-url('crests/ho_crest_13px.png')
  }
}

.organisation-logo-mod {
  padding-top: 38px; 
  
  @include organisation-logo-image('crests/mod_crest_18px.png');  

  @include media-down(mobile) {
    background-image: image-url('crests/mod_crest_13px.png')
  }
}

.organisation-logo-no-identity {
  padding-top: 2px;
  padding-bottom: 2px;
  background: none;
}

.organisation-logo-org {
  @include organisation-logo-image('crests/org_crest_18px.png');
  
  @include media-down(mobile) {
    background-image: image-url('crests/org_crest_13px.png')
  }
}

.organisation-logo-portcullis {
  @include organisation-logo-image('crests/portcullis_18px.png');  

  @include media-down(mobile) {
    background-image: image-url('crests/portcullis_crest_13px.png')
  }
}

.organisation-logo-so {
  @include organisation-logo-image('crests/so_crest_18px.png');

  @include media-down(mobile) {
    background-image: image-url('crests/so_crest_13px.png')
  }
}

.organisation-logo-single-identity {
  @include organisation-logo-image('crests/org_crest_18px.png');
  
  @include media-down(mobile) {
    background-image: image-url('crests/org_crest_13px.png')
  }
}

.organisation-logo-ukaea {
  @include organisation-logo-image('crests/ukaea_crest_18px.png');

  @include media-down(mobile) {
    background-image: image-url('crests/ukaea_crest_13px.png')
  }
}

.organisation-logo-ukho {
  padding-top: 38px;
  
  @include organisation-logo-image('crests/ukho_18px.png');

  @include media-down(mobile) {
    background-image: image-url('crests/ukho_13px.png')
  }
}

.organisation-logo-wales {
  padding-top: 38px;
  
  @include organisation-logo-image('crests/wales_crest_18px.png');

  @include media-down(mobile) {
    background-image: image-url('crests/wales_crest_13px.png')
  }
}
