// PRINT STYLESHEET COMPILER

// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

$is-print: true;
@import "styleguide/print";
@import "styleguide/typography";

// OUTPUT
// The following files and inline CSS will form the output of print.css
@import "helpers/core-print";
