@import "_conditionals";
@import "styleguide/_font-stacks.scss";
@import "styleguide/_typography.scss";

/* visited link colour overrides */
#content.multi-page li a:visited,
#content.multi-page .pagination li a:visited,
#wrapper.programme .article-container nav a:visited {
  color: #2E3191;
}

#content.multi-page {
  header {
    position: relative;
  }

  article {
    min-height: 40em;
    width: 75%;

    @include ie-lte(8) {
      width: 74.999%;
      float: left;
    }

    @include ie-lte(7) {
      min-height: 40em;
    }

    @include media(mobile) {
      width:auto;
    }
  }

  aside {
    float: left;
    margin-bottom: 1em;
    width: 25%;

    .inner {
      padding: 0;
      width: 100%;
    }

    @include media(mobile) {
      float:none;
      width:auto;
      overflow:hidden;
    }
  }
}

.alternative-guide {
  margin: 0 auto 0.5em;
  overflow: hidden;
  width: 9.5em;

  &.video {
    .video-wrapper {
      background: image-url("play-video-cta.png")  no-repeat scroll 0 -80px #E5E5E5;
      height: 5em;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
      width: 8.5em;

      &:hover {
        background: image-url("play-video-cta.png") no-repeat scroll 0 0 #e5e5e5;
      }

      a span {
        @include core-16($line-height: (32 / 16));
        display: block;
        padding-left: 0.5em;
      }

      img {
        display: none;
        margin-top: -0.5em;
      }
    }
  }
}

.video-guide {
  article .inner {
    padding-bottom: 2em;
  }

  .meta-data {
    border-top: none;
    margin: 1em 0 2em 2em;
  }
}

#wrapper.video-guide article {
  /* get rid of border on video guide pages */
  border-left: none;
  margin-left: 0;
  width: 100%;
}

.multi-page article .inner {
  padding: 0.5em 2.5em 1em 2.5em;

  @include media(mobile) {
    padding: 0 1em 1em;
  }
}
.licence article .inner {
  padding-top: 0;
}

aside .show-all-parts {
  @include core-16($line-height: (45/16), $line-height-640: (45/13));
  border: solid 1px #C9D0D0;
  border-width: 1px 0;
  display: block;

  padding: 0 16px;
  padding: 0 1.6rem;

  background: transparent image-url("arrows.png") 95% -24px no-repeat;

  &,
  &:hover,
  &:focus {
    text-decoration:none;
  }

  &.show-all-parts-open {
    background-position: 95% 4px;
    border-bottom: none;
  }
}

aside .page-navigation {
  margin-top: 0.5em;

  @include media(mobile) {
    margin-top: 0;
  }

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    border-bottom: solid 1px #C9D0D0;
    list-style: none;

    a {
      @include core-16;
      display: block;
      padding: 0.75em;
      text-decoration: none;

      &:hover {
        background-color: #E1E8E8;

        span.part-title {
          color: #2E3191;
        }
      }

      span {
        display: block;

        &.part-label {
          color: #000;
          line-height: 1.5;
        }

        &.part-title {
          color: #2E3191;
          text-decoration: underline;
          line-height: 1.25;
        }
      }

      @include media(mobile) {
        @include core-16($line-height: (45/16), $line-height-640: (45/13));
        padding: 0 16px;
        padding: 0 1.6rem;
        
        span {
          display: inline;
        }
      }
    }

    &.active {
      background-color: #E1E8E8;
      padding: 0.75em 0.75em;

      span.part-title {
        color: #000;
        text-decoration: none;
      }

      @include ie-lte(8) {
        margin: 0;
      }

      @include media(mobile) {
        padding: 0;
      }
    }

    &:first-child {
      border-top: solid 1px #C9D0D0;
    }
  }
}

/* guides pagination */
.pagination {
  display: block;
  margin: 2em -1em 0 -1em;

  @include media(mobile) {
    margin: 2em 0 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    @include core-16($line-height: (24 / 16));
    float: left;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 48.5%;

    &:first-child {
      margin-right: 3%;
      text-align: left;
    }

    a {
      background-color: #E1E8E8;
      display: block;
      float: left;
      min-height: 4.5em;
      text-decoration: none;
      width: 87%;

      @include ie-lte(7) {
        height: 4.5em;
      }

      &:hover {
        background-color: #97C5E5;
        color: #fff;
      }

      .pagination-label {
        color: #000;
        display: block;
      }

      .pagination-part-title {
        text-decoration: underline;
      }
    }

    &.previous a {
      padding: 0.75em 5% 0.75em 1em;
    }
    
    &.next a {
      padding: 0.75em 1em 0.75em 5%;
    }

    @include media(mobile) {
      &.previous a {
        float: left;
      }
      
      &.next a {
        float: right;
      }
    }
  }


  .first,
  .last {
    background-color: #E1E8E8;
    min-height: 4.5em;

    @include ie-lte(7) {
      height: 4.5em;
    }

    span {
      display: block;
      min-height: 4.5em;
      padding: 0.75em 5%;
      width: 90%;

      @include ie-lte(7) {
        height: 4.5em;
      }
    }

    .pagination-label {
      display: block;
      margin-bottom: 0.5em;
    }
  }
}

/*
 * Transactions and local transactions styles
 */

#wrapper.transaction .continue,
#wrapper.local_transaction .continue {
  background: #F9F9F9 image-url("info-icon.png") no-repeat 1% 50%;
  border: 1px solid #586E75;
  margin-bottom: 1.2em;
  padding: 0.15em 1em;
}

.find-location-for-service {
  background: #f8f8f8 image-url("locator-icon.png") no-repeat 1em 1em;
  border: none;
  margin: 1.2em 0;
  padding: 1.2em 0.75em 1.2em 3.5em;
  padding: 2rem 1.2rem 2rem 5.6rem;

  position: relative;

  @include media(mobile) {
    margin: 1.2em -1em;
    margin: 2rem -1.6rem;
  }

  p.geolocate-me {
    border-top: 1px solid #ddd;
    @include core-16;
    margin-bottom: 0;
    padding-top: 1em;

    @include media(mobile) {
      margin-left: -2.5em;
      margin-left: -4rem;
      padding-right: 2.5em;
      padding-right: 4rem;
    }
  }
}

/* once we have added a class to external links generated by govspeak we can ditch this */
#wrapper .get-started a[rel="external"]:after {
  content: "";
}

#wrapper.transaction .get-started .button .indicator:after {
  @include core-27;
  margin-top: -0.5em;
  position: absolute;
  right: 0.5em;
  top: 50%;
}

h1#what-you-need-to-know{
  font-weight: 300;
}

/*
 * Helper icons
 */

ul.helpers li.active,
ul.helpers li.active h3 a {
  color: #fff;
}

/*
  Benefits and credits format
*/
#wrapper.programme {
  article {
    min-height: 20em;
    width: 75%;

    @include ie-lte(8) {
      float:left;
      clear:none;
      width:74.5%;
    }

    @include media(mobile) {
      width:auto;
    }

    .inner {
      padding: 0 2.5em 1em;

      @include media(mobile) {
        padding: 0 1em 1em;
      }
    }
  }

  .programme-progression {
    width:25%;
    float:left;

    @include media(mobile) {
      width:auto;
      float:none;
    }

    ol {
      margin: 0;
      padding: 0;
    }

    li {
      border-bottom: solid 1px #C9D0D0;
      list-style: none;

      a {
        @include core-16($line-height: (24 / 16));
        background-color: #FFF;
        display: block;
        padding: 0.75em 0.75em;
        position: relative;
        text-align: left;
        text-decoration:underline;
        top: 0;

        &:hover {
          background-color: #E1E8E8;
        }
      }

      &.active {
        text-decoration: none;

        a {
          background-color: #E1E8E8;
          color: #000;
          text-decoration: none;
        }
      }

      &:first-child {
        border-top: solid 1px #C9D0D0;
      }
    }
  }

  .part-pagination {
    margin-top: 3em;

    @include ie-lte(6) {
      display: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      float: right;
      text-align: right;
    }

    a:hover .progressor {
      background-position: -573px 0;
    }

    li {
      &:first-child a {
        background-color: #E1E8E8;
        display: block;
        padding: 0 0.55em 0 0.5em;
        text-decoration: none;
      }

      a {
        @include core-16($line-height: (35 / 16), $line-height-640: (35 / 13));
        height: (35 / 16) * 1em;

        @include media(mobile) {
          height: (35 / 13) * 1em;
        }
        position: relative;
      }
    }
  }
}

.js-enabled #wrapper.programme {

  .part-pagination.return-to-top,
  article.tabs-panel {
    display: none;
  }

  article {
    min-height: 20em;

    @include ie-lte(7) {
      height: 20em;
    }
  }
}

#wrapper.programme article.tabs-panel-selected,
.js-enabled #wrapper.programme article.tabs-panel-selected {
  display:block;
}

div.further-information {
  margin: 0;
  clear: both;
  padding-top: 2em;

  @include media(mobile) {
    padding:1em 0;
  }

  a {
    padding: 0 0 0 0.8em;
  }
}

/* contacts popup */
#popup.contact-popup {
  background-color: #F4F4F4;
  padding: 1em 2em;
  width: 50%;
}

.contact-popup .contact {
  width: auto;
}

