/* visited link colour overrides */
#content.multi-page li a:visited,
#content.multi-page .pagination li a:visited,
#wrapper.programme .article-container nav a:visited {
  color: #2E3191;
}

#content.multi-page {
  header {
    position: relative;
  }

  article {
    float: left;
    // margin-left: -13em;
    min-height: 40em;
    width: 100%;

    @include ie-lte(7) {
      min-height: 40em;
    }

    .inner {
      // margin-left: 13em;
    }

    @include media-down(mobile) {
      width:auto;
      min-height: 0;
    }
  }

  aside {
    // display: none;
    float: left;
    margin-bottom: 1em;
    position: relative;
    // width: 13em;
    width: 100%;
    z-index: 10;

    .inner {
      padding: 0;
      width: 100%;
    }

    @include media-down(mobile) {
      float:none;
      width:auto;
      overflow:hidden;
    }
  }
}

#content.single-page {
  header hgroup,
  article {
    width: auto;
  }

  header hgroup {
    padding-bottom: 1em;
  }

  article {
    margin: 0;

    .inner {
      margin-left: 0;
      padding: 0 10em 0 2em;
    }
  }
}

.alternative-guide {
  @include core-16;
  margin: 0 auto 0.5em;
  overflow: hidden;
  width: 9.5em;

  @include media-down(mobile) {
    margin: 1em;
    width: auto;
    text-align: left;
  }

  &.video {
    .video-wrapper {
      background: image-url("play-video-cta.png")  no-repeat scroll 0 -80px $grey-9;
      height: 5em;
      margin: 0 auto;
      overflow: hidden;
      text-align: center;
      width: 8.5em;

      &:hover {
        background: image-url("play-video-cta.png") no-repeat scroll 0 0 $grey-9;
      }

      a span {
        @include core-16($line-height: (32 / 16));
        display: block;
        padding-left: 0.5em;
      }

      @include media-down(mobile) {
        width: 68px;
        height: 40px;
        float: left;
        margin-right: 1em;
        background-position: -34px -100px;

        &:hover {
          background-position: -34px -20px;
        }
      }

      img {
        display: none;
        margin-top: -0.5em;
      }
    }

    @include media-down(mobile) {
      a span {
        line-height: 40px;
        line-height: 4rem;
      }
    }
  }
}

.video-guide {
  article .inner {
    padding-bottom: 2em;
  }

  .meta-data {
    border-top: none;
    margin: 1em 0 2em 2em;
  }
}

#wrapper.video-guide article {
  /* get rid of border on video guide pages */
  border-left: none;
  margin-left: 0;
  width: 100%;
}

.multi-page article .inner {
  padding: 0 3em 1em 2.25em;

  @include media-down(mobile) {
    padding: 0 1em 1em;
  }
}
.licence article .inner {
  padding-top: 0;
}

aside .show-all-parts {
  @include core-19($line-height: (45/19), $line-height-640: (45/13));
  border: solid 1px $grey-6;
  border-width: 1px 0;

  padding: 0 16px;
  padding: 0 1.6rem;
  display: none;

  @include media-down(mobile) {
    display: block;
    background: transparent image-url("accordian-arrow.png") 100% 6px no-repeat;
    background-position: 100% 0.6rem;
  }

  @include device-pixel-ratio() {
    background-image: image-url("accordian-arrow-2x.png");
    background-size: 45px 90px;
  }

  &,
  &:hover,
  &:focus {
    text-decoration:none;
  }

  &.show-all-parts-open {
    background-position: 100% -40px;
    background-position: 100% -4rem;
    border-bottom: none;
  }
}

aside .page-navigation {

  @include media-down(mobile) {
    margin-top: 0;
  }

  ol {
    // margin: 0;
    margin: 0 0 0 2em;
    padding: 0;

    @include ie(6) {
      zoom: 1;
    }
  }

  li {
    // border-bottom: solid 1px $grey-6;
    list-style: none;
    @include core-16;
    width: 45%;
    display: block;
    float: left;


    @include ie(6) {
      float: left;
      clear: left;
      width: 100%;
    }

    @include ie(7) {
      zoom: 1;
    }

    a {
      display: block;
      padding: 0.25em 1em 0.25em 0;
      text-decoration: none;
      zoom: 1;

      &:hover {
        // background-color: $grey-9;

        span.part-title {
          color: #2E3191;
        }
      }
    }

    span {
      display: block;

      &.part-label,
      &.part-title {
        line-height: 1.5;
        display: inline;
      }

      &.part-label {
        color: $grey-0;
        padding:0 0.5em 0 0;
      }

      &.part-description {
        color: $grey-0;
        line-height: 1.25;
      }

      &.part-title {
        color: #2E3191;
        text-decoration: underline;
        line-height: 1.5;
      }
    }

    &.active {
      // background-color: $grey-8;
      padding: 0.25em 0 0.25em 0;

      @include ie(6) {
        width: auto;
        float: none;
      }

      @include ie-lte(8) {
        margin: 0;
      }

      span.part-title {
        color: $grey-0;
        text-decoration: none;
        font-weight: 600;
      }
    }

    &:first-child {
      // border-top: solid 1px $grey-6;
    }

    @include media-down(mobile) {
      @include core-19($line-height: (45/19), $line-height-640: (45/13));

      a {
        padding: 0 16px;
        padding: 0 1.6rem;
      }

      span {
          display: inline;

          &.part-label {
            padding-right: 1em;
          }
        }
      
      &.active {
        padding: 0 16px;
        padding: 0 1.6rem;
      }
    }
  }
}

aside .page-navigation-open ol {
  position: static;
  left: auto;
}

@include media-down(mobile) {
  aside .page-navigation-closed ol {
    position: absolute;
    left: -9999em;
  }
}

/* guides pagination */
.pagination {
  display: block;
  margin: 2em -1em 0 -1em;

  @include media-down(mobile) {
    margin: 2em 0 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    @include core-16($line-height: (24 / 16));
    float: left;
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    width: 48.5%;
    background-color: $grey-8;

    &:first-child {
      margin-right: 3%;
      text-align: left;
    }

    a {
      background-color: transparent;
      display: block;
      min-height: 4.5em;
      text-decoration: none;

      @include ie-lte(7) {
        height: 4.5em;
      }

      &:hover {
        background-color: #97C5E5;
        color: #fff;
      }

      .pagination-label {
        color: $grey-0;
        display: block;
      }

      .pagination-part-title {
        text-decoration: underline;
      }
    }

    &.previous a {
      padding: 0.75em 5% 0.75em 1em;
    }
    
    &.next a {
      padding: 0.75em 1em 0.75em 5%;
    }

    @include media-down(mobile) {
      &.previous a {
        float: left;
      }
      
      &.next a {
        float: right;
      }
    }
  }

  .first,
  .last {
    min-height: 4.5em;

    @include ie-lte(7) {
      height: 4.5em;
    }

    span {
      display: block;
      min-height: 4.5em;
      padding: 0.75em 5%;
      width: 90%;

      @include ie-lte(7) {
        height: 4.5em;
      }
    }

    .pagination-label {
      display: block;
      margin-bottom: 0.5em;
    }
  }

  @include ie(6) {
    .first {
      text-align: left;
    }
  }
}

/*
 * Transactions and local transactions styles
 */

.local_transaction {

  .contact-container {

    .contact {
      margin: 0 -1em;

      p:first-child {
        margin-top: 0;
      }
    }
  }
}

.find-location-for-service, .find-location-for-licence {
  background: $grey-9 image-url("locator-icon.png") no-repeat 1em 1em;
  min-height: 2em;
  line-height: 2;
  margin: 2em -1em 0 -1em;
  padding: 1em 0.75em 1em 3.5em;
  position: relative;

  @include media-down(mobile) {
    margin: 1.2em -1em;
    margin: 2rem -1.6rem;
  }

  p.geolocate-me {
    border-top: 1px solid $grey-6;
    @include core-16;
    margin-bottom: 0;
    padding-top: 1em;

    @include media-down(mobile) {
      margin-left: -2.5em;
      margin-left: -4rem;
      padding-right: 2.5em;
      padding-right: 4rem;
    }
  }

  input[type="submit"] {
    border-color: $grey-9;
  }
}

/* once we have added a class to external links generated by govspeak we can ditch this */
#wrapper .get-started a[rel="external"]:after {
  content: "";
}

#wrapper.transaction .get-started .button .indicator:after {
  @include core-27;
  margin-top: -0.5em;
  position: absolute;
  right: 0.5em;
  top: 50%;
}

h1#what-you-need-to-know{
  font-weight: 400;
}

/*
 * Helper icons
 */

ul.helpers li.active,
ul.helpers li.active h3 a {
  color: #fff;
}

.js-enabled #wrapper.programme {

  .part-pagination.return-to-top,
  article.tabs-panel {
    display: none;
  }

  article {
    min-height: 20em;

    @include ie(6) {
      height: 20em;
    }

    @include media-down(mobile) {
      min-height: 0;
    }
  }
}

#wrapper.programme article.tabs-panel-selected,
.js-enabled #wrapper.programme article.tabs-panel-selected {
  display:block;
}

div.further-information {
  margin: 0;
  clear: both;
  padding-top: 2em;

  @include media-down(mobile) {
    padding:1em 0;
  }

  a {
    padding: 0 0 0 0.8em;
  }
}

/* contacts popup */
#popup.contact-popup {
  background-color: #F4F4F4;
  padding: 1em 2em;
  width: 50%;
}

.contact-popup .contact {
  width: auto;
}

