@import "_conditionals";

/* ----- search results page ----- */

#wrapper .ancillary.search .search-container {
  background-color: #fff;
  padding: 1em 2.5em 1em 2.5em;
}

/* Header
============================================================================ */

#wrapper .ancillary.search header {
  background-color: #fff;
  color: inherit;
  margin: 0;
  padding-bottom: 0;

  hgroup {
    padding: 2.1875em 2.5em;

    h1 {
      font-size: 2.75em;

      em {
        color: #2E3191;
      }
    }
  }
}

#wrapper .ancillary.section-page header h1 {
  margin: 0 0 0 7.272727273em;
}

/* Search results [this needs merging with "Results" section below!]
============================================================================ */

.search .results.top {
  background-color: #FFF3CF;
  padding: 1em;

  h2 {
    font-size: 1em;
    font-weight: normal;
    margin-top: 0;
  }

  li {
    &:nth-child(even) {
      margin-right: 0;
    }

    p {
      margin: 0;
      width: 75%;
    }
  }

  ul {
    &.search-promoted {
      list-style-type:none;
      margin: 0;
      padding: 0;

      h3 {
        font-weight: normal;

        a {
          padding: 0;
        }
      }

      li a.button {
        display: inline-block;
        padding-right: 1.5em;
      }
    }

    &.search-not-found {
      li {
        background-color: inherit;
        border-color: #bbb;

        &:before {
          display: none;
        }

        p,
        a {
          width: auto;
        }
      }

      h3 {
        margin-top: 1.2em;
      }
    }
  }

  .transaction-link {
    clear: both;
    float: right;
    line-height: 1.25em;
    text-align: center;
    vertical-align: middle;
  }
}

.search .results .search-parts li a {
  background: none;
}

.search .results.more {
  border-top: dotted 1px #ccc;
  padding: 0 0 0 2.25em;
	min-height: 30em;

  @include ie-lte(7) {
    height: 30em;
  }

  ol li {
    border-bottom: dotted 1px #ccc;

    @include ie-lte(8) {
      padding: 0 0 1em 0;
    }

    a {
	    line-height: 1.5em;
	    margin-left: -2.25em;
	    padding: 0.25em 0 0.25em 2.25em;

      @include ie-lte(8) {
        zoom: 1;
      }

      span {
        font-size: 1.5em;
        font-weight: bold;
      }
    }

    p {
      margin-top: 0.25em;
      margin-bottom: 0.5em;
      width: 75%;
    }

    .search-parts {
      font-size: 0.85em;
      margin: 0;
      padding: 0 0 1em 0;

      li {
        border-bottom: none;
        padding-bottom: 0;

        a {
          font-weight:normal;
        }
      }
    }
  }
}

.search .search-not-found {
  background: #FDF6E5;
  border: solid 2px #FFCD17;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 2em 2em 1em 2em;
  text-align: center;
}

.results #search2 {
	margin: 1em;

  input {
	  font-size: 2em;
  }

  input[type="text"] {
	  margin-right: 1em;
  }
}

/* Search Form
============================================================================ */
form.search-header {
  display: block;
  font-size: 1.1875em;
  margin: 1em 10.5em 2em 0;
  text-align: right;

  #search-main {
    width: 14em;
  }
}

/* reset pesky webkit search styles */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Results
============================================================================ */
.search .results {
  padding: 0;
  margin-left: -20em;
  float: right;
  width: 100%;
}

.search .results-wrapper {
  padding: 0;
  margin-left: 20em;
}

.search .results-list {
  padding: 0; margin: 0;
  list-style: none;

  li {
    display: block;
    list-style: none;
    margin-bottom: 1.5em;
    max-width: 32.5em;
    padding: 0;
    overflow: hidden;

    a {
      margin: 0; padding: 0;
    }

    p {
      margin: 0;
      width: auto;

      &.search-result-title {
        font-size: 1.1875em;
      }
    }
  }

  .result-meta {
     padding: 0;
     margin: 0.25em 0 0 0;
     font-size: 1em;

     li {
       display: inline-block;
       line-height: 1.875em;
       margin-bottom: 0;

       &:first-child {
         margin-right: 1em;
       }

       &.dept {
         float: right;
         padding: 0 4px;
       }

       /* icons taken from core.css hardcoded image uris */
       &.guide {
         background-image: image-url("icon-guide-s.png");
       }

       &.answer,
       &.calendar,
       &.smart_answer,
       &.calculator,
       &.custom-application {
         background-image: image-url("icon-answer-s.png");
       }

       &.local_transaction,
       &.transaction,
       &.place,
       &.nearest,
       &.service {
         background-image: image-url("icon-service-s.png");
       }

       &.programme {
         background-image: image-url("icon-programme-s.png");
       }

       &.licence {
         background-image: image-url("icon-licence-s.png");
       }

       &.guide,
       &.answer,
       &.calendar,
       &.licence,
       &.smart_answer,
       &.calculator,
       &.custom-application,
       &.local_transaction,
       &.transaction,
       &.place,
       &.nearest,
       &.service,
       &.programme {
         background-repeat: no-repeat;
         background-position: 0 0;
         text-indent: 30px;
       }

       &.specialist_guidance {
         background:none;
         line-height: 1.3em;
         text-indent: 10px;
         padding-right:1em;
         border-left: 3px solid #2B8CC4;
       }
     }
  }
}

.search .results {
  .recommended {
    background-color: #d5e8f3;
    margin-bottom: 1em;

    h2 {
      color: #2b8cc4;
      font-size: 0.85em;
      font-weight: normal;
      height: 30px;
      letter-spacing: 0.15em;
      line-height: 1.5em;
      margin: 0;
      padding: 0;
      position: relative;
      text-transform: uppercase;
    }
  }

  li.filtered {
    display:none;
  }
}

.section-page .results-list li a {
  font-size: 1.1875em;
}

.section-page .results-list li p {
  font-size: 1em;
}

/* Browse Summary
============================================================================ */
.section-page.ancillary .summary {
  padding: 0 0 1.5em 0;
  border-bottom: .0625em solid #ccc;
  margin: 0 0 1.4375em 0;
  background-color: transparent;
  max-width: 32.5em;

  p {
    margin: 0;
    padding: 0;
    font-size: 1.1875em;
    line-height: 1.315789474em;
    background: transparent;
    color: #333;
  }
}

/* Filters
============================================================================ */
.filters {
  float: left;
  background-color: transparent;
  margin-left: 2em;
  width: 14em;

  .group {
    margin-bottom: 1.5em;
  }

  .inner {
    padding-top: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin: 0 -2px 0 -6px;

      &.active a {
        background-color: #999;
        color: #fff;
      }

      &.transaction a,
      &.smart_answer a,
      &.guide a {
        background-position: 0.1em 0.15em;
        text-indent: 26px;
      }

      &.transaction a span,
      &.smart_answer a span,
      &.guide a span {
        text-indent: 0;
      }

      a {
        border-radius: 2px;
        display: block;
        line-height: 1.55em;
        padding: 4px 2px 2px 6px;
        text-decoration: none;

        &:hover {
          background-color: #eee;
        }

        span {
          background-color: #fff;
          border-radius: 1px;
          color: #999;
          display: block;
          float: right;
          font-size: 1em;
          line-height: 1.4em;
          margin-top: -2px;
          min-width: 1.35em;
          padding: 3px 4px 1px 4px;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}

.section-page .filters {
  margin-top: -5em;

  ul li {
    margin-left: 0;
    font-size: 1.1875em;
    line-height: 1.315789474em;

    a {
      padding: 0;

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }

    ul {
      border-top: .0625em solid #ccc;
      margin-bottom: 1.5625em;

      li {
        display: block;
        margin: 0;
        font-size: .842105263em;

        a {
          color: #333;
          border-radius: 2px;
          display: block;
          padding: 2px 2px 2px 5px;
          text-decoration: none;

          &:hover {
            background-color: #eee;
          }
        }

        &.active a,
        &.active a:hover {
          background-color: #999;
          color: #fff;
        }
      }
    }
  }
}

/* No search results
============================================================================ */

.no-results article {
  margin: 0;

  p {
    font-size: 1em;
  }
}
