/* ----- search results page ----- */

#wrapper .ancillary.search .search-container {
  background-color: #fff;
  margin-right: 15em;
  padding: 1em 2.5em 1em 2.5em;
}

#wrapper .ancillary.search header {
  background-color: #fff;
  color: inherit;
  margin: 0 15em 0 0;
	padding-bottom: 0;
}

#wrapper .ancillary.search header hgroup {
  border-top: solid 2px #FFC10E;
  padding: 1.5em 2.5em 0 2.5em;
}

#wrapper .ancillary.search header hgroup h1 {
  font-size: 1.5em;
}

#wrapper .ancillary.search header hgroup h1 em {
  color: #2E3191;
}

.search .results {
  padding: 1em;
}

.search .results.top li p {
  width: 75%;
}

.search .results.top {
  background-color: #FFF3CF;
  padding: 1em;
}

.search .results.top h2 {
  font-size: 1em;
  font-weight: normal;
  margin-top: 0;
}

.search .results.top li:nth-child(even) {
  margin-right: 0;
}

.search .results .search-parts li a {
  background: none;
}

.search .results.more {
  border-top: dotted 1px #ccc;
  padding: 0 0 0 2.25em;
	min-height: 30em;
}
.lte-ie8 .search .results.more {
  _height: 30em;
}

.search .results.more ol li {
  border-bottom: dotted 1px #ccc;
}
.lte-ie8 .search .results.more ol li {
  padding: 0 0 1em 0;
}

.search .results.more ol li a {
	line-height: 1.5em;
	margin-left: -2.25em;
	padding: 0.25em 0 0.25em 2.25em;
}
.lte-ie8 .search .results.more ol li a {
  zoom: 1;
}

.search .results.more ol li a span {
  font-size:1.5em;
  font-weight: bold;
}

.search .results.more ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  width: 75%;
}

.search .results.more ol li .search-parts {
  font-size: 0.85em;
  margin:0;
  padding: 0 0 1em 0;
}

.search .results.more ol li .search-parts li {
  border-bottom:none;
  padding-bottom: 0;
}

.search .results.more ol li .search-parts li a {
  font-weight:normal;
}

.search .results.top .transaction-link {
  clear: both;
  float: right;
  line-height: 1.25em;
  text-align: center;
  vertical-align: middle;
}

.search .results.top ul.search-promoted {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.search .results.top ul.search-promoted h3 {
  font-weight: normal;
}

.search .results.top ul.search-promoted h3 a {
  padding: 0;
}

.search .results.top ul.search-promoted li a.button {
  display: inline-block;
  padding-right: 1.5em;
}

.search .search-not-found {
  background: #FDF6E5;
  border: solid 2px #FFCD17;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 2em 2em 1em 2em;
  text-align: center;
}

.search .results.top ul.search-not-found li p,
.search .results.top ul.search-not-found li a {
  width: auto;
}

.search .results.top ul.search-not-found li {
  background-color: inherit;
  border-color: #bbb;
}

.search .results.top ul.search-not-found li:before {
  display: none;
}

.search .results.top ul.search-not-found h3 {
  margin-top: 1.2em;
}

.ancillary.search .results li p {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.results #search2 {
	margin: 1em;
}
.results #search2 input {
	font-size: 2em;
}
.results #search2 input[type="text"] {
	margin-right: 1em;
}