/* ----- search results page ----- */

/* Header
============================================================================ */

#wrapper .ancillary.search header {
  background-color: #fff;
  color: inherit;
  margin: 0;
  padding-bottom: 0;

  hgroup {
    padding: 2.1875em 2.5em;

    h1 {
      @include core-48;

      em {
        color: #2E3191;
      }
    }
  }
}

#wrapper .ancillary.section-page header h1 {
  margin: 0 0 0 (320 / 48) * 1em;
}

.search .nav-tabs {
  padding: 0 2em;

  @include ie-lte(7) {
    ul {
      margin-bottom: -1px;
    }
  }

  @include media(mobile) {
    margin: 0 -1em;
  }
}

.search-container {
  background: #fff;
  margin: 0;

  .js-heading-tab h1 a {
    @include core-19;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .tab-pane {
    padding: 1em 2em 0;
  }

  ul {
    padding-left: 0;
  }

  .internal-links {
    float: left;
    width: 55%;

    @include media(mobile) {
      float: none;
      width: auto;
    }
  }

  .external-links {
    float: right;
    width: 36%;
    padding-top: 1em;

    @include media(mobile) {
      float: none;
      width: auto;
      border-bottom: solid 1px #C9D0D0;
    }

    h2 {
      @include core-19;

      margin: 0 0 1em 0;

      @include media(mobile) {
        display: none;
      }
    }
  }
}

.search .js-tab-container:last-child .js-heading-tab {
  border-bottom: none;
}

/* Search results [this needs merging with "Results" section below!]
============================================================================ */

.search .search-not-found {
  background: #FDF6E5;
  border: solid 2px #FFCD17;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 2em 2em 1em 2em;
  text-align: center;
}

/* Search Form
============================================================================ */
form.search-header {
  background: #fff;
  display: block;
  padding: 1em 10.5em 1em 2em;

  @include media(mobile) {
    padding: 1em;
  }

  fieldset {
    margin: 0;
  }

  label h1 {
    @include core-19;
    padding: 0;
    margin: 0;
    display: inline;

    @include media(mobile) {
      display: block;
      margin-bottom: 0.5em;
    }
  }

  #search-main {
    font-size:1em;
    width: (240 / 19) * 1em;

    @include media(mobile) {
      margin-left: 0;
    }
  }
}

/* reset pesky webkit search styles */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Results
============================================================================ */
.search .results {
  padding: 0;

  li.filtered {
    display:none;
  }
}

.search .results-wrapper {
  padding: 0;
  margin-left: 20em;

  h2 {
    margin-top: 0;
    margin-bottom: .5em;
  }

  .more-results {
    text-align: right;
  }
}

.search .tabs-panel {
  ul {
    list-style: none;
  }

  li {
    display: block;
    list-style: none;
    max-width: 32.5em;
    padding: 0;
    margin-bottom: 1.5em;
    overflow: hidden;

    @include media(mobile) {
      margin: 0;
    }

    @include ie(6) {
      width: 32.5em;
    }

    li {
      margin: 0;
    }

    a {
      margin: 0; padding: 0;
    }

    p {
      margin: 0;
      width: auto;

      &.search-result-title {
        @include core-19;
      }
    }

    ul.result-meta {
      padding: 0;
      margin: 0.3em 0;
      line-height: 1.3;

      @include media(mobile) {
        margin-top: 0;
      }

      li {
        @include core-16;
        width: auto;
        color: $grey-63;

      }

    }

    ul.result-sections {
      li {
        display: inline;
      }
      li.result-section {
        background: transparent url("separator.png") 100% 50% no-repeat;
        padding-right: 1em;
        margin-right: 0.5em;
      }
    }
  }
}

.section-page .results-list li {
  a {
    @include core-19;
  }

  p {
    @include core-16;
  }
}

/* Browse Summary
============================================================================ */
.section-page.ancillary .summary {
  padding: 0 0 1.5em 0;
  border-bottom: .0625em solid #ccc;
  margin: 0 0 1.4375em 0;
  background-color: transparent;
  max-width: 32.5em;

  p {
    margin: 0;
    padding: 0;
    @include core-19;
    background: transparent;
    color: #333;
  }
}

/* Filters
============================================================================ */
.filters {
  float: left;
  background-color: transparent;
  margin-left: 2em;
  width: 14em;

  .group {
    margin-bottom: 1.5em;
  }

  .inner {
    padding-top: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin: 0 -2px 0 -6px;

      &.active a {
        background-color: #999;
        color: #fff;
      }

      &.transaction a,
      &.smart_answer a,
      &.guide a {
        background-position: 0.1em 0.15em;
        text-indent: 26px;
      }

      &.transaction a span,
      &.smart_answer a span,
      &.guide a span {
        text-indent: 0;
      }

      a {
        border-radius: 2px;
        display: block;
        line-height: 1.55em;
        padding: 4px 2px 2px 6px;
        text-decoration: none;

        &:hover {
          background-color: #eee;
        }

        span {
          background-color: #fff;
          border-radius: 1px;
          color: #999;
          display: block;
          float: right;
          @include core-16($line-height: (22 / 16));
          margin-top: -2px;
          min-width: 1.35em;
          padding: 3px 4px 1px 4px;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}

.section-page .filters {
  margin-top: -5em;

  ul li {
    margin-left: 0;
    @include core-19;

    a {
      padding: 0;

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }

    ul {
      border-top: .0625em solid #ccc;
      margin-bottom: 1.5625em;

      li {
        display: block;
        margin: 0;
        @include core-16;

        a {
          color: #333;
          border-radius: 2px;
          display: block;
          padding: 2px 2px 2px 5px;
          text-decoration: none;

          &:hover {
            background-color: #eee;
          }
        }

        &.active a,
        &.active a:hover {
          background-color: #999;
          color: #fff;
        }
      }
    }
  }
}

/* No search results
============================================================================ */

.no-results article {
  margin: 0;
  padding: 0 2em;
  width: auto;

  @include media(mobile) {
    padding: 0 1em;
  }

  p {
    @include core-16;
  }
}
