/* ----- search results page ----- */

#wrapper .ancillary.search .search-container {
  background-color: #fff;
  padding: 2em 2.5em 1em 2.5em;
}

/* Header
============================================================================ */

#wrapper .ancillary.search header {
  background-color: #fff;
  color: inherit;
  margin: 0;
  padding-bottom: 0;

  hgroup {
    padding: 2.1875em 2.5em;

    h1 {
      @include core-48;

      em {
        color: #2E3191;
      }
    }
  }
}

#wrapper .ancillary.section-page header h1 {
  margin: 0 0 0 (320 / 48) * 1em;
}

#search-index-navigation {
  overflow: hidden;
  padding: 0;
  margin: 0;

  li {
    float: left;
    display: block;
    margin: 0;
    padding: 0.5em;
    @include border-radius(10px 10px 0 0);

    background: $grey-88;

    a {
      text-decoration: none;
      color: $grey-40;
      @include core-19;
      display: block;
      padding: 0.25em (16/19) * 2em; // core is 19, body is 16, we want 2ems worth of 16
      cursor: pointer;
    }

    &.active {
      background: #fff;
      color: $grey-20;

    }
  }
}

#wrapper .search-container {
  .internal-links {
    float: left;
    width: 32.5em;
  }

  .external-links {
    float: right;
    width: 21.5em;

    h2 {
      @include core-19;

      margin: 0 0 1em 0;
    }
  }
}

/* Search results [this needs merging with "Results" section below!]
============================================================================ */

.search .search-not-found {
  background: #FDF6E5;
  border: solid 2px #FFCD17;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 2em 2em 1em 2em;
  text-align: center;
}

/* Search Form
============================================================================ */
form.search-header {
  display: block;
  @include core-19;
  margin: 1em 10.5em 1em 2em;

  label h1 {
    @include core-19;
    padding: 0;
    margin: 0;
    display: inline;
  }


  #search-main {
    font-size:1em;
    width: (266 / 19) * 1em;
  }
}

/* reset pesky webkit search styles */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Results
============================================================================ */
.search .results {
  padding: 0;
  margin-left: -20em;
  float: right;
  width: 100%;

  li.filtered {
    display:none;
  }
}

.search .results-wrapper {
  padding: 0;
  margin-left: 20em;

  h2 {
    margin-top: 0;
    margin-bottom: .5em;
  }

  .more-results {
    text-align: right;
  }
}

.search .results-list {
  padding: 0; margin: 0;
  list-style: none;

  li {
    display: block;
    list-style: none;
    margin-bottom: 1.5em;
    max-width: 32.5em;
    padding: 0;
    overflow: hidden;

    li {
      margin: 0;
    }

    a {
      margin: 0; padding: 0;
    }

    p {
      margin: 0;
      width: auto;

      &.search-result-title {
        @include core-19;
      }
    }

    ul.result-meta {
      padding: 0;
      margin: 0.3em 0;

      li {
        @include core-16;
        width: auto;
        color: $grey-63;

      }

    }

    ul.result-sections {
      li {
        display: inline-block;

        @include ie-lte(8) {
          &.result-subsection,
          &.result-subsubsection {
            margin-left: 0.5em;
            border-left: 1px solid $grey-63;
          }
        }
      }
      li + li:before {
        content: ">";
        display: inline-block;
        padding: 0 0.2em;
      }
    }
  }
}

.section-page .results-list li {
  a {
    @include core-19;
  }

  p {
    @include core-16;
  }
}

/* Browse Summary
============================================================================ */
.section-page.ancillary .summary {
  padding: 0 0 1.5em 0;
  border-bottom: .0625em solid #ccc;
  margin: 0 0 1.4375em 0;
  background-color: transparent;
  max-width: 32.5em;

  p {
    margin: 0;
    padding: 0;
    @include core-19;
    background: transparent;
    color: #333;
  }
}

/* Filters
============================================================================ */
.filters {
  float: left;
  background-color: transparent;
  margin-left: 2em;
  width: 14em;

  .group {
    margin-bottom: 1.5em;
  }

  .inner {
    padding-top: 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin: 0 -2px 0 -6px;

      &.active a {
        background-color: #999;
        color: #fff;
      }

      &.transaction a,
      &.smart_answer a,
      &.guide a {
        background-position: 0.1em 0.15em;
        text-indent: 26px;
      }

      &.transaction a span,
      &.smart_answer a span,
      &.guide a span {
        text-indent: 0;
      }

      a {
        border-radius: 2px;
        display: block;
        line-height: 1.55em;
        padding: 4px 2px 2px 6px;
        text-decoration: none;

        &:hover {
          background-color: #eee;
        }

        span {
          background-color: #fff;
          border-radius: 1px;
          color: #999;
          display: block;
          float: right;
          @include core-16($line-height: (22 / 16));
          margin-top: -2px;
          min-width: 1.35em;
          padding: 3px 4px 1px 4px;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}

.section-page .filters {
  margin-top: -5em;

  ul li {
    margin-left: 0;
    @include core-19;

    a {
      padding: 0;

      &:hover {
        background-color: transparent;
        text-decoration: underline;
      }
    }

    ul {
      border-top: .0625em solid #ccc;
      margin-bottom: 1.5625em;

      li {
        display: block;
        margin: 0;
        @include core-16;

        a {
          color: #333;
          border-radius: 2px;
          display: block;
          padding: 2px 2px 2px 5px;
          text-decoration: none;

          &:hover {
            background-color: #eee;
          }
        }

        &.active a,
        &.active a:hover {
          background-color: #999;
          color: #fff;
        }
      }
    }
  }
}

/* No search results
============================================================================ */

.no-results article {
  margin: 0;

  p {
    @include core-16;
  }
}
