@import "_conditionals";

/*
 * Text styles for articles.
 * It's kind of like typography innit.
*/

article h1 {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.1em;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}

article header h1 {
  color: #000;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.5em;

  @include ie-lte(8) {
    zoom: 1;
  }

  span {
    color: #333;
    display: block;
    font-size: 0.64em;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 0.4em;
  }
}

.wf-nta-n4-active article header h1 span {
  font-family: "NTA", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

article h1 + h2 {
  margin-top: 0.75em;
}

article h2 {
  margin-bottom: 0.625em;
  margin-top: 2em;
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 300;
}

article h2 + h3 {
  margin-top: 0.75em;
}

article h3 {
  font-size: 1.3em;
  line-height: 1.11;
  font-weight: 300;
  margin-top: 2.4em;
  margin-bottom: 0.75em;
}

article h3 + h4 {
  margin-top: 0.75em;
}

article h4 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

article h3 + table {
  margin-top: 0.652em;
}

article h4 + table {
  margin-top: 0.75em;
}

article h2 + p,  article h3 + p,  article h4 + p,
article h2 + ol, article h3 + ol, article h4 + ol,
article h2 + ul, article h3 + ul, article h4 + ul {
  margin-top: 0.2em;
}

article h1,
article h2,
article h3,
article h4 {
  color: #000;
}

article p, article ul, article ol {
  margin: 0.75em 0;
}

article p {
  font-size: 1.16em;
}

article p + .help-notice{
  margin-top: 2em;
}

article li {
  font-size: 1.16em;
  margin: 0.25em 0;
  padding-left: 0.3em;

  ul,
  ol {
    margin: 0;
    list-style-position: inside;
  }

  li {
    font-size: 100%;
    list-style-type: circle;
  }

  p {
    font-size: 100%;
    margin: 0;
  }
}

article ul, article ol {
  padding-left: 2.1em;
  margin-left: -2.4em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/*
 * Example has a green background, so we need an additional indent to
 * avoid the bullets hanging on the edge of the colour.
*/
article .example ul,
article .example ol {
  margin-left: -1.2em;
}

article ul {
  list-style-type: circle;
  list-style-image: image-url("bullet-disc-5px.gif");
}

article ol {
  list-style-type: decimal;
}

article table ul {
  padding-left: 0.75em;
  margin: 0;
  font-weight: 400;
}

article table ul li:last-child {
  margin-bottom: 0;
}

article dl {
  margin-top: 1.5em;
  margin-bottom: 1.88em;
}

article dt {
  margin-bottom: 0.25em;
  font-size: 1.25em;
  font-weight: bold;
}

article dd {
  margin-bottom: 0.75em;
}

article table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em -1em 2em -1em;
  width: 105.95%;

  caption {
    text-align: left;
    font-weight: 300;
    margin-bottom: 0.5em;
    font-size: 1.16em;
    padding-left: 1em;
  }
}

article th, article td {
  vertical-align: top;
  line-height: 1.3em;
  padding: 0.7em 0.5em 0.7em 1em;
}

article tr:nth-child(even) td {
  background-color: #fff;
}

article td {
  background: #fafafa;
  border: dotted 1px #bbb;

  small {
    font-size: 1em;
  }
}

article th {
  line-height: 1.25em;
  text-align: left;
  color: #000;
  font-weight: normal;
  background-color: #e1e8e8;
  border: solid 1px #bbb;
}

/*
 * More article formatting including markdown styles.
 */

.mainstream article .summary {
  margin: 0 -1em 2em -1em;
  padding: 0 1em;
  font-weight: 400;
  color: #000;

  @include ie-lte(8) {
    zoom: 1;
  }

  p {
    font-size: 1.5em;
  }
}

.mainstream .ancillary .summary {
  margin-bottom: 2em;
}

article .summary p,
article .summary h2,
.mainstream .ancillary .summary p,
.mainstream .ancillary .summary h2 {
  border: none;
  margin: 0 0.75em 0 0;
  font-weight: 300;

  @include ie-lte(7) {
    height: 2.75em;
  }
}

article .summary h2,
.mainstream .ancillary .summary h2 {
  font-weight: 300;
  line-height: 1.35em;
}

.licence-finder article.outcome ul {
  background: image-url("icon-licence-m.png") no-repeat scroll 98% 1em #d5ecea;
  padding: 1em 1em;
  margin: 0 -1em;

  li {
    list-style-type: none;
    list-style-image: none;
    margin: 0 0 0.75em 0;
    padding: 0;
  }
}

article .advisory {
  background: image-url("icon-information.png") no-repeat scroll 98% 1em #D5E8F3;
  line-height: 1.3em;
  margin: 0 -1em 1em -1em;
  padding: 1em;
  text-align: left;

  p {
    margin: 0 0.75em 0 0;
    min-height: 1.75em;
    padding-right: 3em;

    @include ie-lte(7) {
      height: 1.75em;
    }
  }

  strong {
    font-weight: 300;
  }

  &.high-alert {
    background-color: #F4DCDD;
    border-color: #C00;
  }
}

article .intro {
  background-color: #D5ECEA;
  margin: 0 -1em 1.5em -1em;
  padding: 1em 1em 1em 1em;

  p:first-child {
    margin-top: 0;
  }
}

article .example {
  background: none repeat scroll 0 0 #e7ebda;
  margin: 0.75em -1em;
  padding: 0.5em 1em;

  strong {
    display: block;
  }
}

article .application-notice,
article .advisory.minor,
article .form-download,
article .subscribe {
  background-color: #d5e8f3;
  margin: 1em -1em 1.5em -1em;
  padding: 0.25em 1em 0.25em 1em;
}

article .advisory.minor {
  background-image: none;
  padding: 0.75em 1em;
}

article .help-notice {
  background: image-url("icon-important.png") no-repeat scroll 98% 1em #f2f2f2;
}

article .subscribe {
  background: image-url("calendar-icon.png") no-repeat scroll 98% 1em #D5E8F3;
}

article .info-notice{
  background: image-url("icon-information.png") no-repeat scroll 98% 1em #D5E8F3;
}

article .help-notice p,
article .info-notice p,
article .subscribe p {
  padding-right: 4em;
}

article p + .help-notice,
article p + .info-notice{
  margin-top: 2em;
}

article .info-notice a[rel="external"] {
  display: inline;
}

article .form-download {
  background: image-url("icon-file-download.png") no-repeat scroll 98% 1em #D5E8F3;

  p {
    padding-right: 3em;
  }

  a {
    display: block;
  }
}

article .help-notice ul,
article .info-notice ul,
article .subscribe ul,
article .intro ul {
  margin-left: -1em;
}
.contact {
  background-color: #d5e8f3;
  box-sizing: border-box;
  margin: 0.75em -1em;
  padding: 0.25em 1em;
  min-width: 60%;

  dl {
    dt {
      font-weight: bold;
      margin: 0 0 0.25em 0;
    }

    dd {
      margin: 0 0 0.5em 0;
    }
  }
}

.meta-data .contact {
  width: auto;
}

.contact dl dt,
.meta-data .contact dt {
  float: left;
  clear: left;
}

.contact dl dd,
.meta-data .contact dd {
  margin-left: 8.5em;
}

article .address {
  background: #f2f2f2 image-url("stamp.png") 95% 1em no-repeat;
  border: solid 1px #d6d6d6;
  margin: 0.75em 0;
  padding: 2em 16% 2em 15%;
  min-width: 35%;

  @include ie-lte(8) {
    width: 35%;
  }
}

article ol.places {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;

  &.answer_locations .information {
    margin-left: 7.5em;
    min-height: 3em;
  }
}

article .place {
  background-color: #f8f8f8;
  margin: 0.75em -1em;
  padding: 1em;
}

article .place .map {
  float: left;

  img {
    display: block;
  }

  .view_map {
    font-size: 0.85em;
    margin-top: 1em;
  }
}

article .place .information {
  margin-left: 11.5263158em; /* 219px */
  min-height: 13em;

  @include ie-lte(7) {
    height: 13em;
  }
}

article .place .address {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  display: block;

  .address span {
    display: block;
  }
}

article .place .url {
  overflow: hidden;
  text-overflow: ellipsis;
}

article .place .additional-information {
  border-top: solid 1px #c9e0e0;
  font-size: 0.85em;
  margin-top: 1em;
  padding-top: 1em;

  a {
    display: block;
  }
}

article ol.steps {
  padding-left: 0;
  margin-left: 0;

  li {
    background-position: 0 0.87em;
    background-repeat: no-repeat;
    list-style-type: none;
    padding: 0.75em 0 0.75em 2.2em;

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        background-image: image-url("icon-step-#{$i}.png");
      }
    }

    @include ie-lte(8) {
      list-style-type: decimal;
      margin: 0;
      padding: 0;
    }
  }

  @include ie-lte(8) {
    border-left: solid 3px #ccc;
    padding: 0 0 0 2.5em;
  }
}

.highlight-answer {
  font-size: 1.5em;
  background-color: #28a197;
  color: #fff;
  text-align: center;
  padding: 0.1em 2em 0.2em 2em;
  margin: 0 -1em 1em -1em;

  p {
    line-height: 2.3em;
    color: #fff;

    em {
      font-size: 2.45em;
      font-style: normal;
      font-weight: 400;
      display: block;
      margin-bottom: 0.5em;
      color: #fff;
    }
  }
}
