<html><head><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"><title>Payment confirmation</title></head><body text="#000000" bgcolor="#FFFFFF" topmargin="2" leftmargin="4"><p  align="center"><b><font face="Verdana" size="4">Payment confirmation</font></b></p><font face="Verdana">
	<!-- Order overview -->
	<h2 style="display: inline; position: absolute; left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden;">Order overview</h2>
	<table class=ncoltable1 border="0" cellpadding="2" cellspacing="0" width="95%" id="ncol_ref">
	    
					<tr>
						
							<td class=ncoltxtl colspan="1" align="right" width="50%"><small>Order reference :<!--External reference--></small></td>
							<td class=ncoltxtr colspan="1" width="50%"><small>---</small></td>
						
					</tr>
					<tr>
						
							<td class=ncoltxtl colspan="1" align="right"><small>Total charge :<!--Total to pay--></small></td>
							<td class=ncoltxtr colspan="1">
							<small>
							---
							</small>
							</td>
						
					</tr>
					<tr>
						
							<td class=ncoltxtl colspan="1" align="right"><small>Beneficiary :<!--Beneficiary--></small></td>
							<td class=ncoltxtr colspan="1"><small>---</small></td>
						
					</tr>

					
	</table>
	
			 <br>
			 <TABLE class=ncoltable1 border="0" cellpadding="2" cellspacing="0" width="95%">
				<tr>
				<td class=ncoltxtc colspan="2" align="center">
				An error has occurred; please try again later.
If you are the owner or the integrator of this website, please log into the Barclaycard back office to see the details of the error.
				</td>
				</tr>
			</TABLE>
			<input type="hidden" name="log" value="">
			<br>
			
		<script type="text/javascript" src="js/jquery.core/jquery-1.7.2.min.js"></script>
	
		<script type="text/javascript">
			var OGONE = {};
			OGONE.jQuery = $.noConflict(true);
		</script>
	
	<script type="text/javascript" language="JavaScript" src="js/fp/Fp_inc.1.2.js"></script>
	<script type="text/javascript" language="JavaScript" src="base64_inc.js"></script>
	
<!-- Further information / Cancel -->
<h2 style="display: inline; position: absolute; left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden;">Further information / Cancel</h2>
<table class=ncoltable3 border="0" cellpadding="2" cellspacing="0" width="95%" id="ie_cc" style="behavior:url(#default#clientCaps)">
	<tr><td class="ncollogoc" valign="middle" align="center" width="33%"></td><td class="ncollogoc" valign="middle" align="center" width="33%"><img border="0" src="https&#58;//mdepayments.epdq.co.uk/images/EPDQ_BOLogoPowered.png" alt="Payment processed by Barclaycard" title="Payment processed by Barclaycard" vspace="2"><br><small><small></small></small></td><td class="ncollogoc" valign="middle" align="center" width="33%">&nbsp;</td></tr>
		<tr>
				<td class=ncollogoc>&nbsp;</td>
				<td class=ncollogoc align="center">
						<center>
							<table border="0" cellpadding="0" cellspacing="0" width="95%">
									<tr>
										
											<td class=ncollogoc align="center" width="50%">
											
													<form method="POST" action="https&#58;//mdepayments.epdq.co.uk/ncol/test/Order_Cancel.asp" id=form3 name=form3 onsubmit="return(window.confirm('Are you sure you want to cancel this transaction?'))"  style="margin-bottom:0px;">
													<input type="hidden" name="CSRFKEY" value="66BD2DC9F3FE18FC39F22F9541F033D06FF051CF" />
<input type="hidden" name="CSRFTS" value="20130320145605" />
<input type="hidden" name="CSRFSP" value="/ncol/test/orderstandard.asp" />
														<input type="hidden" name="payid" value="">
														<input type="hidden" name="ownerZIP" value="">
														<input type="hidden" name="owneraddress" value="">
														<input type="hidden" name="alias" value="">
														<input type="hidden" name="aliasoperation" value="">
														<input type="hidden" name="hash_param" value="3F771B86906307F9E3D68C0C266F82D47BDB0F17">
														<input type="hidden" name="branding" value="EPDQ">
														<small><input class=ncol ID="ncol_cancel" type="submit" name="cancel" value="Cancel"></small><!--Cancel-->
													</form>
											
											</td>
										
									</tr>
							</table>
						</center>
				</td>
				<td class=ncollogoc>&nbsp;</td>
		</tr>
		

</table>
</font></html>