
table{
 background-color:#fff;
}
table small{
  font-size:20px;
}
table div,
.ncoltable2 td b small,
table div font strong,
.ncoltable2 small small a,
.ncoltable1 .ncoltxtl{
  text-align:left !important;
}
table div font strong{
  font-size:34px !important;
}
table{
  border:1px solid orange;
}
table td{
  border:1px solid magenta;
}
.ncoltable1 td{
  float: left;
  display: block;
}
.ncoltable1 .ncoltxtl{
  width: 10em !important;
}
.ncoltable2{
  font-size: 20px;
  border:1px solid blue;
  background-color:green;
  position: relative;
  height: 17.5em;
  padding-bottom: 1.5em;
}
.ncoltable2 td{
  border:1px solid cyan;
  background-color:yellow;
  width:0%;
}
.ncoltable2 td b small,
.ncoltable2 td small small span,
.ncoltable2 td small small a,
.ncoltable2 td input {
  position: absolute;
}
.ncoltable2 td b small {
  font-weight: normal;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5em;
}
.ncoltable2 td small small span {
  display: none;
}
.ncoltable2 td input {
  display: block;
  align: center;
  left: 0;
  font-size: 20px;
}
.ncoltable2 td input[name='JCB_brand'] {
  top: 2.25em;
}
.ncoltable2 td input[name='VISA_brand'] {
  top: 6.25em;
}
.ncoltable2 td input[name='Eurocard_brand'] {
  top: 9.25em;
}
.ncoltable2 td input[name='Maestro_brand'] {
  top: 12.5em;
}
.ncoltable2 small small a {
  left: 0;
  bottom: 0.25em;
  width: 100%;
}

table td input {
  background-color: #008270;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 #000;
  -moz-box-shadow: 0 3px 0 #000;
  box-shadow: 0 3px 0 #000;
  font-weight: 400;
  padding:0.5em 1em;
  overflow: visible;
}
table td input:before{
  content:"Select";
}
