
table{
 background-color:#fff;
}
table small{
  font-size:20px;
}

/* Headings */
table div,
.ncoltable2 td b small,
table div font strong,
.ncoltable2 small small a,
.ncoltable1 .ncoltxtl{
  text-align:left !important;
}

/* H1 */
table div font strong{
  font-size:34px !important;
}

/* Development only, remove for production */
table{
  border:none !important;
}
table td{
 
}
.ncoltable2{


}
.ncoltable2 td{

}
/* End of Development only */

/* Transaction details */
.ncoltable1 td{
  float: left;
  display: block;
}
.ncoltable1 .ncoltxtl{
  width: 10em !important;
}

/* Content */
.ncoltable2{
  font-size: 20px;
  position: relative;
  height: 17.5em;
  padding-bottom: 1.5em;
}

/* Entry page styles */
.ncoltable2 td b small,
.ncoltable2 td small small span,
.ncoltable2 td small small a,
.ncoltable2 td input {
  position: absolute;
}
.ncoltable2 td b small {
  font-weight: normal;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5em;
}
.ncoltable2 td small small span {
  display: none;
}
.ncoltable2 td input {
  display: block;
  align: center;
  left: 0;
  font-size: 20px;
  background-color: #28A197;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 0 #000;
  -moz-box-shadow: 0 3px 0 #000;
  box-shadow: 0 3px 0 #000;
  font-weight: 400;
  padding:0.5em 1em;
  overflow: visible;
  height:2em;
}
table td input:focus{
  background-color:#28A197;
/* IE6 & 7 ignore the :focus psuedo-class so we need to overwrite the default */
  @include ie-lte(7) {
    color: #fff;
  }
}

table td input:hover{
  background-color: #3ABAA8;
  color: #fff;
}

table td input:active{
  top: 0px;
  box-shadow:none;
  outline:none;
}

.ncoltable2 td input[name='JCB_brand'] {
  top: 2.25em;
  left: 2em;
}
.ncoltable2 td input[name='VISA_brand'] {
  top: 2.25em;
  left: 9.5em;
}
.ncoltable2 td input[name='Eurocard_brand'] {
  top: 2.25em;
  left: 19em;
}
.ncoltable2 td input[name='Maestro_brand'] {
  top: 2.25em;
  left: 27em;
}
.ncoltable2 small small a {
  left: 0;
  bottom: 0.25em;
  width: 100%;
}

